workflows/Etiquetador/Administrador Email.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "Gmail - add label to message": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "Etiquetador de Gmail",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Gmail - create label": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "Etiquetador de Gmail",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Gmail - get message": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "Etiquetador de Gmail",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Gmail - read labels": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "Etiquetador de Gmail",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "Etiquetador de Gmail",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Vigila Correos": {
        "main": [
          [
            {
              "index": 0,
              "node": "Wait",
              "type": "main"
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "index": 0,
              "node": "Etiquetador de Gmail",
              "type": "main"
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "index": 0,
              "node": "Etiquetador de Gmail",
              "type": "ai_memory"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-07T00:37:51.230Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "5450df95-152e-4f21-9e23-9f053e13bb15",
        "name": "OpenAI Chat Model1",
        "notesInFlow": false,
        "parameters": {
          "model": "gpt-4o",
          "options": {
            "maxTokens": 4096
          }
        },
        "position": [
          880,
          32
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1
      },
      {
        "credentials": {
          "gmailOAuth2": {
            "id": "8oiXd9w5jkwovane",
            "name": "Gmail account"
          }
        },
        "id": "e1acc719-2a08-4ff6-9d7d-078a17d803af",
        "name": "Gmail - read labels",
        "parameters": {
          "descriptionType": "manual",
          "resource": "label",
          "returnAll": true,
          "toolDescription": "\nHerramienta para leer todas las etiquetas de Gmail existentes"
        },
        "position": [
          1344,
          128
        ],
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9"
      },
      {
        "credentials": {
          "gmailOAuth2": {
            "id": "8oiXd9w5jkwovane",
            "name": "Gmail account"
          }
        },
        "id": "4aad457c-8fee-4a0c-8bf6-1e5ec8058a60",
        "name": "Gmail - get message",
        "parameters": {
          "descriptionType": "manual",
          "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1944fdc33f544369', 'string') }}",
          "operation": "get",
          "toolDescription": "Herramienta para leer un mensaje específico según el ID del mensaje\n"
        },
        "position": [
          1520,
          176
        ],
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9"
      },
      {
        "credentials": {
          "gmailOAuth2": {
            "id": "8oiXd9w5jkwovane",
            "name": "Gmail account"
          }
        },
        "id": "1ea3fef0-ff3b-447f-ae33-33e676ef190c",
        "name": "Gmail - add label to message",
        "parameters": {
          "descriptionType": "manual",
          "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}",
          "messageId": "={{ $fromAI('gmail_message_id') }}",
          "operation": "addLabels",
          "toolDescription": "\nHerramienta para agregar etiquetas a los mensajes"
        },
        "position": [
          1696,
          160
        ],
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "webhookId": "7a87b026-1c6e-40e1-a062-aefdd1af1585"
      },
      {
        "credentials": {
          "gmailOAuth2": {
            "id": "8oiXd9w5jkwovane",
            "name": "Gmail account"
          }
        },
        "id": "f9884ad8-387e-43d6-8979-db62a15a69d2",
        "name": "Gmail - create label",
        "parameters": {
          "descriptionType": "manual",
          "name": "={{ $fromAI('new_label_name', 'new label name', 'string' ) }} ",
          "operation": "create",
          "options": {},
          "resource": "label",
          "toolDescription": "Herramienta para crear una nueva etiqueta, usar solo si la etiqueta aún no existe"
        },
        "position": [
          1184,
          176
        ],
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9"
      },
      {
        "id": "b9e65ed6-6e81-44b2-b3d5-569d521d66d2",
        "name": "Window Buffer Memory",
        "parameters": {
          "contextWindowLength": 10,
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.id }}"
        },
        "position": [
          1088,
          32
        ],
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3
      },
      {
        "id": "4c0a85d6-5518-4bef-b95b-29ffcd572d4e",
        "name": "Wait",
        "parameters": {
          "amount": 1
        },
        "position": [
          960,
          -192
        ],
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "webhookId": "2066b863-4526-40cf-90aa-82229895a73c"
      },
      {
        "credentials": {
          "gmailOAuth2": {
            "id": "8oiXd9w5jkwovane",
            "name": "Gmail account"
          }
        },
        "id": "b933eee0-3924-4948-b7e6-7548f06619ea",
        "name": "Vigila Correos",
        "parameters": {
          "filters": {},
          "pollTimes": {
            "item": [
              {
                "mode": "everyX",
                "unit": "minutes",
                "value": 15
              }
            ]
          }
        },
        "position": [
          752,
          -192
        ],
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.2
      },
      {
        "id": "815275f3-7572-41bd-841a-735a7625cc87",
        "name": "Etiquetador de Gmail",
        "notes": "Objetivo:\nCategorizar automáticamente los correos electrónicos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\nHerramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\nInstrucciones:\n\nCoincidencia de etiquetas:\n\nAnalice el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo electrónico.\nCompárelo con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\nAsignación de etiquetas:\n\nAsigne el correo electrónico a la etiqueta existente más adecuada.\nElimine la etiqueta de la bandeja de entrada si el correo electrónico es menos importante (como anuncios, promociones, o \"Reclamar\") y mantenga los correos electrónicos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, cree una nueva etiqueta basada en las existentes. Intente reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no existe una etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta. Creación de etiquetas:\n\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo el uso de mayúsculas y minúsculas, los delimitadores y los prefijos.\nEjemplos:\n\nSi el asunto del correo electrónico es \"Actualización del Proyecto Alfa\", asígnelo a [Proyecto Alfa] si existe.\nPara \"Consulta a un nuevo proveedor\", cree \"Consulta a un proveedor\" si no existe una etiqueta relevante.\nResultado:\nLos correos electrónicos se categorizan de forma coherente bajo las etiquetas adecuadas o recién creadas, manteniendo así la estructura organizativa de Gmail.\n",
        "notesInFlow": true,
        "onError": "continueErrorOutput",
        "parameters": {
          "options": {
            "maxIterations": 5,
            "systemMessage": "#ROL\nEres mi asistente administrativo inteligente (180IQ).\n\n#Objetivo:\nCategorizar automáticamente los correos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\n#Herramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\n#Instrucciones:\n\n- Coincidencia de etiquetas:\nAnaliza el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo.\nCompara con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\n\n- Asignación de etiquetas:\nAsigna al correo la etiqueta existente más adecuada.\nElimina la etiqueta de la bandeja de entrada si el correo es menos importante (como anuncios, promociones, o \"Reclamar\") y mantén los correos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, crea una nueva basada en las existentes. Intenta reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no hay ninguna etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta.\n\n- Creación de etiquetas:\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo mayúsculas y minúsculas, delimitadores y prefijos.\n"
          },
          "promptType": "define",
          "text": "=Etiquete el correo electrónico según los detalles a continuación:\n{{ JSON.stringify($json) }}"
        },
        "position": [
          1200,
          -192
        ],
        "retryOnFail": false,
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7
      }
    ],
    "updatedAt": "2025-12-07T00:37:51.230Z",
    "versionId": "f9624480-b673-4112-b8aa-3412d069d1b4",
    "workflowId": "TIXOofTYDe7Xkxrq"
  },
  "activeVersionId": "f9624480-b673-4112-b8aa-3412d069d1b4",
  "connections": {
    "Gmail - add label to message": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Etiquetador de Gmail",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Gmail - create label": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Etiquetador de Gmail",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Gmail - get message": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Etiquetador de Gmail",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Gmail - read labels": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Etiquetador de Gmail",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Etiquetador de Gmail",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Vigila Correos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Etiquetador de Gmail",
            "type": "main"
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Etiquetador de Gmail",
            "type": "ai_memory"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T20:45:32.226Z",
  "id": "TIXOofTYDe7Xkxrq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Etiquetador/Administrador Email",
  "nodes": [
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "5450df95-152e-4f21-9e23-9f053e13bb15",
      "name": "OpenAI Chat Model1",
      "notesInFlow": false,
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 4096
        }
      },
      "position": [
        880,
        32
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "8oiXd9w5jkwovane",
          "name": "Gmail account"
        }
      },
      "id": "e1acc719-2a08-4ff6-9d7d-078a17d803af",
      "name": "Gmail - read labels",
      "parameters": {
        "descriptionType": "manual",
        "resource": "label",
        "returnAll": true,
        "toolDescription": "\nHerramienta para leer todas las etiquetas de Gmail existentes"
      },
      "position": [
        1344,
        128
      ],
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9"
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "8oiXd9w5jkwovane",
          "name": "Gmail account"
        }
      },
      "id": "4aad457c-8fee-4a0c-8bf6-1e5ec8058a60",
      "name": "Gmail - get message",
      "parameters": {
        "descriptionType": "manual",
        "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1944fdc33f544369', 'string') }}",
        "operation": "get",
        "toolDescription": "Herramienta para leer un mensaje específico según el ID del mensaje\n"
      },
      "position": [
        1520,
        176
      ],
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9"
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "8oiXd9w5jkwovane",
          "name": "Gmail account"
        }
      },
      "id": "1ea3fef0-ff3b-447f-ae33-33e676ef190c",
      "name": "Gmail - add label to message",
      "parameters": {
        "descriptionType": "manual",
        "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}",
        "messageId": "={{ $fromAI('gmail_message_id') }}",
        "operation": "addLabels",
        "toolDescription": "\nHerramienta para agregar etiquetas a los mensajes"
      },
      "position": [
        1696,
        160
      ],
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "webhookId": "7a87b026-1c6e-40e1-a062-aefdd1af1585"
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "8oiXd9w5jkwovane",
          "name": "Gmail account"
        }
      },
      "id": "f9884ad8-387e-43d6-8979-db62a15a69d2",
      "name": "Gmail - create label",
      "parameters": {
        "descriptionType": "manual",
        "name": "={{ $fromAI('new_label_name', 'new label name', 'string' ) }} ",
        "operation": "create",
        "options": {},
        "resource": "label",
        "toolDescription": "Herramienta para crear una nueva etiqueta, usar solo si la etiqueta aún no existe"
      },
      "position": [
        1184,
        176
      ],
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9"
    },
    {
      "id": "b9e65ed6-6e81-44b2-b3d5-569d521d66d2",
      "name": "Window Buffer Memory",
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "position": [
        1088,
        32
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "4c0a85d6-5518-4bef-b95b-29ffcd572d4e",
      "name": "Wait",
      "parameters": {
        "amount": 1
      },
      "position": [
        960,
        -192
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "2066b863-4526-40cf-90aa-82229895a73c"
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "8oiXd9w5jkwovane",
          "name": "Gmail account"
        }
      },
      "id": "b933eee0-3924-4948-b7e6-7548f06619ea",
      "name": "Vigila Correos",
      "parameters": {
        "filters": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 15
            }
          ]
        }
      },
      "position": [
        752,
        -192
      ],
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2
    },
    {
      "id": "815275f3-7572-41bd-841a-735a7625cc87",
      "name": "Etiquetador de Gmail",
      "notes": "Objetivo:\nCategorizar automáticamente los correos electrónicos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\nHerramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\nInstrucciones:\n\nCoincidencia de etiquetas:\n\nAnalice el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo electrónico.\nCompárelo con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\nAsignación de etiquetas:\n\nAsigne el correo electrónico a la etiqueta existente más adecuada.\nElimine la etiqueta de la bandeja de entrada si el correo electrónico es menos importante (como anuncios, promociones, o \"Reclamar\") y mantenga los correos electrónicos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, cree una nueva etiqueta basada en las existentes. Intente reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no existe una etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta. Creación de etiquetas:\n\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo el uso de mayúsculas y minúsculas, los delimitadores y los prefijos.\nEjemplos:\n\nSi el asunto del correo electrónico es \"Actualización del Proyecto Alfa\", asígnelo a [Proyecto Alfa] si existe.\nPara \"Consulta a un nuevo proveedor\", cree \"Consulta a un proveedor\" si no existe una etiqueta relevante.\nResultado:\nLos correos electrónicos se categorizan de forma coherente bajo las etiquetas adecuadas o recién creadas, manteniendo así la estructura organizativa de Gmail.\n",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {
          "maxIterations": 5,
          "systemMessage": "#ROL\nEres mi asistente administrativo inteligente (180IQ).\n\n#Objetivo:\nCategorizar automáticamente los correos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\n#Herramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\n#Instrucciones:\n\n- Coincidencia de etiquetas:\nAnaliza el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo.\nCompara con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\n\n- Asignación de etiquetas:\nAsigna al correo la etiqueta existente más adecuada.\nElimina la etiqueta de la bandeja de entrada si el correo es menos importante (como anuncios, promociones, o \"Reclamar\") y mantén los correos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, crea una nueva basada en las existentes. Intenta reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no hay ninguna etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta.\n\n- Creación de etiquetas:\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo mayúsculas y minúsculas, delimitadores y prefijos.\n"
        },
        "promptType": "define",
        "text": "=Etiquete el correo electrónico según los detalles a continuación:\n{{ JSON.stringify($json) }}"
      },
      "position": [
        1200,
        -192
      ],
      "retryOnFail": false,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-01T20:45:32.229Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-12-01T20:45:32.229Z",
      "workflowId": "TIXOofTYDe7Xkxrq"
    }
  ],
  "staticData": {
    "node:Vigila Correos": {
      "Vigila Correos": {
        "lastTimeChecked": 1765174448,
        "possibleDuplicates": [
          "19afc9b5be374bea",
          "19afc47d625c5d78"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-01T20:48:39.000Z",
  "versionId": "f9624480-b673-4112-b8aa-3412d069d1b4"
}