workflows/[UDIA] Backup de Workflows.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T23:29:28.593Z",
  "id": "0x3pOzOTWMcpyeCd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Backup de Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "5ad5720f-546b-4f19-b9ea-3823230feaa3",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1536,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "b80702d8-6c56-4c42-b01d-e52058eb1fdb",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -704,
        240
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "f9d95720-b15f-47a8-956f-3a3860a4c828",
      "credentials": {
        "githubApi": {
          "id": "yzUBO2dIc5zfsCWS",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "118cb957-b326-4db4-802a-d79cf4fe124c",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -160,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7d67bbd7-a1ee-4fda-91d6-1e748bc33dd0",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e9c6972e-9f1f-4712-8ea2-5d5ced115da1",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "432e170b-f7c6-4612-8af4-0173dd99db97",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "fb679040-0a38-495a-8c77-b9bad4e711f1",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        320
      ],
      "typeVersion": 1,
      "webhookId": "100728b0-e7cd-4fc2-9d05-376994806d68",
      "credentials": {
        "githubApi": {
          "id": "yzUBO2dIc5zfsCWS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "3e755cf1-79f2-4aa7-bb8d-9b69ef1560e9",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        560
      ],
      "typeVersion": 1,
      "webhookId": "eae8ee9e-e6ec-4576-973d-1fafe31ea618",
      "credentials": {
        "githubApi": {
          "id": "yzUBO2dIc5zfsCWS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "20ab97c7-0ef3-42b3-be50-8b4124990dda",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1536,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "c3557028-171a-4de7-ba06-d8accfb3f50b",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1168,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "xR3FX992Oh3fjh71",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper: limpia posibles secretos antes de subir a GitHub\nfunction sanitizeForGitHub(obj) {\n  let text = JSON.stringify(obj, null, 2);\n\n  // 1) Tokens que tengan forma \"apify_api_...\"\n  text = text.replace(/apify_api_[A-Za-z0-9]+/gi, 'APIFY_TOKEN_MASKED');\n\n  // 2) Campos tipo \"APIFY_TOKEN_MASKED\": \"valor\"\n  text = text.replace(/(\"APIFY_TOKEN_MASKED\"\\s*:\\s*)\"[^\"]*\"/g, '$1\"APIFY_TOKEN_MASKED\"');\n\n  return text;\n}\n\n// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(\n    Buffer.from($input.all()[0].json.content, 'base64')\n  );\n  var n8nWorkflow = $input.all()[1].json;\n\n  // Order JSON Objects\n  var orderedOriginal = {};\n  var orderedActual = {};\n\n  Object.keys(origWorkflow).sort().forEach(function (key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n\n  Object.keys(n8nWorkflow).sort().forEach(function (key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n\n    // 👉 Aquí usamos la versión saneada para GitHub\n    $input.all()[0].json.n8n_data_stringy = sanitizeForGitHub(orderedActual);\n  }\n  // No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = $input.all()[1].json;\n  var orderedActual = {};\n  Object.keys(n8nWorkflow).sort().forEach(function (key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  $input.all()[0].json.github_status = \"new\";\n\n  // 👉 También saneamos en el caso de fichero nuevo\n  $input.all()[0].json.n8n_data_stringy = sanitizeForGitHub(orderedActual);\n}\n\n// Return Items\nreturn $input.all();\n"
      },
      "id": "3d7c88f5-5471-466d-863c-01e300ad5df6",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b96e9f02-bbe0-43b8-8112-7fd0ec2375e1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -464,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "adrischez00"
            },
            {
              "name": "repo.name",
              "value": "UDIA-N8N-Workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "c465c581-ecde-4767-a762-0b2080449db3",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1360,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "82e9c294-7b1b-43be-9283-2585945220bf",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -816,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "29264210-aead-46d5-86c9-94094e0d1b2e",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -960,
        352
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T23:29:28.598Z",
      "createdAt": "2025-12-03T23:29:28.598Z",
      "role": "workflow:owner",
      "workflowId": "0x3pOzOTWMcpyeCd",
      "projectId": "4uSls6g8LWC7Ie72"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-03T23:35:57.000Z",
  "versionId": "01789422-d73f-4361-b9f7-e0923a783c76"
}