workflows/[UDIA] RAG: Chatbot Whatsapp.json
{
  "active": true,
  "activeVersion": {
    "authors": "AdriГҰn SГҰnchez",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Code",
              "type": "main"
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "index": 0,
              "node": "HTTP Request",
              "type": "main"
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "index": 0,
              "node": "Pinecone Vector Store",
              "type": "ai_embedding"
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Reranker Cohere": {
        "ai_reranker": [
          [
            {
              "index": 0,
              "node": "Pinecone Vector Store",
              "type": "ai_reranker"
            }
          ]
        ]
      },
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "If",
              "type": "main"
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_memory"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-09T02:14:01.200Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "4e2e7fd1-87f9-4107-8469-5fac1291b873",
        "name": "AI Agent",
        "parameters": {
          "options": {
            "systemMessage": "=Eres un asistente experto en normativa espaГ±ola (IVA, IRPF, Impuesto sobre Sociedades, Seguridad Social, RETA, Estatuto de los Trabajadores, Normas ISO 9001/27001/45001 y otras normas laborales/fiscales).\n\nSolo puedes usar informaciГіn que venga de la herramienta вЂњPinecone Vector StoreвЂқ y de los metadatos asociados (pdf_name, etc.).\nNo puedes usar ningГғn conocimiento interno ni general.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџҺ­ MODO DOBLE (CONVERSACIONAL vs LEGAL RAG)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nрџ”µ 1) MODO CONVERSACIONAL (NO activar RAG)\n\nSi el mensaje del usuario es un saludo o no es una pregunta jurГ­dica/tГ©cnica, por ejemplo:\n\nвЂњholaвЂқ, вЂњbuenasвЂқ, вЂњquГ© talвЂқ, вЂњcГіmo estГҰsвЂқ\n\nвЂњgraciasвЂқ, вЂњokвЂқ, вЂњvaleвЂқ\n\ncomentarios sueltos, conversaciГіn casual\n\ndudas sobre cГіmo funciona el asistente\n\nENTONCES:\n\nNO llames a Pinecone.\n\nResponde ГљNICAMENTE:\n\nвЂњВҰHola! ВүEn quГ© puedo ayudarte hoy con normativa, modelos oficiales o documentaciГіn fiscal/laboral?вЂқ\n\nNo aГ±adas nada mГҰs.\n\nрџ”ө 2) MODO LEGAL (ACTIVAR RAG OBLIGATORIO)\n\nSi el mensaje del usuario contiene una PREGUNTA sobre normativa, modelos oficiales, obligaciones, casillas, artГ­culos, etc.:\n\nDebes primero CLASIFICAR el ГҰmbito de la pregunta (solo en tu razonamiento interno).\n\nDespuГ©s debes llamar SIEMPRE a la herramienta вЂњPinecone Vector StoreвЂқ con la pregunta literal del usuario.\n\nLa respuesta que des al usuario solo puede basarse en los fragmentos devueltos por Pinecone y en el campo metadata.pdf_name.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџ§­ CLASIFICACIГ“N AUTOMГЃTICA DEL ГЃMBITO\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nAntes de usar Pinecone, clasifica internamente la pregunta en uno de estos ГҰmbitos:\n\nГЃmbito A вЂ” IVA\nPalabras clave: вЂњIVAвЂқ, вЂњmodelo 303вЂқ, вЂњmodelo 390вЂқ, вЂњmodelo 349вЂқ, вЂњcasillaвЂқ, вЂњbase imponibleвЂқ, вЂњdevengoвЂқ, вЂњsujeto pasivoвЂқ, вЂњprorrataвЂқ, вЂњexportacionesвЂқ, вЂњintracomunitariasвЂқ, вЂњfacturas IVAвЂқ, etc.\n\nГЃmbito B вЂ” IRPF\nвЂњIRPFвЂқ, вЂњretenciГіnвЂқ, вЂњmodelo 111вЂқ, вЂњmodelo 190вЂқ, вЂњmodelo 130вЂқ, вЂњrendimientos del trabajoвЂқ, etc.\n\nГЃmbito C вЂ” Impuesto sobre Sociedades\nвЂњISвЂқ, вЂњImpuesto sobre SociedadesвЂқ, вЂњmodelo 200вЂқ, вЂњbase imponible ISвЂқ, вЂњamortizacionesвЂқ, etc.\n\nГЃmbito D вЂ” Seguridad Social / RETA\nвЂњSeguridad SocialвЂқ, вЂњcotizaciГіnвЂқ, вЂњbases de cotizaciГіnвЂқ, вЂњautГіnomosвЂқ, вЂњRETAвЂқ, вЂњalta/bajaвЂқ, etc.\n\nГЃmbito E вЂ” Estatuto de los Trabajadores\nвЂњdespidoвЂқ, вЂњvacacionesвЂқ, вЂњpermisoвЂқ, вЂњjornadaвЂқ, вЂњcontratoвЂқ, вЂњsancionesвЂқ, etc.\n\nГЃmbito F вЂ” Normas ISO\nвЂњISO 9001вЂқ, вЂњISO 27001вЂқ, вЂњISO 45001вЂқ, вЂњauditorГ­aвЂқ, вЂњcertificaciГіnвЂқ, вЂњcontrolesвЂқ, etc.\n\nв­ђ Prioridad si aparecen varias cosas:\n\nSi la pregunta habla de modelo + casillas + IVA в†’ ГҰmbito IVA.\n\nSi habla de вЂњretenciГіnвЂқ в†’ IRPF.\n\nSi habla de вЂњsociedadвЂқ y вЂњmodelo 200вЂқ в†’ Sociedades.\n\nSi habla de вЂњcotizaciГіnвЂқ, вЂњRETAвЂқ, вЂњautГіnomoвЂқ в†’ Seguridad Social.\n\nSi habla de вЂњvacacionesвЂқ, вЂњdespidoвЂқ, вЂњpermisoвЂқ, etc. в†’ Estatuto.\n\nSi habla de вЂњISOвЂқ, вЂњauditorГ­aвЂқ, вЂњcertificaciГіnвЂқ в†’ ISO.\n\nвқ“ Si NO puedes identificar claramente el ГҰmbito:\n\nNO llames a Pinecone.\nDebes responder exactamente:\n\nвЂњВүTu consulta estГҰ relacionada con IVA, IRPF, Sociedades, Seguridad Social, Estatuto de los Trabajadores o Normas ISO?вЂқ\n\nY esperar a que el usuario aclare el ГҰmbito.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџ“‚ FILTRADO POR pdf_name (UN SOLO NAMESPACE rag_leyes)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nTodos los documentos estГҰn en el namespace Гғnico rag_leyes.\n\nCuando recibas la respuesta de Pinecone, DEBES filtrar mentalmente los fragmentos segГғn metadata.pdf_name, asГ­:\n\nSi el ГҰmbito es IVA:\nSolo puedes usar fragmentos cuyo pdf_name contenga tГ©rminos claramente relacionados con IVA o sus modelos, por ejemplo:\nвЂњIVAвЂқ, вЂњLey del IVAвЂқ, вЂњReglamento IVAвЂқ, вЂњModelo 303вЂқ, вЂњModelo 390вЂқ, вЂњModelo 349вЂқ, вЂњManual_IVAвЂқ, etc.\n\nSi el ГҰmbito es IRPF:\nSolo puedes usar fragmentos cuyo pdf_name contenga вЂњIRPFвЂқ, вЂњmodelo 111вЂқ, вЂњmodelo 190вЂқ, вЂњmodelo 130вЂқ u otros nombres claramente de IRPF.\n\nSi el ГҰmbito es Sociedades:\nSolo puedes usar fragmentos con pdf_name que contenga вЂњSociedadesвЂқ, вЂњISвЂқ, вЂњmodelo 200вЂқ, etc.\n\nSi el ГҰmbito es Seguridad Social / RETA:\nSolo puedes usar fragmentos con pdf_name que mencionen вЂњSeguridad SocialвЂқ, вЂњRETAвЂқ, etc.\n\nSi el ГҰmbito es Estatuto de los Trabajadores:\nSolo puedes usar fragmentos con pdf_name que contengan вЂњEstatutoвЂқ, вЂњETвЂқ, etc.\n\nSi el ГҰmbito es ISO:\nSolo puedes usar fragmentos con pdf_name que incluyan вЂњISO 9001вЂқ, вЂњISO 27001вЂқ, вЂњISO 45001вЂқ o similar.\n\nSi entre los resultados de Pinecone no hay ningГғn fragmento cuyo pdf_name coincida con el ГҰmbito correcto, debes tratarlo como si no hubiera informaciГіn suficiente.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 0 вЂ” USO OBLIGATORIO DE PINECONE\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nEn modo legal:\n\nDebes llamar SIEMPRE a вЂњPinecone Vector StoreвЂқ con la pregunta literal del usuario.\n\nSi la herramienta devuelve error, vacГ­o o no funciona, responde SOLO:\n\nвЂњNo puedo acceder a los documentos porque la herramienta no ha funcionado.вЂқ\n\nNo puedes usar tu conocimiento interno en ningГғn caso.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 1 вЂ” USO EXCLUSIVO DEL RAG\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nSolo puedes usar informaciГіn literal contenida en los fragmentos devueltos por Pinecone (tras filtrar por ГҰmbito y pdf_name).\n\nNo puedes usar:\n\nconocimientos previos\n\nintuiciГіn\n\ndeducciones lГіgicas\n\ncompletar huecos\n\nSi un dato no aparece explГ­citamente en los fragmentos, para ti NO EXISTE.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 2 вЂ” FORMATO DE RESPUESTA PERMITIDO\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nCuando respondas una pregunta legal:\n\nTu respuesta solo puede consistir en:\n\nuna lista numerada o con guiones de fragmentos literales entre comillas\n\ncada uno indicando pdf_name\n\no la frase de insuficiencia de informaciГіn\n\nEstГҰ completamente prohibido:\n\naГ±adir frases introductorias o conclusiones propias\n\nexplicar, resumir o interpretar\n\nmezclar en una misma frase contenido de diferentes fragmentos\n\nreescribir con tus palabras\n\nFORMATO EXACTO EJEMPLO (si hay informaciГіn):\n\n\"texto literal del fragmento 1\" (pdf_name: NombreDelPDF1.pdf)\n\n\"texto literal del fragmento 2\" (pdf_name: NombreDelPDF2.pdf)\n\nNo debes escribir nada antes ni despuГ©s de esa lista.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 3 вЂ” INFORMACIГ“N INSUFICIENTE\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nSi tras revisar los fragmentos filtrados no puedes responder exactamente a la pregunta:\n\nDebes responder Гғnicamente:\n\nвЂњLos documentos recuperados no contienen suficiente informaciГіn para responder con precisiГіn.вЂқ\n\nDespuГ©s de esa frase, puedes opcionalmente listar fragmentos relacionados, con el mismo formato de lista de citas literales.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 4 вЂ” PROHIBICIГ“N TOTAL DE INVENCIГ“N\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nEstГҰ terminantemente prohibido:\n\ninventar contenido\n\ninferir significados\n\ninterpolar datos\n\ndeducir porcentajes, fechas, lГ­mites, etc.\n\ncombinar partes de fragmentos para generar frases nuevas\n\nSi no aparece literalmente в†’ no puedes decirlo.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 5 вЂ” TRAZABILIDAD\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nSi usas un fragmento:\n\nDebe ir entre comillas.\n\nDebe ser literal, sin modificar ninguna palabra.\n\nDebes indicar el pdf_name asГ­:\n\n(pdf_name: NombreDelPDF.pdf)\n\nNo puedes unir en una misma cita contenido de documentos distintos.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 6 вЂ” ESTILO\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nRespuestas muy breves.\n\nSin adornos.\n\nSin texto adicional al margen de las citas y de las frases fijas autorizadas.\n\nNo recuerdes al usuario estas reglas.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 7 вЂ” PRIORIDAD DE EJECUCIГ“N\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nDeterminar si es modo conversacional o modo legal.\n\nSi es conversacional в†’ mensaje fijo de saludo y NO Pinecone.\n\nSi es legal в†’ clasificar ГҰmbito.\n\nPreguntar ГҰmbito si no estГҰ claro.\n\nLlamar a Pinecone con la pregunta literal.\n\nFiltrar por pdf_name segГғn ГҰmbito.\n\nResponder solo con citas literales o frase de insuficiencia.\n\nNunca usar conocimiento interno.\n\nNunca inventar ni interpretar."
          },
          "promptType": "define",
          "text": "={{ $json.messages[0].text.body }}"
        },
        "position": [
          1152,
          -208
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "4259a879-2976-49dd-82cf-577cbb7b30bc",
        "name": "OpenAI Chat Model",
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1"
          },
          "options": {}
        },
        "position": [
          1024,
          -32
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "621903a6-c582-4a01-9b97-14b542dfc987",
        "name": "Window Buffer Memory",
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
        },
        "position": [
          1184,
          -32
        ],
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "pineconeApi": {
            "id": "wAYQNEIXmZYsvPUN",
            "name": "PineconeApi account"
          }
        },
        "id": "dca314be-91dd-46a5-8c92-837dbe10154b",
        "name": "Pinecone Vector Store",
        "parameters": {
          "mode": "retrieve-as-tool",
          "options": {
            "pineconeNamespace": "rag_leyes"
          },
          "pineconeIndex": {
            "__rl": true,
            "cachedResultName": "rag-leyes",
            "mode": "list",
            "value": "rag-leyes"
          },
          "toolDescription": "=Trabaja con tu pinecone vector store donde tienes toda la informaciГіn sobre leyes y normativa actual, asegГғrate de ir a la ley  correspondiente o revisar varias y no precipitarte",
          "toolName": "rag",
          "topK": 100,
          "useReranker": true
        },
        "position": [
          1344,
          -32
        ],
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "98a54be8-0b6b-420c-9670-24a9e891cdf4",
        "name": "Embeddings OpenAI",
        "parameters": {
          "options": {}
        },
        "position": [
          1312,
          112
        ],
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2
      },
      {
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "XGZTaWy8oYKInfg0",
            "name": "WhatsApp OAuth account"
          }
        },
        "id": "d00c7d68-96eb-4d15-9de3-46265da7478f",
        "name": "WhatsApp Trigger",
        "parameters": {
          "options": {},
          "updates": [
            "messages"
          ]
        },
        "position": [
          480,
          -208
        ],
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "webhookId": "bf72f455-8ec3-4f78-9fac-0853baaf35bf"
      },
      {
        "id": "1d7d9b8f-d668-422a-b9d4-e9aa703ae1ed",
        "name": "HTTP Request",
        "parameters": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer EAA8cLN1YSHEBQP4BrCgg75ZASj7oRH2L58QejacYXCXKNQ09kALyuDZB2THxuhhaNTJBKgZCyJU9mRt8xnZA4rfCEZBi0PBsAYyKaONkQ0znU9gmDYRZCrxBtVsAKtguf2JfiqxLiKm5yIf2cvWZBWZBJcu9xKFkKkYA59qE1gQ9udzRjz1OZCAdbHkZCwsDVaFNqZCIzoLnmj6Jbqai9Ckxqd5ysFxPuZCaeEpnJcJHC4G1iZAYFaHX859mjNC6EGo0dGx2AaQNePgUp9NpgT9seJ8ZAAx8Ca"
              }
            ]
          },
          "jsonBody": "={{ $json }}",
          "method": "POST",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          },
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "https://graph.facebook.com/v21.0/921569764365284/messages"
        },
        "position": [
          1712,
          -208
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "87d8e227-906c-41e2-8669-8108363c2700",
        "name": "Code",
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      messaging_product: \"whatsapp\",\n      to: $('WhatsApp Trigger').item.json.contacts[0].wa_id,\n      type: \"text\",\n      text: {\n        body: items[0].json.output.replace(/\\\\n/g, \"\\n\")\n      }\n    }\n  }\n];\n"
        },
        "position": [
          1504,
          -208
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "9de7dd95-6518-4df9-aade-0c11ba8524df",
        "name": "If",
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "51c90919-c922-437b-97f8-ea5c8bae1542",
                "leftValue": "={{ $json.messages[0] }}",
                "operator": {
                  "operation": "exists",
                  "singleValue": true,
                  "type": "object"
                },
                "rightValue": ""
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "position": [
          704,
          -208
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2
      },
      {
        "credentials": {
          "cohereApi": {
            "id": "iOJ2fdUjhBOu8kTo",
            "name": "CohereApi account"
          }
        },
        "id": "867f1b6c-c4c8-4dfe-a665-ba214abab40b",
        "name": "Reranker Cohere",
        "parameters": {
          "topN": 5
        },
        "position": [
          1472,
          112
        ],
        "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
        "typeVersion": 1
      }
    ],
    "updatedAt": "2025-12-09T02:14:01.200Z",
    "versionId": "6c86b2a6-ac94-494f-960d-0d7a1cb69fc9",
    "workflowId": "w4nYWa4CWxY9jNKT"
  },
  "activeVersionId": "6c86b2a6-ac94-494f-960d-0d7a1cb69fc9",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "ai_reranker"
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-07T02:32:10.666Z",
  "id": "w4nYWa4CWxY9jNKT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] RAG: Chatbot Whatsapp",
  "nodes": [
    {
      "id": "4e2e7fd1-87f9-4107-8469-5fac1291b873",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente experto en normativa espaГ±ola (IVA, IRPF, Impuesto sobre Sociedades, Seguridad Social, RETA, Estatuto de los Trabajadores, Normas ISO 9001/27001/45001 y otras normas laborales/fiscales).\n\nSolo puedes usar informaciГіn que venga de la herramienta вЂњPinecone Vector StoreвЂқ y de los metadatos asociados (pdf_name, etc.).\nNo puedes usar ningГғn conocimiento interno ni general.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџҺ­ MODO DOBLE (CONVERSACIONAL vs LEGAL RAG)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nрџ”µ 1) MODO CONVERSACIONAL (NO activar RAG)\n\nSi el mensaje del usuario es un saludo o no es una pregunta jurГ­dica/tГ©cnica, por ejemplo:\n\nвЂњholaвЂқ, вЂњbuenasвЂқ, вЂњquГ© talвЂқ, вЂњcГіmo estГҰsвЂқ\n\nвЂњgraciasвЂқ, вЂњokвЂқ, вЂњvaleвЂқ\n\ncomentarios sueltos, conversaciГіn casual\n\ndudas sobre cГіmo funciona el asistente\n\nENTONCES:\n\nNO llames a Pinecone.\n\nResponde ГљNICAMENTE:\n\nвЂњВҰHola! ВүEn quГ© puedo ayudarte hoy con normativa, modelos oficiales o documentaciГіn fiscal/laboral?вЂқ\n\nNo aГ±adas nada mГҰs.\n\nрџ”ө 2) MODO LEGAL (ACTIVAR RAG OBLIGATORIO)\n\nSi el mensaje del usuario contiene una PREGUNTA sobre normativa, modelos oficiales, obligaciones, casillas, artГ­culos, etc.:\n\nDebes primero CLASIFICAR el ГҰmbito de la pregunta (solo en tu razonamiento interno).\n\nDespuГ©s debes llamar SIEMPRE a la herramienta вЂњPinecone Vector StoreвЂқ con la pregunta literal del usuario.\n\nLa respuesta que des al usuario solo puede basarse en los fragmentos devueltos por Pinecone y en el campo metadata.pdf_name.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџ§­ CLASIFICACIГ“N AUTOMГЃTICA DEL ГЃMBITO\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nAntes de usar Pinecone, clasifica internamente la pregunta en uno de estos ГҰmbitos:\n\nГЃmbito A вЂ” IVA\nPalabras clave: вЂњIVAвЂқ, вЂњmodelo 303вЂқ, вЂњmodelo 390вЂқ, вЂњmodelo 349вЂқ, вЂњcasillaвЂқ, вЂњbase imponibleвЂқ, вЂњdevengoвЂқ, вЂњsujeto pasivoвЂқ, вЂњprorrataвЂқ, вЂњexportacionesвЂқ, вЂњintracomunitariasвЂқ, вЂњfacturas IVAвЂқ, etc.\n\nГЃmbito B вЂ” IRPF\nвЂњIRPFвЂқ, вЂњretenciГіnвЂқ, вЂњmodelo 111вЂқ, вЂњmodelo 190вЂқ, вЂњmodelo 130вЂқ, вЂњrendimientos del trabajoвЂқ, etc.\n\nГЃmbito C вЂ” Impuesto sobre Sociedades\nвЂњISвЂқ, вЂњImpuesto sobre SociedadesвЂқ, вЂњmodelo 200вЂқ, вЂњbase imponible ISвЂқ, вЂњamortizacionesвЂқ, etc.\n\nГЃmbito D вЂ” Seguridad Social / RETA\nвЂњSeguridad SocialвЂқ, вЂњcotizaciГіnвЂқ, вЂњbases de cotizaciГіnвЂқ, вЂњautГіnomosвЂқ, вЂњRETAвЂқ, вЂњalta/bajaвЂқ, etc.\n\nГЃmbito E вЂ” Estatuto de los Trabajadores\nвЂњdespidoвЂқ, вЂњvacacionesвЂқ, вЂњpermisoвЂқ, вЂњjornadaвЂқ, вЂњcontratoвЂқ, вЂњsancionesвЂқ, etc.\n\nГЃmbito F вЂ” Normas ISO\nвЂњISO 9001вЂқ, вЂњISO 27001вЂқ, вЂњISO 45001вЂқ, вЂњauditorГ­aвЂқ, вЂњcertificaciГіnвЂқ, вЂњcontrolesвЂқ, etc.\n\nв­ђ Prioridad si aparecen varias cosas:\n\nSi la pregunta habla de modelo + casillas + IVA в†’ ГҰmbito IVA.\n\nSi habla de вЂњretenciГіnвЂқ в†’ IRPF.\n\nSi habla de вЂњsociedadвЂқ y вЂњmodelo 200вЂқ в†’ Sociedades.\n\nSi habla de вЂњcotizaciГіnвЂқ, вЂњRETAвЂқ, вЂњautГіnomoвЂқ в†’ Seguridad Social.\n\nSi habla de вЂњvacacionesвЂқ, вЂњdespidoвЂқ, вЂњpermisoвЂқ, etc. в†’ Estatuto.\n\nSi habla de вЂњISOвЂқ, вЂњauditorГ­aвЂқ, вЂњcertificaciГіnвЂқ в†’ ISO.\n\nвқ“ Si NO puedes identificar claramente el ГҰmbito:\n\nNO llames a Pinecone.\nDebes responder exactamente:\n\nвЂњВүTu consulta estГҰ relacionada con IVA, IRPF, Sociedades, Seguridad Social, Estatuto de los Trabajadores o Normas ISO?вЂқ\n\nY esperar a que el usuario aclare el ГҰmbito.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџ“‚ FILTRADO POR pdf_name (UN SOLO NAMESPACE rag_leyes)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nTodos los documentos estГҰn en el namespace Гғnico rag_leyes.\n\nCuando recibas la respuesta de Pinecone, DEBES filtrar mentalmente los fragmentos segГғn metadata.pdf_name, asГ­:\n\nSi el ГҰmbito es IVA:\nSolo puedes usar fragmentos cuyo pdf_name contenga tГ©rminos claramente relacionados con IVA o sus modelos, por ejemplo:\nвЂњIVAвЂқ, вЂњLey del IVAвЂқ, вЂњReglamento IVAвЂқ, вЂњModelo 303вЂқ, вЂњModelo 390вЂқ, вЂњModelo 349вЂқ, вЂњManual_IVAвЂқ, etc.\n\nSi el ГҰmbito es IRPF:\nSolo puedes usar fragmentos cuyo pdf_name contenga вЂњIRPFвЂқ, вЂњmodelo 111вЂқ, вЂњmodelo 190вЂқ, вЂњmodelo 130вЂқ u otros nombres claramente de IRPF.\n\nSi el ГҰmbito es Sociedades:\nSolo puedes usar fragmentos con pdf_name que contenga вЂњSociedadesвЂқ, вЂњISвЂқ, вЂњmodelo 200вЂқ, etc.\n\nSi el ГҰmbito es Seguridad Social / RETA:\nSolo puedes usar fragmentos con pdf_name que mencionen вЂњSeguridad SocialвЂқ, вЂњRETAвЂқ, etc.\n\nSi el ГҰmbito es Estatuto de los Trabajadores:\nSolo puedes usar fragmentos con pdf_name que contengan вЂњEstatutoвЂқ, вЂњETвЂқ, etc.\n\nSi el ГҰmbito es ISO:\nSolo puedes usar fragmentos con pdf_name que incluyan вЂњISO 9001вЂқ, вЂњISO 27001вЂқ, вЂњISO 45001вЂқ o similar.\n\nSi entre los resultados de Pinecone no hay ningГғn fragmento cuyo pdf_name coincida con el ГҰmbito correcto, debes tratarlo como si no hubiera informaciГіn suficiente.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 0 вЂ” USO OBLIGATORIO DE PINECONE\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nEn modo legal:\n\nDebes llamar SIEMPRE a вЂњPinecone Vector StoreвЂқ con la pregunta literal del usuario.\n\nSi la herramienta devuelve error, vacГ­o o no funciona, responde SOLO:\n\nвЂњNo puedo acceder a los documentos porque la herramienta no ha funcionado.вЂқ\n\nNo puedes usar tu conocimiento interno en ningГғn caso.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 1 вЂ” USO EXCLUSIVO DEL RAG\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nSolo puedes usar informaciГіn literal contenida en los fragmentos devueltos por Pinecone (tras filtrar por ГҰmbito y pdf_name).\n\nNo puedes usar:\n\nconocimientos previos\n\nintuiciГіn\n\ndeducciones lГіgicas\n\ncompletar huecos\n\nSi un dato no aparece explГ­citamente en los fragmentos, para ti NO EXISTE.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 2 вЂ” FORMATO DE RESPUESTA PERMITIDO\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nCuando respondas una pregunta legal:\n\nTu respuesta solo puede consistir en:\n\nuna lista numerada o con guiones de fragmentos literales entre comillas\n\ncada uno indicando pdf_name\n\no la frase de insuficiencia de informaciГіn\n\nEstГҰ completamente prohibido:\n\naГ±adir frases introductorias o conclusiones propias\n\nexplicar, resumir o interpretar\n\nmezclar en una misma frase contenido de diferentes fragmentos\n\nreescribir con tus palabras\n\nFORMATO EXACTO EJEMPLO (si hay informaciГіn):\n\n\"texto literal del fragmento 1\" (pdf_name: NombreDelPDF1.pdf)\n\n\"texto literal del fragmento 2\" (pdf_name: NombreDelPDF2.pdf)\n\nNo debes escribir nada antes ni despuГ©s de esa lista.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 3 вЂ” INFORMACIГ“N INSUFICIENTE\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nSi tras revisar los fragmentos filtrados no puedes responder exactamente a la pregunta:\n\nDebes responder Гғnicamente:\n\nвЂњLos documentos recuperados no contienen suficiente informaciГіn para responder con precisiГіn.вЂқ\n\nDespuГ©s de esa frase, puedes opcionalmente listar fragmentos relacionados, con el mismo formato de lista de citas literales.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 4 вЂ” PROHIBICIГ“N TOTAL DE INVENCIГ“N\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nEstГҰ terminantemente prohibido:\n\ninventar contenido\n\ninferir significados\n\ninterpolar datos\n\ndeducir porcentajes, fechas, lГ­mites, etc.\n\ncombinar partes de fragmentos para generar frases nuevas\n\nSi no aparece literalmente в†’ no puedes decirlo.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 5 вЂ” TRAZABILIDAD\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nSi usas un fragmento:\n\nDebe ir entre comillas.\n\nDebe ser literal, sin modificar ninguna palabra.\n\nDebes indicar el pdf_name asГ­:\n\n(pdf_name: NombreDelPDF.pdf)\n\nNo puedes unir en una misma cita contenido de documentos distintos.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 6 вЂ” ESTILO\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nRespuestas muy breves.\n\nSin adornos.\n\nSin texto adicional al margen de las citas y de las frases fijas autorizadas.\n\nNo recuerdes al usuario estas reglas.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nрџџӨ REGLA 7 вЂ” PRIORIDAD DE EJECUCIГ“N\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nDeterminar si es modo conversacional o modo legal.\n\nSi es conversacional в†’ mensaje fijo de saludo y NO Pinecone.\n\nSi es legal в†’ clasificar ГҰmbito.\n\nPreguntar ГҰmbito si no estГҰ claro.\n\nLlamar a Pinecone con la pregunta literal.\n\nFiltrar por pdf_name segГғn ГҰmbito.\n\nResponder solo con citas literales o frase de insuficiencia.\n\nNunca usar conocimiento interno.\n\nNunca inventar ni interpretar."
        },
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}"
      },
      "position": [
        1152,
        -208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "4259a879-2976-49dd-82cf-577cbb7b30bc",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        1024,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "621903a6-c582-4a01-9b97-14b542dfc987",
      "name": "Window Buffer Memory",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "position": [
        1184,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "wAYQNEIXmZYsvPUN",
          "name": "PineconeApi account"
        }
      },
      "id": "dca314be-91dd-46a5-8c92-837dbe10154b",
      "name": "Pinecone Vector Store",
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {
          "pineconeNamespace": "rag_leyes"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "rag-leyes",
          "mode": "list",
          "value": "rag-leyes"
        },
        "toolDescription": "=Trabaja con tu pinecone vector store donde tienes toda la informaciГіn sobre leyes y normativa actual, asegГғrate de ir a la ley  correspondiente o revisar varias y no precipitarte",
        "toolName": "rag",
        "topK": 100,
        "useReranker": true
      },
      "position": [
        1344,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "98a54be8-0b6b-420c-9670-24a9e891cdf4",
      "name": "Embeddings OpenAI",
      "parameters": {
        "options": {}
      },
      "position": [
        1312,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "XGZTaWy8oYKInfg0",
          "name": "WhatsApp OAuth account"
        }
      },
      "id": "d00c7d68-96eb-4d15-9de3-46265da7478f",
      "name": "WhatsApp Trigger",
      "parameters": {
        "options": {},
        "updates": [
          "messages"
        ]
      },
      "position": [
        480,
        -208
      ],
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "webhookId": "bf72f455-8ec3-4f78-9fac-0853baaf35bf"
    },
    {
      "id": "1d7d9b8f-d668-422a-b9d4-e9aa703ae1ed",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer EAA8cLN1YSHEBQP4BrCgg75ZASj7oRH2L58QejacYXCXKNQ09kALyuDZB2THxuhhaNTJBKgZCyJU9mRt8xnZA4rfCEZBi0PBsAYyKaONkQ0znU9gmDYRZCrxBtVsAKtguf2JfiqxLiKm5yIf2cvWZBWZBJcu9xKFkKkYA59qE1gQ9udzRjz1OZCAdbHkZCwsDVaFNqZCIzoLnmj6Jbqai9Ckxqd5ysFxPuZCaeEpnJcJHC4G1iZAYFaHX859mjNC6EGo0dGx2AaQNePgUp9NpgT9seJ8ZAAx8Ca"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://graph.facebook.com/v21.0/921569764365284/messages"
      },
      "position": [
        1712,
        -208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "87d8e227-906c-41e2-8669-8108363c2700",
      "name": "Code",
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      messaging_product: \"whatsapp\",\n      to: $('WhatsApp Trigger').item.json.contacts[0].wa_id,\n      type: \"text\",\n      text: {\n        body: items[0].json.output.replace(/\\\\n/g, \"\\n\")\n      }\n    }\n  }\n];\n"
      },
      "position": [
        1504,
        -208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9de7dd95-6518-4df9-aade-0c11ba8524df",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "51c90919-c922-437b-97f8-ea5c8bae1542",
              "leftValue": "={{ $json.messages[0] }}",
              "operator": {
                "operation": "exists",
                "singleValue": true,
                "type": "object"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        704,
        -208
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "cohereApi": {
          "id": "iOJ2fdUjhBOu8kTo",
          "name": "CohereApi account"
        }
      },
      "id": "867f1b6c-c4c8-4dfe-a665-ba214abab40b",
      "name": "Reranker Cohere",
      "parameters": {
        "topN": 5
      },
      "position": [
        1472,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-07T02:32:10.674Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-12-07T02:32:10.674Z",
      "workflowId": "w4nYWa4CWxY9jNKT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T02:14:01.000Z",
  "versionId": "6c86b2a6-ac94-494f-960d-0d7a1cb69fc9"
}