workflows/Cancelar_mesa.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond to Webhook",
              "type": "main"
            }
          ]
        ]
      },
      "Airtable - Buscar cliente": {
        "main": [
          [
            {
              "index": 0,
              "node": "Code in JavaScript",
              "type": "main"
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "index": 0,
              "node": "Airtable - Buscar cliente",
              "type": "main"
            }
          ]
        ]
      },
      "Eliminar_reserva": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "index": 0,
              "node": "Edit Fields",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Switch",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-07T00:37:51.230Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "9bf888e4-bdd4-46a3-8221-4563972c5b80",
        "name": "Switch",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                      "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                      "operator": {
                        "operation": "exists",
                        "singleValue": true,
                        "type": "string"
                      },
                      "rightValue": ""
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Comprobar_Disponibilidad_Mesas",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          -336,
          -64
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3
      },
      {
        "id": "9a458a26-ae21-4ef6-8d45-76d6f9641eff",
        "name": "Edit Fields",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ec03870a-5897-452d-9d55-a0fe08736901",
                "name": "Hora",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora }}"
              },
              {
                "id": "8687fe98-fb82-4959-8dd3-3c9abb849383",
                "name": "Fecha",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Fecha }}"
              },
              {
                "id": "df5945ea-9078-450f-87e3-57535959d38f",
                "name": "Nombre",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
              },
              {
                "id": "99a75194-1b82-409e-b8be-5fa0e95a3a64",
                "name": "Telefono",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Telefono }}"
              }
            ]
          },
          "options": {}
        },
        "position": [
          -144,
          -64
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "credentials": {
          "airtableTokenApi": {
            "id": "xo9Z42x9DIHItt7m",
            "name": "Airtable Personal Access Token account"
          }
        },
        "id": "8e5002cb-deb1-448b-893d-8af1dcf71715",
        "name": "Airtable - Buscar cliente",
        "parameters": {
          "base": {
            "__rl": true,
            "mode": "id",
            "value": "appwsWKteRjGM6oKu"
          },
          "operation": "search",
          "options": {},
          "table": {
            "__rl": true,
            "mode": "id",
            "value": "tblhZnESIvW2eBHX5"
          }
        },
        "position": [
          48,
          -64
        ],
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1
      },
      {
        "id": "04d44ba7-e2bc-4fdb-a496-726ec640aba8",
        "name": "Code in JavaScript",
        "parameters": {
          "jsCode": "// Paso 1: Obtener los datos del cliente desde el nodo 'Edit Fields'\nconst cliente = $('Edit Fields').first().json;\n\nconst horaCliente   = cliente.Hora?.trim();\nconst fechaCliente  = cliente.Fecha?.trim();\nconst nombreCliente = cliente.Nombre?.trim().toLowerCase(); // comparación insensible a mayúsculas\n\n// Paso 2: Obtener todos los registros de Airtable (cada item viene en item.json)\nconst registros = $input.all();\n\n// Paso 3: Filtrar registros que coincidan exactamente con los tres campos\nconst coincidencias = registros.filter(item => {\n\n  // ⚠️ En TU caso, Airtable trae los campos en item.json, NO item.json.fields\n  const r = item.json || {};\n\n  const hora   = r.Hora?.trim();\n  const fecha  = r.Fecha?.trim();\n  const nombre = r.Nombre?.trim().toLowerCase();\n\n  return (\n    hora === horaCliente &&\n    fecha === fechaCliente &&\n    nombre === nombreCliente\n  );\n});\n\n// Paso 4: Si quieres que SIEMPRE devuelva algo aunque no haya coincidencias:\nreturn [\n  {\n    json: {\n      cliente: {\n        hora: horaCliente,\n        fecha: fechaCliente,\n        nombre: nombreCliente,\n      },\n      totalRegistros: registros.length,\n      coincidencias: coincidencias.map(c => c.json),\n      existeReserva: coincidencias.length > 0\n    }\n  }\n];\n"
        },
        "position": [
          224,
          -64
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "00919102-2114-47c3-b50f-06dc39936182",
        "name": "AI Agent",
        "parameters": {
          "options": {
            "systemMessage": "Tienes que eliminar la reserva de la mesa que tenga los datos proporcionados.\nPara ello usa la herramienta \"Eliminar reserva\" para dejar los datos en blanco.\n\nNo digas el ID de la reserva en el mensaje que des al cliente"
          },
          "promptType": "define",
          "text": "=Hora:{{ $json.coincidencias[0].Fecha }}\nFecha:{{ $json.coincidencias[0].Fecha }}\nNombre:{{ $json.coincidencias[0].Nombre }}\nTelefono:{{ $json.coincidencias[0].Telefono }}\nID: {{ $json.coincidencias[0].id }}"
        },
        "position": [
          432,
          -64
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "a1768278-5d96-4fa4-a667-8ab2e33f851d",
        "name": "OpenAI Chat Model",
        "parameters": {
          "builtInTools": {},
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "position": [
          432,
          112
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "airtableTokenApi": {
            "id": "xo9Z42x9DIHItt7m",
            "name": "Airtable Personal Access Token account"
          }
        },
        "id": "9e3c2752-b6c3-417f-8819-02a3d4161b7b",
        "name": "Eliminar_reserva",
        "parameters": {
          "base": {
            "__rl": true,
            "cachedResultName": "reservas_restaurante_profesional.csv",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
            "mode": "list",
            "value": "appwsWKteRjGM6oKu"
          },
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "defaultMatch": true,
                "display": true,
                "displayName": "id",
                "id": "id",
                "readOnly": true,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Hora",
                "id": "Hora",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Fecha",
                "id": "Fecha",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "dateTime"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Notas",
                "id": "Notas",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Nombre",
                "id": "Nombre",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Telefono",
                "id": "Telefono",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Tipo_de_mesa",
                "id": "Tipo_de_mesa",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Numero_personas",
                "id": "Numero_personas",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "number"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Disponibilidad",
                "id": "Disponibilidad",
                "options": [
                  {
                    "name": "Reservada",
                    "value": "Reservada"
                  },
                  {
                    "name": "Disponible",
                    "value": "Disponible"
                  }
                ],
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "options"
              }
            ],
            "value": {
              "Disponibilidad": "Disponible",
              "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
              "Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', ``, 'string') }}",
              "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
              "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}",
              "Numero_personas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_personas', ``, 'number') }}",
              "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
              "Tipo_de_mesa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_mesa', ``, 'string') }}",
              "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"
            }
          },
          "operation": "update",
          "options": {
            "typecast": true
          },
          "table": {
            "__rl": true,
            "cachedResultName": "Table 1",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblhZnESIvW2eBHX5",
            "mode": "list",
            "value": "tblhZnESIvW2eBHX5"
          }
        },
        "position": [
          576,
          112
        ],
        "type": "n8n-nodes-base.airtableTool",
        "typeVersion": 2.1
      },
      {
        "id": "ae3c20d2-1298-449f-934b-3eb199a1cf64",
        "name": "Respond to Webhook",
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  results: [\n    {\n      toolCallId: $node[\"Webhook\"].json.body.message.toolCallList[0].id,\n      result: $json.output,\n    },\n  ],\n}) }}\n"
        },
        "position": [
          736,
          -64
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4
      },
      {
        "id": "88ba4fa9-884e-47e0-9652-051041b093dc",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "b847ce0c-a6cb-4b10-8687-848b6d4c0ee4",
          "responseMode": "responseNode"
        },
        "position": [
          -512,
          -64
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "b847ce0c-a6cb-4b10-8687-848b6d4c0ee4"
      }
    ],
    "updatedAt": "2025-12-07T00:37:51.230Z",
    "versionId": "7d9e6640-1466-4155-bc25-c892e536d01a",
    "workflowId": "XB2XuR2Vw0SlHYkD"
  },
  "activeVersionId": "7d9e6640-1466-4155-bc25-c892e536d01a",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Airtable - Buscar cliente": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Airtable - Buscar cliente",
            "type": "main"
          }
        ]
      ]
    },
    "Eliminar_reserva": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-22T00:40:05.007Z",
  "id": "XB2XuR2Vw0SlHYkD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cancelar_mesa",
  "nodes": [
    {
      "id": "9bf888e4-bdd4-46a3-8221-4563972c5b80",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "operator": {
                      "operation": "exists",
                      "singleValue": true,
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Comprobar_Disponibilidad_Mesas",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -336,
        -64
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "id": "9a458a26-ae21-4ef6-8d45-76d6f9641eff",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec03870a-5897-452d-9d55-a0fe08736901",
              "name": "Hora",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora }}"
            },
            {
              "id": "8687fe98-fb82-4959-8dd3-3c9abb849383",
              "name": "Fecha",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Fecha }}"
            },
            {
              "id": "df5945ea-9078-450f-87e3-57535959d38f",
              "name": "Nombre",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
            },
            {
              "id": "99a75194-1b82-409e-b8be-5fa0e95a3a64",
              "name": "Telefono",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Telefono }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -144,
        -64
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "xo9Z42x9DIHItt7m",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "8e5002cb-deb1-448b-893d-8af1dcf71715",
      "name": "Airtable - Buscar cliente",
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appwsWKteRjGM6oKu"
        },
        "operation": "search",
        "options": {},
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblhZnESIvW2eBHX5"
        }
      },
      "position": [
        48,
        -64
      ],
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1
    },
    {
      "id": "04d44ba7-e2bc-4fdb-a496-726ec640aba8",
      "name": "Code in JavaScript",
      "parameters": {
        "jsCode": "// Paso 1: Obtener los datos del cliente desde el nodo 'Edit Fields'\nconst cliente = $('Edit Fields').first().json;\n\nconst horaCliente   = cliente.Hora?.trim();\nconst fechaCliente  = cliente.Fecha?.trim();\nconst nombreCliente = cliente.Nombre?.trim().toLowerCase(); // comparación insensible a mayúsculas\n\n// Paso 2: Obtener todos los registros de Airtable (cada item viene en item.json)\nconst registros = $input.all();\n\n// Paso 3: Filtrar registros que coincidan exactamente con los tres campos\nconst coincidencias = registros.filter(item => {\n\n  // ⚠️ En TU caso, Airtable trae los campos en item.json, NO item.json.fields\n  const r = item.json || {};\n\n  const hora   = r.Hora?.trim();\n  const fecha  = r.Fecha?.trim();\n  const nombre = r.Nombre?.trim().toLowerCase();\n\n  return (\n    hora === horaCliente &&\n    fecha === fechaCliente &&\n    nombre === nombreCliente\n  );\n});\n\n// Paso 4: Si quieres que SIEMPRE devuelva algo aunque no haya coincidencias:\nreturn [\n  {\n    json: {\n      cliente: {\n        hora: horaCliente,\n        fecha: fechaCliente,\n        nombre: nombreCliente,\n      },\n      totalRegistros: registros.length,\n      coincidencias: coincidencias.map(c => c.json),\n      existeReserva: coincidencias.length > 0\n    }\n  }\n];\n"
      },
      "position": [
        224,
        -64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "00919102-2114-47c3-b50f-06dc39936182",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "Tienes que eliminar la reserva de la mesa que tenga los datos proporcionados.\nPara ello usa la herramienta \"Eliminar reserva\" para dejar los datos en blanco.\n\nNo digas el ID de la reserva en el mensaje que des al cliente"
        },
        "promptType": "define",
        "text": "=Hora:{{ $json.coincidencias[0].Fecha }}\nFecha:{{ $json.coincidencias[0].Fecha }}\nNombre:{{ $json.coincidencias[0].Nombre }}\nTelefono:{{ $json.coincidencias[0].Telefono }}\nID: {{ $json.coincidencias[0].id }}"
      },
      "position": [
        432,
        -64
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "a1768278-5d96-4fa4-a667-8ab2e33f851d",
      "name": "OpenAI Chat Model",
      "parameters": {
        "builtInTools": {},
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "position": [
        432,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "xo9Z42x9DIHItt7m",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "9e3c2752-b6c3-417f-8819-02a3d4161b7b",
      "name": "Eliminar_reserva",
      "parameters": {
        "base": {
          "__rl": true,
          "cachedResultName": "reservas_restaurante_profesional.csv",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
          "mode": "list",
          "value": "appwsWKteRjGM6oKu"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "defaultMatch": true,
              "display": true,
              "displayName": "id",
              "id": "id",
              "readOnly": true,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Hora",
              "id": "Hora",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Fecha",
              "id": "Fecha",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Notas",
              "id": "Notas",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Nombre",
              "id": "Nombre",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Telefono",
              "id": "Telefono",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tipo_de_mesa",
              "id": "Tipo_de_mesa",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Numero_personas",
              "id": "Numero_personas",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Disponibilidad",
              "id": "Disponibilidad",
              "options": [
                {
                  "name": "Reservada",
                  "value": "Reservada"
                },
                {
                  "name": "Disponible",
                  "value": "Disponible"
                }
              ],
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "options"
            }
          ],
          "value": {
            "Disponibilidad": "Disponible",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', ``, 'string') }}",
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}",
            "Numero_personas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_personas', ``, 'number') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
            "Tipo_de_mesa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_mesa', ``, 'string') }}",
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"
          }
        },
        "operation": "update",
        "options": {
          "typecast": true
        },
        "table": {
          "__rl": true,
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblhZnESIvW2eBHX5",
          "mode": "list",
          "value": "tblhZnESIvW2eBHX5"
        }
      },
      "position": [
        576,
        112
      ],
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1
    },
    {
      "id": "ae3c20d2-1298-449f-934b-3eb199a1cf64",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  results: [\n    {\n      toolCallId: $node[\"Webhook\"].json.body.message.toolCallList[0].id,\n      result: $json.output,\n    },\n  ],\n}) }}\n"
      },
      "position": [
        736,
        -64
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "id": "88ba4fa9-884e-47e0-9652-051041b093dc",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "b847ce0c-a6cb-4b10-8687-848b6d4c0ee4",
        "responseMode": "responseNode"
      },
      "position": [
        -512,
        -64
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "b847ce0c-a6cb-4b10-8687-848b6d4c0ee4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-22T00:40:05.022Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-11-22T00:40:05.022Z",
      "workflowId": "XB2XuR2Vw0SlHYkD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T23:13:30.000Z",
  "versionId": "7d9e6640-1466-4155-bc25-c892e536d01a"
}