workflows/Cancelar_pedido.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond to Webhook",
              "type": "main"
            }
          ]
        ]
      },
      "Buscar_pedido": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Realizar_cancelacion": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "index": 0,
              "node": "Edit Fields",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Switch",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-07T00:37:51.230Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "8886eb3f-39fb-433d-bbc0-e14da6e67d37",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "532cd7bb-da19-4976-9e93-9b895ac2fbd8",
          "responseMode": "responseNode"
        },
        "position": [
          -208,
          -80
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "532cd7bb-da19-4976-9e93-9b895ac2fbd8"
      },
      {
        "id": "6f7b1114-bf2a-4106-8094-09bd20811699",
        "name": "Switch",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                      "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                      "operator": {
                        "operation": "exists",
                        "singleValue": true,
                        "type": "string"
                      },
                      "rightValue": ""
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Modificar_pedido",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          -16,
          -80
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3
      },
      {
        "id": "f9605e48-1ee6-49d3-b549-e659954a4cc8",
        "name": "Edit Fields",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ec03870a-5897-452d-9d55-a0fe08736901",
                "name": "Hora_recogida",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora_recogida }}"
              },
              {
                "id": "c2290d0f-2ea5-4f9a-af91-eef4d603e2cc",
                "name": "Nombre",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
              },
              {
                "id": "de4d40a8-8244-412c-8201-6d25809bb0db",
                "name": "Telefono",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Telefono }}"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": true
          }
        },
        "position": [
          192,
          -80
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "e2152247-15d0-4de4-99c3-36466a65bef0",
        "name": "AI Agent",
        "parameters": {
          "options": {
            "systemMessage": "=Eres el asistente virtual de un restaurante de comida para recoger en local.\n\nTU TAREA EN ESTE FLUJO\n- Gestionar la CANCELACIÓN de pedidos ya registrados en el sistema.\n- El cliente normalmente te dará: nombre, hora de recogida y teléfono.\n- No inventes información ni canceles nada “de palabra”: usa siempre las herramientas conectadas.\n\nHERRAMIENTAS DISPONIBLES\n1) Tool \"Buscar_pedido\"\n   - Úsala siempre que necesites comprobar si existe un pedido para ese cliente.\n   - Busca el pedido usando el nombre, la hora de recogida y, si está disponible, el teléfono.\n   - Si no encuentra ningún pedido, explícaselo al cliente de forma amable y sugiere alternativas (por ejemplo, revisar la hora o el nombre).\n\n2) Tool \"Realizar_cancelacion\"\n   - Úsala solo cuando tengas localizado el pedido correcto.\n   - Sirve para marcar el pedido como cancelado o eliminarlo en la base de datos.\n   - Después de usarla, confirma de forma clara que el pedido ha quedado cancelado.\n\nREGLAS IMPORTANTES\n- No menciones palabras técnicas como “JSON”, “toolCalls”, “nodo”, “Airtable” o “base de datos”.\n- Para el cliente, tú simplemente “compruebas el pedido en el sistema del restaurante”.\n- Si no encuentras ningún pedido con los datos del cliente:\n  - No digas que está cancelado.\n  - Indica que no ves ningún pedido con esos datos y pide confirmar nombre y hora, o sugiere que quizá ya se haya recogido o no llegó a completarse.\n- Si encuentras varios pedidos posibles:\n  - Pide una aclaración: por ejemplo, confirmar el importe, los productos o la hora exacta.\n  - Solo cuando estés seguro de cuál es el correcto, llama a \"Realizar_cancelacion\".\n- Si el cliente pide algo distinto de cancelar (por ejemplo cambiar la hora o el pedido completo), explícale que en este flujo solo puedes cancelar el pedido actual y sugerirle que haga un nuevo pedido con los datos correctos.\n\nESTILO DE RESPUESTA\n- Tono cercano, amable y profesional.\n- Respuestas cortas y claras, orientadas a la acción.\n- Siempre que canceles un pedido, incluye un breve resumen:\n  - Nombre del cliente.\n  - Hora de recogida que se ha cancelado.\n  - Aviso de que ese hueco vuelve a quedar libre.\n- Al final, ofrece ayuda extra si encaja: por ejemplo, preguntar si quiere hacer un nuevo pedido o necesita algo más.\n"
          },
          "promptType": "define",
          "text": "=Hora_Recogida:{{ $json.Hora_recogida }}\nTelefono: {{ $json.Telefono }}\nNombre:{{ $json.Nombre }}"
        },
        "position": [
          368,
          -80
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "53b229df-161f-450b-bccc-edd89b8e34d0",
        "name": "OpenAI Chat Model",
        "parameters": {
          "builtInTools": {},
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "position": [
          288,
          80
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3
      },
      {
        "id": "463fd513-a96c-42d2-a9eb-16fa3c66b1af",
        "name": "Respond to Webhook",
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  results: [\n    {\n      toolCallId: $node[\"Webhook\"].json.body.message.toolCallList[0].id,\n      result: $json.output,\n    },\n  ],\n}) }}\n"
        },
        "position": [
          672,
          -80
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4
      },
      {
        "id": "2ef3b483-ebb6-4d65-9499-f2cb6d6c3d4a",
        "name": "Buscar_pedido",
        "parameters": {
          "description": "Llama a esta herramienta para buscar el pedido a modificar",
          "workflowId": {
            "__rl": true,
            "cachedResultName": "Verificar_Horas_Disponibles",
            "cachedResultUrl": "/workflow/uCBzDkAIRP6wbKZ6",
            "mode": "list",
            "value": "uCBzDkAIRP6wbKZ6"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          }
        },
        "position": [
          464,
          112
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "credentials": {
          "airtableTokenApi": {
            "id": "xo9Z42x9DIHItt7m",
            "name": "Airtable Personal Access Token account"
          }
        },
        "id": "e1b348d4-48c9-4d5a-8374-adaf81a274e9",
        "name": "Realizar_cancelacion",
        "parameters": {
          "base": {
            "__rl": true,
            "cachedResultName": "reservas_restaurante_profesional.csv",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
            "mode": "list",
            "value": "appwsWKteRjGM6oKu"
          },
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "defaultMatch": true,
                "display": true,
                "displayName": "id",
                "id": "id",
                "readOnly": true,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Hora_recogida",
                "id": "Hora_recogida",
                "readOnly": false,
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Nombre",
                "id": "Nombre",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Telefono",
                "id": "Telefono",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "number"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Pedido",
                "id": "Pedido",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Precio_Total",
                "id": "Precio_Total",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "number"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Metodo_Pago",
                "id": "Metodo_Pago",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "Metodo_Pago": "=",
              "Nombre": "=",
              "Pedido": "=",
              "Precio_Total": "=",
              "Telefono": "=",
              "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"
            }
          },
          "operation": "update",
          "options": {
            "typecast": true
          },
          "table": {
            "__rl": true,
            "cachedResultName": "Pedidos",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblxR9aVECNLh7SBh",
            "mode": "list",
            "value": "tblxR9aVECNLh7SBh"
          }
        },
        "position": [
          640,
          112
        ],
        "type": "n8n-nodes-base.airtableTool",
        "typeVersion": 2.1
      }
    ],
    "updatedAt": "2025-12-07T00:37:51.230Z",
    "versionId": "be4389ef-6b39-4d03-9bae-86d571c0b4d5",
    "workflowId": "VLymisJfE8Hl5FUz"
  },
  "activeVersionId": "be4389ef-6b39-4d03-9bae-86d571c0b4d5",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Buscar_pedido": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Realizar_cancelacion": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-22T04:30:09.934Z",
  "id": "VLymisJfE8Hl5FUz",
  "isArchived": false,
  "meta": null,
  "name": "Cancelar_pedido",
  "nodes": [
    {
      "id": "8886eb3f-39fb-433d-bbc0-e14da6e67d37",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "532cd7bb-da19-4976-9e93-9b895ac2fbd8",
        "responseMode": "responseNode"
      },
      "position": [
        -208,
        -80
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "532cd7bb-da19-4976-9e93-9b895ac2fbd8"
    },
    {
      "id": "6f7b1114-bf2a-4106-8094-09bd20811699",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "operator": {
                      "operation": "exists",
                      "singleValue": true,
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Modificar_pedido",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -16,
        -80
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "id": "f9605e48-1ee6-49d3-b549-e659954a4cc8",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec03870a-5897-452d-9d55-a0fe08736901",
              "name": "Hora_recogida",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora_recogida }}"
            },
            {
              "id": "c2290d0f-2ea5-4f9a-af91-eef4d603e2cc",
              "name": "Nombre",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
            },
            {
              "id": "de4d40a8-8244-412c-8201-6d25809bb0db",
              "name": "Telefono",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Telefono }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "position": [
        192,
        -80
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "e2152247-15d0-4de4-99c3-36466a65bef0",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "=Eres el asistente virtual de un restaurante de comida para recoger en local.\n\nTU TAREA EN ESTE FLUJO\n- Gestionar la CANCELACIÓN de pedidos ya registrados en el sistema.\n- El cliente normalmente te dará: nombre, hora de recogida y teléfono.\n- No inventes información ni canceles nada “de palabra”: usa siempre las herramientas conectadas.\n\nHERRAMIENTAS DISPONIBLES\n1) Tool \"Buscar_pedido\"\n   - Úsala siempre que necesites comprobar si existe un pedido para ese cliente.\n   - Busca el pedido usando el nombre, la hora de recogida y, si está disponible, el teléfono.\n   - Si no encuentra ningún pedido, explícaselo al cliente de forma amable y sugiere alternativas (por ejemplo, revisar la hora o el nombre).\n\n2) Tool \"Realizar_cancelacion\"\n   - Úsala solo cuando tengas localizado el pedido correcto.\n   - Sirve para marcar el pedido como cancelado o eliminarlo en la base de datos.\n   - Después de usarla, confirma de forma clara que el pedido ha quedado cancelado.\n\nREGLAS IMPORTANTES\n- No menciones palabras técnicas como “JSON”, “toolCalls”, “nodo”, “Airtable” o “base de datos”.\n- Para el cliente, tú simplemente “compruebas el pedido en el sistema del restaurante”.\n- Si no encuentras ningún pedido con los datos del cliente:\n  - No digas que está cancelado.\n  - Indica que no ves ningún pedido con esos datos y pide confirmar nombre y hora, o sugiere que quizá ya se haya recogido o no llegó a completarse.\n- Si encuentras varios pedidos posibles:\n  - Pide una aclaración: por ejemplo, confirmar el importe, los productos o la hora exacta.\n  - Solo cuando estés seguro de cuál es el correcto, llama a \"Realizar_cancelacion\".\n- Si el cliente pide algo distinto de cancelar (por ejemplo cambiar la hora o el pedido completo), explícale que en este flujo solo puedes cancelar el pedido actual y sugerirle que haga un nuevo pedido con los datos correctos.\n\nESTILO DE RESPUESTA\n- Tono cercano, amable y profesional.\n- Respuestas cortas y claras, orientadas a la acción.\n- Siempre que canceles un pedido, incluye un breve resumen:\n  - Nombre del cliente.\n  - Hora de recogida que se ha cancelado.\n  - Aviso de que ese hueco vuelve a quedar libre.\n- Al final, ofrece ayuda extra si encaja: por ejemplo, preguntar si quiere hacer un nuevo pedido o necesita algo más.\n"
        },
        "promptType": "define",
        "text": "=Hora_Recogida:{{ $json.Hora_recogida }}\nTelefono: {{ $json.Telefono }}\nNombre:{{ $json.Nombre }}"
      },
      "position": [
        368,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "53b229df-161f-450b-bccc-edd89b8e34d0",
      "name": "OpenAI Chat Model",
      "parameters": {
        "builtInTools": {},
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "position": [
        288,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3
    },
    {
      "id": "463fd513-a96c-42d2-a9eb-16fa3c66b1af",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  results: [\n    {\n      toolCallId: $node[\"Webhook\"].json.body.message.toolCallList[0].id,\n      result: $json.output,\n    },\n  ],\n}) }}\n"
      },
      "position": [
        672,
        -80
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "id": "2ef3b483-ebb6-4d65-9499-f2cb6d6c3d4a",
      "name": "Buscar_pedido",
      "parameters": {
        "description": "Llama a esta herramienta para buscar el pedido a modificar",
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Verificar_Horas_Disponibles",
          "cachedResultUrl": "/workflow/uCBzDkAIRP6wbKZ6",
          "mode": "list",
          "value": "uCBzDkAIRP6wbKZ6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "position": [
        464,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "xo9Z42x9DIHItt7m",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "e1b348d4-48c9-4d5a-8374-adaf81a274e9",
      "name": "Realizar_cancelacion",
      "parameters": {
        "base": {
          "__rl": true,
          "cachedResultName": "reservas_restaurante_profesional.csv",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
          "mode": "list",
          "value": "appwsWKteRjGM6oKu"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "defaultMatch": true,
              "display": true,
              "displayName": "id",
              "id": "id",
              "readOnly": true,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Hora_recogida",
              "id": "Hora_recogida",
              "readOnly": false,
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Nombre",
              "id": "Nombre",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Telefono",
              "id": "Telefono",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Pedido",
              "id": "Pedido",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Precio_Total",
              "id": "Precio_Total",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Metodo_Pago",
              "id": "Metodo_Pago",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Metodo_Pago": "=",
            "Nombre": "=",
            "Pedido": "=",
            "Precio_Total": "=",
            "Telefono": "=",
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"
          }
        },
        "operation": "update",
        "options": {
          "typecast": true
        },
        "table": {
          "__rl": true,
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblxR9aVECNLh7SBh",
          "mode": "list",
          "value": "tblxR9aVECNLh7SBh"
        }
      },
      "position": [
        640,
        112
      ],
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-22T04:30:09.937Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-11-22T04:30:09.937Z",
      "workflowId": "VLymisJfE8Hl5FUz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T21:33:09.000Z",
  "versionId": "be4389ef-6b39-4d03-9bae-86d571c0b4d5"
}