workflows/Champions Tradicional.json
{
  "active": false,
  "activeVersion": null,
  "connections": {
    "Build Stage Pages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          },
          {
            "index": 0,
            "node": "HTTP Request - Wikipedia",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Create Competition": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Competitions",
            "type": "main"
          }
        ]
      ]
    },
    "Create Competition Season": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Competition Season",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge4",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Match Tables": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Match Rows",
            "type": "main"
          }
        ]
      ]
    },
    "Extraer Equipos Únicos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Get Aliases": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge2",
            "type": "main"
          },
          {
            "index": 2,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Competition Season": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Get Competitions": {
      "main": [
        [
          {
            "index": 0,
            "node": "If - Exists Competition",
            "type": "main"
          }
        ]
      ]
    },
    "Get Teams": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge2",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request - Wikipedia": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create Competition Season",
            "type": "main"
          }
        ]
      ]
    },
    "If - Equipos Resueltos": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge4",
            "type": "main"
          }
        ]
      ]
    },
    "If - Exists Competition": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Competition Season",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create Competition",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Preparar Match",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Match Tables",
            "type": "main"
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Resolver Home/Away IDs",
            "type": "main"
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Equipos No Añadidos",
            "type": "main"
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ]
      ]
    },
    "Normalizar": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extraer Equipos Únicos",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Match Rows": {
      "main": [
        [
          {
            "index": 0,
            "node": "Control Cantidad Partidos x Tipo",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Normalizar",
            "type": "main"
          }
        ]
      ]
    },
    "Resolver Home/Away IDs": {
      "main": [
        [
          {
            "index": 0,
            "node": "If - Equipos Resueltos",
            "type": "main"
          }
        ]
      ]
    },
    "Set Params Champions": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split Out Seasons",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Get Teams",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Get Aliases",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Get Competitions",
            "type": "main"
          }
        ]
      ]
    },
    "Set Preparar Match": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "Split Out Seasons": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Stage Pages",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Params Champions",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "xG2vnW1kn5Q2w5bh",
  "isArchived": false,
  "name": "Champions Tradicional",
  "nodes": [
    {
      "id": "69b53640-e186-4ac6-a5a3-58bf6daae8c5",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -16,
        96
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "b2f6d7f2-c85a-4bea-8a81-7b8b5e46851e",
      "name": "Set Params Champions",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82337a6a-8f72-42e0-9246-811874aead10",
              "name": "competition_code",
              "type": "string",
              "value": "ucl_old"
            },
            {
              "id": "b1c13dae-74a6-464b-a0e2-206ae0ef8c51",
              "name": "competition_name",
              "type": "string",
              "value": "UEFA Champions League"
            },
            {
              "id": "d406b77d-ab7c-450b-8f7f-c3f8bd659ab1",
              "name": "source",
              "type": "string",
              "value": "wikipedia"
            },
            {
              "id": "84fce48a-74f6-4ea5-aa3c-857890a4e0f4",
              "name": "=seasons",
              "type": "array",
              "value": "={{[\n  { label: \"2020/21\", slug: \"2020-21\" }\n]}}"
            },
            {
              "id": "366f0c06-7b60-4417-9d9a-74c0d76c72dd",
              "name": "competition_slug",
              "type": "string",
              "value": "uefa-champions-league"
            }
          ]
        },
        "options": {}
      },
      "position": [
        208,
        96
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "3c0ee750-d8b3-4abf-8d31-60b8e8c3be84",
      "name": "Split Out Seasons",
      "parameters": {
        "fieldToSplitOut": "seasons",
        "options": {}
      },
      "position": [
        416,
        96
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "f02071fb-72ea-4cc5-925c-cc2372e31dbf",
      "name": "HTTP Request - Wikipedia",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "={{\n  \"https://en.wikipedia.org/w/api.php?action=parse&page=\"\n  + encodeURIComponent($json.wiki_page)\n  + \"&format=json&prop=text\"\n}}"
      },
      "position": [
        736,
        -48
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "23f0d0cc-176d-4610-b234-9b88d8973a63",
      "name": "Extract Match Tables",
      "parameters": {
        "jsCode": "const out = [];\n\nfunction decodeHtml(str) {\n  return String(str || \"\")\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/&#160;/g, \" \")\n    .replace(/&amp;/gi, \"&\")\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&ndash;/gi, \"–\")\n    .replace(/&mdash;/gi, \"—\")\n    .replace(/&lt;/gi, \"<\")\n    .replace(/&gt;/gi, \">\");\n}\n\nfunction stripTags(str) {\n  return String(str || \"\")\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \" \")\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \" \")\n    .replace(/<sup[\\s\\S]*?<\\/sup>/gi, \" \")\n    .replace(/<[^>]+>/g, \" \");\n}\n\nfunction cleanText(str) {\n  return decodeHtml(stripTags(str)).replace(/\\s+/g, \" \").trim();\n}\n\nfunction normalizeRound(raw, stageType) {\n  const txt = cleanText(raw || \"\").toLowerCase();\n\n  if (stageType === \"group_stage\") {\n    const g = txt.match(/group\\s+([a-h])/i);\n    if (g) return `group_${g[1].toUpperCase()}`;\n    if (txt.includes(\"group stage\")) return \"group_stage\";\n    return null;\n  }\n\n  if (stageType === \"knockout_phase\") {\n    if (txt.includes(\"round of 16\")) return \"round_of_16\";\n    if (txt.includes(\"quarter-final\")) return \"quarter_finals\";\n    if (txt.includes(\"semi-final\")) return \"semi_finals\";\n    if (txt === \"final\" || txt.includes(\" final\")) return \"final\";\n    if (txt.includes(\"knockout phase\")) return \"knockout_phase\";\n    return null;\n  }\n\n  return null;\n}\n\nfunction getClosestFootballboxContext(html, start, end) {\n  const lower = html.toLowerCase();\n\n  const boxStart = lower.lastIndexOf('footballbox', start);\n  const prevDivStart = boxStart !== -1\n    ? lower.lastIndexOf('<div', boxStart)\n    : -1;\n\n  const nextBoxStart = lower.indexOf('footballbox', end + 1);\n\n  if (prevDivStart !== -1) {\n    const sliceEnd = nextBoxStart !== -1\n      ? nextBoxStart\n      : Math.min(html.length, end + 2500);\n\n    return html.slice(prevDivStart, sliceEnd);\n  }\n\n  // fallback seguro si no encontramos footballbox claro\n  return html.slice(\n    Math.max(0, start - 1200),\n    Math.min(html.length, end + 1200)\n  );\n}\n\nfor (const item of $input.all()) {\n  const html = decodeHtml(item.json.parse?.text?.[\"*\"] || \"\");\n\n  const season_label = item.json.label || item.json.season_label || null;\n  const season_slug = item.json.slug || item.json.season_slug || null;\n  const stage_type = item.json.stage_type || null;\n  const source = item.json.source || \"wikipedia\";\n\n  const tokenRegex =\n    /(<div class=\"mw-heading[\\s\\S]*?<\\/div>)|(<h[2-4][^>]*>[\\s\\S]*?<\\/h[2-4]>)|(<table[\\s\\S]*?<\\/table>)/gi;\n\n  let match;\n  let currentRound = normalizeRound(stage_type, stage_type);\n  let knockoutTables = [];\n\n  while ((match = tokenRegex.exec(html)) !== null) {\n    const token = match[0];\n    const start = match.index;\n    const end = start + token.length;\n\n    const isTable = token.toLowerCase().startsWith(\"<table\");\n    const isHeading = !isTable;\n\n    if (isHeading) {\n      const headingText = cleanText(token);\n      const detected = normalizeRound(headingText, stage_type);\n      if (detected) currentRound = detected;\n      continue;\n    }\n\n    // SOLO tablas de partido real\n    const isFevent =\n      token.includes('class=\"fevent\"') ||\n      token.includes(\"class='fevent'\");\n\n    if (!isFevent) {\n      continue;\n    }\n\n    const context_html = getClosestFootballboxContext(html, start, end);\n\n    const row = {\n      json: {\n        season_label,\n        season_slug,\n        stage_type,\n        round_hint: currentRound || null,\n        source,\n        table_html: token,\n        context_html\n      }\n    };\n\n    out.push(row);\n\n    if (stage_type === \"knockout_phase\") {\n      knockoutTables.push(row);\n    }\n  }\n\n  // parche inteligente:\n  // si estamos en knockout y no se detectó ninguna tabla como final,\n  // marcamos la última tabla útil como final\n  if (stage_type === \"knockout_phase\" && knockoutTables.length > 0) {\n    const hasFinal = knockoutTables.some(x => x.json.round_hint === \"final\");\n\n    if (!hasFinal) {\n      knockoutTables[knockoutTables.length - 1].json.round_hint = \"final\";\n    }\n  }\n}\n\nreturn out;"
      },
      "position": [
        1056,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d249641f-16b9-4271-916d-100a15c158d0",
      "name": "Parse Match Rows",
      "parameters": {
        "jsCode": "const out = [];\n\n// ---------------- helpers ----------------\nfunction decodeHtml(str) {\n  return String(str || \"\")\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/&#160;/g, \" \")\n    .replace(/&amp;/gi, \"&\")\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&ndash;/gi, \"–\")\n    .replace(/&mdash;/gi, \"—\")\n    .replace(/&lt;/gi, \"<\")\n    .replace(/&gt;/gi, \">\");\n}\n\nfunction stripTags(str) {\n  return String(str || \"\")\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \" \")\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \" \")\n    .replace(/<sup[\\s\\S]*?<\\/sup>/gi, \" \")\n    .replace(/<[^>]+>/g, \" \");\n}\n\nfunction cleanText(str) {\n  return decodeHtml(stripTags(str)).replace(/\\s+/g, \" \").trim();\n}\n\nfunction extractBlock(html, className) {\n  const re = new RegExp(\n    `<th[^>]*class=\"[^\"]*${className}[^\"]*\"[^>]*>([\\\\s\\\\S]*?)<\\\\/th>`,\n    \"i\"\n  );\n  const m = html.match(re);\n  return m ? m[1] : \"\";\n}\n\nfunction extractDate(contextHtml) {\n  const txt = cleanText(contextHtml || \"\");\n  const m = txt.match(/\\b(\\d{1,2}\\s+[A-Za-zÀ-ÿ]+\\s+\\d{4})\\b/);\n  return m ? m[1] : null;\n}\n\nfunction extractKickoffTime(contextHtml) {\n  const txt = cleanText(contextHtml || \"\");\n  const m = txt.match(/\\b(\\d{1,2}:\\d{2})\\b/);\n  return m ? m[1] : null;\n}\n\nfunction extractAttendance(contextHtml) {\n  const txt = cleanText(contextHtml || \"\");\n  const m = txt.match(/Attendance:\\s*([\\d.,]+)/i);\n  if (!m) return null;\n\n  const n = Number(\n    String(m[1])\n      .replace(/[.,](?=\\d{3}\\b)/g, \"\")\n      .replace(/[^\\d]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction extractVenue(contextHtml) {\n  const html = String(contextHtml || \"\");\n\n  const m = html.match(\n    /itemprop=\"location\"[\\s\\S]*?<span[^>]*itemprop=\"name address\"[^>]*>([\\s\\S]*?)<\\/span>/i\n  );\n\n  if (!m) {\n    return { stadium_raw: null, city_raw: null };\n  }\n\n  const venueText = cleanText(m[1]);\n  if (!venueText) {\n    return { stadium_raw: null, city_raw: null };\n  }\n\n  const parts = venueText.split(\",\").map(x => x.trim()).filter(Boolean);\n\n  if (parts.length >= 2) {\n    return {\n      stadium_raw: parts[0] || null,\n      city_raw: parts.slice(1).join(\", \") || null\n    };\n  }\n\n  return {\n    stadium_raw: venueText,\n    city_raw: null\n  };\n}\n\nfunction parseScoreMeta(scoreRaw) {\n  const scoreText = cleanText(scoreRaw || \"\");\n\n  const baseMatch = scoreText.match(/(\\d{1,2})\\s*[–-]\\s*(\\d{1,2})/);\n  if (!baseMatch) return null;\n\n  const home_score = Number(baseMatch[1]);\n  const away_score = Number(baseMatch[2]);\n\n  const lower = scoreText.toLowerCase();\n\n  const went_extra_time =\n    /\\b(a\\.?e\\.?t\\.?|after extra time|extra time|prórroga|prolongación)\\b/i.test(lower);\n\n  const went_penalties =\n    /\\b(pens?\\.?|penalties|penalty shoot-?out|on penalties|after penalties)\\b/i.test(lower);\n\n  let home_penalty_score = null;\n  let away_penalty_score = null;\n\n  // Casos típicos:\n  // 1–1 (4–3 pen.)\n  // 1–1 (4-3 pens)\n  // 1–1 (4–3 on penalties)\n  const penMatch = scoreText.match(/\\((\\d{1,2})\\s*[–-]\\s*(\\d{1,2})\\s*(?:pen\\.?|pens\\.?|penalties|on penalties)?\\)/i);\n  if (penMatch) {\n    home_penalty_score = Number(penMatch[1]);\n    away_penalty_score = Number(penMatch[2]);\n  }\n\n  let win_method = \"regular_time\";\n  if (went_penalties) {\n    win_method = \"penalties\";\n  } else if (went_extra_time) {\n    win_method = \"extra_time\";\n  }\n\n  return {\n    score_text: scoreText,\n    home_score,\n    away_score,\n    went_extra_time,\n    went_penalties,\n    home_penalty_score,\n    away_penalty_score,\n    win_method\n  };\n}\n\n// ---------------- team clean ----------------\nfunction cleanTeam(str) {\n  let s = cleanText(str);\n\n  const aliases = {\n    \"Man. City\": \"Manchester City\",\n    \"Man City\": \"Manchester City\",\n    \"Man. United\": \"Manchester United\",\n    \"Man United\": \"Manchester United\",\n    \"PSG\": \"Paris Saint-Germain\",\n    \"Inter\": \"Inter Milan\",\n    \"Milan\": \"AC Milan\",\n    \"Bayern\": \"Bayern Munich\",\n    \"Brugge\": \"Club Brugge\",\n    \"Copenhagen\": \"FC Copenhagen\",\n    \"Dinamo\": \"Dinamo Zagreb\",\n    \"Plzeň\": \"Viktoria Plzen\",\n    \"Plzen\": \"Viktoria Plzen\",\n    \"M. Haifa\": \"Maccabi Haifa\",\n    \"R. Sociedad\": \"Real Sociedad\",\n    \"Internazionale\": \"Inter Milan\",\n    \"Red Bull Salzburg\": \"Red Bull Salzburg\",\n    \"Tottenham Hotspur\": \"Tottenham Hotspur\"\n  };\n\n  s = s.replace(/[,:;.\\-–—]+$/g, \"\").trim();\n  return aliases[s] || s;\n}\n\nfunction looksValidTeam(s) {\n  if (!s) return false;\n  if (s.length < 2 || s.length > 60) return false;\n  if (/^\\d+$/.test(s)) return false;\n\n  const banned = [\n    \"Report\",\n    \"Match report\",\n    \"Goals\",\n    \"Penalty\",\n    \"Own goal\",\n    \"Group stage\",\n    \"Knockout phase\",\n    \"Top goalscorers\"\n  ];\n\n  return !banned.some(x => s.includes(x));\n}\n\n// ---------------- round helpers ----------------\nfunction normalizeRound(round, stageType) {\n  const txt = cleanText(round || \"\").toLowerCase();\n\n  if (!txt) return null;\n\n  if (stageType === \"group_stage\") {\n    const g = txt.match(/group[_\\s-]*([a-h])/i);\n    if (g) return `group_${g[1].toUpperCase()}`;\n    if (txt === \"group_stage\" || txt === \"group stage\") return \"group_stage\";\n  }\n\n  if (stageType === \"knockout_phase\") {\n    if (txt.includes(\"round of 16\") || txt.includes(\"round_of_16\")) return \"round_of_16\";\n    if (txt.includes(\"quarter-final\") || txt.includes(\"quarter_finals\")) return \"quarter_finals\";\n    if (txt.includes(\"semi-final\") || txt.includes(\"semi_finals\")) return \"semi_finals\";\n    if (txt === \"final\" || txt.endsWith(\" final\")) return \"final\";\n    if (txt === \"knockout_phase\" || txt === \"knockout phase\") return \"knockout_phase\";\n  }\n\n  return round || null;\n}\n\nfunction detectRound(contextHtml, stageType) {\n  const txt = cleanText(contextHtml || \"\").toLowerCase();\n\n  if (stageType === \"group_stage\") {\n    const groupMatch = txt.match(/group\\s+([a-h])/i);\n    if (groupMatch) return `group_${groupMatch[1].toUpperCase()}`;\n    return \"group_stage\";\n  }\n\n  if (stageType === \"knockout_phase\") {\n    if (txt.includes(\"round of 16\")) return \"round_of_16\";\n    if (txt.includes(\"quarter-final\")) return \"quarter_finals\";\n    if (txt.includes(\"semi-final\")) return \"semi_finals\";\n    if (txt.includes(\"final\")) return \"final\";\n    return \"knockout_phase\";\n  }\n\n  return null;\n}\n\n// ---------------- main ----------------\nfor (const item of $input.all()) {\n  const tableHtml = item.json.table_html || \"\";\n  const contextHtml = item.json.context_html || \"\";\n\n  if (!tableHtml.includes('class=\"fevent\"')) continue;\n\n  const homeRaw = extractBlock(tableHtml, \"fhome\");\n  const scoreRaw = extractBlock(tableHtml, \"fscore\");\n  const awayRaw = extractBlock(tableHtml, \"faway\");\n\n  if (!homeRaw || !scoreRaw || !awayRaw) continue;\n\n  const scoreMeta = parseScoreMeta(scoreRaw);\n  if (!scoreMeta) continue;\n\n  const home_team = cleanTeam(homeRaw);\n  const away_team = cleanTeam(awayRaw);\n\n  if (!looksValidTeam(home_team) || !looksValidTeam(away_team)) continue;\n  if (home_team === away_team) continue;\n\n  const rawStageType = item.json.stage_type || null;\n  const stage_type = rawStageType === \"final_only\" ? \"knockout_phase\" : rawStageType;\n\n  let round;\n\n  if (rawStageType === \"final_only\") {\n    round = \"final\";\n  } else {\n    round =\n      normalizeRound(item.json.round_hint || null, stage_type) ||\n      normalizeRound(item.json.round || null, stage_type) ||\n      detectRound(contextHtml, stage_type);\n  }\n\n  const match_date = extractDate(contextHtml);\n  const kickoff_time = extractKickoffTime(contextHtml);\n  const attendance = extractAttendance(contextHtml);\n  const venue = extractVenue(contextHtml);\n\n  out.push({\n    json: {\n      season_label: item.json.season_label || null,\n      season_slug: item.json.season_slug || null,\n      stage_type,\n      round,\n      home_team,\n      home_score: scoreMeta.home_score,\n      away_score: scoreMeta.away_score,\n      away_team,\n      match_date,\n      kickoff_time,\n      stadium_raw: venue.stadium_raw,\n      city_raw: venue.city_raw,\n      attendance,\n      went_extra_time: scoreMeta.went_extra_time,\n      went_penalties: scoreMeta.went_penalties,\n      home_penalty_score: scoreMeta.home_penalty_score,\n      away_penalty_score: scoreMeta.away_penalty_score,\n      win_method: scoreMeta.win_method,\n      score_text: scoreMeta.score_text,\n      source: item.json.source || \"wikipedia\"\n    }\n  });\n}\n\n// ---------------- dedupe ----------------\nconst seen = new Set();\nconst deduped = [];\n\nfor (const item of out) {\n  const x = item.json;\n  const key = [\n    x.season_slug || \"\",\n    x.stage_type || \"\",\n    x.round || \"\",\n    x.match_date || \"\",\n    x.kickoff_time || \"\",\n    x.home_team,\n    x.home_score,\n    x.away_score,\n    x.away_team,\n    x.home_penalty_score ?? \"\",\n    x.away_penalty_score ?? \"\"\n  ].join(\"|\");\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(item);\n}\n\nreturn deduped;"
      },
      "position": [
        1264,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ceb2f892-7aad-4b1d-9bca-03747ee441f6",
      "name": "Build Stage Pages",
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of $input.all()) {\n  const j = item.json;\n  const slug = String(j.slug || \"\");\n  const slugEnDash = slug.replace(/-/g, \"–\");\n\n  const startYear = slug.split(\"-\")[0];\n  const endYearShort = slug.split(\"-\")[1];\n  const finalYear = startYear && endYearShort\n    ? `20${endYearShort}`\n    : null;\n\n  out.push({\n    json: {\n      ...j,\n      stage_type: \"group_stage\",\n      wiki_page: `${slugEnDash}_UEFA_Champions_League_group_stage`\n    }\n  });\n\n  out.push({\n    json: {\n      ...j,\n      stage_type: \"knockout_phase\",\n      wiki_page: `${slugEnDash}_UEFA_Champions_League_knockout_phase`\n    }\n  });\n\n  if (finalYear) {\n    out.push({\n      json: {\n        ...j,\n        stage_type: \"final_only\",\n        wiki_page: `${finalYear}_UEFA_Champions_League_final`\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "position": [
        608,
        96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9d485490-2ce9-47f2-944a-40953ffa79d2",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        864,
        112
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "aeb60039-bda1-40de-91b5-6e9e765f4cf4",
      "name": "Control Cantidad Partidos x Tipo",
      "parameters": {
        "jsCode": "const counts = {};\n\nfor (const item of $input.all()) {\n  const r = item.json.round || \"unknown\";\n  counts[r] = (counts[r] || 0) + 1;\n}\n\nreturn Object.entries(counts).map(([round, total]) => ({\n  json: { round, total }\n}));"
      },
      "position": [
        1408,
        -64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "8d708b31-69df-44d2-b5aa-d09c798eb4ee",
      "name": "Normalizar",
      "parameters": {
        "jsCode": "function normalizeName(name) {\n  return String(name || \"\")\n    .trim()\n    .replace(/\\s+/g, \" \")\n    .replace(/[’']/g, \"'\")\n    .replace(/[^\\w\\s.'-]/g, \"\")\n    .trim();\n}\n\nfunction slugify(text) {\n  return String(text || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\");\n}\n\n// 🔥 alias DEFINITIVO (puedes ampliarlo luego)\nconst TEAM_ALIASES = {\n  \"Inter\": \"Inter Milan\",\n  \"Internazionale\": \"Inter Milan\",\n  \"Milan\": \"AC Milan\",\n  \"PSG\": \"Paris Saint-Germain\",\n  \"Man City\": \"Manchester City\",\n  \"Man. City\": \"Manchester City\",\n  \"Man United\": \"Manchester United\",\n  \"Man. United\": \"Manchester United\",\n  \"Bayern\": \"Bayern Munich\",\n  \"Napoli\": \"Napoli\",\n  \"Real Madrid CF\": \"Real Madrid\",\n  \"FC Barcelona\": \"Barcelona\"\n};\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  let home = normalizeName(item.json.home_team);\n  let away = normalizeName(item.json.away_team);\n\n  // aplicar alias\n  home = TEAM_ALIASES[home] || home;\n  away = TEAM_ALIASES[away] || away;\n\n  out.push({\n    json: {\n      ...item.json,\n\n      home_team: home,\n      away_team: away,\n\n      home_team_slug: slugify(home),\n      away_team_slug: slugify(away)\n    }\n  });\n}\n\nreturn out;"
      },
      "position": [
        1440,
        128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "2a96eaa7-59c1-4eb6-b261-311b13b9f402",
      "name": "Get Teams",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "teams"
      },
      "position": [
        1472,
        336
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "98add41a-a472-4fcb-91e0-0def6ab59290",
      "name": "Extraer Equipos Únicos",
      "parameters": {
        "jsCode": "const seen = new Set();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  const teams = [\n    { name: j.home_team, slug: j.home_team_slug },\n    { name: j.away_team, slug: j.away_team_slug }\n  ];\n\n  for (const t of teams) {\n    const name = String(t.name || \"\").trim();\n    const slug = String(t.slug || \"\").trim();\n\n    if (!name || !slug) continue;\n    if (seen.has(slug)) continue;\n\n    seen.add(slug);\n\n    out.push({\n      json: {\n        name,\n        slug\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "position": [
        2080,
        176
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4a6acdbe-e38d-4bbc-9966-e7a51bd08407",
      "name": "Merge2",
      "parameters": {
        "numberInputs": 3
      },
      "position": [
        2352,
        256
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "alwaysOutputData": true,
      "id": "c11dd2c9-7124-4975-90f0-237f01f11244",
      "name": "Equipos No Añadidos",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst scrapedTeams = [];\nconst dbTeams = [];\nconst dbAliases = [];\n\nfor (const item of items) {\n  const j = item.json;\n\n  // aliases\n  if (j.alias_slug) {\n    dbAliases.push(j);\n    continue;\n  }\n\n  // teams reales de BD\n  if (j.id && j.slug) {\n    dbTeams.push(j);\n    continue;\n  }\n\n  // equipos scrapeados\n  if (j.name && j.slug) {\n    scrapedTeams.push(j);\n    continue;\n  }\n}\n\nconst teamSlugs = new Set(\n  dbTeams\n    .map(t => String(t.slug || \"\").trim().toLowerCase())\n    .filter(Boolean)\n);\n\nconst aliasSlugs = new Set(\n  dbAliases\n    .map(a => String(a.alias_slug || \"\").trim().toLowerCase())\n    .filter(Boolean)\n);\n\nconst out = [];\n\nfor (const e of scrapedTeams) {\n  const slug = String(e.slug || \"\").trim().toLowerCase();\n  if (!slug) continue;\n\n  const existsInTeams = teamSlugs.has(slug);\n  const existsInAliases = aliasSlugs.has(slug);\n\n  if (!existsInTeams && !existsInAliases) {\n    out.push({ json: e });\n  }\n}\n\nreturn out;"
      },
      "position": [
        2560,
        272
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "0acfbd55-c3d6-48af-8ab4-6259d3c41c5a",
      "name": "Get Aliases",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "team_aliases"
      },
      "position": [
        1472,
        528
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "a6badb8a-ed05-4d53-bceb-8267a16331b8",
      "name": "Resolver Home/Away IDs",
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst matches = [];\nconst dbTeams = [];\nconst dbAliases = [];\n\n// Separar tipos de items\nfor (const item of items) {\n  const j = item.json;\n\n  // aliases\n  if (j.alias_slug) {\n    dbAliases.push(j);\n    continue;\n  }\n\n  // teams reales\n  if (j.id && j.slug && j.name) {\n    dbTeams.push(j);\n    continue;\n  }\n\n  // matches normalizados\n  if (\n    j.home_team &&\n    j.away_team &&\n    Object.prototype.hasOwnProperty.call(j, \"home_score\") &&\n    Object.prototype.hasOwnProperty.call(j, \"away_score\")\n  ) {\n    matches.push(j);\n    continue;\n  }\n}\n\n// Mapas rápidos\nconst teamBySlug = new Map();\nfor (const t of dbTeams) {\n  const slug = String(t.slug || \"\").trim().toLowerCase();\n  if (!slug) continue;\n  teamBySlug.set(slug, t);\n}\n\nconst teamIdByAliasSlug = new Map();\nfor (const a of dbAliases) {\n  const aliasSlug = String(a.alias_slug || \"\").trim().toLowerCase();\n  if (!aliasSlug) continue;\n  teamIdByAliasSlug.set(aliasSlug, a.team_id);\n}\n\n// Resolver equipo por slug\nfunction resolveTeam(slug) {\n  const s = String(slug || \"\").trim().toLowerCase();\n  if (!s) {\n    return {\n      id: null,\n      found: false,\n      via: null,\n    };\n  }\n\n  const directTeam = teamBySlug.get(s);\n  if (directTeam) {\n    return {\n      id: directTeam.id,\n      found: true,\n      via: \"teams\",\n    };\n  }\n\n  const aliasTeamId = teamIdByAliasSlug.get(s);\n  if (aliasTeamId) {\n    return {\n      id: aliasTeamId,\n      found: true,\n      via: \"aliases\",\n    };\n  }\n\n  return {\n    id: null,\n    found: false,\n    via: null,\n  };\n}\n\nconst out = [];\n\nfor (const m of matches) {\n  const home = resolveTeam(m.home_team_slug);\n  const away = resolveTeam(m.away_team_slug);\n\n  out.push({\n    json: {\n      ...m,\n      home_team_id: home.id,\n      away_team_id: away.id,\n      home_team_found: home.found,\n      away_team_found: away.found,\n      home_team_resolved_via: home.via,\n      away_team_resolved_via: away.via,\n      teams_resolved_ok: home.found && away.found,\n    }\n  });\n}\n\nreturn out;"
      },
      "position": [
        1968,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "699967f8-1ad0-4e4c-9c10-13382f1a8801",
      "name": "Merge1",
      "parameters": {
        "numberInputs": 3
      },
      "position": [
        1760,
        -16
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "27d4b294-1739-45c7-a0c0-6c107f2ae954",
      "name": "If - Equipos Resueltos",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d709da60-9d27-4db4-bcfa-095d52628303",
              "leftValue": "home_team_id",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            },
            {
              "id": "4f2adaeb-8552-4dcd-a1b9-32d0ec42ce53",
              "leftValue": "away_team_id",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        2160,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "385e0a95-67e7-44f9-83c0-896643535950",
      "name": "Set Preparar Match",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca594af9-a451-4397-842c-17addc7123e1",
              "name": "home_team_id",
              "type": "string",
              "value": "={{$json.home_team_id}}"
            },
            {
              "id": "b63f4ff6-de18-4bf8-aef9-2be36186992f",
              "name": "=away_team_id",
              "type": "string",
              "value": "={{$json.away_team_id}}"
            },
            {
              "id": "aa975ed3-3182-4fbb-8a18-8e00c97b8db3",
              "name": "home_score",
              "type": "number",
              "value": "={{ $json.home_score }}"
            },
            {
              "id": "856fab1f-1883-4112-abed-56726d102ebf",
              "name": "away_score",
              "type": "number",
              "value": "={{ $json.away_score }}"
            },
            {
              "id": "453c3821-e55a-403d-895c-98630585910e",
              "name": "source",
              "type": "string",
              "value": "={{ $json.source }}"
            },
            {
              "id": "cd39b155-e9e9-4294-a497-63d2571ac7bc",
              "name": "competition_id",
              "type": "string",
              "value": "={{ $json.competition_id }}"
            },
            {
              "id": "7a2a626c-5d27-4fc6-a5d5-f9dd8f449bef",
              "name": "competition_season_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "4e5379c2-8163-400a-801d-d4e8fbc3234d",
              "name": "season",
              "type": "string",
              "value": "={{ $json.season_label }}"
            },
            {
              "id": "2ce9305d-c5d5-4faa-860f-15bb4d10722b",
              "name": "stage",
              "type": "string",
              "value": "={{ $json.round }}"
            },
            {
              "id": "000531e9-0e2f-4144-a768-6dc608a6c0a0",
              "name": "status",
              "type": "string",
              "value": "finished"
            },
            {
              "id": "010a0de8-1173-4809-830c-7f93bc640cca",
              "name": "=source_id",
              "type": "string",
              "value": "={{ $json.source_id }}"
            },
            {
              "id": "919bd0c1-a776-4fd1-9afd-e6fcaa61babf",
              "name": "attendance",
              "type": "number",
              "value": "={{ $json.attendance }}"
            },
            {
              "id": "fb759261-5395-40cb-9d04-a213aaab8911",
              "name": "match_date",
              "type": "string",
              "value": "={{ $json.match_date }}"
            },
            {
              "id": "84dde1e3-92f4-48d4-b4e0-634099822dff",
              "name": "kickoff_time",
              "type": "string",
              "value": "={{ $json.kickoff_time }}"
            },
            {
              "id": "0f2fd6c8-5655-490a-8668-1498818cbb4a",
              "name": "stadium_raw",
              "type": "string",
              "value": "={{ $json.stadium_raw }}"
            },
            {
              "id": "832b91e3-9a78-49a4-9efa-963b49460473",
              "name": "city_raw",
              "type": "string",
              "value": "={{ $json.city_raw }}"
            },
            {
              "id": "b546e423-81f9-4881-b833-b9302b511499",
              "name": "round",
              "type": "string",
              "value": "={{ $json.round }}"
            },
            {
              "id": "1e2de73e-625f-4e4b-b4d2-9bcfdf3102f6",
              "name": "season_slug",
              "type": "string",
              "value": "={{ $json.season_slug }}"
            },
            {
              "id": "648cc435-5dba-483d-aa1b-8ab73014d341",
              "name": "source_id",
              "type": "string",
              "value": "={{ [\n  $json.source || 'wikipedia',\n  $json.competition_id || '',\n  $json.competition_season_id || '',\n  $json.season || '',\n  $json.round || '',\n  $json.match_date || '',\n  $json.kickoff_time || '',\n  $json.home_team_id || '',\n  $json.away_team_id || ''\n].join('_') }}"
            },
            {
              "id": "39c96e43-6c8c-455e-aaf0-c963423c089e",
              "name": "went_extra_time",
              "type": "string",
              "value": "={{ $json.went_extra_time }}"
            },
            {
              "id": "a1a57488-c5d3-4965-af3a-af8adafebe19",
              "name": "went_penalties",
              "type": "boolean",
              "value": "={{ $json.went_penalties }}"
            },
            {
              "id": "0d01b83c-77e7-4887-b9a0-017a4fe74426",
              "name": "home_penalty_score",
              "type": "string",
              "value": "={{ $json.home_penalty_score }}"
            },
            {
              "id": "73a10c0a-dfe2-4761-b20b-fb0931b9cbab",
              "name": "away_penalty_score",
              "type": "string",
              "value": "={{ $json.away_penalty_score }}"
            },
            {
              "id": "f8a3913e-6dd8-4d74-8893-3a7b4d6c8616",
              "name": "win_method",
              "type": "string",
              "value": "={{ $json.win_method }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3088,
        -304
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "disabled": true,
      "executeOnce": false,
      "id": "03a5e932-722f-428c-b909-90e80e6b1c99",
      "name": "HTTP Request",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "nodeCredentialType": "supabaseApi",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://scmytuehzrdyjsxzmujv.supabase.co/rest/v1/matches?on_conflict=source_id"
      },
      "position": [
        3264,
        -224
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "1ddfc302-c3ee-451a-b148-e6822ed363db",
      "name": "Get Competitions",
      "parameters": {
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "slug",
              "keyValue": "={{ $json.competition_slug }}"
            },
            {
              "condition": "eq",
              "keyName": "name",
              "keyValue": "={{ $json.competition_name }}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "getAll",
        "returnAll": true,
        "tableId": "competitions"
      },
      "position": [
        416,
        -320
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "bd4fe03e-08be-44cc-9cda-7cd6e72f1516",
      "name": "If - Exists Competition",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "87a6ef84-8b4d-4eee-a0ab-f1066c86d82f",
              "leftValue": "id",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        640,
        -320
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "5b26be59-bd05-4a97-bca0-a1ecafe5c371",
      "name": "Create Competition",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.competition_name }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ $json.competition_name.toLowerCase().replace(/\\s+/g, \"-\") }}"
            },
            {
              "fieldId": "competition_type",
              "fieldValue": "international"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "source_id",
              "fieldValue": "={{ $json.competition_code }}"
            }
          ]
        },
        "tableId": "competitions"
      },
      "position": [
        1072,
        -272
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "a5102888-bc7a-431e-b69d-8fa46db4388b",
      "name": "Get Competition Season",
      "onError": "continueRegularOutput",
      "parameters": {
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "competition_id",
              "keyValue": "={{ $json.id }}"
            },
            {
              "condition": "eq",
              "keyName": "season_label",
              "keyValue": "={{ $('Set Params Champions').item.json.seasons[0].label }}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "getAll",
        "tableId": "competition_seasons"
      },
      "position": [
        1040,
        -576
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "4c7ef482-427b-42a6-a490-23adf6c7de83",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f66a84e0-96a4-4432-89a3-c7b94bd200a4",
              "leftValue": "={{$json.id ?? ''}}",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        1232,
        -576
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "dd81f929-2ea0-4134-9fdf-fcfb0954e259",
      "name": "Create Competition Season",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "season_label",
              "fieldValue": "={{ $('Set Params Champions').item.json.seasons[0].label }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "is_current",
              "fieldValue": "false"
            },
            {
              "fieldId": "competition_id",
              "fieldValue": "f09df076-13f0-4a74-94d3-51232e5b8b71"
            }
          ]
        },
        "tableId": "competition_seasons"
      },
      "position": [
        1632,
        -496
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "491d9025-a36e-4263-9905-fb8d10bcecdc",
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e0248e14-cf08-4525-9363-030cdace4b1b",
              "leftValue": "={{ $json.home_team_found }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": false
            },
            {
              "id": "57c57f5b-fda0-42a6-a612-3c91302f1692",
              "leftValue": "={{ $json.away_team_found }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        2864,
        -208
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "78bf17f0-0f6e-48fd-a410-1bee006b5d46",
      "name": "Code in JavaScript",
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst seasonMeta = items.find(item => item.json.kind === 'season_meta');\nconst matches = items.filter(item => item.json.kind !== 'season_meta');\n\nif (!seasonMeta) {\n  throw new Error('No llegó season_meta');\n}\n\nreturn matches.map(item => ({\n  json: {\n    ...item.json,\n    competition_id: seasonMeta.json.competition_id,\n    competition_season_id: seasonMeta.json.id,\n    season: seasonMeta.json.season_label\n  }\n}));"
      },
      "position": [
        2656,
        -208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0ab535b0-b185-48a1-937a-9ffb95e7c2a4",
      "name": "Merge4",
      "parameters": {},
      "position": [
        2480,
        -208
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "304dda4a-e7fb-436a-8429-31b261b26140",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00cb9d7a-da46-42a6-bce7-80aaf9072a9a",
              "name": "kind",
              "type": "string",
              "value": "season_meta"
            },
            {
              "id": "0db2c286-c674-406c-8dcc-ecea4690d28b",
              "name": "",
              "type": "string",
              "value": ""
            },
            {
              "id": "043054f6-d2e5-4b48-a5bc-3065aefe3b99",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "7b7c5ced-5e72-422f-9371-84c55b9039be",
              "name": "competition_id",
              "type": "string",
              "value": "={{ $json.competition_id }}"
            },
            {
              "id": "c4319725-3712-4217-9f40-fb5a9a29eb13",
              "name": "season_label",
              "type": "string",
              "value": "={{ $json.season_label }}"
            },
            {
              "id": "bcfb8932-e7e2-4e24-be85-33e19d9f0c42",
              "name": "is_current",
              "type": "boolean",
              "value": "={{ $json.is_current }}"
            },
            {
              "id": "0b9f1807-dd24-44da-b1fc-8522d920b96e",
              "name": "created_at",
              "type": "string",
              "value": "={{ $json.created_at }}"
            },
            {
              "id": "14ddb352-5711-47fb-90e2-e5b8194915ab",
              "name": "updated_at",
              "type": "string",
              "value": "={{ $json.updated_at }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1968,
        -592
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": []
}