workflows/Comprobar_pedido.json
{
  "active": true,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Buscar cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar_Horas_Disponibles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "node": "Code js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code js": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-22T03:20:00.090Z",
  "id": "w5Yfk027JrRJE3n1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Comprobar_pedido",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modificar_pedido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        16
      ],
      "id": "bd6fa451-5a08-46bc-aba5-1e2d7fe7f945",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec03870a-5897-452d-9d55-a0fe08736901",
              "name": "Hora_recogida",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora_recogida }}",
              "type": "string"
            },
            {
              "id": "464d7f2b-9f8c-42f9-bbe5-b3c1095c5b19",
              "name": "Nombre",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        16
      ],
      "id": "38348613-2809-4231-af4a-16e33c40925b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nombre: {{ $json.coincidencias[0].Nombre }}\nHora_recogida:{{ $json.coincidencias[0].Hora_recogida }}",
        "options": {
          "systemMessage": "Eres un asistente para un restaurante que gestiona pedidos para recoger.\n\nRecibirás del nodo anterior un JSON con:\n- \"coincide\": true o false\n- \"hora\": hora pedida por el cliente\n- \"nombre\": nombre del cliente\n- \"coincidencias\": lista con el pedido encontrado (si existe). Usa siempre coincidencias[0].\n\nTU OBJETIVO:\n\n1. Si \"coincide\" es true:\n    - Confirma claramente que SÍ existe un pedido registrado para ese nombre y esa hora.\n    - Resume el pedido de forma natural:\n      - Nombre\n      - Hora de recogida\n      - Detalle del pedido\n      - Precio total\n      - Método de pago\n    - Después del resumen, SIEMPRE explica al cliente, en lenguaje natural, que tiene estas posibilidades:\n      - Puede dejar el pedido tal y como está.\n      - Puede CAMBIAR la hora de recogida.\n      - Puede CANCELAR el pedido.\n      - Puede MODIFICAR el pedido añadiendo o quitando productos.\n\n      No uses números tipo “1) 2) 3)”, simplemente explícalo en texto, por ejemplo:\n      “Si quieres, podemos dejar el pedido como está, cambiar la hora, cancelarlo o modificarlo añadiendo o quitando productos. Dime qué prefieres.”\n\n2. Si \"coincide\" es false:\n    - Indica que no hay ningún pedido para ese nombre y esa hora.\n    - No menciones términos técnicos como “JSON”, “booleano”, “campo coincide”, etc.\n    - Ofrece ayuda para:\n        - Crear un pedido nuevo.\n        - Probar con otra hora.\n        - Verificar si el nombre u hora son correctos.\n\nREGLAS:\n- Habla siempre en tono amable, claro y cercano.\n- Nunca menciones la estructura técnica de los datos, solo la información útil para el cliente.\n- Si hay un pedido encontrado, usa siempre coincidencias[0] como el pedido actual.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        16
      ],
      "id": "af8ad119-aa4d-4b66-b93d-80ada6a48b24",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        624,
        192
      ],
      "id": "e566ee46-b233-4ce5-a006-d4fed15e629d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  results: [\n    {\n      toolCallId: $node[\"Webhook\"].json.body.message.toolCallList[0].id,\n      result: $json.output,\n    },\n  ],\n}) }}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        16
      ],
      "id": "d57782b9-d5d4-4571-9bfd-8809206986b5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta para verificar horas disponibles",
        "workflowId": {
          "__rl": true,
          "value": "uCBzDkAIRP6wbKZ6",
          "mode": "list",
          "cachedResultUrl": "/workflow/uCBzDkAIRP6wbKZ6",
          "cachedResultName": "Verificar_Horas_Disponibles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        192
      ],
      "id": "5ea55512-11d7-405d-b291-10ab16f57db9",
      "name": "Verificar_Horas_Disponibles"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwsWKteRjGM6oKu",
          "mode": "list",
          "cachedResultName": "reservas_restaurante_profesional.csv",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu"
        },
        "table": {
          "__rl": true,
          "value": "tblxR9aVECNLh7SBh",
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblxR9aVECNLh7SBh"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        320,
        16
      ],
      "id": "e4d7e642-00c8-43df-a2da-c17bf3e9544e",
      "name": "Buscar cliente",
      "credentials": {
        "airtableTokenApi": {
          "id": "xo9Z42x9DIHItt7m",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Paso 1: Obtener los datos del cliente desde el nodo 'Edit Fields'\nconst cliente = $('Edit Fields').first().json;\n\n// Función para normalizar el nombre (quitar tildes y pasar a minúsculas)\nfunction normalizarNombre(str) {\n  if (!str) return '';\n  return str\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')              // separa letras y tildes\n    .replace(/[\\u0300-\\u036f]/g, ''); // elimina las tildes\n}\n\n// Tus campos reales\nconst horaCliente = cliente.Hora_recogida?.trim();\nconst nombreCliente = normalizarNombre(cliente.Nombre);\n\n// Si no llegan datos, devolvemos algo para que no pete el flujo\nif (!horaCliente || !nombreCliente) {\n  return [{\n    json: {\n      coincide: false,\n      motivo: 'Faltan datos del cliente',\n    },\n  }];\n}\n\n// Paso 2: Obtener todos los registros de Airtable (salida de \"Buscar cliente\")\nconst registros = $input.all();\n\n// Paso 3: Buscar coincidencias por nombre + hora_recogida\nconst coincidencias = registros.filter(item => {\n  const r = item.json || {};\n\n  const hora = r.Hora_recogida?.trim();\n  const nombre = normalizarNombre(r.Nombre);\n\n  return hora === horaCliente && nombre === nombreCliente;\n});\n\n// Paso 4: Devolver resultado (true/false y, si quieres, las coincidencias)\nreturn [{\n  json: {\n    coincide: coincidencias.length > 0,\n    hora: horaCliente,\n    nombre: nombreCliente,\n    // opcional: ver qué ha encontrado\n    coincidencias: coincidencias.map(i => i.json),\n  },\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        16
      ],
      "id": "9e772838-d334-40e6-af46-c95d89e85e75",
      "name": "Code js"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b06daf0e-3957-4b6e-9795-888996dcea77",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        16
      ],
      "id": "35982b62-ac1d-4697-9c8e-e28e7b53b2f4",
      "name": "Webhook",
      "webhookId": "b06daf0e-3957-4b6e-9795-888996dcea77"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-22T03:20:00.095Z",
      "createdAt": "2025-11-22T03:20:00.095Z",
      "role": "workflow:owner",
      "workflowId": "w5Yfk027JrRJE3n1",
      "projectId": "4uSls6g8LWC7Ie72"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T21:40:07.000Z",
  "versionId": "a565e266-aba6-4137-aee4-07900e307d21"
}