workflows/Comprobar_pedido.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond to Webhook",
              "type": "main"
            }
          ]
        ]
      },
      "Buscar cliente": {
        "main": [
          [
            {
              "index": 0,
              "node": "Code js",
              "type": "main"
            }
          ]
        ]
      },
      "Code js": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "index": 0,
              "node": "Buscar cliente",
              "type": "main"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "index": 0,
              "node": "Edit Fields",
              "type": "main"
            }
          ]
        ]
      },
      "Verificar_Horas_Disponibles": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Switch",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-07T00:37:51.230Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "bd6fa451-5a08-46bc-aba5-1e2d7fe7f945",
        "name": "Switch",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                      "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                      "operator": {
                        "operation": "exists",
                        "singleValue": true,
                        "type": "string"
                      },
                      "rightValue": ""
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Modificar_pedido",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          -16,
          16
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3
      },
      {
        "id": "38348613-2809-4231-af4a-16e33c40925b",
        "name": "Edit Fields",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ec03870a-5897-452d-9d55-a0fe08736901",
                "name": "Hora_recogida",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora_recogida }}"
              },
              {
                "id": "464d7f2b-9f8c-42f9-bbe5-b3c1095c5b19",
                "name": "Nombre",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
              }
            ]
          },
          "options": {}
        },
        "position": [
          160,
          16
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "af8ad119-aa4d-4b66-b93d-80ada6a48b24",
        "name": "AI Agent",
        "parameters": {
          "options": {
            "systemMessage": "Eres un asistente para un restaurante que gestiona pedidos para recoger.\n\nRecibirás del nodo anterior un JSON con:\n- \"coincide\": true o false\n- \"hora\": hora pedida por el cliente\n- \"nombre\": nombre del cliente\n- \"coincidencias\": lista con el pedido encontrado (si existe). Usa siempre coincidencias[0].\n\nTU OBJETIVO:\n\n1. Si \"coincide\" es true:\n    - Confirma claramente que SÍ existe un pedido registrado para ese nombre y esa hora.\n    - Resume el pedido de forma natural:\n      - Nombre\n      - Hora de recogida\n      - Detalle del pedido\n      - Precio total\n      - Método de pago\n    - Después del resumen, SIEMPRE explica al cliente, en lenguaje natural, que tiene estas posibilidades:\n      - Puede dejar el pedido tal y como está.\n      - Puede CAMBIAR la hora de recogida.\n      - Puede CANCELAR el pedido.\n      - Puede MODIFICAR el pedido añadiendo o quitando productos.\n\n      No uses números tipo “1) 2) 3)”, simplemente explícalo en texto, por ejemplo:\n      “Si quieres, podemos dejar el pedido como está, cambiar la hora, cancelarlo o modificarlo añadiendo o quitando productos. Dime qué prefieres.”\n\n2. Si \"coincide\" es false:\n    - Indica que no hay ningún pedido para ese nombre y esa hora.\n    - No menciones términos técnicos como “JSON”, “booleano”, “campo coincide”, etc.\n    - Ofrece ayuda para:\n        - Crear un pedido nuevo.\n        - Probar con otra hora.\n        - Verificar si el nombre u hora son correctos.\n\nREGLAS:\n- Habla siempre en tono amable, claro y cercano.\n- Nunca menciones la estructura técnica de los datos, solo la información útil para el cliente.\n- Si hay un pedido encontrado, usa siempre coincidencias[0] como el pedido actual.\n"
          },
          "promptType": "define",
          "text": "=Nombre: {{ $json.coincidencias[0].Nombre }}\nHora_recogida:{{ $json.coincidencias[0].Hora_recogida }}"
        },
        "position": [
          672,
          16
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "e566ee46-b233-4ce5-a006-d4fed15e629d",
        "name": "OpenAI Chat Model",
        "parameters": {
          "builtInTools": {},
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "position": [
          624,
          192
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3
      },
      {
        "id": "d57782b9-d5d4-4571-9bfd-8809206986b5",
        "name": "Respond to Webhook",
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  results: [\n    {\n      toolCallId: $node[\"Webhook\"].json.body.message.toolCallList[0].id,\n      result: $json.output,\n    },\n  ],\n}) }}\n"
        },
        "position": [
          960,
          16
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4
      },
      {
        "id": "5ea55512-11d7-405d-b291-10ab16f57db9",
        "name": "Verificar_Horas_Disponibles",
        "parameters": {
          "description": "Llama a esta herramienta para verificar horas disponibles",
          "workflowId": {
            "__rl": true,
            "cachedResultName": "Verificar_Horas_Disponibles",
            "cachedResultUrl": "/workflow/uCBzDkAIRP6wbKZ6",
            "mode": "list",
            "value": "uCBzDkAIRP6wbKZ6"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          }
        },
        "position": [
          816,
          192
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "credentials": {
          "airtableTokenApi": {
            "id": "xo9Z42x9DIHItt7m",
            "name": "Airtable Personal Access Token account"
          }
        },
        "id": "e4d7e642-00c8-43df-a2da-c17bf3e9544e",
        "name": "Buscar cliente",
        "parameters": {
          "base": {
            "__rl": true,
            "cachedResultName": "reservas_restaurante_profesional.csv",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
            "mode": "list",
            "value": "appwsWKteRjGM6oKu"
          },
          "operation": "search",
          "options": {},
          "table": {
            "__rl": true,
            "cachedResultName": "Pedidos",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblxR9aVECNLh7SBh",
            "mode": "list",
            "value": "tblxR9aVECNLh7SBh"
          }
        },
        "position": [
          320,
          16
        ],
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1
      },
      {
        "id": "9e772838-d334-40e6-af46-c95d89e85e75",
        "name": "Code js",
        "parameters": {
          "jsCode": "// Paso 1: Obtener los datos del cliente desde el nodo 'Edit Fields'\nconst cliente = $('Edit Fields').first().json;\n\n// Función para normalizar el nombre (quitar tildes y pasar a minúsculas)\nfunction normalizarNombre(str) {\n  if (!str) return '';\n  return str\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')              // separa letras y tildes\n    .replace(/[\\u0300-\\u036f]/g, ''); // elimina las tildes\n}\n\n// Tus campos reales\nconst horaCliente = cliente.Hora_recogida?.trim();\nconst nombreCliente = normalizarNombre(cliente.Nombre);\n\n// Si no llegan datos, devolvemos algo para que no pete el flujo\nif (!horaCliente || !nombreCliente) {\n  return [{\n    json: {\n      coincide: false,\n      motivo: 'Faltan datos del cliente',\n    },\n  }];\n}\n\n// Paso 2: Obtener todos los registros de Airtable (salida de \"Buscar cliente\")\nconst registros = $input.all();\n\n// Paso 3: Buscar coincidencias por nombre + hora_recogida\nconst coincidencias = registros.filter(item => {\n  const r = item.json || {};\n\n  const hora = r.Hora_recogida?.trim();\n  const nombre = normalizarNombre(r.Nombre);\n\n  return hora === horaCliente && nombre === nombreCliente;\n});\n\n// Paso 4: Devolver resultado (true/false y, si quieres, las coincidencias)\nreturn [{\n  json: {\n    coincide: coincidencias.length > 0,\n    hora: horaCliente,\n    nombre: nombreCliente,\n    // opcional: ver qué ha encontrado\n    coincidencias: coincidencias.map(i => i.json),\n  },\n}];\n\n"
        },
        "position": [
          496,
          16
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "35982b62-ac1d-4697-9c8e-e28e7b53b2f4",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "b06daf0e-3957-4b6e-9795-888996dcea77",
          "responseMode": "responseNode"
        },
        "position": [
          -208,
          16
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "b06daf0e-3957-4b6e-9795-888996dcea77"
      }
    ],
    "updatedAt": "2025-12-07T00:37:51.230Z",
    "versionId": "a565e266-aba6-4137-aee4-07900e307d21",
    "workflowId": "w5Yfk027JrRJE3n1"
  },
  "activeVersionId": "a565e266-aba6-4137-aee4-07900e307d21",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code js",
            "type": "main"
          }
        ]
      ]
    },
    "Code js": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Buscar cliente",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Verificar_Horas_Disponibles": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-22T03:20:00.090Z",
  "id": "w5Yfk027JrRJE3n1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Comprobar_pedido",
  "nodes": [
    {
      "id": "bd6fa451-5a08-46bc-aba5-1e2d7fe7f945",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "operator": {
                      "operation": "exists",
                      "singleValue": true,
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Modificar_pedido",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -16,
        16
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "id": "38348613-2809-4231-af4a-16e33c40925b",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec03870a-5897-452d-9d55-a0fe08736901",
              "name": "Hora_recogida",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora_recogida }}"
            },
            {
              "id": "464d7f2b-9f8c-42f9-bbe5-b3c1095c5b19",
              "name": "Nombre",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        160,
        16
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "af8ad119-aa4d-4b66-b93d-80ada6a48b24",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "Eres un asistente para un restaurante que gestiona pedidos para recoger.\n\nRecibirás del nodo anterior un JSON con:\n- \"coincide\": true o false\n- \"hora\": hora pedida por el cliente\n- \"nombre\": nombre del cliente\n- \"coincidencias\": lista con el pedido encontrado (si existe). Usa siempre coincidencias[0].\n\nTU OBJETIVO:\n\n1. Si \"coincide\" es true:\n    - Confirma claramente que SÍ existe un pedido registrado para ese nombre y esa hora.\n    - Resume el pedido de forma natural:\n      - Nombre\n      - Hora de recogida\n      - Detalle del pedido\n      - Precio total\n      - Método de pago\n    - Después del resumen, SIEMPRE explica al cliente, en lenguaje natural, que tiene estas posibilidades:\n      - Puede dejar el pedido tal y como está.\n      - Puede CAMBIAR la hora de recogida.\n      - Puede CANCELAR el pedido.\n      - Puede MODIFICAR el pedido añadiendo o quitando productos.\n\n      No uses números tipo “1) 2) 3)”, simplemente explícalo en texto, por ejemplo:\n      “Si quieres, podemos dejar el pedido como está, cambiar la hora, cancelarlo o modificarlo añadiendo o quitando productos. Dime qué prefieres.”\n\n2. Si \"coincide\" es false:\n    - Indica que no hay ningún pedido para ese nombre y esa hora.\n    - No menciones términos técnicos como “JSON”, “booleano”, “campo coincide”, etc.\n    - Ofrece ayuda para:\n        - Crear un pedido nuevo.\n        - Probar con otra hora.\n        - Verificar si el nombre u hora son correctos.\n\nREGLAS:\n- Habla siempre en tono amable, claro y cercano.\n- Nunca menciones la estructura técnica de los datos, solo la información útil para el cliente.\n- Si hay un pedido encontrado, usa siempre coincidencias[0] como el pedido actual.\n"
        },
        "promptType": "define",
        "text": "=Nombre: {{ $json.coincidencias[0].Nombre }}\nHora_recogida:{{ $json.coincidencias[0].Hora_recogida }}"
      },
      "position": [
        672,
        16
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "e566ee46-b233-4ce5-a006-d4fed15e629d",
      "name": "OpenAI Chat Model",
      "parameters": {
        "builtInTools": {},
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "position": [
        624,
        192
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3
    },
    {
      "id": "d57782b9-d5d4-4571-9bfd-8809206986b5",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  results: [\n    {\n      toolCallId: $node[\"Webhook\"].json.body.message.toolCallList[0].id,\n      result: $json.output,\n    },\n  ],\n}) }}\n"
      },
      "position": [
        960,
        16
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "id": "5ea55512-11d7-405d-b291-10ab16f57db9",
      "name": "Verificar_Horas_Disponibles",
      "parameters": {
        "description": "Llama a esta herramienta para verificar horas disponibles",
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Verificar_Horas_Disponibles",
          "cachedResultUrl": "/workflow/uCBzDkAIRP6wbKZ6",
          "mode": "list",
          "value": "uCBzDkAIRP6wbKZ6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "position": [
        816,
        192
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "xo9Z42x9DIHItt7m",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "e4d7e642-00c8-43df-a2da-c17bf3e9544e",
      "name": "Buscar cliente",
      "parameters": {
        "base": {
          "__rl": true,
          "cachedResultName": "reservas_restaurante_profesional.csv",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
          "mode": "list",
          "value": "appwsWKteRjGM6oKu"
        },
        "operation": "search",
        "options": {},
        "table": {
          "__rl": true,
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblxR9aVECNLh7SBh",
          "mode": "list",
          "value": "tblxR9aVECNLh7SBh"
        }
      },
      "position": [
        320,
        16
      ],
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1
    },
    {
      "id": "9e772838-d334-40e6-af46-c95d89e85e75",
      "name": "Code js",
      "parameters": {
        "jsCode": "// Paso 1: Obtener los datos del cliente desde el nodo 'Edit Fields'\nconst cliente = $('Edit Fields').first().json;\n\n// Función para normalizar el nombre (quitar tildes y pasar a minúsculas)\nfunction normalizarNombre(str) {\n  if (!str) return '';\n  return str\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')              // separa letras y tildes\n    .replace(/[\\u0300-\\u036f]/g, ''); // elimina las tildes\n}\n\n// Tus campos reales\nconst horaCliente = cliente.Hora_recogida?.trim();\nconst nombreCliente = normalizarNombre(cliente.Nombre);\n\n// Si no llegan datos, devolvemos algo para que no pete el flujo\nif (!horaCliente || !nombreCliente) {\n  return [{\n    json: {\n      coincide: false,\n      motivo: 'Faltan datos del cliente',\n    },\n  }];\n}\n\n// Paso 2: Obtener todos los registros de Airtable (salida de \"Buscar cliente\")\nconst registros = $input.all();\n\n// Paso 3: Buscar coincidencias por nombre + hora_recogida\nconst coincidencias = registros.filter(item => {\n  const r = item.json || {};\n\n  const hora = r.Hora_recogida?.trim();\n  const nombre = normalizarNombre(r.Nombre);\n\n  return hora === horaCliente && nombre === nombreCliente;\n});\n\n// Paso 4: Devolver resultado (true/false y, si quieres, las coincidencias)\nreturn [{\n  json: {\n    coincide: coincidencias.length > 0,\n    hora: horaCliente,\n    nombre: nombreCliente,\n    // opcional: ver qué ha encontrado\n    coincidencias: coincidencias.map(i => i.json),\n  },\n}];\n\n"
      },
      "position": [
        496,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "35982b62-ac1d-4697-9c8e-e28e7b53b2f4",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "b06daf0e-3957-4b6e-9795-888996dcea77",
        "responseMode": "responseNode"
      },
      "position": [
        -208,
        16
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "b06daf0e-3957-4b6e-9795-888996dcea77"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-22T03:20:00.095Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-11-22T03:20:00.095Z",
      "workflowId": "w5Yfk027JrRJE3n1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T21:40:07.000Z",
  "versionId": "a565e266-aba6-4137-aee4-07900e307d21"
}