workflows/Comprobar_mesa.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond to Webhook",
              "type": "main"
            }
          ]
        ]
      },
      "Airtable - Buscar cliente": {
        "main": [
          [
            {
              "index": 0,
              "node": "Code in JavaScript",
              "type": "main"
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "index": 0,
              "node": "Airtable - Buscar cliente",
              "type": "main"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "index": 0,
              "node": "Edit Fields",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Switch",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-07T00:37:51.230Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "9bdc9887-6228-489b-9163-b1cd7b672089",
        "name": "Switch",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                      "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                      "operator": {
                        "operation": "exists",
                        "singleValue": true,
                        "type": "string"
                      },
                      "rightValue": ""
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Comprobar_Mesa",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          16,
          -32
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3
      },
      {
        "id": "fc51b6c8-dafd-4d30-9add-8204835d06cf",
        "name": "Edit Fields",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ec03870a-5897-452d-9d55-a0fe08736901",
                "name": "Hora",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora }}"
              },
              {
                "id": "8687fe98-fb82-4959-8dd3-3c9abb849383",
                "name": "Fecha",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Fecha }}"
              },
              {
                "id": "99a75194-1b82-409e-b8be-5fa0e95a3a64",
                "name": "Nombre",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
              }
            ]
          },
          "options": {}
        },
        "position": [
          224,
          -32
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "939e18bf-81c8-4a2d-aa89-2adcafa9b3a1",
        "name": "AI Agent",
        "parameters": {
          "options": {
            "systemMessage": "=Tienes que decirle al cliente que si existe una mesa o reserva a su nombre.\n\nImportante: este flujo SOLO se ejecuta cuando ya se ha encontrado una reserva en la base de datos.\nSi recibes estos datos (Nombre, Hora, Fecha, etc.) es porque la reserva YA EXISTE.\n\nPor tanto:\n- No digas que vas a verificar ni que vas a comprobar nada.\n- No digas que no hay reserva.\n- Tu respuesta debe ser siempre una confirmación clara de la reserva usando los datos que recibes.\n\nEjemplo de estilo:\n\"Hola [Nombre], te confirmo que existe una reserva a tu nombre para el [Fecha] a las [Hora] para [Numero_personas] personas en una mesa [Tipo_de_mesa].\"\n\nResponde siempre en español, de forma breve, amable y profesional.\n"
          },
          "promptType": "define",
          "text": "=Nombre: {{ $json.Nombre }}\nHora: {{ $json.Hora }}\nFecha: {{ $json.Fecha }}\nNumero_Personas: {{ $json.Numero_personas }}\nTipo_de_mesa: {{ $json.Tipo_de_mesa }}\n\n"
        },
        "position": [
          848,
          -32
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "8594149d-1b9c-4386-9757-a7549944e4f0",
        "name": "OpenAI Chat Model",
        "parameters": {
          "builtInTools": {},
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "position": [
          784,
          112
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3
      },
      {
        "id": "095b864d-047e-486b-9596-0efa27838ca3",
        "name": "Respond to Webhook",
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "respondWith": "json",
          "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCallList[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}\n\n"
        },
        "position": [
          1184,
          -32
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4
      },
      {
        "credentials": {
          "airtableTokenApi": {
            "id": "xo9Z42x9DIHItt7m",
            "name": "Airtable Personal Access Token account"
          }
        },
        "id": "49061128-d8ee-44a0-a221-3bcb1700acc7",
        "name": "Airtable - Buscar cliente",
        "parameters": {
          "base": {
            "__rl": true,
            "mode": "id",
            "value": "appwsWKteRjGM6oKu"
          },
          "operation": "search",
          "options": {},
          "table": {
            "__rl": true,
            "mode": "id",
            "value": "tblhZnESIvW2eBHX5"
          }
        },
        "position": [
          432,
          -32
        ],
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1
      },
      {
        "alwaysOutputData": false,
        "id": "829e9348-dd0d-4e2a-b154-13d1061dc682",
        "name": "Code in JavaScript",
        "parameters": {
          "jsCode": "// Paso 1: Datos del cliente desde 'Edit Fields'\nconst cliente = $('Edit Fields').first().json;\n\nconst horaCliente    = cliente.Hora?.trim();\nconst fechaCliente   = cliente.Fecha?.trim();       // asegúrate de que sea '2025-11-27'\nconst nombreCliente  = cliente.Nombre?.trim().toLowerCase();\n\n// Paso 2: Todos los registros de Airtable\nconst registros = $input.all();\n\n// Paso 3: Filtrar coincidencias\nconst coincidencias = registros.filter(item => {\n  const r = item.json;  // <<--- aquí usamos item.json directamente, no .fields\n\n  const hora   = r.Hora?.trim();\n  const fecha  = r.Fecha?.trim();\n  const nombre = r.Nombre?.trim().toLowerCase();\n\n  return (\n    hora === horaCliente &&\n    fecha === fechaCliente &&\n    nombre === nombreCliente\n  );\n});\n\n// Paso 4: Devolver solo los que coincidan\nreturn coincidencias;\n"
        },
        "position": [
          624,
          -32
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "d7c53f9f-c9f3-413f-a3a4-6fc7d15785a9",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "41464f07-46ca-46d6-bf5f-e49cb16c9f4c",
          "responseMode": "responseNode"
        },
        "position": [
          -144,
          -32
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "41464f07-46ca-46d6-bf5f-e49cb16c9f4c"
      }
    ],
    "updatedAt": "2025-12-07T00:37:51.230Z",
    "versionId": "1dd7274a-1c45-4ae4-910b-b1c26a545b92",
    "workflowId": "dNb7facyi0eyYlpP"
  },
  "activeVersionId": "1dd7274a-1c45-4ae4-910b-b1c26a545b92",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Airtable - Buscar cliente": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Airtable - Buscar cliente",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-21T18:19:33.437Z",
  "id": "dNb7facyi0eyYlpP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Comprobar_mesa",
  "nodes": [
    {
      "id": "9bdc9887-6228-489b-9163-b1cd7b672089",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "operator": {
                      "operation": "exists",
                      "singleValue": true,
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Comprobar_Mesa",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        16,
        -32
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "id": "fc51b6c8-dafd-4d30-9add-8204835d06cf",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec03870a-5897-452d-9d55-a0fe08736901",
              "name": "Hora",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora }}"
            },
            {
              "id": "8687fe98-fb82-4959-8dd3-3c9abb849383",
              "name": "Fecha",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Fecha }}"
            },
            {
              "id": "99a75194-1b82-409e-b8be-5fa0e95a3a64",
              "name": "Nombre",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        224,
        -32
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "939e18bf-81c8-4a2d-aa89-2adcafa9b3a1",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "=Tienes que decirle al cliente que si existe una mesa o reserva a su nombre.\n\nImportante: este flujo SOLO se ejecuta cuando ya se ha encontrado una reserva en la base de datos.\nSi recibes estos datos (Nombre, Hora, Fecha, etc.) es porque la reserva YA EXISTE.\n\nPor tanto:\n- No digas que vas a verificar ni que vas a comprobar nada.\n- No digas que no hay reserva.\n- Tu respuesta debe ser siempre una confirmación clara de la reserva usando los datos que recibes.\n\nEjemplo de estilo:\n\"Hola [Nombre], te confirmo que existe una reserva a tu nombre para el [Fecha] a las [Hora] para [Numero_personas] personas en una mesa [Tipo_de_mesa].\"\n\nResponde siempre en español, de forma breve, amable y profesional.\n"
        },
        "promptType": "define",
        "text": "=Nombre: {{ $json.Nombre }}\nHora: {{ $json.Hora }}\nFecha: {{ $json.Fecha }}\nNumero_Personas: {{ $json.Numero_personas }}\nTipo_de_mesa: {{ $json.Tipo_de_mesa }}\n\n"
      },
      "position": [
        848,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "8594149d-1b9c-4386-9757-a7549944e4f0",
      "name": "OpenAI Chat Model",
      "parameters": {
        "builtInTools": {},
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "position": [
        784,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3
    },
    {
      "id": "095b864d-047e-486b-9596-0efa27838ca3",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCallList[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}\n\n"
      },
      "position": [
        1184,
        -32
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "xo9Z42x9DIHItt7m",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "49061128-d8ee-44a0-a221-3bcb1700acc7",
      "name": "Airtable - Buscar cliente",
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appwsWKteRjGM6oKu"
        },
        "operation": "search",
        "options": {},
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblhZnESIvW2eBHX5"
        }
      },
      "position": [
        432,
        -32
      ],
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1
    },
    {
      "alwaysOutputData": false,
      "id": "829e9348-dd0d-4e2a-b154-13d1061dc682",
      "name": "Code in JavaScript",
      "parameters": {
        "jsCode": "// Paso 1: Datos del cliente desde 'Edit Fields'\nconst cliente = $('Edit Fields').first().json;\n\nconst horaCliente    = cliente.Hora?.trim();\nconst fechaCliente   = cliente.Fecha?.trim();       // asegúrate de que sea '2025-11-27'\nconst nombreCliente  = cliente.Nombre?.trim().toLowerCase();\n\n// Paso 2: Todos los registros de Airtable\nconst registros = $input.all();\n\n// Paso 3: Filtrar coincidencias\nconst coincidencias = registros.filter(item => {\n  const r = item.json;  // <<--- aquí usamos item.json directamente, no .fields\n\n  const hora   = r.Hora?.trim();\n  const fecha  = r.Fecha?.trim();\n  const nombre = r.Nombre?.trim().toLowerCase();\n\n  return (\n    hora === horaCliente &&\n    fecha === fechaCliente &&\n    nombre === nombreCliente\n  );\n});\n\n// Paso 4: Devolver solo los que coincidan\nreturn coincidencias;\n"
      },
      "position": [
        624,
        -32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d7c53f9f-c9f3-413f-a3a4-6fc7d15785a9",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "41464f07-46ca-46d6-bf5f-e49cb16c9f4c",
        "responseMode": "responseNode"
      },
      "position": [
        -144,
        -32
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "41464f07-46ca-46d6-bf5f-e49cb16c9f4c"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-21T18:19:33.446Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-11-21T18:19:33.446Z",
      "workflowId": "dNb7facyi0eyYlpP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T21:45:50.000Z",
  "versionId": "1dd7274a-1c45-4ae4-910b-b1c26a545b92"
}