workflows/Histórico Champions.json
{
  "active": false,
  "activeVersion": null,
  "connections": {
    "Clean & Normalize Knockout": {
      "main": [
        [
          {
            "index": 0,
            "node": "Expand Knockout -> Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Clean & Normalize Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Clean Knockout Detail Matches": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Clean Knockout Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Knockout Detail Pages",
            "type": "main"
          }
        ]
      ]
    },
    "Countries Unresolved": {
      "main": [
        []
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "Equipos Restantes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Preparar insert",
            "type": "main"
          }
        ]
      ]
    },
    "Expand Knockout -> Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean Knockout Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Countries Wiki": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge Countries",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Knockout Bracket": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Knockout Rounds",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Knockout Detail Wikitext": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Knockout Detail Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Playoff": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Playoff",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Teams From Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Quitar duplicados",
            "type": "main"
          }
        ]
      ]
    },
    "Extract wikitext": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Tables from Wikitext",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Extract Knockout Bracket",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Extract Playoff",
            "type": "main"
          }
        ]
      ]
    },
    "Filter matchday Tables": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse matches",
            "type": "main"
          }
        ]
      ]
    },
    "Get Paises": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge Countries",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract wikitext",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Knockout Detail Wikitext",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Countries Wiki",
            "type": "main"
          }
        ]
      ]
    },
    "Load Competitions": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "Load Competitions Seasons": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "Load Teams": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Load Teams1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Resolve Team IDs Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Matches Unresolved": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalizador Final",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Countries": {
      "main": [
        [
          {
            "index": 0,
            "node": "Resolve Country Ids",
            "type": "main"
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Resolve Competition + Season IDs",
            "type": "main"
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Equipos Restantes",
            "type": "main"
          }
        ]
      ]
    },
    "Normalizador Final": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Knockout Detail Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean Knockout Detail Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Knockout Rounds": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean & Normalize Knockout",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Tables from Wikitext": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter matchday Tables",
            "type": "main"
          }
        ]
      ]
    },
    "Parse matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean & Normalize Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Preparar insert": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare Wikipedia Search Name",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Insert Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request2",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Insert Teams": {
      "main": [
        [
          {
            "index": 0,
            "node": "Quitar Duplicados Slug",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Wikipedia Search Name": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request3",
            "type": "main"
          }
        ]
      ]
    },
    "Quitar Duplicados Slug": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create a row1",
            "type": "main"
          }
        ]
      ]
    },
    "Quitar duplicados": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Resolve Competition + Season IDs": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Teams From Matches",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Resolve Team IDs Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Resolve Country Ids": {
      "main": [
        [
          {
            "index": 0,
            "node": "Countries Unresolved",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Prepare Insert Teams",
            "type": "main"
          }
        ]
      ]
    },
    "Resolve Team IDs Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Matches Unresolved",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Prepare Insert Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Set Knockout Detail Pages": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request1",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Load Competitions Seasons",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Load Competitions",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Load Teams",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Get Paises",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Load Teams1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "whYox9ZKuY0jjc6x",
  "isArchived": false,
  "name": "Histórico Champions",
  "nodes": [
    {
      "id": "857fa634-92aa-4d73-9c17-2610a3134617",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -32,
        0
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "8625e4d9-7117-4477-964f-654dcecfc19c",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82d103ff-dfa4-4414-953e-04cfc9b0ccba",
              "name": "competition_slug",
              "type": "string",
              "value": "uefa-champions-league"
            },
            {
              "id": "3fdd872e-9c1d-420a-96cf-7828d148ef69",
              "name": "season_label",
              "type": "string",
              "value": "2024/25"
            },
            {
              "id": "7b275721-e391-431d-a67e-c8d8184a76e6",
              "name": "wikpedia_url",
              "type": "string",
              "value": "https://en.wikipedia.org/wiki/2024%E2%80%9325_UEFA_Champions_League"
            },
            {
              "id": "4e567eeb-4097-472a-915b-d29cd10346a9",
              "name": "page",
              "type": "string",
              "value": "Liga_de_Campeones_de_la_UEFA_2024-25"
            },
            {
              "id": "a5383f23-2543-49c2-a4d0-1ff0a43605ac",
              "name": "season",
              "type": "string",
              "value": "2024-25"
            }
          ]
        },
        "options": {}
      },
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "5900bab7-6374-4971-9e85-78e3da2ea44c",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "parse"
            },
            {
              "name": "=page",
              "value": "={{$json.page}}"
            },
            {
              "name": "prop",
              "value": "wikitext"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "formatversion",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "sendQuery": true,
        "url": "https://es.wikipedia.org/w/api.php"
      },
      "position": [
        416,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "alwaysOutputData": true,
      "id": "2e5598f0-e4dd-4657-9cae-5870e5a004b3",
      "name": "Extract wikitext",
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      wikitext: item.json.parse.wikitext\n    }\n  };\n});"
      },
      "position": [
        624,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "0a38c206-b104-4b81-8519-a903e73d70ba",
      "name": "Parse Tables from Wikitext",
      "parameters": {
        "jsCode": "const wikitext = items[0].json.wikitext;\n\n// Separar tablas wikitable\nconst tables = wikitext.split('{|').slice(1).map((t, i) => {\n  const content = '{|' + t.split('|}')[0] + '|}';\n\n  return {\n    table_index: i,\n    content,\n    isMatchday: /Jornada\\s+\\d+/i.test(content)\n  };\n});\n\nreturn tables.map(t => ({ json: t }));"
      },
      "position": [
        848,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "187c8bb5-43bf-4200-bcb1-b8740a00a505",
      "name": "Filter matchday Tables",
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const content = item.json.content || \"\";\n\n  const hasMatchday = /Jornada\\s+\\d+/i.test(content);\n  const hasLocal = /Local/i.test(content);\n  const hasResultado = /Resultado/i.test(content);\n  const hasVisitante = /Visitante/i.test(content);\n  const hasEstadio = /Estadio/i.test(content);\n  const hasFecha = /Fecha/i.test(content);\n  const hasHora = /Hora/i.test(content);\n\n  return hasMatchday && hasLocal && hasResultado && hasVisitante && hasEstadio && hasFecha && hasHora;\n});"
      },
      "position": [
        1056,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "05d83091-a8e6-45ec-9d50-f1b5a8494503",
      "name": "Parse matches",
      "parameters": {
        "jsCode": "const results = [];\n\nfunction cleanCell(value) {\n  if (!value) return null;\n\n  return String(value)\n    .replace(/\\[\\[|\\]\\]/g, \"\")\n    .replace(/\\{\\{.*?\\}\\}/g, \"\")\n    .replace(/<.*?>/g, \"\")\n    .replace(/\\[https?:\\/\\/[^\\s\\]]+/g, \"\")\n    .replace(/\\[|\\]/g, \"\")\n    .replace(/bgcolor=.*?\\|/gi, \"\")\n    .replace(/style=.*?\\|/gi, \"\")\n    .replace(/rowspan=\"?\\d+\"?\\|/gi, \"\")\n    .replace(/colspan=\"?\\d+\"?\\|/gi, \"\")\n    .replace(/rowspan=\\d+\\|/gi, \"\")\n    .replace(/colspan=\\d+\\|/gi, \"\")\n    .replace(/\\{\\{bandera2?\\|.*?\\}\\}/gi, \"\")\n    .replace(/\\{\\{flagicon\\|.*?\\}\\}/gi, \"\")\n    .replace(/'''/g, \"\")\n    .replace(/''/g, \"\")\n    .replace(/\\(\\s*\\)/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction isScore(value) {\n  return /^\\d+\\s*[–-]\\s*\\d+$/.test(value || \"\");\n}\n\nfunction isTime(value) {\n  return /^(\\d{1,2}:\\d{2})$/.test(value || \"\");\n}\n\nfunction isAttendance(value) {\n  return /^\\d{4,6}$/.test(value || \"\");\n}\n\nfunction isDate(value) {\n  return /^(\\d{1,2}\\s+de\\s+\\w+|\\d{1,2}\\s+\\w+)$/i.test(value || \"\");\n}\n\nfunction normalizeScore(value) {\n  return value.replace(/\\s+/g, \"\").replace(\"-\", \"–\");\n}\n\nfor (const item of items) {\n  const content = item.json.content || \"\";\n\n  const jornadaMatch = content.match(/Jornada\\s+(\\d+)/i);\n  const matchday = jornadaMatch ? parseInt(jornadaMatch[1], 10) : null;\n\n  const rows = content.split(\"|-\").slice(1);\n\n  let currentDate = null;\n  let currentTime = null;\n\n  for (const row of rows) {\n    const rawCols = row\n      .split(\"\\n\")\n      .map(l => l.trim())\n      .filter(l => l.startsWith(\"|\") && !l.startsWith(\"|+\"))\n      .map(l => l.replace(/^\\|+/, \"\").trim());\n\n    const cols = rawCols.map(cleanCell).filter(v => v && v !== \"—\");\n\n    if (!cols.length) continue;\n\n    const joined = cols.join(\" | \").toLowerCase();\n    if (\n      joined.includes(\"local\") &&\n      joined.includes(\"visitante\") &&\n      joined.includes(\"resultado\")\n    ) {\n      continue;\n    }\n\n    // Primero capturamos fecha/hora de cualquier celda de la fila\n    for (const col of cols) {\n      if (isDate(col)) currentDate = col;\n      if (isTime(col)) currentTime = col;\n    }\n\n    const scoreIndex = cols.findIndex(isScore);\n    if (scoreIndex === -1) continue;\n\n    const score = normalizeScore(cols[scoreIndex]);\n    const [home_score, away_score] = score.split(\"–\").map(n => parseInt(n, 10));\n\n    const before = cols.slice(0, scoreIndex);\n    const after = cols.slice(scoreIndex + 1);\n\n    const possibleHome = before.filter(v => !isDate(v) && !isTime(v) && !isAttendance(v));\n    const home_team = possibleHome.length ? possibleHome[possibleHome.length - 1] : null;\n\n    let away_team = null;\n    let stadium = null;\n    let attendance = null;\n\n    const afterNonNumeric = after.filter(v => !isAttendance(v) && !isTime(v) && !isDate(v));\n\n    if (afterNonNumeric.length >= 1) away_team = afterNonNumeric[0];\n    if (afterNonNumeric.length >= 2) stadium = afterNonNumeric[1];\n\n    const att = after.find(isAttendance);\n    if (att) attendance = parseInt(att, 10);\n\n    if (!home_team || !away_team) continue;\n\n    if (stadium && stadium.includes(\"/\")) {\n      const parts = stadium.split(\"/\").map(s => s.trim()).filter(Boolean);\n      if (parts.length >= 2 && parts[0].toLowerCase() === parts[1].toLowerCase()) {\n        stadium = parts[0];\n      }\n    }\n\n    results.push({\n      matchday,\n      date: currentDate,\n      time: currentTime,\n      home_team,\n      away_team,\n      score,\n      stadium,\n      attendance,\n      home_score,\n      away_score,\n      source: \"wikipedia\",\n      competition: \"UEFA Champions League\",\n      season: \"2024/25\",\n      stage: \"league_phase\"\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "position": [
        1264,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6ecdef17-3412-4483-8972-fd27fa49e933",
      "name": "Clean & Normalize Matches",
      "parameters": {
        "jsCode": "function cleanText(value) {\n  if (value === null || value === undefined) return null;\n\n  let v = String(value)\n    .replace(/\\u00a0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  if (!v) return null;\n  if (v.toLowerCase() === \"null\") return null;\n  return v;\n}\n\nfunction dedupeSlashName(value) {\n  if (!value) return value;\n\n  const parts = value.split(\"/\").map(s => s.trim()).filter(Boolean);\n  if (parts.length !== 2) return value;\n\n  const a = parts[0].toLowerCase();\n  const b = parts[1].toLowerCase();\n\n  if (a === b) return parts[0];\n  return value;\n}\n\nfunction normalizeDate(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  return value\n    .replace(/\\s+de\\s+/gi, \" de \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizeTime(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  const m = value.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (!m) return null;\n\n  const hh = String(parseInt(m[1], 10)).padStart(2, \"0\");\n  const mm = m[2];\n  return `${hh}:${mm}`;\n}\n\nfunction normalizeTeam(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  return value\n    .replace(/\\s+\\(\\w+\\)$/i, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizeStadium(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  value = dedupeSlashName(value);\n\n  return value\n    .replace(/\\s+\\(\\(\\)\\)$/g, \"\")\n    .replace(/\\s+\\)$/g, \"\")\n    .replace(/\\{\\{.*?\\}\\}/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizeScore(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  value = value.replace(/-/g, \"–\").replace(/\\s+/g, \"\");\n  return /^\\d+–\\d+$/.test(value) ? value : null;\n}\n\nfunction normalizeAttendance(value) {\n  if (value === null || value === undefined || value === \"\") return null;\n\n  const digits = String(value).replace(/\\D/g, \"\");\n  if (!digits) return null;\n\n  const n = parseInt(digits, 10);\n  return Number.isNaN(n) ? null : n;\n}\n\nconst out = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const m = item.json || {};\n\n  const matchday = m.matchday ?? null;\n  const date = normalizeDate(m.date);\n  const time = normalizeTime(m.time);\n  const home_team = normalizeTeam(m.home_team);\n  const away_team = normalizeTeam(m.away_team);\n  const score = normalizeScore(m.score);\n  const stadium = normalizeStadium(m.stadium);\n  const attendance = normalizeAttendance(m.attendance);\n\n  const home_score =\n    m.home_score !== undefined && m.home_score !== null ? Number(m.home_score) : null;\n  const away_score =\n    m.away_score !== undefined && m.away_score !== null ? Number(m.away_score) : null;\n\n  // Filtrar basura\n  if (!home_team || !away_team || !score) continue;\n  if (!Number.isInteger(home_score) || !Number.isInteger(away_score)) continue;\n\n  const dedupeKey = [\n    m.competition || \"UEFA Champions League\",\n    m.season || \"2024/25\",\n    m.stage || \"league_phase\",\n    matchday,\n    date,\n    time,\n    home_team,\n    away_team,\n    score\n  ].join(\"|\");\n\n  if (seen.has(dedupeKey)) continue;\n  seen.add(dedupeKey);\n\n  out.push({\n    json: {\n      competition: cleanText(m.competition) || \"UEFA Champions League\",\n      season: cleanText(m.season) || \"2024/25\",\n      stage: cleanText(m.stage) || \"league_phase\",\n      matchday: matchday,\n      date: date,\n      time: time,\n      home_team: home_team,\n      away_team: away_team,\n      score: score,\n      home_score: home_score,\n      away_score: away_score,\n      stadium: stadium,\n      attendance: attendance,\n      source: cleanText(m.source) || \"wikipedia\"\n    }\n  });\n}\n\nreturn out;"
      },
      "position": [
        1472,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2c4789e9-4a1e-4374-97ad-a174f853554a",
      "name": "Extract Knockout Bracket",
      "parameters": {
        "jsCode": "const wikitext = items[0].json.wikitext;\n\nif (!wikitext) {\n  throw new Error(\"No hay wikitext\");\n}\n\nconst startCandidates = [\n  \"=== Knockout phase play-offs ===\",\n  \"=== Play-offs de la fase eliminatoria ===\",\n  \"=== Eliminatorias ===\"\n];\n\nlet sectionStart = -1;\nfor (const candidate of startCandidates) {\n  const idx = wikitext.indexOf(candidate);\n  if (idx !== -1) {\n    sectionStart = idx;\n    break;\n  }\n}\n\nif (sectionStart === -1) {\n  throw new Error(\"No se encontró el inicio del bloque de eliminatorias\");\n}\n\nconst afterSection = wikitext.slice(sectionStart);\n\n// aquí estaba el fallo: hay que incluir {{Copa\nconst bracketStartCandidates = [\n  \"{{Copa\",\n  \"{{16TeamBracket\",\n  \"{{8TeamBracket\",\n  \"{{TeamBracket\",\n  \"{{Bracket\"\n];\n\nlet relativeBracketStart = -1;\nfor (const candidate of bracketStartCandidates) {\n  const idx = afterSection.indexOf(candidate);\n  if (idx !== -1) {\n    relativeBracketStart = idx;\n    break;\n  }\n}\n\nif (relativeBracketStart === -1) {\n  return [{\n    json: {\n      foundBracket: false,\n      debug_start: afterSection.slice(0, 4000)\n    }\n  }];\n}\n\nconst bracketStart = sectionStart + relativeBracketStart;\nconst afterBracket = wikitext.slice(bracketStart);\n\n// cortamos al llegar a la siguiente sección grande\nconst nextSectionMatch = afterBracket.match(/\\n===\\s*[^=]+?\\s*===/);\nconst bracketChunk = nextSectionMatch\n  ? afterBracket.slice(0, nextSectionMatch.index)\n  : afterBracket;\n\nreturn [\n  {\n    json: {\n      foundBracket: true,\n      bracketText: bracketChunk\n    }\n  }\n];"
      },
      "position": [
        736,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d306a997-eb95-4490-b283-bc7ff2295e0b",
      "name": "Parse Knockout Rounds",
      "parameters": {
        "jsCode": "const text = items[0].json.bracketText || \"\";\n\nconst season = items[0].json.season || \"2024-25\";\nconst seasonLabel = items[0].json.season_label || season.replace(\"-\", \"/\");\n\nfunction getValue(key) {\n  const re = new RegExp(`\\\\|\\\\s*${key}\\\\s*=\\\\s*([^\\\\n]+)`, \"i\");\n  const m = text.match(re);\n  return m ? m[1].trim() : null;\n}\n\nfunction cleanWiki(value) {\n  if (!value) return null;\n\n  return String(value)\n    .replace(/\\{\\{bandera\\|[^}]+\\}\\}/gi, \"\")\n    .replace(/\\{\\{Bandera\\|[^}]+\\}\\}/gi, \"\")\n    .replace(/\\{\\{esd\\|([^}]+)\\}\\}/gi, \"$1\")\n    .replace(/\\{\\{small\\|([^}]+)\\}\\}/gi, \"$1\")\n    .replace(/\\[\\[([^|\\]]+)\\|([^\\]]+)\\]\\]/g, \"$2\")\n    .replace(/\\[\\[([^\\]]+)\\]\\]/g, \"$1\")\n    .replace(/'''/g, \"\")\n    .replace(/''/g, \"\")\n    .replace(/<small>.*?<\\/small>/gi, \"\")\n    .replace(/<br\\s*\\/?>/gi, \" \")\n    .replace(/&nbsp;/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction parseScore(value) {\n  if (value == null) return null;\n  const m = String(value).match(/\\d+/);\n  return m ? Number(m[0]) : null;\n}\n\n// Detectar si hay una ronda extra antes de octavos\nconst hasRD5 = !!getValue(\"RD5-team01\");\n\nconst roundMap = hasRD5\n  ? {\n      RD1: \"knockout_playoff\",\n      RD2: \"round_of_16\",\n      RD3: \"quarter_final\",\n      RD4: \"semi_final\",\n      RD5: \"final\"\n    }\n  : {\n      RD1: \"round_of_16\",\n      RD2: \"quarter_final\",\n      RD3: \"semi_final\",\n      RD4: \"final\"\n    };\n\nconst out = [];\n\nconst normalRounds = Object.keys(roundMap).filter(r => roundMap[r] !== \"final\");\nconst finalRoundKey = Object.keys(roundMap).find(r => roundMap[r] === \"final\");\n\n// Parse de rondas ida/vuelta\nfor (const roundKey of normalRounds) {\n  const roundName = roundMap[roundKey];\n  const roundDate = cleanWiki(getValue(`${roundKey}-date`));\n\n  for (let i = 1; i <= 16; i += 2) {\n    const n1 = String(i).padStart(2, \"0\");\n    const n2 = String(i + 1).padStart(2, \"0\");\n\n    const team1 = cleanWiki(getValue(`${roundKey}-team${n1}`));\n    const team2 = cleanWiki(getValue(`${roundKey}-team${n2}`));\n\n    if (!team1 || !team2) continue;\n\n    const score1_1 = getValue(`${roundKey}-score${n1}-1`);\n    const score1_2 = getValue(`${roundKey}-score${n1}-2`);\n    const score1_3 = getValue(`${roundKey}-score${n1}-3`);\n\n    const score2_1 = getValue(`${roundKey}-score${n2}-1`);\n    const score2_2 = getValue(`${roundKey}-score${n2}-2`);\n    const score2_3 = getValue(`${roundKey}-score${n2}-3`);\n\n    out.push({\n      competition: \"UEFA Champions League\",\n      season,\n      season_label: seasonLabel,\n      stage: roundName,\n      round_dates: roundDate,\n      team_1: team1,\n      team_2: team2,\n      team_1_leg1: parseScore(score1_1),\n      team_1_leg2: parseScore(score1_2),\n      team_1_agg: cleanWiki(score1_3),\n      team_2_leg1: parseScore(score2_1),\n      team_2_leg2: parseScore(score2_2),\n      team_2_agg: cleanWiki(score2_3),\n      source: \"wikipedia\"\n    });\n  }\n}\n\n// Parse de final\nconst finalDate = cleanWiki(getValue(`${finalRoundKey}-date`));\nconst finalTeam1 = cleanWiki(getValue(`${finalRoundKey}-team01`));\nconst finalTeam2 = cleanWiki(getValue(`${finalRoundKey}-team02`));\nconst finalScore1 = getValue(`${finalRoundKey}-score01`);\nconst finalScore2 = getValue(`${finalRoundKey}-score02`);\n\nif (finalTeam1 && finalTeam2) {\n  out.push({\n    competition: \"UEFA Champions League\",\n    season,\n    season_label: seasonLabel,\n    stage: \"final\",\n    round_dates: finalDate,\n    team_1: finalTeam1,\n    team_2: finalTeam2,\n    team_1_leg1: null,\n    team_1_leg2: null,\n    team_1_agg: cleanWiki(finalScore1),\n    team_2_leg1: null,\n    team_2_leg2: null,\n    team_2_agg: cleanWiki(finalScore2),\n    source: \"wikipedia\"\n  });\n}\n\nreturn out.map(x => ({ json: x }));"
      },
      "position": [
        944,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "57d2ae59-6933-4ba7-a932-b318658c4ff6",
      "name": "Clean & Normalize Knockout",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).replace(/\\s+/g, \" \").trim();\n  return s || null;\n}\n\nfunction toIntOrNull(v) {\n  if (v === null || v === undefined || v === \"\") return null;\n  const n = parseInt(String(v).replace(/\\D/g, \"\"), 10);\n  return Number.isNaN(n) ? null : n;\n}\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const row = {\n    competition: cleanText(m.competition) || \"UEFA Champions League\",\n    season: cleanText(m.season) || \"2024/25\",\n    stage: cleanText(m.stage),\n    round_dates: cleanText(m.round_dates),\n    team_1: cleanText(m.team_1),\n    team_2: cleanText(m.team_2),\n    team_1_leg1: toIntOrNull(m.team_1_leg1),\n    team_1_leg2: toIntOrNull(m.team_1_leg2),\n    team_1_agg: cleanText(m.team_1_agg),\n    team_2_leg1: toIntOrNull(m.team_2_leg1),\n    team_2_leg2: toIntOrNull(m.team_2_leg2),\n    team_2_agg: cleanText(m.team_2_agg),\n    source: cleanText(m.source) || \"wikipedia\"\n  };\n\n  if (!row.team_1 || !row.team_2 || !row.stage) continue;\n\n  const key = [\n    row.competition,\n    row.season,\n    row.stage,\n    row.team_1,\n    row.team_2,\n    row.team_1_agg,\n    row.team_2_agg\n  ].join(\"|\");\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  out.push({ json: row });\n}\n\nreturn out;"
      },
      "position": [
        1152,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f7f3c594-d543-493e-bc03-5c976da6ff4c",
      "name": "Expand Knockout -> Matches",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v)\n    .replace(/<small>.*?<\\/small>/gi, \"\")\n    .replace(/\\{\\{.*?\\}\\}/g, \"\")\n    .replace(/\\[\\[([^|\\]]+)\\|([^\\]]+)\\]\\]/g, \"$2\")\n    .replace(/\\[\\[([^\\]]+)\\]\\]/g, \"$1\")\n    .replace(/'''/g, \"\")\n    .replace(/''/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n  return s || null;\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const competition = cleanText(m.competition) || \"UEFA Champions League\";\n  const season = cleanText(m.season) || \"2024/25\";\n  const stage = cleanText(m.stage);\n  const round_dates = cleanText(m.round_dates);\n  const team1 = cleanText(m.team_1);\n  const team2 = cleanText(m.team_2);\n\n  const t1l1 = m.team_1_leg1 ?? null;\n  const t1l2 = m.team_1_leg2 ?? null;\n  const t2l1 = m.team_2_leg1 ?? null;\n  const t2l2 = m.team_2_leg2 ?? null;\n  const t1agg = cleanText(m.team_1_agg);\n  const t2agg = cleanText(m.team_2_agg);\n  const source = cleanText(m.source) || \"wikipedia\";\n\n  if (!team1 || !team2 || !stage) continue;\n\n  if (stage === \"final\") {\n    out.push({\n      json: {\n        competition,\n        season,\n        stage,\n        leg: \"final\",\n        round_dates,\n        date: null,\n        time: null,\n        home_team: team1,\n        away_team: team2,\n        home_score: t1agg !== null ? parseInt(String(t1agg).replace(/\\D/g, \"\"), 10) : null,\n        away_score: t2agg !== null ? parseInt(String(t2agg).replace(/\\D/g, \"\"), 10) : null,\n        score:\n          t1agg !== null && t2agg !== null\n            ? `${parseInt(String(t1agg).replace(/\\D/g, \"\"), 10)}–${parseInt(String(t2agg).replace(/\\D/g, \"\"), 10)}`\n            : null,\n        stadium: null,\n        attendance: null,\n        source\n      }\n    });\n    continue;\n  }\n\n  if (t1l1 !== null && t2l1 !== null) {\n    out.push({\n      json: {\n        competition,\n        season,\n        stage,\n        leg: \"first_leg\",\n        round_dates,\n        date: null,\n        time: null,\n        home_team: team1,\n        away_team: team2,\n        home_score: Number(t1l1),\n        away_score: Number(t2l1),\n        score: `${Number(t1l1)}–${Number(t2l1)}`,\n        stadium: null,\n        attendance: null,\n        source\n      }\n    });\n  }\n\n  if (t1l2 !== null && t2l2 !== null) {\n    out.push({\n      json: {\n        competition,\n        season,\n        stage,\n        leg: \"second_leg\",\n        round_dates,\n        date: null,\n        time: null,\n        home_team: team2,\n        away_team: team1,\n        home_score: Number(t2l2),\n        away_score: Number(t1l2),\n        score: `${Number(t2l2)}–${Number(t1l2)}`,\n        stadium: null,\n        attendance: null,\n        source\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "position": [
        1360,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2c11811c-ed35-4c3d-bc05-f8fe115ed4c2",
      "name": "Clean Knockout Matches",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).replace(/\\s+/g, \" \").trim();\n  return s || null;\n}\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const row = {\n    competition: cleanText(m.competition),\n    season: cleanText(m.season),\n    stage: cleanText(m.stage),\n    leg: cleanText(m.leg),\n    round_dates: cleanText(m.round_dates),\n    date: cleanText(m.date),\n    time: cleanText(m.time),\n    home_team: cleanText(m.home_team),\n    away_team: cleanText(m.away_team),\n    home_score: m.home_score ?? null,\n    away_score: m.away_score ?? null,\n    score: cleanText(m.score),\n    stadium: cleanText(m.stadium),\n    attendance: m.attendance ?? null,\n    source: cleanText(m.source) || \"wikipedia\"\n  };\n\n  if (!row.home_team || !row.away_team || !row.score) continue;\n\n  const key = [\n    row.competition,\n    row.season,\n    row.stage,\n    row.leg,\n    row.home_team,\n    row.away_team,\n    row.score\n  ].join(\"|\");\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  out.push({ json: row });\n}\n\nreturn out;"
      },
      "position": [
        1568,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "14448425-d0a6-4e16-be4e-b167566abc22",
      "name": "Set Knockout Detail Pages",
      "parameters": {
        "jsCode": "const first = items[0]?.json || {};\n\nconst season = first.season || \"2024-25\";\nconst season_label = first.season_label || season.replace(\"-\", \"/\");\n\nreturn [\n  {\n    json: {\n      competition: \"UEFA Champions League\",\n      season,\n      season_label,\n      detail_stage: \"round_of_16\",\n      page: `Anexo:Octavos de final de la Liga de Campeones de la UEFA ${season}`\n    }\n  },\n  {\n    json: {\n      competition: \"UEFA Champions League\",\n      season,\n      season_label,\n      detail_stage: \"quarter_final\",\n      page: `Anexo:Cuartos de final de la Liga de Campeones de la UEFA ${season}`\n    }\n  },\n  {\n    json: {\n      competition: \"UEFA Champions League\",\n      season,\n      season_label,\n      detail_stage: \"semi_final\",\n      page: `Anexo:Semifinales de la Liga de Campeones de la UEFA ${season}`\n    }\n  },\n  {\n    json: {\n      competition: \"UEFA Champions League\",\n      season,\n      season_label,\n      detail_stage: \"final\",\n      page: `Final de la Liga de Campeones de la UEFA ${season}`\n    }\n  }\n];"
      },
      "position": [
        1776,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5f1dd46c-e022-4029-b3c9-b047dde55d43",
      "name": "HTTP Request1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "User-Agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "=application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "parse"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "prop",
              "value": "wikitext"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "formatversion",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "sendQuery": true,
        "url": "https://es.wikipedia.org/w/api.php"
      },
      "position": [
        1984,
        224
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "7726097d-99eb-460a-b1c2-e62e84b92b9a",
      "name": "Extract Knockout Detail Wikitext",
      "parameters": {
        "jsCode": "const wikitext = items[0].json.wikitext;\n\nif (!wikitext) {\n  throw new Error(\"No hay wikitext\");\n}\n\nconst startCandidates = [\n  \"=== Knockout phase play-offs ===\",\n  \"=== Play-offs de la fase eliminatoria ===\",\n  \"=== Eliminatorias ===\"\n];\n\nlet sectionStart = -1;\nfor (const candidate of startCandidates) {\n  const idx = wikitext.indexOf(candidate);\n  if (idx !== -1) {\n    sectionStart = idx;\n    break;\n  }\n}\n\nif (sectionStart === -1) {\n  throw new Error(\"No se encontró el inicio del bloque de eliminatorias\");\n}\n\nconst afterSection = wikitext.slice(sectionStart);\n\nconst bracketStartCandidates = [\n  \"{{16TeamBracket\",\n  \"{{8TeamBracket\",\n  \"{{TeamBracket\",\n  \"{{Bracket\"\n];\n\nlet relativeBracketStart = -1;\nfor (const candidate of bracketStartCandidates) {\n  const idx = afterSection.indexOf(candidate);\n  if (idx !== -1) {\n    relativeBracketStart = idx;\n    break;\n  }\n}\n\nif (relativeBracketStart === -1) {\n  return [{\n    json: {\n      foundBracket: false,\n      debug_start: afterSection.slice(0, 4000)\n    }\n  }];\n}\n\nconst bracketStart = sectionStart + relativeBracketStart;\nconst afterBracket = wikitext.slice(bracketStart);\n\nconst nextSectionMatch = afterBracket.match(/\\n===\\s*[^=]+?\\s*===/);\nlet bracketChunk = nextSectionMatch\n  ? afterBracket.slice(0, nextSectionMatch.index)\n  : afterBracket;\n\nreturn [\n  {\n    json: {\n      bracketText: bracketChunk,\n      foundBracket: true\n    }\n  }\n];"
      },
      "position": [
        2192,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4214e2fd-febb-43b2-aa0f-484f218a3053",
      "name": "Clean Knockout Detail Matches",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  return String(v).replace(/\\s+/g, \" \").trim() || null;\n}\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const row = {\n    competition: cleanText(m.competition) || \"UEFA Champions League\",\n    season: cleanText(m.season) || \"2024/25\",\n    stage: cleanText(m.stage),\n    leg: cleanText(m.leg),\n    match_id: cleanText(m.match_id),\n    date: cleanText(m.date),\n    time: cleanText(m.time),\n    home_team: cleanText(m.home_team),\n    away_team: cleanText(m.away_team),\n    score: cleanText(m.score),\n    home_score: Number.isInteger(m.home_score) ? m.home_score : null,\n    away_score: Number.isInteger(m.away_score) ? m.away_score : null,\n    stadium: cleanText(m.stadium),\n    attendance:\n      Number.isInteger(m.attendance) ? m.attendance : null,\n    source: cleanText(m.source) || \"wikipedia\",\n  };\n\n  if (!row.home_team || !row.away_team || !row.score) continue;\n\n  const key = [\n    row.stage,\n    row.leg,\n    row.date,\n    row.time,\n    row.home_team,\n    row.away_team,\n    row.score\n  ].join(\"|\");\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  out.push({ json: row });\n}\n\nreturn out;"
      },
      "position": [
        2608,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "76ba20f4-4e20-4eb5-bb8e-c9cdfbffb281",
      "name": "Parse Knockout Detail Matches",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\n\nfunction cleanText(value) {\n  if (value === null || value === undefined) return null;\n\n  let s = String(value);\n\n  s = s.replace(/\\r/g, \"\");\n  s = s.replace(/<br\\s*\\/?>/gi, \" \");\n  s = s.replace(/<[^>]+>/g, \" \");\n  s = s.replace(/<ref[^>]*>[\\s\\S]*?<\\/ref>/gi, \" \");\n  s = s.replace(/<ref[^\\/]*\\/>/gi, \" \");\n\n  // [[A|B]] -> B\n  s = s.replace(/\\[\\[(?:[^|\\]]+\\|)?([^\\]]+)\\]\\]/g, \"$1\");\n\n  // fechas wiki\n  s = s.replace(/\\{\\{fecha\\|(\\d{1,2})\\|(\\d{1,2})\\|(\\d{4})\\}\\}/gi, (_, d, m, y) => {\n    return `${y}-${String(m).padStart(2, \"0\")}-${String(d).padStart(2, \"0\")}`;\n  });\n\n  s = s.replace(/\\{\\{fecha de inicio\\|(\\d{1,2})\\|(\\d{1,2})\\|(\\d{4})\\}\\}/gi, (_, d, m, y) => {\n    return `${y}-${String(m).padStart(2, \"0\")}-${String(d).padStart(2, \"0\")}`;\n  });\n\n  s = s.replace(/\\{\\{esd\\}\\}/gi, \"\");\n  s = s.replace(/\\{\\{small\\|([^}]*)\\}\\}/gi, \"$1\");\n  s = s.replace(/\\{\\{sin negrita\\|([^}]*)\\}\\}/gi, \"$1\");\n  s = s.replace(/\\{\\{nowrap\\|([^}]*)\\}\\}/gi, \"$1\");\n  s = s.replace(/\\{\\{color\\|[^|]+\\|([^}]*)\\}\\}/gi, \"$1\");\n  s = s.replace(/\\{\\{tc negro\\|[^|]+\\|([^}]*)\\}\\}/gi, \"$1\");\n\n  s = s.replace(/'''/g, \"\");\n  s = s.replace(/''/g, \"\");\n  s = s.replace(/&nbsp;/g, \" \");\n  s = s.replace(/\\s+/g, \" \").trim();\n\n  return s || null;\n}\n\nfunction normalizeTeam(value) {\n  const s = cleanText(value);\n  if (!s) return null;\n\n  return s\n    .replace(/^Club Atlético de Madrid$/i, \"Atlético de Madrid\")\n    .replace(/^Paris Saint-Germain Football Club$/i, \"Paris Saint-Germain\")\n    .replace(/^París Saint-Germain Football Club$/i, \"Paris Saint-Germain\")\n    .replace(/^París Saint-Germain$/i, \"Paris Saint-Germain\")\n    .replace(/^París Saint Germain$/i, \"Paris Saint-Germain\")\n    .replace(/^Inter de Milán$/i, \"Inter Milán\")\n    .replace(/^Inter de Milan$/i, \"Inter Milán\")\n    .replace(/^Bayern de Múnich$/i, \"Bayern Múnich\")\n    .replace(/^Fútbol Club Barcelona$/i, \"Barcelona\")\n    .replace(/^Real Madrid Club de Fútbol$/i, \"Real Madrid\")\n    .replace(/^Liverpool Football Club$/i, \"Liverpool\")\n    .replace(/^Arsenal Football Club$/i, \"Arsenal\")\n    .replace(/^Aston Villa Football Club$/i, \"Aston Villa\")\n    .replace(/^Borussia Dortmund$/i, \"Borussia Dortmund\")\n    .replace(/^Lille Olympique Sporting Club$/i, \"Lille\")\n    .replace(/^Sport Lisboa e Benfica$/i, \"Benfica\")\n    .replace(/^Bayer 04 Leverkusen$/i, \"Bayer Leverkusen\")\n    .replace(/^Feyenoord de Róterdam$/i, \"Feyenoord\")\n    .replace(/^PSV Eindhoven$/i, \"PSV Eindhoven\")\n    .replace(/^Club Brujas$/i, \"Brujas\");\n}\n\nfunction extractParam(block, key) {\n  const escapedKey = key.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n  const regex = new RegExp(\n    `\\\\|\\\\s*${escapedKey}\\\\s*=([\\\\s\\\\S]*?)(?=\\\\n\\\\|\\\\s*[^=]+=|\\\\n\\\\}\\\\}|$)`,\n    \"i\"\n  );\n  const m = block.match(regex);\n  return m ? m[1].trim() : null;\n}\n\nfunction parseScore(scoreRaw) {\n  const s = cleanText(scoreRaw);\n  if (!s) return null;\n\n  const m = s.match(/(\\d+)\\s*[:\\\\-–]\\s*(\\d+)/);\n  if (!m) return null;\n\n  return {\n    score: `${parseInt(m[1], 10)}-${parseInt(m[2], 10)}`,\n    home_score: parseInt(m[1], 10),\n    away_score: parseInt(m[2], 10),\n  };\n}\n\nfunction parseAttendance(raw) {\n  const s = cleanText(raw);\n  if (!s) return null;\n  const digits = s.replace(/[^\\d]/g, \"\");\n  return digits ? parseInt(digits, 10) : null;\n}\n\nfunction parseFinalDateTime(raw) {\n  const s = cleanText(raw);\n  if (!s) return { date: null, time: null };\n\n  let date = null;\n  let time = null;\n\n  const months = {\n    enero: \"01\",\n    febrero: \"02\",\n    marzo: \"03\",\n    abril: \"04\",\n    mayo: \"05\",\n    junio: \"06\",\n    julio: \"07\",\n    agosto: \"08\",\n    septiembre: \"09\",\n    setiembre: \"09\",\n    octubre: \"10\",\n    noviembre: \"11\",\n    diciembre: \"12\",\n  };\n\n  const m = s.match(/(\\d{1,2}) de ([a-záéíóú]+) de (\\d{4})(?:,\\s*(\\d{1,2}:\\d{2}))?/i);\n  if (m) {\n    const dd = String(m[1]).padStart(2, \"0\");\n    const mm = months[m[2].toLowerCase()] || null;\n    const yyyy = m[3];\n    time = m[4] || null;\n\n    if (mm) date = `${yyyy}-${mm}-${dd}`;\n  }\n\n  return { date, time };\n}\n\nfunction detectStageFromTitle(title) {\n  const t = String(title || \"\").toLowerCase();\n\n  if (t.includes(\"octavos\")) return \"round_of_16\";\n  if (t.includes(\"cuartos\")) return \"quarter_final\";\n  if (t.includes(\"semifinal\")) return \"semi_final\";\n  if (t.includes(\"final\") && !t.includes(\"semifinal\")) return \"final\";\n\n  return null;\n}\n\n// -------------------------------------\n// PARSE\n// -------------------------------------\nfor (const item of items) {\n  const title = item.json.title || \"\";\n  const text = item.json.wikitext || \"\";\n  const stage = detectStageFromTitle(title);\n\n  if (!text || !stage) continue;\n\n  // FINAL\n  if (stage === \"final\") {\n    let finalBlockMatch =\n      text.match(/\\{\\{Ficha partido de fútbol\\s*([\\s\\S]*?)\\n\\}\\}/i) ||\n      text.match(/\\{\\{Ficha partido de futbol\\s*([\\s\\S]*?)\\n\\}\\}/i);\n\n    if (finalBlockMatch) {\n      const block = finalBlockMatch[1];\n\n      const local = normalizeTeam(extractParam(block, \"NOMBRE LOCAL\"));\n      const visita = normalizeTeam(extractParam(block, \"NOMBRE VISITA\"));\n\n      const homeScoreRaw = cleanText(extractParam(block, \"RESULTADO LOCAL\"));\n      const awayScoreRaw = cleanText(extractParam(block, \"RESULTADO VISITA\"));\n\n      const homeScore = homeScoreRaw && !isNaN(Number(homeScoreRaw)) ? Number(homeScoreRaw) : null;\n      const awayScore = awayScoreRaw && !isNaN(Number(awayScoreRaw)) ? Number(awayScoreRaw) : null;\n\n      const fechaInfo = parseFinalDateTime(extractParam(block, \"FECHA\"));\n      const lugar = cleanText(extractParam(block, \"LUGAR\"));\n      const attendance = parseAttendance(extractParam(block, \"ASISTENTES\"));\n\n      if (local && visita && homeScore !== null && awayScore !== null) {\n        out.push({\n          competition: item.json.competition || \"UEFA Champions League\",\n          season: item.json.season || \"2024/25\",\n          stage: \"final\",\n          leg: null,\n          match_id: \"final_2024_25\",\n          date: fechaInfo.date,\n          time: fechaInfo.time,\n          home_team: local,\n          away_team: visita,\n          score: `${homeScore}-${awayScore}`,\n          home_score: homeScore,\n          away_score: awayScore,\n          stadium: lugar,\n          attendance,\n          source: \"wikipedia\",\n        });\n      }\n    }\n\n    continue;\n  }\n\n  // OCTAVOS / CUARTOS / SEMIS\n  const partidoRegex = /\\{\\{Partidos\\s*([\\s\\S]*?)\\n\\}\\}/g;\n  let match;\n\n  while ((match = partidoRegex.exec(text)) !== null) {\n    const block = match[1];\n\n    const id = cleanText(extractParam(block, \"id\"));\n    const competition = cleanText(extractParam(block, \"competición\"));\n    const fecha = cleanText(extractParam(block, \"fecha\"));\n    const hora = cleanText(extractParam(block, \"hora\"));\n    const local = normalizeTeam(extractParam(block, \"local\"));\n    const visita = normalizeTeam(extractParam(block, \"visita\"));\n    const estadio = cleanText(extractParam(block, \"estadio\"));\n    const asistencia = parseAttendance(extractParam(block, \"asistencia\"));\n\n    const parsedScore = parseScore(extractParam(block, \"resultado\"));\n\n    if (!local || !visita || !parsedScore) continue;\n\n    out.push({\n      competition: item.json.competition || \"UEFA Champions League\",\n      season: item.json.season || \"2024/25\",\n      stage,\n      leg:\n        competition && competition.toLowerCase() === \"ida\"\n          ? \"first_leg\"\n          : competition && competition.toLowerCase() === \"vuelta\"\n          ? \"second_leg\"\n          : null,\n      match_id: id,\n      date: fecha,\n      time: hora,\n      home_team: local,\n      away_team: visita,\n      score: parsedScore.score,\n      home_score: parsedScore.home_score,\n      away_score: parsedScore.away_score,\n      stadium: estadio,\n      attendance: asistencia,\n      source: \"wikipedia\",\n    });\n  }\n}\n\n// -------------------------------------\n// DEDUPE\n// -------------------------------------\nconst seen = new Set();\nconst finalOut = [];\n\nfor (const r of out) {\n  const key = [\n    r.stage,\n    r.leg,\n    r.match_id,\n    r.date,\n    r.time,\n    r.home_team,\n    r.away_team,\n    r.score\n  ].join(\"|\");\n\n  if (!seen.has(key)) {\n    seen.add(key);\n    finalOut.push(r);\n  }\n}\n\nreturn finalOut.map(x => ({ json: x }));"
      },
      "position": [
        2400,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d35e4857-5ab4-4096-849b-34698dd9870c",
      "name": "Merge",
      "parameters": {},
      "position": [
        2896,
        16
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "1ad0a126-07cd-4af3-9267-e64961852fae",
      "name": "Normalizador Final",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\n\nfunction cleanText(s) {\n  if (!s) return null;\n\n  return String(s)\n    .replace(/\\{\\{[^}]+\\}\\}/g, \"\")   // plantillas wiki\n    .replace(/\\|.*$/, \"\")            // alias estadio\n    .replace(/}}/g, \"\")\n    .trim();\n}\n\nfunction normalizeDate(date, season) {\n  if (!date) return null;\n\n  // ya viene bien\n  if (date.includes(\"-\")) return date;\n\n  const months = {\n    enero: \"01\",\n    febrero: \"02\",\n    marzo: \"03\",\n    abril: \"04\",\n    mayo: \"05\",\n    junio: \"06\",\n    julio: \"07\",\n    agosto: \"08\",\n    septiembre: \"09\",\n    octubre: \"10\",\n    noviembre: \"11\",\n    diciembre: \"12\"\n  };\n\n  const match = date.match(/(\\d+)\\s+de\\s+(\\w+)/i);\n  if (!match) return null;\n\n  const day = match[1].padStart(2, \"0\");\n  const month = months[match[2].toLowerCase()];\n  const year = season.split(\"/\")[0];\n\n  return `${year}-${month}-${day}`;\n}\n\nfunction normalizeLeg(leg) {\n  if (!leg) return null;\n  if (leg === \"first_leg\") return 1;\n  if (leg === \"second_leg\") return 2;\n  return null;\n}\n\nfunction generateSourceId(m) {\n  return [\n    m.competition,\n    m.season,\n    m.stage,\n    m.date,\n    m.home_team,\n    m.away_team,\n    m.leg || 0\n  ].join(\"_\").toLowerCase().replace(/\\s+/g, \"\");\n}\n\nfor (const item of items) {\n  const m = item.json;\n\n  const normalized = {\n    competition: m.competition,\n    season: m.season,\n\n    stage: m.stage || \"league_phase\",\n    matchday: m.matchday || null,\n    leg: normalizeLeg(m.leg),\n\n    date: normalizeDate(m.date, m.season),\n    time: m.time || null,\n\n    home_team: cleanText(m.home_team),\n    away_team: cleanText(m.away_team),\n\n    home_score: m.home_score ?? null,\n    away_score: m.away_score ?? null,\n\n    stadium: cleanText(m.stadium),\n    attendance: m.attendance ?? null,\n\n    source: m.source || \"wikipedia\"\n  };\n\n  normalized.source_id = generateSourceId(normalized);\n\n  out.push({ json: normalized });\n}\n\nreturn out;"
      },
      "position": [
        3184,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "28b982a7-fe36-4bf8-a4bf-16095d9ec8bf",
      "name": "Load Competitions",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "competitions"
      },
      "position": [
        3264,
        -160
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "8f6341cc-c6c0-4a9d-a320-322ed432d0bf",
      "name": "Load Competitions Seasons",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "competition_seasons"
      },
      "position": [
        3280,
        208
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "06483af3-f88c-4b2d-bcec-3f1f9871a2d3",
      "name": "Merge1",
      "parameters": {
        "numberInputs": 3
      },
      "position": [
        3552,
        0
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "549b189f-a6f0-41b8-80ea-6d445feabc40",
      "name": "Resolve Competition + Season IDs",
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction normalizeText(s) {\n  return String(s || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .trim();\n}\n\nfunction slugify(s) {\n  return normalizeText(s)\n    .replace(/[^a-z0-9]+/g, \"_\")\n    .replace(/^_+|_+$/g, \"\");\n}\n\nfunction normalizeSeasonLabel(season) {\n  const str = String(season || \"\").trim();\n  if (!str) return null;\n\n  if (/^\\d{4}\\/\\d{2}$/.test(str)) return str;\n  if (/^\\d{4}-\\d{2}$/.test(str)) return str.replace(\"-\", \"/\");\n\n  const m = str.match(/^(\\d{4})[\\/-](\\d{4})$/);\n  if (m) return `${m[1]}/${m[2].slice(-2)}`;\n\n  return str;\n}\n\nfunction getCompetitionSlug(name) {\n  const n = normalizeText(name);\n\n  if (n.includes(\"champions\")) return \"uefa_champions_league\";\n  if (n.includes(\"europa league\")) return \"uefa_europa_league\";\n  if (n.includes(\"conference\")) return \"uefa_conference_league\";\n  if (n.includes(\"laliga\")) return \"laliga\";\n\n  return slugify(name);\n}\n\n// 1) Separar tipos de item\nconst competitions = items.filter(i =>\n  i.json &&\n  i.json.name &&\n  i.json.slug &&\n  Object.prototype.hasOwnProperty.call(i.json, \"competition_type\")\n);\n\nconst seasons = items.filter(i =>\n  i.json &&\n  i.json.competition_id &&\n  i.json.season_label &&\n  Object.prototype.hasOwnProperty.call(i.json, \"is_current\") &&\n  !i.json.competition &&\n  !i.json.home_team\n);\n\nconst matches = items.filter(i =>\n  i.json &&\n  (i.json.home_team || i.json.away_team || i.json.competition)\n);\n\n// 2) Índice de competitions por slug\nconst competitionBySlug = new Map();\nfor (const c of competitions) {\n  const dbSlug = String(c.json.slug || \"\").trim();\n  if (dbSlug) {\n    competitionBySlug.set(dbSlug, c.json);\n  }\n}\n\n// 3) Índice de seasons por competition_id + season_label\nconst seasonByCompetitionAndLabel = new Map();\nfor (const s of seasons) {\n  const key = `${s.json.competition_id}__${normalizeSeasonLabel(s.json.season_label)}`;\n  seasonByCompetitionAndLabel.set(key, s.json);\n}\n\n// 4) Resolver solo matches\nreturn matches.map(item => {\n  const j = item.json;\n\n  const competitionSlug =\n    j.competition_slug ||\n    getCompetitionSlug(j.competition);\n\n  const seasonLabel =\n    normalizeSeasonLabel(j.season_label || j.season);\n\n  let competition = competitionBySlug.get(competitionSlug) || null;\n\n  // Fallback manual por si los slugs de BD no coinciden exacto\n  if (!competition) {\n    if (competitionSlug === \"laliga\") {\n      competition =\n        competitionBySlug.get(\"laliga-ea-sports\") ||\n        competitionBySlug.get(\"laliga\") ||\n        null;\n    } else if (competitionSlug === \"uefa_champions_league\") {\n      competition =\n        competitionBySlug.get(\"uefa-champions-league\") ||\n        competitionBySlug.get(\"uefa_champions_league\") ||\n        null;\n    } else if (competitionSlug === \"uefa_europa_league\") {\n      competition =\n        competitionBySlug.get(\"uefa-europa-league\") ||\n        competitionBySlug.get(\"uefa_europa_league\") ||\n        null;\n    } else if (competitionSlug === \"uefa_conference_league\") {\n      competition =\n        competitionBySlug.get(\"uefa-conference-league\") ||\n        competitionBySlug.get(\"uefa_conference_league\") ||\n        null;\n    }\n  }\n\n  const seasonKey =\n    competition?.id && seasonLabel\n      ? `${competition.id}__${seasonLabel}`\n      : null;\n\n  const competitionSeason =\n    seasonKey ? seasonByCompetitionAndLabel.get(seasonKey) || null : null;\n\n  return {\n    json: {\n      ...j,\n      competition_slug: competitionSlug,\n      season_label: seasonLabel,\n      competition_id: competition?.id ?? null,\n      competition_season_id: competitionSeason?.id ?? null,\n    }\n  };\n});"
      },
      "position": [
        3776,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "disabled": true,
      "executeOnce": true,
      "id": "be32fce2-9497-4fef-ace5-fcf4dc13917a",
      "name": "HTTP Request2",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "nodeCredentialType": "supabaseApi",
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "source_id"
            }
          ]
        },
        "sendBody": true,
        "sendHeaders": true,
        "sendQuery": true,
        "specifyBody": "json",
        "url": "https://scmytuehzrdyjsxzmujv.supabase.co/rest/v1/matches"
      },
      "position": [
        4544,
        -192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "af265082-c2f7-4818-afdf-664c0d28a987",
      "name": "Preparar insert",
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction slugify(text) {\n  return String(text || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\");\n}\n\nreturn items.map(item => {\n  const name = item.json.name || item.json.team_name;\n\n  return {\n    json: {\n      name,\n      slug: slugify(name)\n    }\n  };\n});"
      },
      "position": [
        4848,
        80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "bdfc716d-d49d-4f3c-96ce-ae90d7ee6738",
      "name": "Extract Teams From Matches",
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction cleanName(name) {\n  return String(name || '').trim();\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const home = cleanName(item.json.home_team);\n  const away = cleanName(item.json.away_team);\n\n  if (home) {\n    out.push({ json: { team_name: home } });\n  }\n\n  if (away) {\n    out.push({ json: { team_name: away } });\n  }\n}\n\nreturn out;"
      },
      "position": [
        4000,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "499c7f13-d9f4-4bf3-940d-380d917ee784",
      "name": "Quitar duplicados",
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const name = String(item.json.team_name || '').trim();\n  if (!name) continue;\n\n  const key = name.toLowerCase();\n  if (seen.has(key)) continue;\n\n  seen.add(key);\n  out.push({\n    json: {\n      team_name: name\n    }\n  });\n}\n\nreturn out;"
      },
      "position": [
        4192,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "executeOnce": true,
      "id": "2d6af796-3f31-47cf-ac38-184b33d153e3",
      "name": "Load Teams",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "teams"
      },
      "position": [
        4208,
        192
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": true,
      "id": "2f951c44-91d1-42f5-8bbd-4cb7406f2f04",
      "name": "Equipos Restantes",
      "parameters": {
        "jsCode": "function normalize(name) {\n  return String(name || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // quitar tildes\n    .replace(/\\b(cf|fc|club|de|del|sd|rcd|ud|cd)\\b/g, \" \")\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst nuevos = $items(\"Quitar duplicados\");\nconst existentes = $items(\"Load Teams\");\n\nconst existingSet = new Set(\n  existentes.map(item => normalize(item.json.name))\n);\n\nconst out = [];\n\nfor (const item of nuevos) {\n  const rawName = item.json.team_name || item.json.name;\n  if (!rawName) continue;\n\n  const normalized = normalize(rawName);\n\n  if (!existingSet.has(normalized)) {\n    out.push({\n      json: {\n        name: rawName,\n        normalized_name: normalized\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "position": [
        4656,
        80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "05180abd-8518-489d-a117-eeea6820d3e7",
      "name": "Merge2",
      "parameters": {},
      "position": [
        4432,
        80
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "executeOnce": true,
      "id": "8ffd4820-47e1-4432-b1df-d0f543eed2f1",
      "name": "Create a row",
      "onError": "continueRegularOutput",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ $json.slug }}"
            }
          ]
        },
        "tableId": "teams"
      },
      "position": [
        5328,
        656
      ],
      "retryOnFail": false,
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "executeOnce": false,
      "id": "1bd96f54-9a60-4ef4-8872-f93f97015765",
      "name": "HTTP Request3",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 "
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://en.wikipedia.org/api/rest_v1/page/summary/{{encodeURIComponent($json.wiki_search_name)}}"
      },
      "position": [
        5232,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "b4ff464f-afaa-4d03-8e0b-b0d21fbc55cb",
      "name": "Prepare Wikipedia Search Name",
      "parameters": {
        "jsCode": "const aliasMap = {\n  \"young boys\": \"BSC Young Boys\",\n  \"celtic\": \"Celtic F.C.\",\n  \"slovan bratislava\": \"ŠK Slovan Bratislava\",\n  \"milan\": \"AC Milan\",\n  \"liverpool\": \"Liverpool F.C.\",\n  \"stuttgart\": \"VfB Stuttgart\",\n  \"lille\": \"Lille OSC\",\n  \"bologna\": \"Bologna FC 1909\",\n  \"arsenal\": \"Arsenal F.C.\",\n  \"atalanta\": \"Atalanta BC\",\n  \"monaco\": \"AS Monaco FC\",\n  \"brujas\": \"Club Brugge KV\",\n  \"benfica\": \"S.L. Benfica\",\n  \"shakhtar donetsk\": \"FC Shakhtar Donetsk\",\n  \"dinamo zagreb\": \"GNK Dinamo Zagreb\",\n  \"bayern munich\": \"FC Bayern Munich\",\n  \"aston villa\": \"Aston Villa F.C.\",\n  \"paris saint germain\": \"Paris Saint-Germain FC\"\n};\n\nreturn $input.all().map(item => {\n  const normalized = item.json.normalized_name || item.json.name?.toLowerCase().trim();\n\n  return {\n    json: {\n      ...item.json,\n      wiki_search_name: aliasMap[normalized] || item.json.name\n    }\n  };\n});"
      },
      "position": [
        5056,
        80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3d25baf6-5cb1-4aac-a59a-ad5eb47e39e9",
      "name": "Extract Countries Wiki",
      "parameters": {
        "jsCode": "function extractCountry(item) {\n  const text = `${item.description || \"\"} ${item.extract || \"\"}`.toLowerCase();\n\n  const rules = [\n    [\"italy\", \"Italy\"],\n    [\"italian\", \"Italy\"],\n    [\"england\", \"England\"],\n    [\"english\", \"England\"],\n    [\"france\", \"France\"],\n    [\"french\", \"France\"],\n    [\"germany\", \"Germany\"],\n    [\"german\", \"Germany\"],\n    [\"netherlands\", \"Netherlands\"],\n    [\"dutch\", \"Netherlands\"],\n    [\"portugal\", \"Portugal\"],\n    [\"portuguese\", \"Portugal\"],\n    [\"spain\", \"Spain\"],\n    [\"spanish\", \"Spain\"],\n    [\"scotland\", \"Scotland\"],\n    [\"scottish\", \"Scotland\"],\n    [\"croatia\", \"Croatia\"],\n    [\"croatian\", \"Croatia\"],\n    [\"ukraine\", \"Ukraine\"],\n    [\"ukrainian\", \"Ukraine\"],\n    [\"austria\", \"Austria\"],\n    [\"austrian\", \"Austria\"],\n    [\"switzerland\", \"Switzerland\"],\n    [\"swiss\", \"Switzerland\"],\n    [\"belgium\", \"Belgium\"],\n    [\"belgian\", \"Belgium\"],\n    [\"slovakia\", \"Slovakia\"],\n    [\"slovak\", \"Slovakia\"]\n  ];\n\n  for (const [needle, country] of rules) {\n    if (text.includes(needle)) return country;\n  }\n\n  return null;\n}\n\nreturn $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      country_name: extractCountry(item.json)\n    }\n  };\n});"
      },
      "position": [
        5440,
        80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f71a2e49-e28c-42a3-bfe6-94ffd5e6da30",
      "name": "Merge Countries",
      "parameters": {},
      "position": [
        5648,
        80
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "c734d51c-9213-466c-a44a-9bbec8f65f2f",
      "name": "Resolve Country Ids",
      "parameters": {
        "jsCode": "function normalize(text) {\n  return String(text || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst countryTranslations = {\n  england: \"inglaterra\",\n  spain: \"espana\",\n  italy: \"italia\",\n  germany: \"alemania\",\n  france: \"francia\",\n  netherlands: \"paises bajos\",\n  portugal: \"portugal\",\n  belgium: \"belgica\",\n  switzerland: \"suiza\",\n  austria: \"austria\",\n  croatia: \"croacia\",\n  ukraine: \"ucrania\",\n  scotland: \"escocia\",\n  slovakia: \"eslovaquia\"\n};\n\nconst items = $input.all();\n\n// ⚡ IMPORTANTE: separar bien\nconst teams = items.filter(i => i.json.country_name);\nconst countries = items.filter(i => i.json.code); // 🔥 clave: los países tienen \"code\"\n\n// crear mapa correcto\nconst countryMap = new Map();\n\nfor (const c of countries) {\n  countryMap.set(normalize(c.json.name), c.json.id);\n}\n\n// mapear equipos\nreturn teams.map(item => {\n  const original = item.json.country_name;\n\n  let translated = normalize(original);\n\n  if (countryTranslations[translated]) {\n    translated = countryTranslations[translated];\n  }\n\n  return {\n    json: {\n      ...item.json,\n      country_id: countryMap.get(translated) || null\n    }\n  };\n});"
      },
      "position": [
        5824,
        80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "93bff70b-3719-49da-b99a-066b3ee0d030",
      "name": "Prepare Insert Teams",
      "parameters": {
        "jsCode": "function slugify(text) {\n  return String(text || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\");\n}\n\nreturn $input.all()\n  .filter(item => item.json.country_id)\n  .map(item => {\n    const name = item.json.name || item.json.title || item.json.titles?.normalized || null;\n\n    return {\n      json: {\n        name,\n        slug: slugify(name),\n        country_id: item.json.country_id\n      }\n    };\n  })\n  .filter(item => item.json.name);"
      },
      "position": [
        6016,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "5ee1d0ab-c59e-4ce5-9e21-447ba70d18d6",
      "name": "Countries Unresolved",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => !item.json.country_id)\n  .map(item => ({\n    json: {\n      name: item.json.name || item.json.title || null,\n      country_name: item.json.country_name || null,\n      wiki_title: item.json.title || null,\n      error: item.json.error?.message || null\n    }\n  }));"
      },
      "position": [
        6016,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "3df7d4f4-d3fb-4b04-949e-c2586881c6bc",
      "name": "Create a row1",
      "onError": "continueRegularOutput",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ $json.slug }}"
            },
            {
              "fieldId": "country_id",
              "fieldValue": "={{ $json.country_id }}"
            }
          ]
        },
        "tableId": "teams"
      },
      "position": [
        6432,
        144
      ],
      "retryOnFail": false,
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "a58ab27d-3b95-400d-8c28-edbc2079c197",
      "name": "Get many rows - Teams",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "teams"
      },
      "position": [
        5760,
        640
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "04bed069-f5f9-40ef-b882-d782591e495d",
      "name": "Get Paises",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "countries"
      },
      "position": [
        5472,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "0cb87d26-684b-4821-855c-c02047d40553",
      "name": "Quitar Duplicados Slug",
      "parameters": {
        "jsCode": "const seen = new Set();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const slug = item.json.slug;\n  if (!slug) continue;\n\n  if (seen.has(slug)) continue;\n  seen.add(slug);\n\n  out.push(item);\n}\n\nreturn out;"
      },
      "position": [
        6240,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e65983c2-1d9b-48a4-ac47-8ee9690f9406",
      "name": "Resolve Team IDs Matches",
      "parameters": {
        "jsCode": "function normalize(text) {\n  return String(text || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst matches = $input.all();\nconst teams = $items(\"Load Teams1\");\n\nconst teamMap = new Map();\n\nfor (const t of teams) {\n  const name = t.json.name;\n  if (!name) continue;\n\n  const normalizedName = normalize(name);\n\n  teamMap.set(normalizedName, {\n    id: t.json.id,\n    name: t.json.name,\n    slug: t.json.slug || null,\n  });\n}\n\nconst aliases = {\n  \"psg\": \"paris saint germain fc\",\n  \"paris saint germain\": \"paris saint germain fc\",\n  \"paris sg\": \"paris saint germain fc\",\n\n  \"bayern\": \"fc bayern munich\",\n  \"bayern munich\": \"fc bayern munich\",\n\n  \"manchester city\": \"manchester city f c\",\n  \"man city\": \"manchester city f c\",\n  \"manchester city fc\": \"manchester city f c\",\n\n  \"arsenal\": \"arsenal f c\",\n  \"arsenal fc\": \"arsenal f c\",\n\n  \"liverpool\": \"liverpool f c\",\n  \"liverpool fc\": \"liverpool f c\",\n\n  \"celtic\": \"celtic f c\",\n  \"celtic fc\": \"celtic f c\",\n\n  \"milan\": \"ac milan\",\n  \"ac milan\": \"ac milan\",\n\n  \"young boys\": \"bsc young boys\",\n  \"slovan bratislava\": \"sk slovan bratislava\",\n  \"benfica\": \"s l benfica\",\n\n  \"stuttgart\": \"vfb stuttgart\",\n\n  \"shakhtar donetsk\": \"fc shakhtar donetsk\",\n  \"shakhtar\": \"fc shakhtar donetsk\",\n\n  \"club brugge\": \"club brugge kv\",\n  \"brugge\": \"club brugge kv\",\n\n  \"dinamo zagreb\": \"gnk dinamo zagreb\",\n\n  \"sporting lisbon\": \"sporting cp\",\n  \"sporting de lisboa\": \"sporting cp\",\n  \"sporting lisboa\": \"sporting cp\",\n  \"sporting portugal\": \"sporting cp\",\n  \"sporting\": \"sporting cp\",\n\n  \"leverkusen\": \"bayer 04 leverkusen\",\n  \"bayer leverkusen\": \"bayer 04 leverkusen\",\n\n  \"brest\": \"stade brestois 29\",\n  \"stade brestois\": \"stade brestois 29\",\n\n  \"juventus\": \"juventus fc\",\n  \"aston villa\": \"aston villa f c\",\n\n  \"real madrid\": \"real madrid cf\",\n\n  \"bologna\": \"bologna fc 1909\",\n\n  \"red bull salzburgo\": \"fc salzburg\",\n  \"red bull salzburg\": \"fc salzburg\",\n  \"salzburg\": \"fc salzburg\",\n\n  \"sparta praga\": \"ac sparta praha\",\n  \"sparta praha\": \"ac sparta praha\",\n  \"sparta prague\": \"ac sparta praha\",\n\n  \"girona\": \"girona fc\",\n  \"barcelona\": \"fc barcelona\",\n  \"atletico madrid\": \"club atletico de madrid\",\n  \"betis\": \"real betis balompie\",\n  \"real sociedad\": \"real sociedad de futbol\",\n  \"celta\": \"rc celta de vigo\",\n  \"alaves\": \"deportivo alaves\",\n  \"las palmas\": \"ud las palmas\",\n  \"leganes\": \"cd leganes\",\n  \"almeria\": \"ud almeria\",\n  \"cadiz\": \"cadiz cf\",\n  \"valladolid\": \"real valladolid cf\",\n  \"mallorca\": \"rcd mallorca\",\n  \"espanyol\": \"rcd espanyol de barcelona\",\n  \"rayo vallecano\": \"rayo vallecano de madrid\",\n  \"brujas\": \"club brugge kv\",\n\"inter de milan\": \"inter milan\",\n\"monaco\": \"as monaco\",\n\"mónaco\": \"as monaco\",\n\"estrella roja\": \"fk crvena zvezda\",\n\"sparta praga\": \"ac sparta praha\",\n\"red bull salzburgo\": \"fc salzburg\",\n\"red bull salzburg\": \"fc salzburg\",\n\"salzburgo\": \"fc salzburg\"\n};\n\nfunction resolveTeam(rawName) {\n  let key = normalize(rawName);\n  if (!key) return null;\n\n  if (aliases[key]) {\n    key = aliases[key];\n  }\n\n  let found = teamMap.get(key);\n  if (found) return found;\n\n  for (const [teamKey, teamValue] of teamMap.entries()) {\n    if (teamKey.includes(key) || key.includes(teamKey)) {\n      return teamValue;\n    }\n  }\n\n  return null;\n}\n\nreturn matches.map(item => {\n  const j = item.json;\n\n  const homeName =\n    j.home_team ||\n    j.homeTeam ||\n    j.home_team_name ||\n    j.team1 ||\n    j.home ||\n    null;\n\n  const awayName =\n    j.away_team ||\n    j.awayTeam ||\n    j.away_team_name ||\n    j.team2 ||\n    j.away ||\n    null;\n\n  const home = resolveTeam(homeName);\n  const away = resolveTeam(awayName);\n\n  return {\n    json: {\n      ...j,\n      home_team_id: home?.id || null,\n      away_team_id: away?.id || null,\n      home_team_resolved: home?.name || null,\n      away_team_resolved: away?.name || null\n    }\n  };\n});"
      },
      "position": [
        4112,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "fe67dba8-63a4-4ace-a230-06370b6a3f91",
      "name": "Matches Unresolved",
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => !item.json.home_team_id || !item.json.away_team_id)\n  .map(item => ({\n    json: {\n      home_team: item.json.home_team || item.json.homeTeam || item.json.home_team_name || null,\n      away_team: item.json.away_team || item.json.awayTeam || item.json.away_team_name || null,\n      home_team_id: item.json.home_team_id || null,\n      away_team_id: item.json.away_team_id || null\n    }\n  }));"
      },
      "position": [
        4320,
        -352
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "03137559-0c2d-40a9-aa22-7078968b00d7",
      "name": "Prepare Insert Matches",
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => item.json.home_team_id && item.json.away_team_id)\n  .map(item => {\n    const j = item.json;\n\n    return {\n      json: {\n        source_id: j.source_id ?? null,\n        source: j.source ?? null,\n\n        competition_id: j.competition_id ?? null,\n        competition_season_id: j.competition_season_id ?? null,\n\n        home_team_id: j.home_team_id,\n        away_team_id: j.away_team_id,\n\n        match_date: j.match_date ?? j.date ?? null,\n        kickoff_time: j.kickoff_time ?? j.time ?? null,\n        round: j.round ?? j.matchday ?? null,\n        stage: j.stage ?? null,\n\n        home_score: j.home_score ?? j.score_home ?? null,\n        away_score: j.away_score ?? j.score_away ?? null,\n\n        home_penalties: j.home_penalties ?? null,\n        away_penalties: j.away_penalties ?? null,\n\n        venue: j.venue ?? null,\n        city: j.city ?? null,\n\n        status: j.status ?? null,\n        external_id: j.external_id ?? null\n      }\n    };\n  });"
      },
      "position": [
        4320,
        -192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "executeOnce": true,
      "id": "145b7fac-db42-40c4-aa32-6572b1e9b9ba",
      "name": "Load Teams1",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "teams"
      },
      "position": [
        3712,
        -288
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "3db7b754-8b99-4b54-8757-2516942332cb",
      "name": "Extract Playoff",
      "parameters": {
        "jsCode": "const wikitext = items[0].json.wikitext;\n\nif (!wikitext) {\n  throw new Error(\"No hay wikitext\");\n}\n\n// Intentamos coger el bloque completo de eliminatorias modernas\nconst startCandidates = [\n  \"=== Knockout phase play-offs ===\",\n  \"=== Play-offs de la fase eliminatoria ===\",\n  \"=== Eliminatorias ===\"\n];\n\nlet start = -1;\nfor (const candidate of startCandidates) {\n  const idx = wikitext.indexOf(candidate);\n  if (idx !== -1) {\n    start = idx;\n    break;\n  }\n}\n\nif (start === -1) {\n  throw new Error(\"No se encontró el inicio del bloque de eliminatorias\");\n}\n\n// Cortamos hasta después de la final si existe, o hasta el siguiente bloque grande\nconst endCandidates = [\n  \"=== Final ===\",\n  \"=== Véase también ===\",\n  \"=== Referencias ===\",\n  \"=== Ronda preliminar ===\"\n];\n\nlet end = -1;\nfor (const candidate of endCandidates) {\n  const idx = wikitext.indexOf(candidate, start + 1);\n  if (idx !== -1) {\n    end = idx;\n    break;\n  }\n}\n\nif (end === -1) {\n  end = wikitext.length;\n}\n\nconst bracketText = wikitext.slice(start, end);\n\nreturn [\n  {\n    json: {\n      bracketText\n    }\n  }\n];"
      },
      "position": [
        800,
        -224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9bfa26d2-7fe2-4fcc-b23a-aa08255b3cfb",
      "name": "Parse Playoff",
      "parameters": {
        "jsCode": "const text = items[0].json.playoffText || \"\";\n\nconst rows = text\n  .split(\"|-\")\n  .map(r => r.trim())\n  .filter(r => r.includes(\"[[\"));\n\nreturn rows.slice(0, 10).map((row, i) => ({\n  json: {\n    index: i,\n    row\n  }\n}));"
      },
      "position": [
        1008,
        -224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": []
}