workflows/Histórico Champions.json
{
  "active": false,
  "activeVersion": null,
  "connections": {
    "Clean & Normalize Knockout": {
      "main": [
        [
          {
            "index": 0,
            "node": "Expand Knockout -> Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Clean Knockout Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Knockout Detail Pages",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "Expand Knockout -> Matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean Knockout Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Knockout Bracket": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Knockout Rounds",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Knockout Detail Wikitext": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Knockout Detail Tables",
            "type": "main"
          }
        ]
      ]
    },
    "Extract wikitext": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Tables from Wikitext",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Extract Knockout Bracket",
            "type": "main"
          }
        ]
      ]
    },
    "Filter matchday Tables": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse matches",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract wikitext",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Knockout Detail Wikitext",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Knockout Detail Tables": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean Knockout Detail Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Knockout Rounds": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean & Normalize Knockout",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Tables from Wikitext": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter matchday Tables",
            "type": "main"
          }
        ]
      ]
    },
    "Parse matches": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clean & Normalize Matches",
            "type": "main"
          }
        ]
      ]
    },
    "Set Knockout Detail Pages": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request1",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "whYox9ZKuY0jjc6x",
  "isArchived": false,
  "name": "Histórico Champions",
  "nodes": [
    {
      "id": "857fa634-92aa-4d73-9c17-2610a3134617",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "8625e4d9-7117-4477-964f-654dcecfc19c",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82d103ff-dfa4-4414-953e-04cfc9b0ccba",
              "name": "competition_slug",
              "type": "string",
              "value": "uefa-champions-league"
            },
            {
              "id": "3fdd872e-9c1d-420a-96cf-7828d148ef69",
              "name": "season_label",
              "type": "string",
              "value": "2024/25"
            },
            {
              "id": "7b275721-e391-431d-a67e-c8d8184a76e6",
              "name": "wikpedia_url",
              "type": "string",
              "value": "https://en.wikipedia.org/wiki/2024%E2%80%9325_UEFA_Champions_League"
            },
            {
              "id": "4e567eeb-4097-472a-915b-d29cd10346a9",
              "name": "page",
              "type": "string",
              "value": "Liga_de_Campeones_de_la_UEFA_2024-25"
            }
          ]
        },
        "options": {}
      },
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "5900bab7-6374-4971-9e85-78e3da2ea44c",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "parse"
            },
            {
              "name": "=page",
              "value": "={{$json.page}}"
            },
            {
              "name": "prop",
              "value": "wikitext"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "formatversion",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "sendQuery": true,
        "url": "https://es.wikipedia.org/w/api.php"
      },
      "position": [
        416,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "alwaysOutputData": true,
      "id": "2e5598f0-e4dd-4657-9cae-5870e5a004b3",
      "name": "Extract wikitext",
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      wikitext: item.json.parse.wikitext\n    }\n  };\n});"
      },
      "position": [
        624,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "0a38c206-b104-4b81-8519-a903e73d70ba",
      "name": "Parse Tables from Wikitext",
      "parameters": {
        "jsCode": "const wikitext = items[0].json.wikitext;\n\n// Separar tablas wikitable\nconst tables = wikitext.split('{|').slice(1).map((t, i) => {\n  const content = '{|' + t.split('|}')[0] + '|}';\n\n  return {\n    table_index: i,\n    content,\n    isMatchday: /Jornada\\s+\\d+/i.test(content)\n  };\n});\n\nreturn tables.map(t => ({ json: t }));"
      },
      "position": [
        848,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "187c8bb5-43bf-4200-bcb1-b8740a00a505",
      "name": "Filter matchday Tables",
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const content = item.json.content || \"\";\n\n  const hasMatchday = /Jornada\\s+\\d+/i.test(content);\n  const hasLocal = /Local/i.test(content);\n  const hasResultado = /Resultado/i.test(content);\n  const hasVisitante = /Visitante/i.test(content);\n  const hasEstadio = /Estadio/i.test(content);\n  const hasFecha = /Fecha/i.test(content);\n  const hasHora = /Hora/i.test(content);\n\n  return hasMatchday && hasLocal && hasResultado && hasVisitante && hasEstadio && hasFecha && hasHora;\n});"
      },
      "position": [
        1056,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "05d83091-a8e6-45ec-9d50-f1b5a8494503",
      "name": "Parse matches",
      "parameters": {
        "jsCode": "const results = [];\n\nfunction cleanCell(value) {\n  if (!value) return null;\n\n  return String(value)\n    .replace(/\\[\\[|\\]\\]/g, \"\")\n    .replace(/\\{\\{.*?\\}\\}/g, \"\")\n    .replace(/<.*?>/g, \"\")\n    .replace(/\\[https?:\\/\\/[^\\s\\]]+/g, \"\")\n    .replace(/\\[|\\]/g, \"\")\n    .replace(/bgcolor=.*?\\|/gi, \"\")\n    .replace(/style=.*?\\|/gi, \"\")\n    .replace(/rowspan=\"?\\d+\"?\\|/gi, \"\")\n    .replace(/colspan=\"?\\d+\"?\\|/gi, \"\")\n    .replace(/rowspan=\\d+\\|/gi, \"\")\n    .replace(/colspan=\\d+\\|/gi, \"\")\n    .replace(/\\{\\{bandera2?\\|.*?\\}\\}/gi, \"\")\n    .replace(/\\{\\{flagicon\\|.*?\\}\\}/gi, \"\")\n    .replace(/'''/g, \"\")\n    .replace(/''/g, \"\")\n    .replace(/\\(\\s*\\)/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction isScore(value) {\n  return /^\\d+\\s*[–-]\\s*\\d+$/.test(value || \"\");\n}\n\nfunction isTime(value) {\n  return /^(\\d{1,2}:\\d{2})$/.test(value || \"\");\n}\n\nfunction isAttendance(value) {\n  return /^\\d{4,6}$/.test(value || \"\");\n}\n\nfunction isDate(value) {\n  return /^(\\d{1,2}\\s+de\\s+\\w+|\\d{1,2}\\s+\\w+)$/i.test(value || \"\");\n}\n\nfunction normalizeScore(value) {\n  return value.replace(/\\s+/g, \"\").replace(\"-\", \"–\");\n}\n\nfor (const item of items) {\n  const content = item.json.content || \"\";\n\n  const jornadaMatch = content.match(/Jornada\\s+(\\d+)/i);\n  const matchday = jornadaMatch ? parseInt(jornadaMatch[1], 10) : null;\n\n  const rows = content.split(\"|-\").slice(1);\n\n  let currentDate = null;\n  let currentTime = null;\n\n  for (const row of rows) {\n    const rawCols = row\n      .split(\"\\n\")\n      .map(l => l.trim())\n      .filter(l => l.startsWith(\"|\") && !l.startsWith(\"|+\"))\n      .map(l => l.replace(/^\\|+/, \"\").trim());\n\n    const cols = rawCols.map(cleanCell).filter(v => v && v !== \"—\");\n\n    if (!cols.length) continue;\n\n    const joined = cols.join(\" | \").toLowerCase();\n    if (\n      joined.includes(\"local\") &&\n      joined.includes(\"visitante\") &&\n      joined.includes(\"resultado\")\n    ) {\n      continue;\n    }\n\n    // Primero capturamos fecha/hora de cualquier celda de la fila\n    for (const col of cols) {\n      if (isDate(col)) currentDate = col;\n      if (isTime(col)) currentTime = col;\n    }\n\n    const scoreIndex = cols.findIndex(isScore);\n    if (scoreIndex === -1) continue;\n\n    const score = normalizeScore(cols[scoreIndex]);\n    const [home_score, away_score] = score.split(\"–\").map(n => parseInt(n, 10));\n\n    const before = cols.slice(0, scoreIndex);\n    const after = cols.slice(scoreIndex + 1);\n\n    const possibleHome = before.filter(v => !isDate(v) && !isTime(v) && !isAttendance(v));\n    const home_team = possibleHome.length ? possibleHome[possibleHome.length - 1] : null;\n\n    let away_team = null;\n    let stadium = null;\n    let attendance = null;\n\n    const afterNonNumeric = after.filter(v => !isAttendance(v) && !isTime(v) && !isDate(v));\n\n    if (afterNonNumeric.length >= 1) away_team = afterNonNumeric[0];\n    if (afterNonNumeric.length >= 2) stadium = afterNonNumeric[1];\n\n    const att = after.find(isAttendance);\n    if (att) attendance = parseInt(att, 10);\n\n    if (!home_team || !away_team) continue;\n\n    if (stadium && stadium.includes(\"/\")) {\n      const parts = stadium.split(\"/\").map(s => s.trim()).filter(Boolean);\n      if (parts.length >= 2 && parts[0].toLowerCase() === parts[1].toLowerCase()) {\n        stadium = parts[0];\n      }\n    }\n\n    results.push({\n      matchday,\n      date: currentDate,\n      time: currentTime,\n      home_team,\n      away_team,\n      score,\n      stadium,\n      attendance,\n      home_score,\n      away_score,\n      source: \"wikipedia\",\n      competition: \"UEFA Champions League\",\n      season: \"2024/25\",\n      stage: \"league_phase\"\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "position": [
        1264,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6ecdef17-3412-4483-8972-fd27fa49e933",
      "name": "Clean & Normalize Matches",
      "parameters": {
        "jsCode": "function cleanText(value) {\n  if (value === null || value === undefined) return null;\n\n  let v = String(value)\n    .replace(/\\u00a0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  if (!v) return null;\n  if (v.toLowerCase() === \"null\") return null;\n  return v;\n}\n\nfunction dedupeSlashName(value) {\n  if (!value) return value;\n\n  const parts = value.split(\"/\").map(s => s.trim()).filter(Boolean);\n  if (parts.length !== 2) return value;\n\n  const a = parts[0].toLowerCase();\n  const b = parts[1].toLowerCase();\n\n  if (a === b) return parts[0];\n  return value;\n}\n\nfunction normalizeDate(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  return value\n    .replace(/\\s+de\\s+/gi, \" de \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizeTime(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  const m = value.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (!m) return null;\n\n  const hh = String(parseInt(m[1], 10)).padStart(2, \"0\");\n  const mm = m[2];\n  return `${hh}:${mm}`;\n}\n\nfunction normalizeTeam(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  return value\n    .replace(/\\s+\\(\\w+\\)$/i, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizeStadium(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  value = dedupeSlashName(value);\n\n  return value\n    .replace(/\\s+\\(\\(\\)\\)$/g, \"\")\n    .replace(/\\s+\\)$/g, \"\")\n    .replace(/\\{\\{.*?\\}\\}/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizeScore(value) {\n  value = cleanText(value);\n  if (!value) return null;\n\n  value = value.replace(/-/g, \"–\").replace(/\\s+/g, \"\");\n  return /^\\d+–\\d+$/.test(value) ? value : null;\n}\n\nfunction normalizeAttendance(value) {\n  if (value === null || value === undefined || value === \"\") return null;\n\n  const digits = String(value).replace(/\\D/g, \"\");\n  if (!digits) return null;\n\n  const n = parseInt(digits, 10);\n  return Number.isNaN(n) ? null : n;\n}\n\nconst out = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const m = item.json || {};\n\n  const matchday = m.matchday ?? null;\n  const date = normalizeDate(m.date);\n  const time = normalizeTime(m.time);\n  const home_team = normalizeTeam(m.home_team);\n  const away_team = normalizeTeam(m.away_team);\n  const score = normalizeScore(m.score);\n  const stadium = normalizeStadium(m.stadium);\n  const attendance = normalizeAttendance(m.attendance);\n\n  const home_score =\n    m.home_score !== undefined && m.home_score !== null ? Number(m.home_score) : null;\n  const away_score =\n    m.away_score !== undefined && m.away_score !== null ? Number(m.away_score) : null;\n\n  // Filtrar basura\n  if (!home_team || !away_team || !score) continue;\n  if (!Number.isInteger(home_score) || !Number.isInteger(away_score)) continue;\n\n  const dedupeKey = [\n    m.competition || \"UEFA Champions League\",\n    m.season || \"2024/25\",\n    m.stage || \"league_phase\",\n    matchday,\n    date,\n    time,\n    home_team,\n    away_team,\n    score\n  ].join(\"|\");\n\n  if (seen.has(dedupeKey)) continue;\n  seen.add(dedupeKey);\n\n  out.push({\n    json: {\n      competition: cleanText(m.competition) || \"UEFA Champions League\",\n      season: cleanText(m.season) || \"2024/25\",\n      stage: cleanText(m.stage) || \"league_phase\",\n      matchday: matchday,\n      date: date,\n      time: time,\n      home_team: home_team,\n      away_team: away_team,\n      score: score,\n      home_score: home_score,\n      away_score: away_score,\n      stadium: stadium,\n      attendance: attendance,\n      source: cleanText(m.source) || \"wikipedia\"\n    }\n  });\n}\n\nreturn out;"
      },
      "position": [
        1472,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2c4789e9-4a1e-4374-97ad-a174f853554a",
      "name": "Extract Knockout Bracket",
      "parameters": {
        "jsCode": "const wikitext = items[0].json.wikitext;\n\nif (!wikitext) {\n  throw new Error(\"No hay wikitext\");\n}\n\nconst start = wikitext.indexOf(\"=== Eliminatorias ===\");\nconst end = wikitext.indexOf(\"=== Ronda preliminar ===\");\n\nif (start === -1 || end === -1 || end <= start) {\n  throw new Error(\"No se encontró el bloque de eliminatorias\");\n}\n\nconst bracketText = wikitext.slice(start, end);\n\nreturn [\n  {\n    json: {\n      bracketText\n    }\n  }\n];"
      },
      "position": [
        736,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d306a997-eb95-4490-b283-bc7ff2295e0b",
      "name": "Parse Knockout Rounds",
      "parameters": {
        "jsCode": "const text = items[0].json.bracketText;\n\nfunction getValue(key) {\n  const re = new RegExp(`\\\\|\\\\s*${key}\\\\s*=\\\\s*(.+)`);\n  const m = text.match(re);\n  return m ? m[1].trim() : null;\n}\n\nfunction cleanWiki(value) {\n  if (!value) return null;\n\n  return String(value)\n    .replace(/\\{\\{bandera\\|[^}]+\\}\\}/gi, \"\")\n    .replace(/\\{\\{esd\\|([^}]+)\\}\\}/gi, \"$1\")\n    .replace(/\\{\\{small\\|([^}]+)\\}\\}/gi, \"$1\")\n    .replace(/\\[\\[([^|\\]]+)\\|([^\\]]+)\\]\\]/g, \"$2\")\n    .replace(/\\[\\[([^\\]]+)\\]\\]/g, \"$1\")\n    .replace(/'''/g, \"\")\n    .replace(/''/g, \"\")\n    .replace(/<small>.*?<\\/small>/gi, \"\")\n    .replace(/<br\\s*\\/?>/gi, \" \")\n    .replace(/&nbsp;/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst roundMap = {\n  RD1: \"round_of_16\",\n  RD2: \"quarter_final\",\n  RD3: \"semi_final\",\n  RD4: \"final\"\n};\n\nconst out = [];\n\nfor (const roundKey of [\"RD1\", \"RD2\", \"RD3\"]) {\n  const roundName = roundMap[roundKey];\n  const roundDate = cleanWiki(getValue(`${roundKey}-date`));\n\n  for (let i = 1; i <= 16; i += 2) {\n    const n1 = String(i).padStart(2, \"0\");\n    const n2 = String(i + 1).padStart(2, \"0\");\n\n    const team1 = cleanWiki(getValue(`${roundKey}-team${n1}`));\n    const team2 = cleanWiki(getValue(`${roundKey}-team${n2}`));\n\n    if (!team1 || !team2) continue;\n\n    const score1_1 = getValue(`${roundKey}-score${n1}-1`);\n    const score1_2 = getValue(`${roundKey}-score${n1}-2`);\n    const score1_3 = getValue(`${roundKey}-score${n1}-3`);\n\n    const score2_1 = getValue(`${roundKey}-score${n2}-1`);\n    const score2_2 = getValue(`${roundKey}-score${n2}-2`);\n    const score2_3 = getValue(`${roundKey}-score${n2}-3`);\n\n    out.push({\n      competition: \"UEFA Champions League\",\n      season: \"2024/25\",\n      stage: roundName,\n      round_dates: roundDate,\n      team_1: team1,\n      team_2: team2,\n      team_1_leg1: score1_1 ? Number(score1_1) : null,\n      team_1_leg2: score1_2 ? Number(score1_2) : null,\n      team_1_agg: score1_3 ? cleanWiki(score1_3) : null,\n      team_2_leg1: score2_1 ? Number(score2_1) : null,\n      team_2_leg2: score2_2 ? Number(score2_2) : null,\n      team_2_agg: score2_3 ? cleanWiki(score2_3) : null,\n      source: \"wikipedia\"\n    });\n  }\n}\n\n// Final\nconst finalDate = cleanWiki(getValue(\"RD4-date\"));\nconst finalTeam1 = cleanWiki(getValue(\"RD4-team01\"));\nconst finalTeam2 = cleanWiki(getValue(\"RD4-team02\"));\nconst finalScore1 = getValue(\"RD4-score01\");\nconst finalScore2 = getValue(\"RD4-score02\");\n\nif (finalTeam1 && finalTeam2) {\n  out.push({\n    competition: \"UEFA Champions League\",\n    season: \"2024/25\",\n    stage: \"final\",\n    round_dates: finalDate,\n    team_1: finalTeam1,\n    team_2: finalTeam2,\n    team_1_leg1: null,\n    team_1_leg2: null,\n    team_1_agg: finalScore1 ? cleanWiki(finalScore1) : null,\n    team_2_leg1: null,\n    team_2_leg2: null,\n    team_2_agg: finalScore2 ? cleanWiki(finalScore2) : null,\n    source: \"wikipedia\"\n  });\n}\n\nreturn out.map(x => ({ json: x }));"
      },
      "position": [
        944,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "57d2ae59-6933-4ba7-a932-b318658c4ff6",
      "name": "Clean & Normalize Knockout",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).replace(/\\s+/g, \" \").trim();\n  return s || null;\n}\n\nfunction toIntOrNull(v) {\n  if (v === null || v === undefined || v === \"\") return null;\n  const n = parseInt(String(v).replace(/\\D/g, \"\"), 10);\n  return Number.isNaN(n) ? null : n;\n}\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const row = {\n    competition: cleanText(m.competition) || \"UEFA Champions League\",\n    season: cleanText(m.season) || \"2024/25\",\n    stage: cleanText(m.stage),\n    round_dates: cleanText(m.round_dates),\n    team_1: cleanText(m.team_1),\n    team_2: cleanText(m.team_2),\n    team_1_leg1: toIntOrNull(m.team_1_leg1),\n    team_1_leg2: toIntOrNull(m.team_1_leg2),\n    team_1_agg: cleanText(m.team_1_agg),\n    team_2_leg1: toIntOrNull(m.team_2_leg1),\n    team_2_leg2: toIntOrNull(m.team_2_leg2),\n    team_2_agg: cleanText(m.team_2_agg),\n    source: cleanText(m.source) || \"wikipedia\"\n  };\n\n  if (!row.team_1 || !row.team_2 || !row.stage) continue;\n\n  const key = [\n    row.competition,\n    row.season,\n    row.stage,\n    row.team_1,\n    row.team_2,\n    row.team_1_agg,\n    row.team_2_agg\n  ].join(\"|\");\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  out.push({ json: row });\n}\n\nreturn out;"
      },
      "position": [
        1152,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f7f3c594-d543-493e-bc03-5c976da6ff4c",
      "name": "Expand Knockout -> Matches",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v)\n    .replace(/<small>.*?<\\/small>/gi, \"\")\n    .replace(/\\{\\{.*?\\}\\}/g, \"\")\n    .replace(/\\[\\[([^|\\]]+)\\|([^\\]]+)\\]\\]/g, \"$2\")\n    .replace(/\\[\\[([^\\]]+)\\]\\]/g, \"$1\")\n    .replace(/'''/g, \"\")\n    .replace(/''/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n  return s || null;\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const competition = cleanText(m.competition) || \"UEFA Champions League\";\n  const season = cleanText(m.season) || \"2024/25\";\n  const stage = cleanText(m.stage);\n  const round_dates = cleanText(m.round_dates);\n  const team1 = cleanText(m.team_1);\n  const team2 = cleanText(m.team_2);\n\n  const t1l1 = m.team_1_leg1 ?? null;\n  const t1l2 = m.team_1_leg2 ?? null;\n  const t2l1 = m.team_2_leg1 ?? null;\n  const t2l2 = m.team_2_leg2 ?? null;\n  const t1agg = cleanText(m.team_1_agg);\n  const t2agg = cleanText(m.team_2_agg);\n  const source = cleanText(m.source) || \"wikipedia\";\n\n  if (!team1 || !team2 || !stage) continue;\n\n  if (stage === \"final\") {\n    out.push({\n      json: {\n        competition,\n        season,\n        stage,\n        leg: \"final\",\n        round_dates,\n        date: null,\n        time: null,\n        home_team: team1,\n        away_team: team2,\n        home_score: t1agg !== null ? parseInt(String(t1agg).replace(/\\D/g, \"\"), 10) : null,\n        away_score: t2agg !== null ? parseInt(String(t2agg).replace(/\\D/g, \"\"), 10) : null,\n        score:\n          t1agg !== null && t2agg !== null\n            ? `${parseInt(String(t1agg).replace(/\\D/g, \"\"), 10)}–${parseInt(String(t2agg).replace(/\\D/g, \"\"), 10)}`\n            : null,\n        stadium: null,\n        attendance: null,\n        source\n      }\n    });\n    continue;\n  }\n\n  if (t1l1 !== null && t2l1 !== null) {\n    out.push({\n      json: {\n        competition,\n        season,\n        stage,\n        leg: \"first_leg\",\n        round_dates,\n        date: null,\n        time: null,\n        home_team: team1,\n        away_team: team2,\n        home_score: Number(t1l1),\n        away_score: Number(t2l1),\n        score: `${Number(t1l1)}–${Number(t2l1)}`,\n        stadium: null,\n        attendance: null,\n        source\n      }\n    });\n  }\n\n  if (t1l2 !== null && t2l2 !== null) {\n    out.push({\n      json: {\n        competition,\n        season,\n        stage,\n        leg: \"second_leg\",\n        round_dates,\n        date: null,\n        time: null,\n        home_team: team2,\n        away_team: team1,\n        home_score: Number(t2l2),\n        away_score: Number(t1l2),\n        score: `${Number(t2l2)}–${Number(t1l2)}`,\n        stadium: null,\n        attendance: null,\n        source\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "position": [
        1360,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e735343f-6505-4100-b0e4-bd1d8703ae41",
      "name": "Code in JavaScript1",
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "position": [
        1584,
        -464
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2c11811c-ed35-4c3d-bc05-f8fe115ed4c2",
      "name": "Clean Knockout Matches",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).replace(/\\s+/g, \" \").trim();\n  return s || null;\n}\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const row = {\n    competition: cleanText(m.competition),\n    season: cleanText(m.season),\n    stage: cleanText(m.stage),\n    leg: cleanText(m.leg),\n    round_dates: cleanText(m.round_dates),\n    date: cleanText(m.date),\n    time: cleanText(m.time),\n    home_team: cleanText(m.home_team),\n    away_team: cleanText(m.away_team),\n    home_score: m.home_score ?? null,\n    away_score: m.away_score ?? null,\n    score: cleanText(m.score),\n    stadium: cleanText(m.stadium),\n    attendance: m.attendance ?? null,\n    source: cleanText(m.source) || \"wikipedia\"\n  };\n\n  if (!row.home_team || !row.away_team || !row.score) continue;\n\n  const key = [\n    row.competition,\n    row.season,\n    row.stage,\n    row.leg,\n    row.home_team,\n    row.away_team,\n    row.score\n  ].join(\"|\");\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  out.push({ json: row });\n}\n\nreturn out;"
      },
      "position": [
        1568,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "14448425-d0a6-4e16-be4e-b167566abc22",
      "name": "Set Knockout Detail Pages",
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      page: \"Anexo:Octavos_de_final_de_la_Liga_de_Campeones_de_la_UEFA_2024-25\",\n      stage: \"round_of_16\"\n    }\n  },\n  {\n    json: {\n      page: \"Anexo:Cuartos_de_final_de_la_Liga_de_Campeones_de_la_UEFA_2024-25\",\n      stage: \"quarter_final\"\n    }\n  },\n  {\n    json: {\n      page: \"Anexo:Semifinales_de_la_Liga_de_Campeones_de_la_UEFA_2024-25\",\n      stage: \"semi_final\"\n    }\n  },\n  {\n    json: {\n      page: \"Final_de_la_Liga_de_Campeones_de_la_UEFA_2024-25\",\n      stage: \"final\"\n    }\n  }\n];"
      },
      "position": [
        1776,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5f1dd46c-e022-4029-b3c9-b047dde55d43",
      "name": "HTTP Request1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "User-Agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "=application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "parse"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "prop",
              "value": "wikitext"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "formatversion",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "sendQuery": true,
        "url": "https://es.wikipedia.org/w/api.php"
      },
      "position": [
        1984,
        224
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "7726097d-99eb-460a-b1c2-e62e84b92b9a",
      "name": "Extract Knockout Detail Wikitext",
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    page: item.json.page,\n    stage: item.json.stage,\n    wikitext: item.json.parse?.wikitext || null\n  }\n}));"
      },
      "position": [
        2192,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "76ba20f4-4e20-4eb5-bb8e-c9cdfbffb281",
      "name": "Parse Knockout Detail Tables",
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "function cleanCell(value) {\n  if (!value) return null;\n\n  return String(value)\n    // wikilinks\n    .replace(/\\[\\[([^|\\]]+)\\|([^\\]]+)\\]\\]/g, \"$2\")\n    .replace(/\\[\\[([^\\]]+)\\]\\]/g, \"$1\")\n\n    // plantillas comunes\n    .replace(/\\{\\{small\\|([^}]+)\\}\\}/gi, \"$1\")\n    .replace(/\\{\\{esd\\|([^}]+)\\}\\}/gi, \"$1\")\n    .replace(/\\{\\{nowrap\\|([^}]+)\\}\\}/gi, \"$1\")\n    .replace(/\\{\\{bandera2?\\|[^}]+\\}\\}/gi, \"\")\n    .replace(/\\{\\{flagicon\\|[^}]+\\}\\}/gi, \"\")\n    .replace(/\\{\\{tc negro\\|([^|}]+)\\|?([^}]*)\\}\\}/gi, (_, a, b) => (b || a))\n    .replace(/\\{\\{tc\\|([^|}]+)\\|?([^}]*)\\}\\}/gi, (_, a, b) => (b || a))\n    .replace(/\\{\\{.*?\\}\\}/g, \"\")\n\n    // basura de estilo wiki\n    .replace(/\\d+px\\|/gi, \"\")\n    .replace(/style=\"[^\"]*\"\\|/gi, \"\")\n    .replace(/style=[^|]+\\|/gi, \"\")\n    .replace(/align=[^|]+\\|/gi, \"\")\n    .replace(/bgcolor=[^|]+\\|/gi, \"\")\n    .replace(/rowspan=\"?\\d+\"?\\|/gi, \"\")\n    .replace(/colspan=\"?\\d+\"?\\|/gi, \"\")\n    .replace(/sort\\|/gi, \"\")\n    .replace(/valign=[^|]+\\|/gi, \"\")\n\n    // html\n    .replace(/<br\\s*\\/?>/gi, \" \")\n    .replace(/<.*?>/g, \"\")\n\n    // formato\n    .replace(/'''/g, \"\")\n    .replace(/''/g, \"\")\n    .replace(/&nbsp;/g, \" \")\n    .replace(/\\|\\s*/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction isScore(v) {\n  return /^\\d+\\s*[–-]\\s*\\d+$/.test(v || \"\");\n}\n\nfunction isTime(v) {\n  return /^\\d{1,2}:\\d{2}$/.test(v || \"\");\n}\n\nfunction isDate(v) {\n  return /(\\d{1,2}\\s+de\\s+\\w+\\s+de\\s+\\d{4})|(\\d{1,2}\\s+de\\s+\\w+)/i.test(v || \"\");\n}\n\nfunction isAttendance(v) {\n  return /^\\d{4,6}$/.test(v || \"\");\n}\n\nfunction normalizeScore(v) {\n  return String(v || \"\").replace(/\\s+/g, \"\").replace(\"-\", \"–\");\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const page = item.json.page || null;\n  const stage = item.json.stage || null;\n  const wikitext = item.json.wikitext || \"\";\n\n  // ===== FINAL =====\n  if (stage === \"final\") {\n    const homeTeam = cleanCell((wikitext.match(/\\|\\s*NOMBRE LOCAL\\s*=\\s*(.+)/i) || [])[1]);\n    const awayTeam = cleanCell((wikitext.match(/\\|\\s*NOMBRE VISITA\\s*=\\s*(.+)/i) || [])[1]);\n    const homeScoreRaw = (wikitext.match(/\\|\\s*RESULTADO LOCAL\\s*=\\s*(.+)/i) || [])[1];\n    const awayScoreRaw = (wikitext.match(/\\|\\s*RESULTADO VISITA\\s*=\\s*(.+)/i) || [])[1];\n    const placeRaw = cleanCell((wikitext.match(/\\|\\s*LUGAR\\s*=\\s*(.+)/i) || [])[1]);\n    const fechaRaw = cleanCell((wikitext.match(/\\|\\s*FECHA\\s*=\\s*(.+)/i) || [])[1]);\n    const attendanceRaw = cleanCell((wikitext.match(/\\|\\s*ASISTENTES\\s*=\\s*(.+)/i) || [])[1]);\n\n    let date = null;\n    let time = null;\n\n    if (fechaRaw) {\n      const dateMatch = fechaRaw.match(/\\d{1,2}\\s+de\\s+\\w+\\s+de\\s+\\d{4}/i);\n      const timeMatch = fechaRaw.match(/\\d{1,2}:\\d{2}/);\n\n      if (dateMatch) date = dateMatch[0];\n      if (timeMatch) time = timeMatch[0];\n    }\n\n    const homeScore = homeScoreRaw != null ? parseInt(String(homeScoreRaw).replace(/\\D/g, \"\"), 10) : null;\n    const awayScore = awayScoreRaw != null ? parseInt(String(awayScoreRaw).replace(/\\D/g, \"\"), 10) : null;\n    const attendance = attendanceRaw ? parseInt(String(attendanceRaw).replace(/\\D/g, \"\"), 10) : null;\n\n    if (homeTeam && awayTeam && Number.isInteger(homeScore) && Number.isInteger(awayScore)) {\n      out.push({\n        page,\n        stage,\n        leg: \"final\",\n        date,\n        time,\n        home_team: homeTeam,\n        away_team: awayTeam,\n        home_score: homeScore,\n        away_score: awayScore,\n        score: `${homeScore}–${awayScore}`,\n        stadium: placeRaw,\n        attendance: Number.isInteger(attendance) ? attendance : null,\n        source: \"wikipedia\"\n      });\n    }\n\n    continue;\n  }\n\n  // ===== RESTO DE RONDAS =====\n  const tables = wikitext\n    .split(\"{|\")\n    .slice(1)\n    .map(t => \"{|\" + t.split(\"|}\")[0] + \"|}\");\n\n  for (const table of tables) {\n    const hasResultHeader = /Resultado|Marcador/i.test(table);\n    const hasTeamHeader = /Local|Visitante|Equipo/i.test(table);\n\n    if (!hasResultHeader || !hasTeamHeader) continue;\n\n    const rows = table.split(\"|-\").slice(1);\n\n    let currentDate = null;\n    let currentTime = null;\n\n    for (const row of rows) {\n      const cols = row\n        .split(\"\\n\")\n        .map(l => l.trim())\n        .filter(l => l.startsWith(\"|\") && !l.startsWith(\"|+\"))\n        .map(l => cleanCell(l.replace(/^\\|+/, \"\")))\n        .filter(Boolean);\n\n      if (!cols.length) continue;\n\n      const joinedRaw = cols.join(\" \").toLowerCase();\n\n      // saltar cabeceras y basura\n      if (joinedRaw.includes(\"local\") && joinedRaw.includes(\"visitante\")) continue;\n      if (joinedRaw.includes(\"partido\")) continue;\n      if (joinedRaw.includes(\"resultado\") && joinedRaw.includes(\"estadio\")) continue;\n      if (joinedRaw.includes(\"marcador\")) continue;\n\n      for (const c of cols) {\n        if (isDate(c)) currentDate = c;\n        if (isTime(c)) currentTime = c;\n      }\n\n      const scoreIndex = cols.findIndex(isScore);\n      if (scoreIndex === -1) continue;\n\n      const score = normalizeScore(cols[scoreIndex]);\n      const [home_score, away_score] = score.split(\"–\").map(n => parseInt(n, 10));\n\n      const before = cols.slice(0, scoreIndex).filter(v => !isDate(v) && !isTime(v) && !isAttendance(v));\n      const after = cols.slice(scoreIndex + 1);\n\n      if (!before.length || !after.length) continue;\n\n      const home_team = before[before.length - 1];\n      const away_team = after[0] || null;\n\n      let stadium = null;\n      let attendance = null;\n\n      for (const x of after.slice(1)) {\n        if (!attendance && isAttendance(x)) {\n          attendance = parseInt(x, 10);\n        } else if (!stadium && !isAttendance(x) && !isDate(x) && !isTime(x)) {\n          stadium = x;\n        }\n      }\n\n      if (!home_team || !away_team) continue;\n      if (!Number.isInteger(home_score) || !Number.isInteger(away_score)) continue;\n\n      out.push({\n        page,\n        stage,\n        leg: null,\n        date: currentDate,\n        time: currentTime,\n        home_team,\n        away_team,\n        home_score,\n        away_score,\n        score,\n        stadium,\n        attendance,\n        source: \"wikipedia\"\n      });\n    }\n  }\n}\n\nreturn out.map(x => ({ json: x }));"
      },
      "position": [
        2400,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4214e2fd-febb-43b2-aa0f-484f218a3053",
      "name": "Clean Knockout Detail Matches",
      "parameters": {
        "jsCode": "function cleanText(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).replace(/\\s+/g, \" \").trim();\n  return s || null;\n}\n\nfunction normalizeTime(v) {\n  v = cleanText(v);\n  if (!v) return null;\n  const m = v.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (!m) return null;\n  return `${String(parseInt(m[1], 10)).padStart(2, \"0\")}:${m[2]}`;\n}\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const m = item.json;\n\n  const row = {\n    page: cleanText(m.page),\n    stage: cleanText(m.stage),\n    leg: cleanText(m.leg),\n    date: cleanText(m.date),\n    time: normalizeTime(m.time),\n    home_team: cleanText(m.home_team),\n    away_team: cleanText(m.away_team),\n    home_score: m.home_score ?? null,\n    away_score: m.away_score ?? null,\n    score: cleanText(m.score),\n    stadium: cleanText(m.stadium),\n    attendance: m.attendance ?? null,\n    source: cleanText(m.source) || \"wikipedia\"\n  };\n\n  if (!row.home_team || !row.away_team || !row.score) continue;\n\n  const key = [\n    row.stage,\n    row.date,\n    row.time,\n    row.home_team,\n    row.away_team,\n    row.score\n  ].join(\"|\");\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  out.push({ json: row });\n}\n\nreturn out;"
      },
      "position": [
        2608,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {
    "Extract Knockout Detail Wikitext": [
      {
        "json": {
          "wikitext": "{{AP|Liga de Campeones de la UEFA 2024-25}}\nEn los '''Octavos de final de la [[Liga de Campeones de la UEFA 2024-25|Liga de Campeones de la UEFA 2025]]''', participaron los dieciséis equipos, clasificados entre la posición 1 y 8 en la fase de liga y los clasificados de la [[Anexo:Ronda preliminar de la Liga de Campeones de la UEFA 2024-25|fase preliminar]].\n\nEstos fueron distribuidos en ocho parejas, con los primeros ocho equipos de la fase de liga como cabezas de serie y los ganadores de la fase preliminar como posibles oponentes. Los rivales ya estaban predefinidos de acuerdo a la posición de los cabeza de serie y los ganadores. Por ejemplo, el primer o segundo lugar jugarían contra el ganador de la llave del 15.° contra el 18.° o ​el ganador de la llave del 16.° contra el 17.°; el tercer o cuarto lugar se enfrentarían al vencedor de la llave del 13.° contra el 19.° o el vencedor de la llave del 14.°  contra el 18.° y así sucesivamente. Cada pareja se enfrentó en partidos de ida y vuelta de 90 minutos cada uno. En estos encuentros no se considera la [[regla del gol de visitante]]. En caso de que no hubiese ganador en el período regular, se realizaba una prórroga de 30 minutos, y si persistía el empate en el tiempo suplementario se realizaron [[tiros desde el punto penal]] para definir al ganador.<ref name=\"regulations\">{{cita web|url=https://documents.uefa.com/r/Regulations-of-the-UEFA-Champions-League-2024/25-Online|título=Regulations of the UEFA Champions League|fechaacceso=2024-12-10|autor=[[UEFA]]|fecha=2024-12-03|ubicación=[[Nyon]]|archive-url=https://web.archive.org/web/20241210214638/https://documents.uefa.com/api/khub/maps/0wI_a8EkcYx57ZFHbGY~dQ/attachments/dOe9D5W0wzFYElvK3rGi4w-0wI_a8EkcYx57ZFHbGY~dQ/content|archive-date=2024-12-10}}</ref>\n\nEl sorteo de los octavos de final se celebró el 21 de febrero de 2025 a las 12:00 ([[Hora central europea|UTC+1]]), en [[Nyon]], [[Suiza]].<ref>{{Cita web|url=https://es.uefa.com/uefachampionsleague/news/0296-1d0c340bd7cd-73cd3d4b922c-1000--sorteo-de-octavos-cuartos-y-semifinales-de-la-uefa-champi/|título=Sorteo de octavos, cuartos y semifinales de la UEFA Champions League: ¿dónde es, cuándo es, quién participa? {{!}} UEFA Champions League|fechaacceso=2025-02-19|apellido=UEFA.com|fecha=2025-02-19|sitioweb=UEFA.com|idioma=es}}</ref>\n\n== Cuadro de clasificación ==\n{{Lista de columnas|4|}}\n<center>\n{| cellspacing=\"0\" style=\"background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;\" width=60%\n|- style=\"color:black\" bgcolor=\"#ccddcc\"\n!Puesto\n!Bombo 1<br>(Fase de liga)\n!Puesto\n!Bombo 2<br>([[Anexo:Ronda preliminar de la Liga de Campeones de la UEFA 2024-25|Fase Preliminar]])\n|-\n|align=center| 1.° || align=\"left\" |{{bandera|ENG}} [[Liverpool Football Club|Liverpool]]|| align=\"center\" | 10.° || align=\"left\" |{{bandera|GER}} [[Borussia Dortmund]]\n|-\n|align=center| 2.° || align=\"left\" |{{bandera|ESP}} [[Fútbol Club Barcelona|Barcelona]]|| align=\"center\" | 11.° || align=\"left\" |{{bandera|ESP}} [[Real Madrid Club de Fútbol|Real Madrid]]\n|-\n|align=center| 3.° || align=\"left\" |{{bandera|ENG}} [[Arsenal Football Club|Arsenal]]|| align=\"center\" | 12.° || align=\"left\" |{{bandera|GER}} [[Bayern de Múnich|Bayern Múnich]]\n|-\n|align=center| 4.° || align=\"left\" |{{bandera|ITA}} [[Inter de Milán|Inter Milán]]|| align=\"center\" | 14.° || align=\"left\" |{{bandera|NED}} [[PSV Eindhoven]]\n|-\n| align=\"center\" |5°\n| align=\"left\" |{{bandera|ESP}} [[Club Atlético de Madrid|Atlético de Madrid]]|| align=\"center\" | 15.° || align=\"left\" |{{bandera|FRA}} [[Paris Saint-Germain Football Club|París Saint-Germain]]\n|-\n| align=\"center\" |6°\n| align=\"left\" |{{bandera|ALE}} [[Bayer 04 Leverkusen|Bayer Leverkusen]] || align=\"center\" | 16.° || align=\"left\" |{{bandera|POR}} [[Sport Lisboa e Benfica|Benfica]]\n|-\n| align=\"center\" |7°\n| align=\"left\" |{{bandera|FRA}} [[Lille Olympique Sporting Club|Lille]]|| align=\"center\" | 19.° || align=\"left\" |{{bandera|NED}} [[Feyenoord de Róterdam|Feyenoord]]\n|-\n|align=center| 8.° || align=\"left\" |{{bandera|ENG}} [[Aston Villa Football Club|Aston Villa]]|| align=\"center\" | 24.° || align=\"left\" |{{bandera|BEL}} [[Club Brujas|Brujas]]\n|}\n</center>\n\n== Participantes ==\n{| width=\"100%\"\n! width=\"12,5%\" |{{bandera4|ENG|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|ESP|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|ENG|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|ITA|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|ESP|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|GER|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|FRA|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|ENG|tamaño=60px}}\n|- align=\"center\"\n![[Liverpool Football Club|Liverpool]]\n![[Fútbol Club Barcelona|Barcelona]]\n![[Arsenal Football Club|Arsenal]]\n![[Inter de Milán|Inter Milán]]\n![[Club Atlético de Madrid|Atlético de Madrid]]\n![[Bayer 04 Leverkusen|Bayer Leverkusen]]\n![[Lille Olympique Sporting Club|Lille]]\n![[Aston Villa Football Club|Aston Villa]]\n|-\n!Eliminado\n!Clasificado\n!Clasificado\n!Clasificado\n!Eliminado \n!Eliminado\n!Eliminado\n!Clasificado\n|-\n|{{Football kit|pattern_la=_liverpool2425h|pattern_b=_liverpool2425h|pattern_ra=_liverpool2425h|pattern_sh=_liverpool2425h|pattern_so=_liverpool2425h|leftarm=|body=|rightarm=|shorts=FFFFFF|socks=FFFFFF}}\n|{{Football kit|pattern_la=_fcbarcelona2425h|pattern_b=_fcbarcelona2425h|pattern_ra=_fcbarcelona2425h|pattern_sh=_fcbarcelona2425h|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=|socks=00006A}}\n|{{Football kit|pattern_la=_arsenal2425h|pattern_b=_arsenal2425h|pattern_ra=_arsenal2425h|pattern_sh=_arsenal2425h|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=|socks=F40000}}\n|{{Football kit|pattern_la=_internazionale2425h|pattern_b=_internazionale2425h|pattern_ra=_internazionale2425h|pattern_sh=_internazionale2425h|pattern_so=_internazionale2425h|leftarm=|body=|rightarm=|shorts=|socks=FFFFFF}}\n|{{Football kit|pattern_la=_atlmadrid2425h|pattern_b=_atlmadrid2425h|pattern_ra=_atlmadrid2425h|pattern_sh=_atlmadrid2425h|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=FFFFFF|socks=FF0000}}\n|{{Football kit|pattern_la=_left|pattern_b=_bayer2425h|pattern_ra=_right|pattern_sh=_bayer2425h|pattern_so=_bayer2425h|leftarm=000000|body=|rightarm=000000|shorts=|socks=FFFFFF}}\n|{{Football kit|pattern_la=_left|pattern_b=_lille2425h|pattern_ra=_right|pattern_sh=_shorts|pattern_so=_lille2425h|leftarm=FF0000|body=|rightarm=FF0000|shorts=000050|socks=FFFFFF}}\n|{{Football kit|pattern_la=_astonvilla2425h|pattern_b=_astonvilla2425h|pattern_ra=_astonvilla2425h|pattern_sh=_shorts|pattern_so=_astonvilla2425h|leftarm=|body=|rightarm=|shorts=FFFFFF|socks=FFFFFF}}\n|}\n{| width=\"100%\"\n! width=\"12,5%\" |{{bandera4|GER|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|ESP|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|GER|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|NED|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|FRA|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|POR|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|NED|tamaño=60px}}\n! width=\"12,5%\" |{{bandera4|BEL|tamaño=60px}}\n|- align=\"center\"\n![[Borussia Dortmund]]\n![[Real Madrid Club de Fútbol|Real Madrid]]\n![[Bayern de Múnich|Bayern Múnich]]\n![[PSV Eindhoven]]\n![[Paris Saint-Germain Football Club|París Saint-Germain]]\n![[Sport Lisboa e Benfica|Benfica]]\n![[Feyenoord de Róterdam|Feyenoord]]\n![[Club Brujas|Brujas]]\n|-\n!Clasificado\n!Clasificado\n!Clasificado\n!Eliminado\n!Clasificado\n!Eliminado\n!Eliminado\n!Eliminado\n|-\n|{{Camisetas|pattern_la=_bvb2425c|pattern_b=_bvb2425c|pattern_ra=_bvb2425c|pattern_sh=_bvb2425h|pattern_so=_bvb2425h|leftarm=|body=|rightarm=|shorts=|socks=FFFFFF}}\n|{{Camisetas|pattern_la=_realmadrid2425h|pattern_b=_realmadrid2425h|pattern_ra=_realmadrid2425h|pattern_sh=_realmadrid2425h|pattern_so=_realmadrid2425h|leftarm=|body=|rightarm=|shorts=|socks=FFFFFF}}\n|{{Camisetas|pattern_la=_bayern2425t|pattern_b=_bayern2425t|pattern_ra=_bayern2425t|pattern_sh=_adidasred|pattern_so=_3_stripes_red|leftarm=|body=|rightarm= |shorts=FAF0E6|socks=FAF0E6}}\n|{{Camisetas|pattern_la=_psv2425h|pattern_b=_psv2425h|pattern_ra=_psv2425h|pattern_sh=_psv2425h|pattern_so=_rbl2425h|leftarm=|body=|rightarm=|shorts=|socks=FFFFFF}}\n|{{Camisetas|pattern_la=_psg2425h|pattern_b=_psg2425h|pattern_ra=_psg2425h|pattern_sh=_shorts|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=0A1254|socks=0A1254}}\n|{{Camisetas|pattern_la=_benfica2425h|pattern_b=_benfica2425h|pattern_ra=_benfica2425h|pattern_sh=_shorts|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=FFFFFF|socks=FE0000}}\n|{{Camisetas|pattern_la=_feyenoord2425h|pattern_b=_feyenoord2425h|pattern_ra=_feyenoord2425h|pattern_sh=_shorts|pattern_so=_feyenoord2425h|leftarm=|body=|rightarm=|shorts=000000|socks=FFFFFF}}\n|{{Camisetas|pattern_la=_brugge2425h|pattern_b=_brugge2425h|pattern_ra=_brugge2425h|pattern_sh=_shorts|pattern_so=_blacktop|leftarm=|body=|rightarm=|shorts=0080FF|socks=0080FF}}\n|}\n\n== Estadios ==\n{| align=\"center\" width=\"85%\" cellpadding=\"0\" cellspacing=\"1\" border=\"0\" style=\"font-size: 90%;\"\n|\n|\n|- align=\"center\"\n|[[Archivo:Panorama_of_Anfield_with_new_main_stand_(29676137824).jpg|200x200px]]\n|[[Archivo:Estadi_Olímpic_Lluís_Companys.JPG|200x200px]]\n|[[Archivo:Arsenal_vs_Real_Madrid-bigger-view.jpg|200x200px]]\n|[[Archivo:San_Siro_2014.jpg|200x200px]]\n|- bgcolor=\"87CEEB\" valign=\"top\" align=\"center\" style=\"border:1px solid #aaa;\"\n|'''[[Anfield]]'''\nCiudad:  [[Liverpool]] <br>\nCapacidad: '''54 074''' espectadores <br>\nClub:  [[Liverpool Football Club|Liverpool]] <br>\n\n|'''[[Estadio Olímpico Lluís Companys|Estadio Olímpico de Montjuic]]{{refn|group=n.|name=Barcelona|El [[Fútbol Club Barcelona|Barcelona]] juega sus partidos como local en el [[Estadio Olímpico Lluís Companys|Olímpico Lluís Companys]] de [[Barcelona]], en lugar de su estadio habitual, el [[Camp Nou]] también de la misma ciudad, pues está siendo renovado.<ref>{{Cita web|url=https://www.record.com.mx/futbol-futbol-internacional-internacionales/barcelona-busca-jugar-champions-en-el-camp-nou-antes-de|título=Barcelona busca jugar Champions en el Camp Nou antes de 2025|fecha=10 de mayo de 2024|obra=[[Récord (periódico)|Récord]]|idioma=es}}</ref>}}''' \nCiudad:  [[Barcelona]] <br>\nCapacidad: '''49 472''' espectadores <br>\nClub:  [[Fútbol Club Barcelona|Barcelona]] <br>\n\n| '''[[Emirates Stadium]]'''<br />\nCiudad:  [[Londres]]<br />\nCapacidad: '''60 704''' espectadores<br />\nClub:  [[Arsenal Football Club|Arsenal]]\n\n| '''[[Estadio Giuseppe Meazza|Giuseppe Meazza]]'''<br />\nCiudad:  [[Milán]] <br />\nCapacidad: '''80 018''' espectadores<br />\nClub:  [[Inter de Milán|Inter Milán]]\n|}\n{|border=0 cellspacing=1 cellpadding=0 style=\"font-size: 90%;\" width=85% align=center\n|\n|\n|\n|\n|- align=\"center\"\n|[[Archivo:Estadio Wanda Metropolitano (2018).jpg|200x200px]]\n|[[File:BayArena 2012.jpg|200px]]\n|[[File:Lille vs PSG 2019 - Stade Pierre Mauroy.jpg|200px]]\n|[[Archivo:Inside Villa Park - geograph.org.uk - 1191451.jpg|200x200px]]\n|- align=\"center\" valign=\"top\" bgcolor=\"87CEEB\" style=\"border:1px solid #aaa;\"\n|  '''[[Estadio Metropolitano (Madrid)|Estadio Metropolitano]]'''<br />\nCiudad:  [[Madrid]]<br />\nCapacidad: '''70 000''' espectadores<br />\nClub:  [[Club Atlético de Madrid|Atlético de Madrid]]\n\n| '''[[BayArena]]'''<br />\nCiudad:  [[Leverkusen]]<br />\nCapacidad: '''30 210''' espectadores<br />\nClub:  [[Bayer 04 Leverkusen|Bayer Leverkusen]]\n\n| '''[[Estadio Pierre-Mauroy]]'''<br />\nCiudad: [[Villeneuve-d'Ascq]]<br />\nCapacidad: '''50 000''' espectadores<br />\nClub:  [[Lille Olympique Sporting Club|Lille]]\n\n|'''[[Villa Park]]'''<br />\nCiudad:  [[Birmingham]]<br />\nCapacidad: '''42 260''' espectadores<br />\nClub:  [[Aston Villa Football Club|Aston Villa]]\n|- align=\"center\"\n|[[Archivo:Signal_iduna_park_stadium_dortmund_4.jpg|200x200px]]\n|[[Archivo:Estadio_Santiago_Bernabéu_38.jpg|200x200px]]\n|[[Archivo:Allianz_Arena_2008-02-09.jpg|200px]]\n|[[Archivo:Philips_Stadion2.jpg|200x200px]]\n|- align=\"center\" valign=\"top\" bgcolor=\"87CEEB\" style=\"border:1px solid #aaa;\"\n\n| '''[[Signal Iduna Park|Westfalenstadion]]'''\nCiudad: [[Dortmund]]<br />\nCapacidad: '''81 365''' espectadores<br />\nClub: [[Borussia Dortmund]]\n\n| '''[[Estadio Santiago Bernabéu]]'''<br />\nCiudad: [[Madrid]]<br />\nCapacidad: '''81 500''' espectadores<br />\nClub: [[Real Madrid Club de Fútbol|Real Madrid]]\n\n|'''[[Allianz Arena]]'''\nCiudad: [[Múnich]]<br />\nCapacidad: '''75 000''' espectadores<br />\nClub: [[Bayern de Múnich|Bayern Múnich]]\n\n| '''[[Philips Stadion]]'''<br />\nCiudad: [[Eindhoven]]<br />\nCapacidad: '''35 119''' espectadores<br />\nClub: [[PSV Eindhoven]]\n\n|- align=\"center\"\n|[[Archivo:PSG-Nantes_Parc_des_Princes_05.jpg|200x200px]]\n|[[Archivo:Estadio_da_Luz_2012.jpg|200x200px]]\n|[[Archivo:Rotterdam_De_Kuip_3.jpg|200x200px]]\n|[[Archivo:Panoramio_-_V&A_Dudush_-_Jan_Breydel_Stadion_(2).jpg|200x200px]]\n|- align=\"center\" valign=\"top\" bgcolor=\"87CEEB\" style=\"border:1px solid #aaa;\"\n\n| '''[[Parque de los Príncipes]]'''<br />\nCiudad: [[París]]<br />\nCapacidad: '''47 929''' espectadores<br />\nClub: [[Paris Saint-Germain Football Club|París Saint-Germain]]\n\n| '''[[Estádio da Luz]]'''<br />\nCiudad: [[Lisboa]]<br />\nCapacidad: '''65 592''' espectadores<br />\nClub: [[Sport Lisboa e Benfica|Benfica]]\n\n|'''[[Stadion Feijenoord]]'''<br />\nCiudad: [[Róterdam]]<br />\nCapacidad: '''51 117''' espectadores<br />\nClub: [[Feyenoord de Róterdam|Feyenoord]]\n\n| '''[[Estadio Jan Breydel]]'''<br />\nCiudad:  [[Brujas]]<br />\nCapacidad: '''29 042''' espectadores<br />\nClub:  [[Club Brujas|Brujas]]\n|}\n\n== Llaves ==\t\n{{TwoLegStart}}\n{{TwoLegResult\n| '''[[Paris Saint-Germain Football Club|París Saint-Germain]]'''\n| FRA\n| 1–1 {{small|(4–1 [[Tiros desde el punto penal|p.]])}}\n| [[Liverpool Football Club|Liverpool]]\n| ENG\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#PSG_LIV|0–1]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#LIV_PSG|1–0]]\n| vencedor=1\n}}\n{{TwoLegResult\n| [[Club Brujas|Brujas]]\n| BEL\n| 1–6\n| '''[[Aston Villa Football Club|Aston Villa]]'''\n| ENG\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#BRU_AST|1–3]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#AST_BRU|0–3]]\n| vencedor=2\n}}\n{{TwoLegResult\n| '''[[Real Madrid Club de Fútbol|Real Madrid]]'''\n| ESP\n| 2–2 {{small|(4–2 [[Tiros desde el punto penal|p.]])}}\n| [[Club Atlético de Madrid|Atlético de Madrid]]\n| ESP\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#RMA_ATM|2–1]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#ATM_RMA|0–1]]\n| vencedor=1\n}}\n{{TwoLegResult\n| [[PSV Eindhoven]]\n| NED\n| 3–9\n| '''[[Arsenal Football Club|Arsenal]]'''\n| ENG\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#PSV_ARS|1–7]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#ARS_PSV|2–2]]\n| vencedor=2\n}}\n{{TwoLegResult\n| [[Sport Lisboa e Benfica|Benfica]]\n| POR\n| 1–4\n| '''[[Fútbol Club Barcelona|Barcelona]]'''\n| ESP\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#SLB_FCB|0–1]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#FCB_SLB|1–3]]\n| vencedor=2\n}}\n{{TwoLegResult\n| '''[[Borussia Dortmund]]'''\n| GER\n| 3–2\n| [[Lille Olympique Sporting Club|Lille]]\n| FRA\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#BVB_LIL|1–1]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#LIL_BVB|2–1]]\n| vencedor=1\n}}\n{{TwoLegResult\n| '''[[Bayern de Múnich|Bayern Múnich]]'''\n| GER\n| 5–0\n| [[Bayer 04 Leverkusen|Bayer Leverkusen]]\n| GER\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#BAY_LEV|3–0]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#LEV_BAY|2–0]]\n| vencedor=1\n}}\n{{TwoLegResult\n| [[Feyenoord de Róterdam|Feyenoord]]\n| NED\n| 1–4\n| '''[[Inter de Milán]]'''\n| ITA\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#FEY_INT|0–2]]\n| [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25#INT_FEY|1–2]]\n| vencedor=2\n}}\n|}\n\n== Enfrentamientos ==\n* Los horarios de los partidos corresponden a la [[hora central europea]] (CET [[UTC+01:00|UTC+1]]).\n=== París Saint-Germain – Liverpool ===\n{{Partidos\n|id                 = PSG_LIV\n|competición        = Ida\n|fecha              = {{fecha|5|3|2025}}\n|hora               = 21:00\n|local              = [[Paris Saint-Germain Football Club|París Saint-Germain]]\n|paíslocal          = FRA\n|resultado          = 0:1''' (0:0)\n|visita             = [[Liverpool Football Club|Liverpool]]\n|paísvisita         = ENG\n|estadio            = [[Parque de los Príncipes]]\n|ciudad             = [[París]]\n|asistencia         = 47{{esd}}511\n|árbitro            ={{árbitro|ITA|Davide Massa}} \n|var                ={{árbitro|ITA|Aleandro Di Paolo}} \n|goleslocal         = \n|golesvisita        = [[Harvey Elliott|Elliott]] {{gol|87}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044816--paris-vs-liverpool/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _psg2425h\n| pattern_b  = _psg2425h\n| pattern_ra = _psg2425h\n| pattern_sh = _shorts\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = 0A1254\n| socks      = 0A1254\n}}\n|{{Camisetas\n| pattern_la = _liverpool2425h\n| pattern_b  = _liverpool2425h\n| pattern_ra = _liverpool2425h\n| pattern_sh = _liverpool2425h\n| pattern_so = _liverpool2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = FF\n}}\n|}\n{{Partidos\n|id                 = LIV_PSG\n|competición        = Vuelta\n|fecha              = {{fecha|11|3|2025}}\n|hora               = 21:00\n|local              = [[Liverpool Football Club|Liverpool]]\n|paíslocal          = ENG\n|resultado          = 0:1 {{sin negrita|(0:1; 0:1)}}\n|global             = 1:1\n|prórroga           = si\n|visita             = [[Paris Saint-Germain Football Club|París Saint-Germain]]\n|paísvisita         = FRA\n|estadio            = [[Anfield]]\n|ciudad             = [[Liverpool]]\n|asistencia         = 59{{esd}}765\n|árbitro            ={{árbitro|ROU|István Kovács}} \n|var                ={{árbitro|GER|Bastian Dankert}} \n|goleslocal         = \n|golesvisita        = [[Ousmane Dembélé|Dembélé]] {{gol|12}}\n|resultado penalti  = 1:4\n|penaltis1          = [[Mohamed Salah|Salah]] {{pengol}}<br>[[Darwin Núñez|Núñez]] {{penfallo}}<br>[[Curtis Jones|Jones]] {{penfallo}}\n|penaltis2          = {{pengol}} [[Vítor Ferreira|Vitinha]]<br>{{pengol}} [[Gonçalo Ramos|Ramos]]<br>{{pengol}} [[Ousmane Dembélé|Dembélé]]<br>{{pengol}} [[Désiré Doué|Doué]]\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044776--liverpool-vs-paris/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _liverpool2425h\n| pattern_b  = _liverpool2425h\n| pattern_ra = _liverpool2425h\n| pattern_sh = _liverpool2425h\n| pattern_so = _liverpool2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la      = _psg2425f\n| pattern_b       = _psg2425F\n| pattern_ra      = _psg2425f\n| pattern_sh      = _shorts\n| pattern_so      = _socks\n| leftarm         = \n| body            = \n| rightarm        = \n| shorts          = 04047c\n| socks           = 04047c\n}}\n|}\n\n=== Brujas – Aston Villa ===\n{{Partidos\n|id                 = BRU_AST\n|competición        = Ida\n|fecha              = {{fecha|4|3|2025}}\n|hora               = 18:45\n|local              = [[Club Brujas|Brujas]]\n|paíslocal          = BEL\n|resultado          = 1:3''' (1:1)\n|visita             = [[Aston Villa Football Club|Aston Villa]]\n|paísvisita         = ENG\n|estadio            = [[Estadio Jan Breydel]]\n|ciudad             = [[Brujas]]\n|asistencia         = 26{{esd}}890\n|árbitro            ={{árbitro|POR|João Pinheiro (árbitro)|João Pinheiro}} \n|var                ={{árbitro|POR|Tiago Martins}} \n|goleslocal         = [[Maxim De Cuyper|De Cuyper]] {{gol|12}}\n|golesvisita        = \n* [[Leon Bailey|Bailey]] {{gol|3}}\n* [[Brandon Mechele|Mechele]] {{gol|82|a.g.}}\n* [[Marco Asensio|Asensio]] {{gol|88|pen.}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044817--club-brugge-vs-aston-villa/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _brugge2425h\n| pattern_b  = _brugge2425h\n| pattern_ra = _brugge2425h\n| pattern_sh = _shorts\n| pattern_so = _blacktop\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = 0080FF\n| socks      = 0080FF\n}}\n|{{Camisetas\n| pattern_la = _astonvilla2425a\n| pattern_b  = _astonvilla2425a\n| pattern_ra = _astonvilla2425a\n| pattern_sh = _shorts\n| pattern_so = _astonvilla2425a\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|}\n{{Partidos\n|id                 = AST_BRU\n|competición        = Vuelta\n|fecha              = {{fecha|12|3|2025}}\n|hora               = 21:00\n|local              = [[Aston Villa Football Club|Aston Villa]]\n|paíslocal          = ENG\n|resultado          = 3:0 {{sin negrita|(0:0)}}\n|global             = 6:1\n|visita             = [[Club Brujas|Brujas]]\n|paísvisita         = BEL\n|estadio            = [[Villa Park]]\n|ciudad             = [[Birmingham]]\n|asistencia         = 42{{esd}}461\n|árbitro            ={{árbitro|GER|Daniel Siebert}} \n|var                ={{árbitro|GER|Christian Dingert}} \n|goleslocal         = \n* [[Marco Asensio|Asensio]] {{gol|50||61}}\n* [[Ian Maatsen|Maatsen]] {{gol|57}} \n|golesvisita        = \n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044777--aston-villa-vs-club-brugge/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _astonvilla2425h\n| pattern_b  = _astonvilla2425h\n| pattern_ra = _astonvilla2425h\n| pattern_sh = _shorts\n| pattern_so = _astonvilla2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la = _brugge2425t\n| pattern_b  = _brugge2425t\n| pattern_ra = _brugge2425t\n| pattern_sh = _shorts\n| pattern_so = _brugge2425t\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = 000000\n| socks      = FFFFFF\n}}\n|}\n\n=== Real Madrid – Atlético de Madrid ===\n{{Partidos\n|id                 = RMA_ATM\n|competición        = Ida\n|fecha              = {{fecha|4|3|2025}}\n|hora               = 21:00\n|local              = [[Real Madrid Club de Fútbol|Real Madrid]]\n|paíslocal          = ESP\n|resultado          = 2:1''' (1:1)\n|visita             = [[Club Atlético de Madrid|Atlético de Madrid]]\n|paísvisita         = ESP\n|estadio            = [[Estadio Santiago Bernabéu]]\n|ciudad             = [[Madrid]]\n|asistencia         = 77{{esd}}261\n|árbitro            ={{árbitro|FRA|Clément Turpin}} \n|var                ={{árbitro|FRA|Jérôme Brisard}} \n|goleslocal         = \n* [[Rodrygo Goes|Rodrygo]] {{gol|4}}\n* [[Brahim Díaz]] {{gol|55}}\n|golesvisita        = [[Julián Álvarez (futbolista)|Álvarez]] {{gol|32}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044818--real-madrid-vs-atleti/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _realmadrid2425h\n| pattern_b  = _realmadrid2425h\n| pattern_ra = _realmadrid2425h\n| pattern_sh = _realmadrid2425h\n| pattern_so = _realmadrid2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la = _atlmadrid2425h\n| pattern_b  = _atlmadrid2425h\n| pattern_ra = _atlmadrid2425h\n| pattern_sh = _atlmadrid2425h\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = FF0000\n}}\n|}\n{{Partidos\n|id                 = ATM_RMA\n|competición        = Vuelta\n|fecha              = {{fecha|12|3|2025}}\n|hora               = 21:00\n|local              = [[Club Atlético de Madrid|Atlético de Madrid]]\n|paíslocal          = ESP\n|resultado          = 1:0 {{sin negrita|(1:0; 1:0)}}\n|global             = 2:2\n|prórroga           = si\n|visita             = [[Real Madrid Club de Fútbol|Real Madrid]]\n|paísvisita         = ESP\n|estadio            = [[Estadio Metropolitano (Madrid)|Estadio Metropolitano]]\n|ciudad             = [[Madrid]]\n|asistencia         = 69{{esd}}304\n|árbitro            ={{árbitro|POL|Szymon Marciniak}} \n|var                ={{árbitro|POL|Tomasz Kwiatkowski}} \n|goleslocal         = [[Conor Gallagher|Gallagher]] {{gol|1}} \n|golesvisita        = \n|resultado penalti  = 2:4\n|penaltis1          = [[Alexander Sørloth|Sørloth]] {{pengol}}<br>[[Julián Álvarez (futbolista)|Álvarez]] {{penfallo}}<br>[[Ángel Correa|Correa]] {{pengol}}<br>[[Marcos Llorente|Llorente]] {{penfallo}}\n|penaltis2          = {{pengol}} [[Kylian Mbappé|Mbappé]]<br>{{pengol}} [[Jude Bellingham|Bellingham]]<br>{{pengol}} [[Federico Valverde|Valverde]]<br>{{penfallo}} [[Lucas Vázquez|Vázquez]]<br>{{pengol}} [[Antonio Rüdiger|Rüdiger]]\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044778--atleti-vs-real-madrid/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _atlmadrid2425h\n| pattern_b  = _atlmadrid2425h\n| pattern_ra = _atlmadrid2425h\n| pattern_sh = _atlmadrid2425h\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FF0000\n}}\n|{{Camisetas\n| pattern_la = _realmadrid2425h\n| pattern_b  = _realmadrid2425h\n| pattern_ra = _realmadrid2425h\n| pattern_sh = _realmadrid2425h\n| pattern_so = _realmadrid2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|}\n\n=== PSV Eindhoven – Arsenal ===\n{{Partidos\n|id                 = PSV_ARS\n|competición        = Ida\n|fecha              = {{fecha|4|3|2025}}\n|hora               = 21:00\n|local              = [[PSV Eindhoven]]\n|paíslocal          = NED\n|resultado          = 1:7''' (1:3)\n|visita             = [[Arsenal Football Club|Arsenal]]\n|paísvisita         = ENG\n|estadio            = [[Philips Stadion]]\n|ciudad             = [[Eindhoven]]\n|asistencia         = 34{{esd}}400\n|árbitro            ={{árbitro|ESP|Jesús Gil Manzano|Gil Manzano}} \n|var                ={{árbitro|ESP|Carlos del Cerro Grande|Del Cerro Grande}} \n|goleslocal         = [[Noa Lang|Lang]] {{gol|43|pen.}}\n|golesvisita        = \n* [[Jurriën Timber|Timber]] {{gol|18}}\n* [[Ethan Nwaneri|Nwaneri]] {{gol|21}}\n* [[Mikel Merino|Merino]] {{gol|31}}\n* [[Martin Ødegaard|Ødegaard]] {{gol|47||73}}\n* [[Leandro Trossard|Trossard]] {{gol|48}}\n* [[Riccardo Calafiori|Calafiori]] {{gol|85}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044819--psv-vs-arsenal/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _psv2425h\n| pattern_b  = _psv2425h\n| pattern_ra = _psv2425h\n| pattern_sh = _psv2425h\n| pattern_so = _rbl2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la = _arsenal2425a\n| pattern_b  = _arsenal2425a\n| pattern_ra = _arsenal2425a\n| pattern_sh = _arsenal2425a2\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = 000000\n}}\n|}\n{{Partidos\n|id                 = ARS_PSV\n|competición        = Vuelta\n|fecha              = {{fecha|12|3|2025}}\n|hora               = 21:00\n|local              = [[Arsenal Football Club|Arsenal]]\n|paíslocal          = ENG\n|resultado          = 2:2 {{sin negrita|(1:1)}}\n|global             = 9:3\n|visita             = [[PSV Eindhoven]]\n|paísvisita         = NED\n|estadio            = [[Emirates Stadium]]\n|ciudad             = [[Londres]]\n|asistencia         = 59{{esd}}410\n|árbitro            ={{árbitro|SVN|Rade Obrenović}} \n|var                ={{árbitro|SVN|Alen Borošak}} \n|goleslocal         =\n* [[Oleksandr Zinchenko|Zinchenko]] {{gol|6}}\n* [[Declan Rice|Rice]] {{gol|37}}\n|golesvisita        = \n* [[Ivan Perišić|Perišić]] {{gol|18}}\n* [[Couhaib Driouech|Driouech]] {{gol|70}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044779--arsenal-vs-psv/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _arsenal2425h\n| pattern_b  = _arsenal2425h\n| pattern_ra = _arsenal2425h\n| pattern_sh = _arsenal2425h\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = F40000\n}}\n|{{Camisetas\n| pattern_la = _psv2425a\n| pattern_b  = _psv2425a\n| pattern_ra = _psv2425a\n| pattern_sh = _psv2425a\n| pattern_so = _psv2425a\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|}\n\n=== Benfica – Barcelona ===\n{{Partidos\n|id                 = SLB_FCB\n|competición        = Ida\n|fecha              = {{fecha|5|3|2025}}\n|hora               = 21:00\n|local              = [[Sport Lisboa e Benfica|Benfica]]\n|paíslocal          = POR\n|resultado          = 0:1''' (0:0)\n|visita             = [[Fútbol Club Barcelona|Barcelona]]\n|paísvisita         = ESP\n|estadio            = [[Estádio da Luz|Estadio da Luz]]\n|ciudad             = [[Lisboa]]\n|asistencia         = 62{{esd}}437\n|árbitro            ={{árbitro|GER|Felix Zwayer}} \n|var                ={{árbitro|GER|Bastian Dankert}} \n|goleslocal         = \n|golesvisita        = [[Raphinha]] {{gol|61}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044823--benfica-vs-barcelona/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _benfica2425h\n| pattern_b  = _benfica2425h\n| pattern_ra = _benfica2425h\n| pattern_sh = _shorts\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FF0000\n}}\n|{{Camisetas\n| pattern_la = _fcbarcelona2425a\n| pattern_b  = _fcbarcelona2425a\n| pattern_ra = _fcbarcelona2425a\n| pattern_sh = _fcbarcelona2425a\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = 000000\n}}\n|}\n{{Partidos\n|id                 = FCB_SLB\n|competición        = Vuelta\n|fecha              = {{fecha|11|3|2025}}\n|hora               = 18:45\n|local              = [[Fútbol Club Barcelona|Barcelona]]\n|paíslocal          = ESP\n|resultado          = 3:1 {{sin negrita|(3:1)}}\n|global             = 4:1\n|visita             = [[Sport Lisboa e Benfica|Benfica]]\n|paísvisita         = POR\n|estadio            = [[Estadio Olímpico Lluís Companys|Estadio Olímpico de Montjuic]]\n|ciudad             = [[Barcelona]]\n|asistencia         = 47{{esd}}111\n|árbitro            ={{árbitro|FRA|François Letexier}} \n|var                ={{árbitro|FRA|Jérôme Brisard}} \n|goleslocal         = \n* [[Raphinha]] {{gol|11||42}}\n* [[Lamine Yamal|Yamal]] {{gol|27}}\n|golesvisita        = [[Nicolás Otamendi|Otamendi]] {{gol|13}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044783--barcelona-vs-benfica/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _fcbarcelona2425h\n| pattern_b  = _fcbarcelona2425h\n| pattern_ra = _fcbarcelona2425h\n| pattern_sh = _fcbarcelona2425h\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = 00006A\n}}\n|{{Camisetas\n| pattern_la = _benfica2425t\n| pattern_b  = _benfica2425t\n| pattern_ra = _benfica2425t\n| pattern_sh = _benfica2425t\n| pattern_so = _blacktop\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = D3D3D3\n}}\n|}\n\n=== Borussia Dortmund – Lille ===\n{{Partidos\n|id                 = BVB_LIL\n|competición        = Ida\n|fecha              = {{fecha|4|3|2025}}\n|hora               = 21:00\n|local              = [[Borussia Dortmund]]\n|paíslocal          = GER\n|resultado          = 1:1''' (1:0)\n|visita             = [[Lille Olympique Sporting Club|Lille]]\n|paísvisita         = FRA\n|estadio            = [[Signal Iduna Park|Westfalenstadion]]\n|ciudad             = [[Dortmund]]\n|asistencia         = 81{{esd}}365\n|árbitro            ={{árbitro|ESP|José María Sánchez Martínez|Sánchez Martínez}} \n|var                ={{árbitro|ESP|Juan Martínez Munuera|Martínez Munuera}} \n|goleslocal         = [[Karim Adeyemi|Adeyemi]] {{gol|22}}\n|golesvisita        = [[Hákon Arnar Haraldsson|Haraldsson]] {{gol|68}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044822--b-dortmund-vs-lille/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _bvb2425c\n| pattern_b  = _bvb2425c\n| pattern_ra = _bvb2425c\n| pattern_sh = _bvb2425h\n| pattern_so = _bvb2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la = _left\n| pattern_b  = _lille2425a\n| pattern_ra = _right\n| pattern_sh = _shorts\n| pattern_so = _socks\n| leftarm    = FFFFFF\n| body       = FFFFFF\n| rightarm   = FFFFFF\n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|}\n{{Partidos\n|id                 = LIL_BVB\n|competición        = Vuelta\n|fecha              = {{fecha|12|3|2025}}\n|hora               = 18:45\n|local              = [[Lille Olympique Sporting Club|Lille]]\n|paíslocal          = FRA\n|resultado          = 1:2 {{sin negrita|(1:0)}}\n|global             = 2:3\n|visita             = [[Borussia Dortmund]]\n|paísvisita         = GER\n|estadio            = [[Estadio Pierre-Mauroy]]\n|ciudad             = [[Lille]]\n|asistencia         = 48{{esd}}042\n|árbitro            ={{árbitro|SUI|Sandro Schärer}} \n|var                ={{árbitro|NED|Dennis Higler}} \n|goleslocal         = [[Jonathan David|David]] {{gol|5}}\n|golesvisita        =\n* [[Emre Can|Can]] {{gol|54|pen.}}\n* [[Maximilian Beier|Beier]] {{gol|65}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044782--lille-vs-b-dortmund/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _left\n| pattern_b  = _lille2425h\n| pattern_ra = _right\n| pattern_sh = _shorts\n| pattern_so = _lille2425h\n| leftarm    = FF0000\n| body       = \n| rightarm   = FF0000\n| shorts     = 000050\n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la = _bvb2425a\n| pattern_b  = _bvb2425a\n| pattern_ra = _bvb2425a\n| pattern_sh = _bvb2425a\n| pattern_so = \n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = 000000\n}}\n|}\n\n=== Bayern Múnich – Bayer Leverkusen ===\n{{Partidos\n|id                 = BAY_LEV\n|competición        = Ida\n|fecha              = {{fecha|5|3|2025}}\n|hora               = 21:00\n|local              = [[Bayern de Múnich|Bayern Múnich]]\n|paíslocal          = GER\n|resultado          = 3:0''' (1:0)\n|visita             = [[Bayer 04 Leverkusen|Bayer Leverkusen]]\n|paísvisita         = GER\n|estadio            = [[Allianz Arena]]\n|ciudad             = [[Múnich]]\n|asistencia         = 75{{esd}}000\n|árbitro            ={{árbitro|ENG|Michael Oliver (árbitro)|Michael Oliver}} \n|var                ={{árbitro|AUS|Jarred Gillett}} \n|goleslocal         =\n* [[Harry Kane|Kane]] {{gol|9||75|pen.}}\n* [[Jamal Musiala|Musiala]] {{gol|54}}\n|golesvisita        = \n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044821--bayern-munchen-vs-leverkusen/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _bayern2425h\n| pattern_b  = _bayern2425h\n| pattern_ra = _bayern2425h\n| pattern_sh = _bayern2425h\n| pattern_so = _bayern2425hl\n| leftarm    =E20505 \n| body       =E20505 \n| rightarm   =E20505 \n| shorts     = 8f0309\n| socks      = FF0000\n}}\n|{{Camisetas\n| pattern_la = _bayer2425a\n| pattern_b  = _bayer2425a\n| pattern_ra = _bayer2425a\n| pattern_sh = _bayer2425a\n| pattern_so = _bayer2425al\n| leftarm    = FFFFFF\n| body       =FFFFFF \n| rightarm   = FFFFFF\n| shorts     =FFFFFF \n| socks      = FFFFFF\n}}\n|}\n{{Partidos\n|id                 = LEV_BAY\n|competición        = Vuelta\n|fecha              = {{fecha|11|3|2025}}\n|hora               = 21:00\n|local              = [[Bayer 04 Leverkusen|Bayer Leverkusen]]\n|paíslocal          = GER\n|resultado          = 0:2 {{sin negrita|(0:0)}}\n|global             = 0:5\n|visita             = [[Bayern de Múnich|Bayern Múnich]]\n|paísvisita         = GER\n|estadio            = [[BayArena]]\n|ciudad             = [[Leverkusen]]\n|asistencia         = 30{{esd}}210\n|árbitro            ={{árbitro|SVN|Slavko Vinčić}} \n|var                ={{árbitro|SVN|Alen Borošak}} \n|goleslocal         = \n|golesvisita        = \n* [[Harry Kane|Kane]] {{gol|52}}\n* [[Alphonso Davies|Davies]] {{gol|71}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044781--leverkusen-vs-bayern-munchen/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _left\n| pattern_b  = _bayer2425h\n| pattern_ra = _right\n| pattern_sh = _bayer2425h\n| pattern_so = _bayer2425h\n| leftarm    = 000000\n| body       = \n| rightarm   = 000000\n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la = _bayern2425t\n| pattern_b  = _bayern2425t\n| pattern_ra = _bayern2425t\n| pattern_sh = _adidasred\n| pattern_so = _3_stripes_red\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FAF0E6\n| socks      = FAF0E6\n}}\n|}\n\n=== Feyenoord – Inter Milán ===\n{{Partidos\n|id                 = FEY_INT\n|competición        = Ida\n|fecha              = {{fecha|5|3|2025}}\n|hora               = 18:45\n|local              = [[Feyenoord]]\n|paíslocal          = NED\n|resultado          = 0:2''' (0:1)\n|visita             = [[Inter de Milán|Inter Milán]]\n|paísvisita         = ITA\n|estadio            = [[Stadion Feijenoord]]\n|ciudad             = [[Róterdam]]\n|asistencia         = 43{{esd}}789\n|árbitro            ={{árbitro|NOR|Espen Eskås}} \n|var                ={{árbitro|GER|Christian Dingert}} \n|goleslocal         = \n|golesvisita        = \n* [[Marcus Thuram|Thuram]] {{gol|38}}\n* [[Lautaro Martínez|L. Martínez]] {{gol|50}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044820--feyenoord-vs-inter/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _feyenoord2425h\n| pattern_b  = _feyenoord2425h\n| pattern_ra = _feyenoord2425h\n| pattern_sh = _feyenoord2425h\n| pattern_so = _feyenoord2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = FFF\n}}\n|{{Camisetas\n| pattern_la = _internazionale2425t\n| pattern_b  = _internazionale2425t\n| pattern_ra = _internazionale2425t\n| pattern_sh = _internazionale2425t2\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = \n| socks      = FFCC00\n}}\n|}\n{{Partidos\n|id                 = INT_FEY\n|competición        = Vuelta\n|fecha              = {{fecha|11|3|2025}}\n|hora               = 21:00\n|local              = [[Inter de Milán|Inter Milán]]\n|paíslocal          = ITA\n|resultado          = 2:1 {{sin negrita|(1:1)}}\n|global             = 4:1\n|visita             = [[Feyenoord de Róterdam|Feyenoord]]\n|paísvisita         = NED\n|estadio            = [[Estadio Giuseppe Meazza]]\n|ciudad             = [[Milán]]\n|asistencia         = 55{{esd}}536\n|árbitro            ={{árbitro|SVK|Ivan Kružliak}} \n|var                ={{árbitro|SUI|Fedayi San}} \n|goleslocal         = \n* [[Marcus Thuram|Thuram]] {{gol|8}}\n* [[Hakan Çalhanoğlu|Çalhanoğlu]] {{gol|51}}\n|golesvisita        = [[Jakub Moder|Moder]] {{gol|42|pen.}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044780--inter-vs-feyenoord/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la = _internazionale2425h\n| pattern_b  = _internazionale2425h\n| pattern_ra = _internazionale2425h\n| pattern_sh = _internazionale2425h\n| pattern_so = _internazionale2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|{{Camisetas\n| pattern_la = _feyenoord2425h\n| pattern_b  = _feyenoord2425h\n| pattern_ra = _feyenoord2425h\n| pattern_sh = _shorts\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|}\n\n== Clasificados para Cuartos de final ==\n{| align=center cellpadding=\"2\" cellspacing=\"0\" style=\"background: #87CEEB; border: 1px #aaa solid; border-collapse: collapse; font-size: 95%;\" width=80%\n|- align=center\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|FRA|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ENG|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ESP|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ENG|tamaño=45px}}\n|- align=center style=\"border-bottom:1px solid #aaa;\"\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[París Saint-Germain Football Club|París Saint-Germain]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Aston Villa Football Club|Aston Villa]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Real Madrid Club de Fútbol|Real Madrid]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Arsenal Football Club|Arsenal]]'''\n|- align=center\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ESP|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|GER|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|GER|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ITA|tamaño=45px}}\n|- align=center style=\"border-bottom:1px solid #aaa;\"\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Fútbol Club Barcelona|Barcelona]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Borussia Dortmund]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Bayern de Múnich|Bayern Múnich]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Inter de Milán|Inter Milán]]'''\n|}\n\n== Véase también ==\n* [[Anexo: Primera ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Segunda ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Tercera ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo:Cuarta ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Fase de liga de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Ronda preliminar de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Cuartos de final de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Semifinales de la Liga de Campeones de la UEFA 2024-25]]\n* [[Final de la Liga de Campeones de la UEFA 2024-25]]\n\n== Notas ==\n{{listaref|grupo=n.}}\n\n== Referencias ==\n{{listaref}}\n\n== Enlaces externos ==\n* [http://es.uefa.com Página oficial de la UEFA]\n* [http://es.uefa.com/uefachampionsleague/index.html Página oficial de la UEFA Champions League]\n\n{{Sucesión\n| predecesor = [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2023-24|2023-24]]\n| título = Octavos de final de la<br>[[Liga de Campeones de la UEFA]]\n| período = 2024-25\n| sucesor = [[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2025-26|2025-26]]\n}}\n{{Control de autoridades}}\n[[Categoría:Liga de Campeones de la UEFA 2024-25]]"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "wikitext": "{{AP|Liga de Campeones de la UEFA 2024-25}}\nEn los '''Cuartos de final de la [[Liga de Campeones de la UEFA 2024-25]]''', participaron los ocho equipos vencedores de la fase anterior. Estos fueron distribuidos en cuatro parejas. Cada pareja se enfrentó en partidos de ida y vuelta de 90 minutos cada uno. En estos encuentros no se considera la [[regla del gol de visitante]]. En caso de que no hubiese ganador en el período regular del juego de vuelta, se realizó una prórroga de 30 minutos, y de persistir el empate en el tiempo suplementario se realizaban [[tiros desde el punto penal]] para definir al ganador.<ref name=\"regulations\">{{cita web|url=https://documents.uefa.com/r/Regulations-of-the-UEFA-Champions-League-2024/25-Online|título=Regulations of the UEFA Champions League|fechaacceso=2024-12-10|autor=[[UEFA]]|fecha=2024-12-03|ubicación=[[Nyon]]|archive-url=https://web.archive.org/web/20241210214638/https://documents.uefa.com/api/khub/maps/0wI_a8EkcYx57ZFHbGY~dQ/attachments/dOe9D5W0wzFYElvK3rGi4w-0wI_a8EkcYx57ZFHbGY~dQ/content|archive-date=2024-12-10}}</ref>\n\nPara los cuartos de final, los cruces ya fueron predeterminados en el sorteo de octavos de final celebrado el 21 de febrero de 2025, en [[Nyon]], [[Suiza]].<ref>{{Cita web|url=https://es.uefa.com/uefachampionsleague/news/0296-1d0c340bd7cd-73cd3d4b922c-1000--sorteo-de-octavos-cuartos-y-semifinales-de-la-uefa-champi/|título=Sorteo de octavos, cuartos y semifinales de la UEFA Champions League: ¿dónde es, cuándo es, quién participa? {{!}} UEFA Champions League|fechaacceso=2025-02-19|apellido=UEFA.com|fecha=2025-02-19|sitioweb=UEFA.com|idioma=es}}</ref>\n\n== Participantes ==\n{| width=100%\n|- align=center\n!width=12,5%|{{bandera4|ESP|tamaño=60px}}\n!width=12,5%|{{bandera4|ENG|tamaño=60px}}\n!width=12,5%|{{bandera4|ITA|tamaño=60px}}\n!width=12,5%|{{bandera4|ENG|tamaño=60px}}\n|- align=center\n![[Fútbol Club Barcelona|Barcelona]]\n![[Arsenal Football Club|Arsenal]]\n![[Inter de Milán|Inter Milán]]\n![[Aston Villa Football Club|Aston Villa]]\n|-\n!Clasificado\n!Eliminado\n!Clasificado\n!Eliminado\n|-\n!{{Football kit|pattern_la=_fcbarcelona2425h|pattern_b=_fcbarcelona2425h|pattern_ra=_fcbarcelona2425h|pattern_sh=_fcbarcelona2425h|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=|socks=00006A}}\n|{{Football kit|pattern_la=_arsenal2425h|pattern_b=_arsenal2425h|pattern_ra=_arsenal2425h|pattern_sh=_arsenal2425h|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=|socks=F40000}}\n!{{Football kit|pattern_la=_internazionale2425h|pattern_b=_internazionale2425h|pattern_ra=_internazionale2425h|pattern_sh=_internazionale2425h|pattern_so=_internazionale2425h|leftarm=|body=|rightarm=|shorts=|socks=FFFFFF}}\n|{{Football kit|pattern_la=_astonvilla2425h|pattern_b=_astonvilla2425h|pattern_ra=_astonvilla2425h|pattern_sh=_shorts|pattern_so=_astonvilla2425h|leftarm=|body=|rightarm=|shorts=FFFFFF|socks=FFFFFF}}\n|- align=center\n!width=12,5%|{{bandera4|GER|tamaño=60px}}\n!width=12,5%|{{bandera4|ESP|tamaño=60px}}\n!width=12,5%|{{bandera4|GER|tamaño=60px}}\n!width=12,5%|{{bandera4|FRA|tamaño=60px}}\n|- align=center\n![[Borussia Dortmund]]\n![[Real Madrid Club de Fútbol|Real Madrid]] \n![[Bayern de Múnich|Bayern Múnich]]\n![[Paris Saint-Germain Football Club|Paris Saint-Germain]]\n|- align=center\n!Eliminado\n!Clasificado\n!Eliminado\n!Clasificado\n|- align=center\n!{{Camisetas|pattern_la=_bvb2425c|pattern_b=_bvb2425c|pattern_ra=_bvb2425c|pattern_sh=_bvb2425h|pattern_so=_bvb2425h|leftarm=|body=|rightarm=|shorts=|socks=FFFFFF}}\n!{{Camisetas|pattern_la=_realmadrid2425h|pattern_b=_realmadrid2425h|pattern_ra=_realmadrid2425h|pattern_sh=_realmadrid2425h|pattern_so=_realmadrid2425h|leftarm=_realmadrid2425h|body=_realmadrid2425h|rightarm=_realmadrid2425h|shorts=_realmadrid2425h|socks=FFFFFF}}\n|{{Camisetas|pattern_la=_bayern2425t|pattern_b=_bayern2425t|pattern_ra=_bayern2425t|pattern_sh=_adidasred|pattern_so=_3_stripes_red|leftarm=|body=|rightarm=|shorts=FAF0E6|socks=FAF0E6}}\n!{{Camisetas|pattern_la=_psg2425h|pattern_b=_psg2425h|pattern_ra=_psg2425h|pattern_sh=_shorts|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=0A1254|socks=0A1254}}\n|}\n\n== Estadios ==\n{|border=0 cellspacing=1 cellpadding=0 style=\"font-size: 90%;\" width=85% align=center\n|\n|\n|\n|\n|- align=\"center\"\n|[[Archivo:Estadi_Olímpic_Lluís_Companys.JPG|200x200px]]\n|[[Archivo:Arsenal_vs_Real_Madrid-bigger-view.jpg|200x200px]]\n|[[Archivo:San_Siro_2014.jpg|200x200px]]\n|[[Archivo:Inside_Villa_Park_-_geograph.org.uk_-_1191451.jpg|200x200px]]\n|- align=\"center\" valign=\"top\" bgcolor=\"87CEEB\" style=\"border:1px solid #aaa;\"\n|'''[[Estadio Olímpico Lluís Companys|Estadio Olímpico de Montjuic]]{{refn|group=n.|name=Barcelona|El [[Fútbol Club Barcelona|Barcelona]] juega sus partidos como local en el [[Estadio Olímpico Lluís Companys|Olímpico Lluís Companys]] de [[Barcelona]], en lugar de su estadio habitual, el [[Camp Nou]] también de la misma ciudad, pues está siendo renovado.<ref>{{Cita web|url=https://www.record.com.mx/futbol-futbol-internacional-internacionales/barcelona-busca-jugar-champions-en-el-camp-nou-antes-de|título=Barcelona busca jugar Champions en el Camp Nou antes de 2025|fecha=10 de mayo de 2024|obra=[[Récord (periódico)|Récord]]|idioma=es}}</ref>}}''' \nCiudad:  [[Barcelona]] <br>\nCapacidad: '''54 367''' espectadores <br>\nClub: [[Fútbol Club Barcelona|Barcelona]]\n\n| '''[[Emirates Stadium]]'''<br />\nCiudad: [[Londres]]<br />\nCapacidad: '''60 704''' espectadores<br />\nClub: [[Arsenal Football Club|Arsenal]]\n\n| '''[[Estadio Giuseppe Meazza|Giuseppe Meazza]]'''<br />\nCiudad: [[Milán]]<br />\nCapacidad: '''80 018''' espectadores<br />\nClub: [[Inter de Milán|Inter Milán]]\n\n| '''[[Villa Park]] '''<br />\nCiudad: [[Birmingham]]<br />\nCapacidad: '''42 260''' espectadores<br />\nClub: [[Aston Villa Football Club|Aston Villa]]\n|}\n{|border=0 cellspacing=1 cellpadding=0 style=\"font-size: 90%;\" width=85% align=center\n|\n|\n|\n|- align=\"center\"\n|[[Archivo:Signal iduna park stadium dortmund 4.jpg|200x200px]]\n|[[File:Estadio Santiago Bernabéu 38.jpg|200x200px]]\n|[[Archivo:Allianz_Arena_2008-02-09.jpg|200x200px]]\n|[[File:PSG-Lyon_Parc_des_Princes_02.jpg|200x200px]]\n|- align=\"center\" valign=\"top\" bgcolor=\"87CEEB\" style=\"border:1px solid #aaa;\"\n| '''[[Signal Iduna Park|Westfalenstadion]]'''<br />\nCiudad: [[Dortmund]]<br />\nCapacidad: '''81 365''' espectadores<br />\nClub: [[Borussia Dortmund]]\n\n| '''[[Estadio Santiago Bernabéu]]'''<br />\nCiudad: [[Madrid]]<br />\nCapacidad: '''81 500''' espectadores<br />\nClub: [[Real Madrid Club de Fútbol|Real Madrid]] \n\n| '''[[Allianz Arena]] '''<br />\nCiudad: [[Múnich]]<br />\nCapacidad: '''75 000''' espectadores<br />\nClub: [[Bayern de Múnich|Bayern Múnich]]\n\n|'''[[Parque de los Príncipes]]'''<br />\nCiudad: [[París]]<br />\nCapacidad: '''47 929''' espectadores<br />\nClub: [[Paris Saint-Germain Football Club|París Saint-Germain]]\n|}\n\n== Llaves ==\t\n{{TwoLegStart}}\n{{TwoLegResult\n| '''[[París Saint-Germain Football Club|París Saint-Germain]]'''\n| FRA\n| 5–4\n| [[Aston Villa Football Club|Aston Villa]]\n| ENG\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#PSG_AST|3–1]]\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#AST_PSG|2–3]]\n| vencedor=1\n}}\n{{TwoLegResult\n| '''[[Arsenal Football Club|Arsenal]]'''\n| ENG\n| 5-1\n| [[Real Madrid Club de Fútbol|Real Madrid]] \n| ESP\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#ARS_RMA|3–0]]\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#RMA_ARS|2-1]]\n| vencedor= 1\n}}\n{{TwoLegResult\n| '''[[Fútbol Club Barcelona|Barcelona]]'''\n| ESP\n| 5–3\n| [[Borussia Dortmund]]\n| GER\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#FCB_BVB|4–0]]\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#BVB_FCB|1–3]]\n| vencedor= 1\n}}\n{{TwoLegResult\n| [[Bayern de Múnich|Bayern Múnich]]\n| GER\n| 3–4\n| '''[[Inter de Milán]]'''\n| ITA\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#BAY_INT|1–2]]\n| [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25#INT_BAY|2–2]]\n| vencedor= 2\n}}\n|}\n\n\n== Enfrentamientos ==\n* Los horarios de los partidos corresponden a la [[hora central europea de verano]] (CEST [[UTC+02:00|UTC+2]]).\n=== París Saint-Germain – Aston Villa ===\n{{Partidos\n|id                 = PSG_AST\n|competición        = Ida\n|fecha              = {{fecha|9|4|2025}}\n|hora               = 21:00\n|local              = [[Paris Saint-Germain Football Club|París Saint-Germain]]\n|paíslocal          = FRA\n|resultado          = 3:1''' (1:1)\n|visita             = [[Aston Villa Football Club|Aston Villa]]\n|paísvisita         = ENG\n|estadio            = [[Parque de los Príncipes]]\n|ciudad             = [[París]]\n|asistencia         = 47{{esd}}511\n|árbitro            ={{árbitro|ITA|Maurizio Mariani}} \n|var                ={{árbitro|ITA|Marco Di Bello}} \n|goleslocal         = \n* [[Désiré Doué|Doué]] {{gol|39}}\n* [[Khvicha Kvaratskhelia|Kvaratskhelia]] {{gol|49}}\n* [[Nuno Mendes (futbolista)|N. Mendes]] {{gol|90+2}}\n|golesvisita        = [[Morgan Rogers|Rogers]] {{gol|35}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044848--paris-vs-aston-villa/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     = _psg2425h\n| pattern_b      = _psg2425h\n| pattern_ra     = _psg2425h\n| pattern_sh     = _shorts\n| pattern_so     = _socks\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = 0A1254\n| socks          = 0A1254\n}}\n|{{Camisetas\n| pattern_la     = _astonvilla2425a\n| pattern_b      = _astonvilla2425a\n| pattern_ra     = _astonvilla2425a\n| pattern_sh     = _shorts\n| pattern_so     = _astonvilla2425a\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = FFFFFF\n| socks          = FF\n}}\n|}\n{{Partidos\n|id                 = AST_PSG\n|competición        = Vuelta\n|fecha              = {{fecha|15|4|2025}}\n|hora               = 21:00\n|local              = [[Aston Villa Football Club|Aston Villa]]\n|paíslocal          = ENG\n|resultado          = 3:2 {{sin negrita|(1:2)}}\n|global             = 4:5\n|visita             = [[Paris Saint-Germain Football Club|París Saint-Germain]]\n|paísvisita         = FRA\n|estadio            = [[Villa Park]]\n|ciudad             = [[Birmingham]]\n|asistencia         = 42{{esd}}535\n|árbitro            ={{árbitro|ESP|José María Sánchez Martínez|Sánchez Martínez}} \n|var                ={{árbitro|ESP|Carlos del Cerro Grande|Del Cerro Grande}} \n|goleslocal         = \n* [[Youri Tielemans|Tielemans]] {{gol|34}}\n* [[John McGinn|McGinn]] {{gol|55}}\n* [[Ezri Konsa|Konsa]] {{gol|57}}\n|golesvisita        = \n* [[Achraf Hakimi|Hakimi]] {{gol|11}}\n* [[Nuno Mendes (futbolista)|N. Mendes]] {{gol|27}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044854--aston-villa-vs-paris/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     = _astonvilla2425h\n| pattern_b      = _astonvilla2425h\n| pattern_ra     = _astonvilla2425h\n| pattern_sh     = _shorts\n| pattern_so     = _astonvilla2425h\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = FFFFFF\n| socks          = FF\n}}\n|{{Camisetas\n| pattern_la     = _psg2425f\n| pattern_b      = _psg2425F\n| pattern_ra     = _psg2425f\n| pattern_sh     = _shorts\n| pattern_so     = _socks\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = 04047c\n| socks          = 04047c\n}}\n|}\n\n=== Arsenal – Real Madrid ===\n{{Partidos\n|id                 = ARS_RMA\n|competición        = Ida\n|fecha              = {{fecha|8|4|2025}}\n|hora               = 21:00\n|local              = [[Arsenal Football Club|Arsenal]]\n|paíslocal          = ENG\n|resultado          = 3:0''' (0:0)\n|visita             = [[Real Madrid Club de Fútbol|Real Madrid]] \n|paísvisita         = ESP\n|estadio            = [[Emirates Stadium]]\n|ciudad             = [[Londres]]\n|asistencia         = 60{{esd}}110\n|árbitro            ={{árbitro|BIH|Irfan Peljto}}\n|var                ={{árbitro|GER|Bastian Dankert}} \n|goleslocal         =\n* [[Declan Rice|Rice]] {{gol|58||70}}\n* [[Mikel Merino|Merino]] {{gol|75}}\n|golesvisita        = \n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044849--arsenal-vs-real-madrid/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     = _arsenal2425h\n| pattern_b      = _arsenal2425h\n| pattern_ra     = _arsenal2425h\n| pattern_sh     = _arsenal2425h\n| pattern_so     = _socks\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = FFFFFF\n| socks          = F40000\n}}\n|{{Camisetas\n| pattern_la     = _realmadrid2425t\n| pattern_b      = _realmadrid2425t\n| pattern_ra     = _realmadrid2425t\n| pattern_sh     = _realmadrid2425t\n| pattern_so     = _realmadrid2425t\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = FFFFFF\n| socks          = FFFFFF\n}}\n|}\n{{Partidos\n|id                 = RMA_ARS\n|competición        = Vuelta\n|fecha              = {{fecha|16|4|2025}}\n|hora               = 21:00\n|local              = [[Real Madrid Club de Fútbol|Real Madrid]] \n|paíslocal          = ESP\n|resultado          = 1:2{{sin negrita|(0:0)}}\n|global             = 1:5\n|visita             = [[Arsenal Football Club|Arsenal]]\n|paísvisita         = ENG\n|estadio            = [[Estadio Santiago Bernabéu]] \n|ciudad             = [[Madrid]]\n|asistencia         = 77{{esd}}073\n|árbitro            = {{árbitro|FRA|François Letexier}}\n|var                = {{árbitro|FRA|Jérôme Brisard}}\n|goleslocal         = * [[Vinícius Júnior]] {{gol|67}}\n\n|golesvisita        = = * [[Saka]] {{gol|65}}\n* [[Martinelli]] {{gol|90+3}}\n\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044855--real-madrid-vs-arsenal/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     =_realmadrid2425h \n| pattern_b      =_realmadrid2425h \n| pattern_ra     =_realmadrid2425h \n| pattern_sh     =_realmadrid2425h \n| pattern_so     =_realmadrid2425h \n| leftarm        =FFFFFF \n| body           =FFFFFF \n| rightarm       =FFFFFF \n| shorts         =FFFFFF \n| socks          =FFFFFF \n}}\n|{{Camisetas\n| pattern_la     =_arsenal2425a \n| pattern_b      =_arsenal2425a \n| pattern_ra     =_arsenal2425a \n| pattern_sh     =_arsenal2425a \n| pattern_so     =_socks \n| leftarm        =000000 \n| body           =000000 \n| rightarm       =000000 \n| shorts         =000000 \n| socks          =000000 \n}}\n|}\n\n=== Barcelona – Borussia Dortmund ===\n{{Partidos\n|id                 = FCB_BVB\n|competición        = Ida\n|fecha              = {{fecha|9|4|2025}}\n|hora               = 21:00\n|local              = [[Fútbol Club Barcelona|Barcelona]]\n|paíslocal          = ESP\n|resultado          = 4:0''' (1:0)\n|visita             = [[Borussia Dortmund]]\n|paísvisita         = GER\n|estadio            = [[Estadio Olímpico Lluís Companys|Estadio Olímpico de Montjuic]]\n|ciudad             = [[Barcelona]]\n|asistencia         = 49{{esd}}760\n|árbitro            ={{árbitro|NOR|Espen Eskås}} \n|var                ={{árbitro|NED|Dennis Higler}} \n|goleslocal         = \n* [[Raphinha]] {{gol|25}}\n* [[Robert Lewandowski|Lewandowski]] {{gol|48||66}}\n* [[Lamine Yamal|Yamal]] {{gol|77}}\n|golesvisita        = \n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044851--barcelona-vs-b-dortmund/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     =_fcbarcelona2425h \n| pattern_b      =_fcbarcelona2425h \n| pattern_ra     =_fcbarcelona2425h \n| pattern_sh     =_fcbarcelona2425h \n| pattern_so     =_socks \n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = \n| socks          =00006A \n}}\n|{{Camisetas\n| pattern_la     =_bvb2425c \n| pattern_b      =_bvb2425c \n| pattern_ra     =_bvb2425c \n| pattern_sh     =_bvb2425h2\n| pattern_so     =_bvb2425h \n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = \n| socks          =FFFFFF \n}}\n|}\n\n{{Partidos\n|id                 = BVB_FCB\n|competición        = Vuelta\n|fecha              = {{fecha|15|4|2025}}\n|hora               = 21:00\n|local              = [[Borussia Dortmund]]\n|paíslocal          = GER\n|resultado          = 3:1 {{sin negrita|(1:0)}}\n|global             = 3:5\n|visita             = [[Fútbol Club Barcelona|Barcelona]]\n|paísvisita         = ESP\n|estadio            = [[Signal Iduna Park|Westfalenstadion]]\n|ciudad             = [[Dortmund]]\n|asistencia         = 81{{esd}}365\n|árbitro            ={{árbitro|ITA|Maurizio Mariani}} \n|var                ={{árbitro|ITA|Marco Di Bello}} \n|goleslocal         = [[Serhou Guirassy|Guirassy]] {{gol|11|pen.|49||76}}\n|golesvisita        = [[Rami Bensebaini|Bensebaini]] {{gol|54|a.g.}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044853--b-dortmund-vs-barcelona/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     =_bvb2425c\n| pattern_b      =_bvb2425c\n| pattern_ra     =_bvb2425c\n| pattern_sh     =_bvb2425h\n| pattern_so     =_bvb2425h\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = \n| socks          =FFF\n}}\n|{{Camisetas\n| pattern_la     =_fcbarcelona2425h\n| pattern_b      =_fcbarcelona2425h\n| pattern_ra     =_fcbarcelona2425h\n| pattern_sh     =_fcbarcelona2425h2\n| pattern_so     =_socks\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = \n| socks          =00006A\n}}\n|}\n\n=== Bayern Múnich – Inter Milán ===\n{{Partidos\n|id                 = BAY_INT\n|competición        = Ida\n|fecha              = {{fecha|8|4|2025}}\n|hora               = 21:00\n|local              = [[Bayern de Múnich|Bayern Múnich]]\n|paíslocal          = GER\n|resultado          = 1:2''' (0:1)\n|visita             = [[Inter de Milán|Inter Milán]]\n|paísvisita         = ITA\n|estadio            = [[Allianz Arena]]\n|ciudad             = [[Múnich]]\n|asistencia         = 75{{esd}}000\n|árbitro            ={{árbitro|SUI|Sandro Schärer}} \n|var                ={{árbitro|SUI|Fedayi San}} \n|goleslocal         = [[Thomas Müller|Müller]] {{gol|85}}\n|golesvisita        =\n* [[Lautaro Martínez|L. Martínez]] {{gol|38}} \n* [[Davide Frattesi|Frattesi]] {{gol|88}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044852--bayern-munchen-vs-inter/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     = _bayern2425h\n| pattern_b      = _bayern2425h\n| pattern_ra     = _bayern2425h\n| pattern_sh     = _bayern2425h\n| pattern_so     = _bayern2425hl\n| leftarm        =E20505 \n| body           =E20505 \n| rightarm       =E20505 \n| shorts         = 8f0309\n| socks          = FF0000\n}}\n|{{Camisetas\n| pattern_la     = _internazionale2425h\n| pattern_b      = _internazionale2425h\n| pattern_ra     = _internazionale2425h\n| pattern_sh     = _internazionale2425h\n| pattern_so     = _internazionale2425h\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = \n| socks          = FF\n}}\n|}\n{{Partidos\n|id                 = INT_BAY\n|competición        = Vuelta\n|fecha              = {{fecha|16|4|2025}}\n|hora               = 21:00\n|local              = [[Inter de Milán|Inter Milán]]\n|paíslocal          = ITA\n|resultado          = 2:2 {{sin negrita|(0:0)}}\n|global             = 4:3\n|visita             = [[Bayern de Múnich|Bayern Múnich]]\n|paísvisita         = GER\n|estadio            = [[Estadio Giuseppe Meazza]]\n|ciudad             = [[Milán]]\n|asistencia         = 75{{esd}}625\n|árbitro            = {{árbitro|SVN|Slavko Vinčić}}\n|var                = {{árbitro|SVN|Alen Borošak}}\n|goleslocal         = \n* [[Lautaro Martínez|L. Martínez]] {{gol|58}}\n* [[Benjamin Pavard|Pavard]] {{gol|61}}\n|golesvisita        = \n* [[Harry Kane|Kane]] {{gol|52}}\n* [[Eric Dier|Dier]] {{gol|76}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044850--inter-vs-bayern-munchen/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Camisetas\n| pattern_la     = _internazionale2425h\n| pattern_b      = _internazionale2425h\n| pattern_ra     = _internazionale2425h\n| pattern_sh     = _internazionale2425h\n| pattern_so     = _internazionale2425h\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = \n| socks          = FF\n}}\n|{{Camisetas\n| pattern_la     = _bayern2425t\n| pattern_b      = _bayern2425t\n| pattern_ra     = _bayern2425t\n| pattern_sh     = _adidasred\n| pattern_so     = _3_stripes_red\n| leftarm        = \n| body           = \n| rightarm       = \n| shorts         = FAF0E6\n| socks          = FAF0E6\n}}\n|}\n\n== Clasificados para Semifinales ==\n{| align=center cellpadding=\"2\" cellspacing=\"0\" style=\"background: #f5faff; border: 1px #aaa solid; border-collapse: collapse; font-size: 95%;\" width=80%\n|- align=center\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|FRA|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ENG|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ESP|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ITA|tamaño=45px}}\n|- align=center style=\"border-bottom:1px solid #aaa;\"\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[París Saint Germain|París Saint-Germain]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|Arsenal\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Fútbol Club Barcelona|Barcelona]]\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Inter de Milán|Inter Milán]]'''\n|}\n\n== Véase también ==\n* [[Anexo: Primera ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Segunda ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Tercera ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo:Cuarta ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Fase de liga de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Ronda preliminar de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Octavos de final de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Semifinales de la Liga de Campeones de la UEFA 2024-25]]\n* [[Final de la Liga de Campeones de la UEFA 2024-25]]\n\n== Notas ==\n{{listaref|grupo=n.}}\n\n== Referencias ==\n{{listaref}}\n\n== Enlaces externos ==\n* [http://es.uefa.com Página oficial de la UEFA]\n* [http://es.uefa.com/uefachampionsleague/index.html Página oficial de la UEFA Champions League]\n\n{{Sucesión\n| predecesor = [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2023-24|2023-24]]\n| título = Cuartos de final de la<br>[[Liga de Campeones de la UEFA]]\n| período = 2024-25\n| sucesor = [[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2025-26|2025-26]]\n}}\n{{Control de autoridades}}\n[[Categoría:Liga de Campeones de la UEFA 2024-25]]"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "wikitext": "{{AP|Liga de Campeones de la UEFA 2024-25}} \nEn las '''Semifinales de la [[Liga de Campeones de la UEFA 2024-25]]''' participaron los cuatro equipos vencedores de la fase anterior. Estos fueron distribuidos en dos parejas. Cada pareja se enfrentó en partidos de ida y vuelta de 90 minutos cada uno. En caso de que no hubiese ganador en el periodo regular, se realizaba una prórroga de 30 minutos, y si  no había ganador se realizaban [[tiros desde el punto penal]] para definir el ganador.<ref name=\"regulations\">{{cita web|url=https://documents.uefa.com/r/Regulations-of-the-UEFA-Champions-League-2024/25-Online|título=Regulations of the UEFA Champions League|fechaacceso=2024-12-10|autor=[[UEFA]]|fecha=2024-12-03|ubicación=[[Nyon]]|archive-url=https://web.archive.org/web/20241210214638/https://documents.uefa.com/api/khub/maps/0wI_a8EkcYx57ZFHbGY~dQ/attachments/dOe9D5W0wzFYElvK3rGi4w-0wI_a8EkcYx57ZFHbGY~dQ/content|archive-date=2024-12-10}}</ref>\n\nPara las semifinales, los cruces ya fueron predeterminados en el sorteo de octavos de final celebrado el 21 de febrero de 2025, en [[Nyon]], [[Suiza]].<ref>{{Cita web|url=https://es.uefa.com/uefachampionsleague/news/0296-1d0c340bd7cd-73cd3d4b922c-1000--sorteo-de-octavos-cuartos-y-semifinales-de-la-uefa-champi/|título=Sorteo de octavos, cuartos y semifinales de la UEFA Champions League: ¿dónde es, cuándo es, quién participa? {{!}} UEFA Champions League|fechaacceso=2025-02-19|apellido=UEFA.com|fecha=2025-02-19|sitioweb=UEFA.com|idioma=es}}</ref>\n\n== Participantes ==\n{| width=100%\n|- align=center\n!width=12,5%|{{bandera4|ESP|tamaño=60px}}\n!width=12,5%|{{bandera4|ENG|tamaño=60px}}\n!width=12,5%|{{bandera4|ITA|tamaño=60px}}\n!width=12,5%|{{bandera4|FRA|tamaño=60px}}\n|- align=center\n![[Fútbol Club Barcelona|Barcelona]]\n![[Arsenal Football Club|Arsenal]]\n![[Inter de Milán|Inter de Milán]]\n![[Paris Saint-Germain Football Club|Paris Saint-Germain]]\n|-\n!Eliminado\n!Eliminado\n!Clasificado\n!Clasificado\n|-\n!{{Camisetas|pattern_la=_fcbarcelona2425h|pattern_b=_fcbarcelona2425h|pattern_ra=_fcbarcelona2425h|pattern_sh=_fcbarcelona2425h|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=|socks=00006A}} \n!{{Camisetas|pattern_la=_arsenal2425h|pattern_b=_arsenal2425h|pattern_ra=_arsenal2425h|pattern_sh=_arsenal2425h|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=|socks=F40000}}\n!{{Camisetas|pattern_la=_internazionale2425h|pattern_b=_internazionale2425h|pattern_ra=_internazionale2425h|pattern_sh=_internazionale2425h|pattern_so=_internazionale2425h|leftarm=|body=|rightarm=|shorts=|socks=FFFFFF}}\n!{{Camisetas|pattern_la=_psg2425h|pattern_b=_psg2425h|pattern_ra=__psg2425h|pattern_sh=_shorts|pattern_so=_socks|leftarm=|body=|rightarm=|shorts=0A1254|socks=0A1254}}\n|- align=center\n!\n! \n!\n!\n|}\n\n== Estadios ==\n{|border=0 cellspacing=1 cellpadding=0 style=\"font-size: 90%;\" width=85% align=center\n|\n|\n|\n|\n|- align=\"center\"\n|[[Archivo:Estadi_Olímpic_Lluís_Companys.JPG|200px]]\n|[[Archivo:Arsenal_vs_Real_Madrid-bigger-view.jpg|200x200px]]\n|[[Archivo:San_Siro_2014.jpg|200x200px]]\n|[[File:PSG-Lyon_Parc_des_Princes_02.jpg|200x200px]]\n|- align=\"center\" valign=\"top\" bgcolor=\"87CEEB\" style=\"border:1px solid #aaa;\"\n| '''[[ Estadio Olímpico Lluís Companys|Estadio Olímpico de Montjuic]]{{refn|group=n.|name=Barcelona|El [[Fútbol Club Barcelona|Barcelona]] juega sus partidos como local en el [[Estadio Olímpico Lluís Companys|Olímpico Lluís Companys]] de [[Barcelona]], en lugar de su estadio habitual, el [[Camp Nou]] también de la misma ciudad, pues está siendo renovado.<ref>{{Cita web|url=https://www.record.com.mx/futbol-futbol-internacional-internacionales/barcelona-busca-jugar-champions-en-el-camp-nou-antes-de|título=Barcelona busca jugar Champions en el Camp Nou antes de 2025|fecha=10 de mayo de 2024|obra=[[Récord (periódico)|Récord]]|idioma=es}}</ref>}}'''<br />\nCiudad: [[Barcelona]]<br />\nCapacidad: '''54 367''' espectadores<br />\nClub:  [[Fútbol Club Barcelona|Barcelona]]\n\n| '''[[Emirates Stadium]]'''<br />\nCiudad: [[Londres]]<br />\nCapacidad: '''60 704''' espectadores<br />\nClub: [[Arsenal Football Club|Arsenal]]\n\n| '''[[Estadio Giuseppe Meazza|Giuseppe Meazza]]'''<br />\nCiudad: [[Milán]]<br />\nCapacidad: '''80 018''' espectadores<br />\nClub: [[Inter de Milán|Inter Milán]]\n\n| '''[[Parque de los Príncipes]]'''<br />\nCiudad: [[París]]<br />\nCapacidad: '''47 929''' espectadores<br />\nClub:  [[Paris Saint-Germain Football Club|París Saint-Germain]]\n|}\n\n== Llaves ==\t\n{{TwoLegStart}}\n{{TwoLegResult\n| [[Arsenal Football Club|Arsenal]]\n| ENG\n| 1–3\n| '''[[París Saint-Germain Football Club|París Saint-Germain]]'''\n| FRA\n| [[Anexo:Semifinales de la Liga de Campeones de la UEFA 2024-25#ARS_PSG|0–1]]\n| [[Anexo:Semifinales de la Liga de Campeones de la UEFA 2024-25#PSG_ARS|1–2]]\n| vencedor=2\n}}\n{{TwoLegResult\n| [[Fútbol Club Barcelona|Barcelona]] \n| ESP\n| 6–7 {{small|([[Prórroga|t. s.]])}}\n| '''[[Inter de Milán]]'''\n| ITA\n| [[Anexo:Semifinales de la Liga de Campeones de la UEFA 2024-25#FCB_INT|3–3]]\n| [[Anexo:Semifinales de la Liga de Campeones de la UEFA 2024-25#INT_FCB|3–4]]\n| vencedor=2\n}}\n|}\n\n== Enfrentamientos ==\n: {{small|''Los horarios de los partidos corresponden a la [[hora central europea de verano]] (CEST [[UTC+02:00|UTC+2]]).''}}\n=== Arsenal – París Saint-Germain ===\n{{Partidos\n|id                 = ARS_PSG\n|competición        = Ida\n|fecha              = {{fecha|29|4|2025}}\n|hora               = 21:00\n|local              = [[Arsenal Football Club|Arsenal]]\n|paíslocal          = ENG\n|resultado          = 0:1''' (0:1)\n|visita             = [[París Saint-Germain Football Club|París Saint-Germain]]\n|paísvisita         = FRA\n|estadio            = [[Emirates Stadium]]\n|ciudad             = [[Londres]]\n|asistencia         = 59{{esd}}664\n|árbitro            = {{árbitro|SVN|Slavko Vinčić}}\n|var                = {{árbitro|SVN|Alen Borošak}}\n|goleslocal         = \n|golesvisita        = [[Ousmane Dembélé|Dembélé]] {{gol|4}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044857--arsenal-vs-paris/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Football kit\n| pattern_la = _arsenal2425h\n| pattern_b  = _arsenal2425h\n| pattern_ra = _arsenal2425h\n| pattern_sh = _arsenal2425h\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = F40000\n}}\n|{{Football kit\n| pattern_la = _psg2425f\n| pattern_b  = _psg2425F\n| pattern_ra = _psg2425f\n| pattern_sh = _shorts\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = 04047c\n| socks      = 04047c\n}}\n|}\n{{Partidos\n|id                 = PSG_ARS\n|competición        = Vuelta\n|fecha              = {{fecha|7|5|2025}}\n|hora               = 21:00\n|local              = [[París Saint-Germain Football Club|París Saint-Germain]]\n|paíslocal          = FRA\n|resultado          = 2:1 {{sin negrita|(1:0)}}\n|global             = 3:1\n|visita             = [[Arsenal Football Club|Arsenal]]\n|paísvisita         = ENG\n|estadio            = [[Parque de los Príncipes]]\n|ciudad             = [[París]]\n|asistencia         = 47{{esd}}511\n|árbitro            = {{árbitro|GER|Felix Zwayer}}\n|var                = {{árbitro|GER|Bastian Dankert}}\n|goleslocal         =\n* [[Fabián Ruiz Peña|Fabián Ruiz]] {{gol|27}}\n* [[Achraf Hakimi|Hakimi]] {{gol|72}}\n|golesvisita        = [[Bukayo Saka|Saka]] {{gol|76}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044858--paris-vs-arsenal/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Football kit\n| pattern_la = _psg2425h\n| pattern_b  = _psg2425h\n| pattern_ra = _psg2425h\n| pattern_sh = _shorts\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = 0A1254\n| socks      = 0A1254\n}}\n|{{Football kit\n| pattern_la = _arsenal2425h\n| pattern_b  = _arsenal2425h\n| pattern_ra = _arsenal2425h\n| pattern_sh = _arsenal2425h\n| pattern_so = _socks\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = F40000\n}}\n|}\n\n=== Barcelona – Inter de Milán ===\n{{Partidos\n|id                 = FCB_INT\n|competición        = Ida\n|fecha              = {{fecha|30|4|2025}}\n|hora               = 21:00\n|local              = [[Fútbol Club Barcelona|Barcelona]]\n|paíslocal          = ESP\n|resultado          = 3:3''' (2:2)\n|visita             = [[Inter de Milán]]\n|paísvisita         = ITA\n|estadio            = [[Estadio Olímpico Lluís Companys|Estadio Olímpico de Montjuic]]\n|ciudad             = [[Barcelona]]\n|asistencia         = 50{{esd}}314\n|árbitro            = {{árbitro|FRA|Clément Turpin}}\n|var                = {{árbitro|FRA|Jérôme Brisard}}\n|goleslocal         = \n* [[Lamine Yamal|Yamal]] {{gol|24}}\n* [[Ferran Torres|Torres]] {{gol|38}}\n* [[Yann Sommer|Sommer]] {{gol|65|a.g.}}\n|golesvisita        = \n* [[Marcus Thuram|Thuram]] {{gol|1}}\n* [[Denzel Dumfries|Dumfries]] {{gol|21||64}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044856--barcelona-vs-inter/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Football kit\n| pattern_la = _fcbarcelona2425h \n| pattern_b  = _fcbarcelona2425h \n| pattern_ra = _fcbarcelona2425h \n| pattern_sh = _fcbarcelona2425h \n| pattern_so = _socks \n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = 00006A \n}}\n|{{Football kit\n| pattern_la = _internazionale2425a \n| pattern_b  = _internazionale2425a \n| pattern_ra = _internazionale2425a \n| pattern_sh = _internazionale2425a \n| pattern_so = _internazionale2425a \n| leftarm    =  \n| body       =  \n| rightarm   =  \n| shorts     = FFFFFF \n| socks      = FFFFFF \n}}\n|}\n{{Partidos\n|id                 = INT_FCB\n|competición        = Vuelta\n|fecha              = {{fecha|6|5|2025}}\n|hora               = 21:00\n|local              = [[Inter de Milán]]\n|paíslocal          = ITA\n|resultado          = 4:3 {{sin negrita|(2:0; 3:3)}}\n|global             = 7:6\n|prórroga           = si\n|visita             = [[Fútbol Club Barcelona|Barcelona]]\n|paísvisita         = ESP\n|estadio            = [[Estadio Giuseppe Meazza]]\n|ciudad             = [[Milán]]\n|asistencia         = 75{{esd}}504\n|árbitro            = {{árbitro|POL|Szymon Marciniak}}\n|var                = {{árbitro|NED|Dennis Higler}}\n|goleslocal         = \n* [[Lautaro Martínez|L. Martínez]] {{gol|21}} \n* [[Hakan Çalhanoğlu|Çalhanoğlu]] {{gol|45+1|pen.}}\n* [[Francesco Acerbi|Acerbi]] {{gol|90+3}}\n* [[Davide Frattesi|Frattesi]] {{gol|99}}\n|golesvisita        =\n* [[Eric García|García]] {{gol|54}}\n* [[Dani Olmo|Olmo]] {{gol|60}}\n* [[Raphinha]] {{gol|88}}\n|reporte            = https://es.uefa.com/uefachampionsleague/match/2044859--inter-vs-barcelona/\n}}\n{| class=\"wikitable collapsible collapsed\" style=\"text-align: center; margin: 0 auto; width: 100%; background:White;\"\n! colspan=2| Uniformes\n|-\n|{{Football kit\n| pattern_la = _internazionale2425h\n| pattern_b  = _internazionale2425h\n| pattern_ra = _internazionale2425h\n| pattern_sh = _internazionale2425h\n| pattern_so = _internazionale2425h\n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = FFFFFF\n}}\n|{{Football kit\n| pattern_la = _fcbarcelona2425t \n| pattern_b  = _fcbarcelona2425t \n| pattern_ra = _fcbarcelona2425t\n| pattern_sh = _fcbarcelona2425t \n| pattern_so = _socks \n| leftarm    = \n| body       = \n| rightarm   = \n| shorts     = FFFFFF\n| socks      = B8F09B \n}}\n|}\n\n== Clasificados para la Final ==\n{| align=center cellpadding=\"2\" cellspacing=\"0\" style=\"background: #f5faff; border: 1px #aaa solid; border-collapse: collapse; font-size: 95%;\" width=80%\n|- align=center\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|FRA|tamaño=45px}}\n|style=\"border-right:1px solid #aaa;\" width=25%|{{bandera4|ITA|tamaño=45px}}\n|- align=center style=\"border-bottom:1px solid #aaa;\"\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Paris Saint-Germain Football Club|Paris Saint-Germain]]'''\n|style=\"border-right:1px solid #aaa;\" width=25%|'''[[Inter de Milán]]'''\n|}\n\n== Véase también ==\n* [[Anexo: Primera ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Segunda ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Tercera ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo:Cuarta ronda previa de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Fase de liga de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Ronda preliminar de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Octavos de final de la Liga de Campeones de la UEFA 2024-25]]\n* [[Anexo: Cuartos de final de la Liga de Campeones de la UEFA 2024-25]] \n* [[Final de la Liga de Campeones de la UEFA 2024-25]]\n\n== Notas ==\n{{listaref|grupo=n.}}\n\n== Referencias ==\n{{listaref}} \n\n== Enlaces externos ==\n* [http://es.uefa.com Página oficial de la UEFA]\n* [http://es.uefa.com/uefachampionsleague/index.html Página oficial de la UEFA Champions League]\n\n{{Sucesión\n| predecesor = [[Anexo:Semifinales de la Liga de Campeones de la UEFA 2023-24|2023-24]]\n| título = Semifinales de la<br>[[Liga de Campeones de la UEFA]]\n| período = 2024-25\n| sucesor = [[Anexo:Semifinales de la Liga de Campeones de la UEFA 2025-26|2025-26]]\n}}\n{{Control de autoridades}}\n[[Categoría:Liga de Campeones de la UEFA 2024-25]]"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "wikitext": "{{Ficha de evento\n| nombre = Final de la Liga de Campeones de la UEFA 2024-25\n| imagen = Allianz Arena 2008-02-09.jpg\n| pie_de_imagen = El [[Allianz Arena]] de Múnich, sede de la final.\n| tamaño_de_imagen = 260px\n| tipo = \n| suceso = Final de la liga de Campeones de la UEFA 2024-25\n| lugar = [[Allianz Arena]],  [[Múnich]], [[Alemania]]\n| fecha = {{fecha de inicio|31|5|2025}}\n| participantes = {{Bandera|FRA}} '''[[París Saint-Germain Football Club|París Saint-Germain]]''' <br>{{Bandera|ITA}} [[Inter de Milán]]\n| ubicación = [[Múnich]]\n| país = [[Alemania]]\n}}\n\nLa '''Final de la [[Liga de Campeones de la UEFA 2024-25]]''' fue la 70ª final del principal torneo europeo de clubes de fútbol organizado por la [[UEFA]], y la 33.ª desde que se cambió el nombre de [[Trofeo de la Copa de Europa|Copa de Europa a Campeonato de Europa]]. Se jugó en el [[Allianz Arena]] de [[Munch|Múnich]], [[Alemania]], el 31 de mayo de 2025. Esta fue la primera final de la Liga de Campeones de la UEFA jugada bajo el nuevo formato del [[sistema suizo]]. El campeón fue el [[Paris Saint-Germain Football Club|Paris Saint-Germain]] francés que venció por un marcador de 5–0 sobre el [[Inter de Milán]] italiano, con anotaciones del lateral marroquí [[Achraf Hakimi]], del joven [[Désiré Doué]] por duplicado, el georgiano [[Khvicha Kvaratskhelia]] y del juvenil [[Senny Mayulu]]. Esta victoria significó la primera Liga de Campeones para el conjunto parisino y también se convirtió en la final con mayor margen de diferencia, cinco goles.<ref>{{Cita web|url=https://www.elfinanciero.com.mx/deportes/2025/05/31/psg-vs-inter-final-uefa-champions-league-2025-donde-ver-en-vivo-resultado/|título=¡PSG gana su primera ‘orejona’ y hace historia! Golea 5-0 al Inter en FINAL de UEFA Champions League 2025|fechaacceso=2025-05-31|autor=Redacción|fecha=2025-05-31|sitioweb=El Financiero|idioma=es}}</ref><ref>{{Cita web|url=https://www.si.com/soccer/psg-set-new-champions-league-final-record-vs-inter-milan|título=PSG Set New Champions League Final Record With Emphatic Win Over Inter|fechaacceso=2025-05-31|apellido=Gott|nombre=Tom|fecha=2025-05-31|sitioweb=Sports Illustrated|idioma=en-US}}</ref>\n\nGracias a esta victoria, el Paris Saint-Germain obtuvo el derecho a jugar la [[Supercopa de la UEFA 2025]] contra el ganador de la [[Liga Europa de la UEFA 2024-25]], el [[Tottenham Hotspur Football Club|Tottenham Hotspur]], además de que obtuvo la clasificación a la [[Copa Intercontinental de la FIFA 2025]] y a la [[Copa Mundial de Clubes de la FIFA 2029]].\n\n== Finalistas ==\nEn '''negrita''', las finales ganadas.\n\n{| class=\"wikitable\"\n|-\n! Equipos \n! colspan=\"2\" |Finales jugadas anteriormente\n|-\n| {{Bandera|FRA}} [[París Saint-Germain Football Club|París Saint-Germain]] \n| {{nowrap|1 '''(0)'''}}\n|[[Liga de Campeones de la UEFA 2019-20|2019-20]] \n|-\n| {{Bandera|ITA}} [[Inter de Milán]]\n| {{nowrap|6 '''(3)'''}}\n| '''[[Copa de Campeones de Europa 1963-64|1963-64]]''', '''[[Copa de Campeones de Europa 1964-65|1964-65]]''', [[Copa de Campeones de Europa 1966-67|1966-67]], [[Copa de Campeones de Europa 1971-72|1971-72]], '''[[Liga de Campeones de la UEFA 2009-10|2009-10]]''' y [[Liga de Campeones de la UEFA 2022-23|2022-23]]\n|}\n\n== Sede de la final ==\nEsta fue la segunda final de la UEFA Champions League organizada en el [[Allianz Arena]]; la primera se llevó a cabo en [[Final de la Liga de Campeones de la UEFA 2011-12|2012]]. En general, fue la quinta final de la [[Anexo:Finalistas de la Liga de Campeones de la UEFA|Copa de Europa]] que se celebre en [[Múnich]], con las finales de [[Final de la Copa de Campeones de Europa 1978-79|1979]], [[Final de la Liga de Campeones de la UEFA 1992-93|1993]] y [[Final de la Liga de Campeones de la UEFA 1996-97|1997]] en el [[Estadio Olímpico de Múnich|Olympiastadion]]. La final también será la novena que se celebre en Alemania, ya que también se disputó en [[Stuttgart]] en 1959 y 1988, [[Gelsenkirchen]] en [[Final de la Liga de Campeones de la UEFA 2003-04|2004]] y [[Berlín]] en [[Final de la Liga de Campeones de la UEFA 2014-15|2015]], igualando el récord de nueve finales de Copa de Europa celebradas en Italia e Inglaterra.<ref>{{Cita web|url=https://www.uefa.com/MultimediaFiles/Download/EuroExperience/competitions/Publications/01/99/48/32/1994832_DOWNLOAD.pdf|título=UEFA Champions League Statistics Handbook 2013/14: Finals|fechaacceso=24 de septiembre de 2019|año=2014|sitioweb=UEFA.com|editorial=[[UEFA]]|idioma=en|formato=PDF}}</ref> El Allianz Arena fue sede de partidos de la [[Copa Mundial de Fútbol de 2006|Copa Mundial de la FIFA 2006]] y fue elegido como sede de la [[Eurocopa 2020]] y [[Eurocopa 2024]].\n\n<center>\n{| class=\"wikitable\" style=\"text-align:center\"\n|-\n|colspan=\"2\"| {{Alemania}}\n|-\n!Ciudad\n!Estadio\n|-\n! colspan=\"1\"|[[Archivo:DEU München COA.svg|20x20px|link=|Escudo de Múnich]] [[Múnich]]\n! colspan=\"3\"|[[Allianz Arena]]\n|-\n|[[Archivo:Munich montage.png|192x192px]]\n|[[Archivo:Allianz Arena (Bayern Munich).jpg|296x296px]]\n|-\n|colspan=\"2\"| 70{{Esd}}000 espectadores\n|-\n|colspan=\"2\"| <small>'''Final Liga de Campeones 2025'''</small>\n|}\n</center>\n\n=== Selección de anfitrión ===\nEl 16 de julio de 2021, el Comité Ejecutivo de la UEFA anunció que el [[Estadio Olímpico Atatürk]] de [[Estambul]] albergaría la final de la [[Final de la Liga de Campeones de la UEFA 2022-23|Liga de Campeones de la UEFA de 2023]] en lugar de Múnich.<ref name=\"Munich 2025\">{{Cita noticia|url=https://www.uefa.com/insideuefa/mediaservices/mediareleases/news/026b-12c542441355-1c2040c5e54b-1000/|título=Venues appointed for club competition finals|página=UEFA.com|editorial=[[UEFA]]|fecha=16 de julio de 2021|fechaacceso=16 de julio de 2021|idioma=en}}</ref> Esto se debió al hecho de que Estambul tuvo dos veces la final de la Liga de Campeones destinada a su ciudad reubicada debido a la [[pandemia de COVID-19]]. Originalmente planeado como anfitriones para la [[Final de la Liga de Campeones de la UEFA 2019-20|final de 2020]], el partido se trasladó a [[Lisboa]] y los anfitriones de la final retrocedieron un año, y Estambul se adjudicó la [[Final de la Liga de Campeones de la UEFA 2020-21|final de 2021]].<ref>{{Cita noticia|url=https://www.uefa.com/insideuefa/news/newsid=2642232.html|título=UEFA competitions to resume in August|página=UEFA.com|editorial=[[UEFA]]|fecha=17 de junio de 2020|fechaacceso=17 de junio de 2020|idioma=en}}</ref> Sin embargo, semanas antes de la final, el partido de 2021 se trasladó a [[Oporto]] debido a restricciones de viaje.<ref name=\"Porto\">{{Cita noticia|url=https://www.uefa.com/insideuefa/mediaservices/mediareleases/news/0269-1243f864391e-53c7874f0ae0-1000/|título=UEFA Champions League final to move to Portugal to allow 6,000 fans of each team to attend|página=UEFA.com|editorial=[[UEFA]]|fecha=13 de mayo de 2021|fechaacceso=13 de mayo de 2021|fechaarchivo=13 de mayo de 2021|archive-url=https://web.archive.org/web/20210513105402/https://www.uefa.com/insideuefa/mediaservices/mediareleases/news/0269-1243f864391e-53c7874f0ae0-1000/|idioma=en}}</ref>\n\nMúnich, originalmente fue seleccionada para albergar la [[Final de la Liga de Campeones de la UEFA 2021-22|final de 2022]] por el Comité Ejecutivo de la UEFA durante su reunión en [[Liubliana]], Eslovenia, el 24 de septiembre de 2019,<ref>{{Cita noticia|url=https://www.uefa.com/uefachampionsleague/news/newsid=2625232.html|título=Champions League final hosts announced for 2021, 2022 and 2023|página=UEFA.com|editorial=[[UEFA]]|fecha=24 de septiembre de 2019|fechaacceso=24 de septiembre de 2019|idioma=en}}</ref> se planeó más tarde para albergar la [[Final de la Liga de Campeones de la UEFA 2022-23|final de 2023]] tras el cambio de los anfitriones de la final. Sin embargo, la ciudad se adjudicó la final de 2025 después de ser eliminada de 2023 por Estambul.<ref name=\"Munich 2025\" />\n\n== Miscelánea==\n=== Presentación del logo de la Final y Ceremonia de Apertura===\n[[Archivo:Linkin Park - From Zero Lead Press Photo - James Minchin III.jpg|thumb|[[Linkin Park]], los artistas que encabezarán la ceremonia de apertura de la final.]]\n\nLa identidad visual de la final de la UEFA Champions League 2025 se presentó el 28 de enero de 2025. <ref>{{Cite web |title=Brand identity unveiled for 2025 UEFA Champions League final in Munich |url=https://www.uefa.com/uefachampionsleague/news/0295-1ceba613adfc-cdce42626608-1000--brand-identity-unveiled-for-2025-uefa-champions-league-final/ |website=UEFA.com|publisher=Union of European Football Associations |date=2025-01-28 |access-date= 2025-05-16 |archive-date=2025-02-26 |archive-url=https://web.archive.org/web/20250226150128/https://www.uefa.com/uefachampionsleague/news/0295-1ceba613adfc-cdce42626608-1000--brand-identity-unveiled-for-2025-uefa-champions-league-final/}}</ref>El 16 de abril de 2025, la banda de rock estadounidense [[Linkin Park]] fue elegido por la [[UEFA]] , como el artista principal de la ceremonia de apertura.<ref>{{cite news |title=LINKIN PARK to headline UEFA Champions League Final Kick Off Show by Pepsi |url=https://www.uefa.com/uefachampionsleague/news/0298-1d88a574742c-61d78f6fba35-1000--linkin-park-to-headline-uefa-champions-league-final-kick-of/ |publisher=Union of European Football Associations|website=UEFA.com |date=2025-04-16 |access-date=2025-05-16 |archive-date=2025-04-16 |archive-url=https://web.archive.org/web/20250416110010/https://www.uefa.com/uefachampionsleague/news/0298-1d88a574742c-61d78f6fba35-1000--linkin-park-to-headline-uefa-champions-league-final-kick-of/}}</ref>\nEl 26 de mayo, se anunció que el violinista alemán [[David Garrett]] tocaría una versión reorganizada de [[Seven Nation Army]] de los [[White Stripes]] en la presentación de trofeos antes de la entrada de los equipos.<ref>{{cite news |title=David Garrett to perform Seven Nation Army at the UEFA Champions League final |url=https://www.uefa.com/uefachampionsleague/news/0299-1dd947e35265-89cbbd1c9a2c-1000--david-garrett-to-perform-seven-nation-army-at-the-uefa-ch/ |publisher=Union of European Football Associations|website=UEFA.com |date=26 May 2025 |access-date=2025-06-01 |archive-date=28 May 2025 |archive-url=https://web.archive.org/web/20250528163559/https://www.uefa.com/uefachampionsleague/news/0299-1dd947e35265-89cbbd1c9a2c-1000--david-garrett-to-perform-seven-nation-army-at-the-uefa-ch/}}</ref>\n\n== Partidos de clasificación para la Final ==\n{|  style=\"width:100%; text-align:center;\"\n|-  style=\"vertical-align:top; bgcolor=blue style=\"color:white;\"\n! colspan=\"3\" style=\"width:1*\" |{{bandera|FRA}} [[París Saint-Germain Football Club|París Saint-Germain]]\n!Ronda\n! colspan=\"3\" style=\"width:1*\" |{{bandera|ITA}} [[Inter de Milán]]\n|-  style=\"vertical-align:top; background:#c1e0ff;\"\n|Rival\n| colspan=\"2\" |Resultado\n||[[Anexo:Fase de liga de la Liga de Campeones de la UEFA 2024-25|Fase de Liga]]\n|Rival\n| colspan=\"2\" |Resultado\n|-\n|align=left|{{Bandera|ESP}} [[Girona Fútbol Club|Girona]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|1 – 0 \n| style=\"background:#c1e0ff;\"|Partido 1\n|align=left|{{Bandera|ENG}} [[Manchester City Football Club|Manchester City]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|0 – 0\n|-\n|align=left|{{Bandera|ENG}} [[Arsenal Football Club|Arsenal]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|2 – 0 \n| style=\"background:#c1e0ff;\"|Partido 2\n|align=left|{{Bandera|SRB}} [[Estrella Roja de Belgrado|Estrella Roja]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|4 – 0\n|-\n|align=left|{{Bandera|NED}} [[PSV Eindhoven]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|1 – 1 \n| style=\"background:#c1e0ff;\"|Partido 3\n|align=left|{{Bandera|SUI}} [[BSC Young Boys|Young Boys]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|0 – 1\n|-\n|align=left|{{Bandera|ESP}} [[Club Atlético de Madrid|Atlético de Madrid]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|1 – 2 \n| style=\"background:#c1e0ff;\"|Partido 4\n|align=left|{{Bandera|ENG}} [[Arsenal Football Club|Arsenal]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|1 – 0\n|-\n|align=left|{{Bandera|DEU}} [[Bayern de Múnich|Bayern Múnich]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|1 – 0 \n| style=\"background:#c1e0ff;\"|Partido 5\n|align=left|{{Bandera|DEU}} [[RasenBallsport Leipzig|Leipzig]]\n|[[Archivo:Home Icon.svg|15px|Local]] \n|1 – 0\n|-\n|align=left|{{Bandera|AUT}} [[Red Bull Salzburgo|Salzburgo]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|0 – 3 \n| style=\"background:#c1e0ff;\"|Partido 6\n|align=left|{{Bandera|DEU}} [[Bayer Leverkusen]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|1 – 0\n|-\n|align=left|{{Bandera|ENG}} [[Manchester City Football Club|Manchester City]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|4 – 2 \n| style=\"background:#c1e0ff;\"|Partido 7\n|align=left|{{Bandera|CZE}} [[Athletic Club Sparta Praga|Sparta Praga]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|0 – 1 \n|-\n|align=left|{{Bandera|DEU}} [[VfB Stuttgart|Stuttgart]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|1 – 4 \n| style=\"background:#c1e0ff;\"|Partido 8\n|align=left|{{Bandera|FRA}} [[Association Sportive Monaco Football Club|Mónaco]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|3 – 0 \n|-\n| colspan=\"3\" style=\"text-align:center;\" |\n\n{| align=\"center\" cellpadding=\"3\" cellspacing=\"0\" style=\"background: #f5faff; border: 1px #aaa solid; border-collapse: collapse; font-size: 90%;\" width=\"70%\"\n|- bgcolor=\"blue\" style=\"color:white;\"\n! width=\"5%\" style=\"cursor: help;\" título=\"Posición\" |Pos.\n! width=\"34%\" |{{color|#fff|Equipo}}\n! width=\"5%\" style=\"cursor: help;\" título=\"Puntos\" |Pts.\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos jugados\" |PJ\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos ganados\" |PG\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos empatados\" |PE\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos perdidos\" |PP\n! width=\"5%\" style=\"cursor: help;\" título=\"Goles a favor\" |GF\n! width=\"5%\" style=\"cursor: help;\" título=\"Goles en contra\" |GC\n! width=\"5%\" style=\"cursor: help;\" título=\"Diferencia de goles\" |Dif\n|- align=\"center\" bgcolor=\"A5E887\"\n|13.|| align=\"left\" |{{Bandera|ITA}} [[Associazione Calcio Milan|Milan]]\n|'''15'''||8||5||0||3||14||11||3\n|- align=\"center\" bgcolor=\"A5E887\"\n|14.|| align=\"left\" |{{Bandera|NED}} [[PSV Eindhoven]]\n|'''14'''||8||4||2||2||16||12||4\n|- align=\"center\" bgcolor=\"A5E887\"\n|'''15.'''|| align=\"left\" |{{Bandera|FRA}} '''{{nowrap|[[París Saint-Germain Football Club|París Saint-Germain]]}}'''\n|'''13'''||8||4||1||3||14||9||5\n|- align=\"center\" bgcolor=\"A5E887\"\n|16.|| align=\"left\" |{{Bandera|POR}} [[Sport Lisboa e Benfica|Benfica]]\n|'''13'''||8||4||1||3||16||12||4\n|- align=\"center\" bgcolor=\"D0F1C1\"\n|17.|| align=\"left\" |{{Bandera|FRA}} [[Association Sportive Monaco Football Club|Mónaco]]\n|'''13'''||8||4||1||3||13||13||0\n|}\n| style=\"background:#c1e0ff;\" |Clasificación final\n| colspan=\"3\" style=\"text-align:center;\" |\n{| align=\"center\" cellpadding=\"3\" cellspacing=\"0\" style=\"background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse; font-size: 90%;\" width=\"70%\"\n|- bgcolor=\"blue\" style=\"color:white;\"\n! width=\"5%\" style=\"cursor: help;\" título=\"Posición\" |Pos.\n! width=\"34%\" |{{color|#fff|Equipo}}\n! width=\"5%\" style=\"cursor: help;\" título=\"Puntos\" |Pts.\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos jugados\" |PJ\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos ganados\" |PG\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos empatados\" |PE\n! width=\"5%\" style=\"cursor: help;\" título=\"Partidos perdidos\" |PP\n! width=\"5%\" style=\"cursor: help;\" título=\"Goles a favor\" |GF\n! width=\"5%\" style=\"cursor: help;\" título=\"Goles en contra\" |GC\n! width=\"5%\" style=\"cursor: help;\" título=\"Diferencia de goles\" |Dif\n|- align=\"center\" bgcolor=\"D0E7FF\"\n|2.|| align=\"left\" |{{Bandera|ESP}} [[Fútbol Club Barcelona|Barcelona]]\n|'''19'''||8||6||1||1||28||13||15\n|- align=\"center\" bgcolor=\"D0E7FF\"\n|3.||align=\"left\" |{{Bandera|ENG}} [[Arsenal Football Club|Arsenal]]\n|'''19'''||8||6||1||1||16||3||13\n|- align=\"center\" bgcolor=\"D0E7FF\"\n|'''4.'''|| align=\"left\" |{{Bandera|ITA}} '''[[Inter de Milán]]'''\n|'''19'''||8||6||1||1||11||1||10\n|- align=\"center\" bgcolor=\"D0E7FF\"\n|5.||align=\"left\" |{{Bandera|ESP}} [[Club Atlético de Madrid|Atlético de Madrid]]\n|'''18'''||8||6||0||2||20||12||8\n|- align=\"center\" bgcolor=\"D0E7FF\"\n|6.||align=\"left\" |{{Bandera|GER}} [[Bayer Leverkusen]]\n|'''16'''||8||5||1||2||15||7||8\n|}\n|- style=\"vertical-align:top; background:#c1e0ff;\"\n|Rival\n| colspan=\"2\" |Resultado\n||Fase final\n|Rival\n| colspan=\"2\" |Resultado\n|-\n| rowspan=\"2\" align=\"left\" |{{Bandera|FRA}} [[Stade Brestois 29|Stade Brestois]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|0 – 3 (Ida)\n| rowspan=\"3\" style=\"background:#c1e0ff;\" |[[Anexo:Ronda preliminar de la Liga de Campeones de la UEFA 2024-25|Ronda preliminar]]\n| colspan=\"3\" rowspan=\"3\" align=\"center\" |''No participó en esta ronda tras clasificar directamente a octavos de final''\n|-\n|[[Archivo:Home Icon.svg|15px|Local]]\n|7 – 0 (Vuelta)\n|-\n| colspan=\"3\" style=\"background:#c1e0ff;\" |Resultado global: '''10'''–0 \n|-\n| rowspan=\"2\" align=\"left\" |{{Bandera|ENG}} [[Liverpool Football Club|Liverpool]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|0 – 1 (Ida)\n| rowspan=\"3\" style=\"background:#c1e0ff;\" |[[Anexo:Octavos de final de la Liga de Campeones de la UEFA 2024-25|Octavos de final]]\n| rowspan=\"2\" align=\"left\" |{{Bandera|NED}} [[Feyenoord]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]] \n|0 – 2 (Ida)\n|-\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|0 – 1 (Vuelta)\n|[[Archivo:Home Icon.svg|15px|Local]]\n|2 – 1 (Vuelta)\n|-\n| colspan=\"3\" style=\"background:#c1e0ff;\" |Resultado global: 1–1 {{small|('''4'''–1 [[Tiros desde el punto penal|pen.]])}}\n| colspan=\"3\" style=\"background:#c1e0ff;\" |Resultado global: '''4'''–1\n|-\n| rowspan=\"2\" align=\"left\" |{{Bandera|ENG}} [[Aston Villa Football Club|Aston Villa]]\n|[[Archivo:Home Icon.svg|15px|Local]]\n|3 – 1 (Ida)\n| rowspan=\"3\" style=\"background:#c1e0ff;\" |[[Anexo:Cuartos de final de la Liga de Campeones de la UEFA 2024-25|Cuartos de final]]\n| rowspan=\"2\" align=\"left\" |{{Bandera|GER}} [[Bayern de Múnich|Bayern Múnich]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|1 – 2 (Ida)\n|-\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|3 – 2 (Vuelta)\n|[[Archivo:Home Icon.svg|15px|Local]]\n|2 – 2 (Vuelta)\n|-\n| colspan=\"3\" style=\"background:#c1e0ff;\" |Resultado global: '''5'''–4 \n| colspan=\"3\" style=\"background:#c1e0ff;\" |Resultado global: '''4'''–3\n|-\n| rowspan=\"2\" align=\"left\" |{{Bandera|ENG}} [[Arsenal Football Club|Arsenal]]\n|[[Archivo:Airplane silhouette.svg|15px|Visitante]]\n|0 – 1 (Ida)\n| rowspan=\"3\" style=\"background:#c1e0ff;\" |[[Anexo:Semifinales de la Liga de Campeones de la UEFA 2024-25|Semifinales]]\n| rowspan=\"2\" align=\"left\" |{{Bandera|ESP}} [[Fútbol Club Barcelona|Barcelona]]\n|[[Archivo:Airplane silhouette.svg|15px|Local]] \n|3 – 3 (Ida)\n|-\n|[[Archivo:Home Icon.svg|15px|Local]]\n|2 – 1 (Vuelta)\n|[[Archivo:Home Icon.svg|15px|Visitante]]\n|4 – 3 {{small|([[Prórroga (deporte)|t.s.]])}} (Vuelta)\n|-\n| colspan=\"3\" style=\"background:#c1e0ff;\" |Resultado global: '''3'''–1 \n| colspan=\"3\" style=\"background:#c1e0ff;\" |Resultado global: '''7'''–6 {{small|([[Prórroga (deporte)|t.s.]])}}\n|}\n\n== Partido ==\nEl equipo «local» (a efectos administrativos) se determinará mediante un sorteo adicional que se realizará después de los sorteos de cuartos de final y semifinales.\n\n=== Ficha ===\n{{Ficha partido de fútbol\n<!-- Datos generales -->\n| NOMBRE LOCAL = {{tc negro|París Saint-Germain Football Club|París Saint-Germain}}\n| NOMBRE VISITA = {{tc negro|Inter de Milán}}\n| RESULTADO LOCAL = 5\n| RESULTADO VISITA = 0\n\n| BANDERA LOCAL = Flag of France.svg\n| BANDERA VISITA = Flag of Italy.svg\n| JORNADA = Final de la '''Liga de Campeones de la UEFA 2024-25'''\n| LUGAR = {{tc negro|Allianz Arena}}, {{tc negro|Múnich}}, {{tc negro|Alemania}}\n| FECHA = 31 de mayo de 2025, 21:00 {{tc negro|Hora central europea de verano|CEST}}\n| ASISTENTES = 64{{esd}}327\n| ARBITRO CENTRAL = {{bandera|ROU}} [[István Kovács]]\n| ARBITRO ASISTENTE 1 ={{bandera|ROU}} [[Mihai Marica]]\n| ARBITRO ASISTENTE 2 ={{bandera|ROU}} [[Ferencz Tunyogi]]\n| CUARTO ARBITRO = {{bandera|POR}} [[João Pedro Silva Pinheiro|João Pinheiro]]\n| QUINTO ARBITRO = {{bandera|POR}} [[Bruno Miguel Alves Jesús|Bruno Jesús]]\n| ARBITRO VAR = {{bandera|NED}} [[Dennis Higler]]\n| ARBITRO VARASISTENTE 1 = {{bandera|ROU}} [[Catalin Popa]]\n| ARBITRO VARASISTENTE 2 = {{bandera|NED}} [[Pol van Boekel]]\n| REPORTE = https://www.uefa.com/uefachampionsleague/match/2044466--paris-vs-inter/\n<!-- Alineación Equipo Local -->\n| TACTICA LOCAL = 4-3-3\n| NUM LOCAL 1 = &nbsp;&nbsp;1\n| POS LOCAL 1 = {{por}}\n| JUGADOR LOCAL 1 = {{bandera|tamaño=15px|ITA}} [[Gianluigi Donnarumma]]\n| MIN CAMBIO LOCAL 1 = \n\n| NUM LOCAL 2 = &nbsp;&nbsp;2\n| POS LOCAL 2 = {{def}}\n| JUGADOR LOCAL 2 = {{bandera|tamaño=15px|MAR}} [[Achraf Hakimi]]\n| MIN CAMBIO LOCAL 2 = \n\n| NUM LOCAL 3 = &nbsp;&nbsp;5\n| POS LOCAL 3 = {{def}}\n| JUGADOR LOCAL 3 = {{bandera|tamaño=15px|BRA}} [[Marcos Aoás Corrêa|Marquinhos]] {{Capitán|15px}}\n| MIN CAMBIO LOCAL 3 = \n\n| NUM LOCAL 4 = 51\n| POS LOCAL 4 = {{def}}\n| JUGADOR LOCAL 4 = {{bandera|tamaño=15px|ECU}} [[Willian Pacho]]\n| MIN CAMBIO LOCAL 4 = \n\n| NUM LOCAL 5 = 25\n| POS LOCAL 5 = {{def}}\n| JUGADOR LOCAL 5 = {{bandera|tamaño=15px|POR}} [[Nuno Mendes (futbolista)|Nuno Mendes]]\n| MIN CAMBIO LOCAL 5 = 78\n\n| NUM LOCAL 6 = 87\n| POS LOCAL 6 = {{mdc}}\n| JUGADOR LOCAL 6 = {{bandera|tamaño=15px|POR}} [[João Neves]]\n| MIN CAMBIO LOCAL 6 = 84\n\n| NUM LOCAL 7 = 17\n| POS LOCAL 7 = {{mdc}}\n| JUGADOR LOCAL 7 = {{bandera|tamaño=15px|POR}} [[Vítor Ferreira|Vitinha]]\n| MIN CAMBIO LOCAL 7 = \n\n| NUM LOCAL 8 = &nbsp;&nbsp;8\n| POS LOCAL 8 = {{mdc}}\n| JUGADOR LOCAL 8 = {{bandera|tamaño=15px|ESP}} [[Fabián Ruiz Peña|Fabián Ruiz]]\n| MIN CAMBIO LOCAL 8 = 84\n\n| NUM LOCAL 9 = 14\n| POS LOCAL 9 = {{del}}\n| JUGADOR LOCAL 9 = {{bandera|tamaño=15px|FRA}} [[Désiré Doué]] {{Jugador del partido|15px}}\n| MIN CAMBIO LOCAL 9 = 66\n\n| NUM LOCAL 10 = 10\n| POS LOCAL 10 = {{del}}\n| JUGADOR LOCAL 10 = {{bandera|tamaño=15px|FRA}} [[Ousmane Dembélé]]\n| MIN CAMBIO LOCAL 10 = \n\n| NUM LOCAL 11 = &nbsp;&nbsp;7\n| POS LOCAL 11 = {{del}}\n| JUGADOR LOCAL 11 = {{bandera|tamaño=15px|GEO}} [[Khvicha Kvaratskhelia]]\n| MIN CAMBIO LOCAL 11 = 84\n| D.T. LOCAL = {{bandera|tamaño=15px|ESP}} [[Luis Enrique Martínez García|Luis Enrique]]\n<!-- Alineación Equipo Visitante -->\n| TACTICA VISITA = 3-5-2\n| NUM VISITA 1 = &nbsp;&nbsp;1\n| POS VISITA 1 = {{por}}\n| JUGADOR VISITA 1 = {{bandera|tamaño=15px|SUI}} [[Yann Sommer]]\n| MIN CAMBIO VISITA 1 = \n\n| NUM VISITA 2 = 28\n| POS VISITA 2 = {{def}}\n| JUGADOR VISITA 2 = {{bandera|tamaño=15px|FRA}} [[Benjamin Pavard]]\n| MIN CAMBIO VISITA 2 = 54\n\n| NUM VISITA 3 = 15\n| POS VISITA 3 = {{def}}\n| JUGADOR VISITA 3 = {{bandera|tamaño=15px|ITA}} [[Francesco Acerbi]]\n| MIN CAMBIO VISITA 3 = \n\n| NUM VISITA 4 = 95\n| POS VISITA 4 = {{def}}\n| JUGADOR VISITA 4 = {{bandera|tamaño=15px|ITA}} [[Alessandro Bastoni]]\n| MIN CAMBIO VISITA 4 = \n\n| NUM VISITA 5 = &nbsp;&nbsp;2\n| POS VISITA 5 = {{mdc}}\n| JUGADOR VISITA 5 = {{bandera|tamaño=15px|NED}} [[Denzel Dumfries]]\n| MIN CAMBIO VISITA 5 = \n\n| NUM VISITA 6 = 23\n| POS VISITA 6 = {{mdc}}\n| JUGADOR VISITA 6 = {{bandera|tamaño=15px|ITA}} [[Nicolò Barella]]\n| MIN CAMBIO VISITA 6 = \n\n| NUM VISITA 7 = 20\n| POS VISITA 7 = {{mdc}}\n| JUGADOR VISITA 7 = {{bandera|tamaño=15px|TUR}} [[Hakan Çalhanoğlu]]\n| MIN CAMBIO VISITA 7 = 70\n\n| NUM VISITA 8 = 22\n| POS VISITA 8 = {{mdc}}\n| JUGADOR VISITA 8 = {{bandera|tamaño=15px|ARM}} [[Henrij Mjitarián|Henrikh Mkhitaryan]]\n| MIN CAMBIO VISITA 8 = 62\n\n| NUM VISITA 9 = 32\n| POS VISITA 9 = {{mdc}}\n| JUGADOR VISITA 9 = {{bandera|tamaño=15px|ITA}} [[Federico Dimarco]]\n| MIN CAMBIO VISITA 9 = 54\n\n| NUM VISITA 10 = &nbsp;&nbsp;9\n| POS VISITA 10 = {{del}}\n| JUGADOR VISITA 10 = {{bandera|tamaño=15px|FRA}} [[Marcus Thuram]]\n| MIN CAMBIO VISITA 10 = \n\n| NUM VISITA 11 = 10\n| POS VISITA 11 = {{del}}\n| JUGADOR VISITA 11 = {{bandera|tamaño=15px|ARG}} [[Lautaro Martínez]] {{Capitán|15px}}\n| MIN CAMBIO VISITA 11 =\n| D.T. VISITA = {{bandera|tamaño=15px|ITA}} [[Simone Inzaghi]]\n<!-- Cambios Equipo Local -->\n| NUM SUPL LOCAL 1 = 29\n| POS SUPL LOCAL 1 = {{del}}\n| SUPLENTE LOCAL 1 = {{bandera|tamaño=15px|FRA}} [[Bradley Barcola]]\n| MIN CAMBIO SUPL LOCAL 1 = 66\n\n| NUM SUPL LOCAL 2 = 21\n| POS SUPL LOCAL 2 = {{def}}\n| SUPLENTE LOCAL 2 = {{bandera|tamaño=15px|FRA}} [[Lucas Hernández]]\n| MIN CAMBIO SUPL LOCAL 2 = 78\n\n| NUM SUPL LOCAL 3 = 24\n| POS SUPL LOCAL 3 = {{mdc}}\n| SUPLENTE LOCAL 3 = {{bandera|tamaño=15px|FRA}} [[Senny Mayulu]]\n| MIN CAMBIO SUPL LOCAL 3 = 84\n\n| NUM SUPL LOCAL 4 = 33\n| POS SUPL LOCAL 4 = {{mdc}}\n| SUPLENTE LOCAL 4 = {{bandera|tamaño=15px|FRA}} [[Warren Zaïre-Emery]]\n| MIN CAMBIO SUPL LOCAL 4 = 84\n\n| NUM SUPL LOCAL 5 = &nbsp;&nbsp;9\n| POS SUPL LOCAL 5 = {{del}}\n| SUPLENTE LOCAL 5 = {{bandera|tamaño=15px|POR}} [[Gonçalo Ramos]]\n| MIN CAMBIO SUPL LOCAL 5 = 84\n<!-- Cambios Equipo Visitante -->\n| NUM SUPL VISITA 1 = 31\n| POS SUPL VISITA 1 = {{def}}\n| SUPLENTE VISITA 1 = {{bandera|tamaño=15px|GER}} [[Yann Aurel Bisseck|Yann Bisseck]] \n| MIN CAMBIO SUPL VISITA 1= 54' {{suboff|62}}\n\n| NUM SUPL VISITA 2 = 59\n| POS SUPL VISITA 2 = {{mdc}}\n| SUPLENTE VISITA 2 = {{bandera|tamaño=15px|POL}} [[Nicola Zalewski]]\n| MIN CAMBIO SUPL VISITA 2= 54\n\n| NUM SUPL VISITA 3 = 30\n| POS SUPL VISITA 3 = {{def}}\n| SUPLENTE VISITA 3 = {{bandera|tamaño=15px|BRA}} [[Carlos Augusto]]\n| MIN CAMBIO SUPL VISITA 3= 62\n\n| NUM SUPL VISITA 4 = 36\n| POS SUPL VISITA 4 = {{def}}\n| SUPLENTE VISITA 4 = {{bandera|tamaño=15px|ITA}} [[Matteo Darmian]]\n| MIN CAMBIO SUPL VISITA 4= 62\n\n| NUM SUPL VISITA 5 = 21\n| POS SUPL VISITA 5 = {{mdc}}\n| SUPLENTE VISITA 5 = {{bandera|tamaño=15px|ALB}} [[Kristjan Asllani]]\n| MIN CAMBIO SUPL VISITA 5= 70\n<!-- Datos de Juego -->\n| MIN GOLES LOCAL = {{gol|12}}<br>{{gol|20}}<br>{{gol|63}}<br>{{gol|73}}<br>{{gol|87}}\n| GOLES LOCAL = Achraf Hakimi<br>Désiré Doué<br>Désiré Doué<br>Khvicha Kvaratskhelia<br>Senny Mayulu\n| RESULTADO GOLES LOCAL = 1:0<br>2:0<br>3:0<br>4:0<br>5:0\n| MIN TARJETAS AMARILLAS LOCAL = {{yel|65}}<br>{{yel|90}}\n| TARJETAS AMARILLAS LOCAL = Désiré Doué<br>Achraf Hakimi\n| MIN TARJETAS ROJAS LOCAL =\n| TARJETAS ROJAS LOCAL =\n| PENALES LOCAL = \n| TIRADORES LOCAL = \n| RESULTADO PENALES LOCAL = \n\n| MIN GOLES VISITA = \n| GOLES VISITA = \n| RESULTADO GOLES VISITA = \n| MIN TARJETAS AMARILLAS VISITA = {{yel|56}}<br>{{yel|58}}<br>{{yel|69}}<br>{{yel|71}}\n| TARJETAS AMARILLAS VISITA = Nicola Zalewski<br>Simone Inzaghi{{refn|group=n.|name=yel_Inzaghi|El entrenador del Inter de Milán, Simone Inzaghi, recibió la tarjeta amarilla por protestar soezmente una decisión del árbitro István Kovács.}}<br>Marcus Thuram<br>Francesco Acerbi\n| MIN TARJETAS ROJAS VISITA =\n| TARJETAS ROJAS VISITA =  \n| PENALES VISITA = \n| TIRADORES VISITA = \n| RESULTADO PENALES VISITA = \n<!-- Uniforme Equipo Local -->\n| LOCAL patrón_izq     = _psg2425h\n| LOCAL patrón_cuerpo  = _psg2425h\n| LOCAL patrón_der     = _psg2425h\n| LOCAL patrón_pan     = _shorts\n| LOCAL patrón_med     = _socks\n| LOCAL izquierdo      = 0A1254\n| LOCAL cuerpo         = 0A1254\n| LOCAL derecho        = 0A1254\n| LOCAL shorts         = 0A1254\n| LOCAL medias         = 0A1254\n<!-- Uniforme Equipo Visitante -->\n| VISITA patrón_izq     = _internazionale2425t\n| VISITA patrón_cuerpo  = _internazionale2425t\n| VISITA patrón_der     = _internazionale2425t\n| VISITA patrón_pan     = _internazionale2425t2\n| VISITA patrón_med     = _internazionale2425t\n| VISITA izquierdo      = FFCC00\n| VISITA cuerpo         = FFCC00\n| VISITA derecho        = FFCC00\n| VISITA shorts         = FFCC00\n| VISITA medias         = FFCC00\n<!-- Formación -->\n| GRAFICO FORMACION       = Paris Saint-Germain vs Internazionale 2025-05-31.svg\n<!-- Estadísticas -->\n| POSESION LOCAL          = 59%\n| POSESION VISITA         = 41%\n| TIROS LOCAL             = 23\n| TIROS VISITA            = 8\n| TIROS AL ARCO LOCAL     = 8\n| TIROS AL ARCO VISITA    = 2\n| FALTAS LOCAL            = 13\n| FALTAS VISITA           = 7\n| ESQUINA LOCAL           = 4\n| ESQUINA VISITA          = 6\n| LIBRES LOCAL            = \n| LIBRES VISITA           = \n| PENAL LOCAL             = \n| PENAL VISITA            = \n| FUERAS LOCAL            = 0\n| FUERAS VISITA           = 5\n}}\n<br>{{Campeón|equipo=[[París Saint-Germain Football Club|París Saint-Germain]]|bandera=FRA|logo=Coppa Campioni.svg|orden=1}}{{clear}}\n\n== Notas ==\n{{listaref|group=\"n.\"}}\n\n== Referencias ==\n{{Listaref}}\n\n{{ sucesión\n| predecesor = [[Final de la Liga de Campeones de la UEFA 2023-24|2023-24]]\n| título = Final de la [[Liga de Campeones de la UEFA]]\n| período = 2024-25\n| sucesor = [[Final de la Liga de Campeones de la UEFA 2025-26|2025-26]]\n}}\n\n{{Control de autoridades}}\n[[Categoría:Finales de la Liga de Campeones de la UEFA|2025]]\n[[Categoría:Liga de Campeones de la UEFA 2024-25]]"
        },
        "pairedItem": {
          "item": 3
        }
      }
    ]
  },
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": []
}