workflows/Histórico LaLiga.json
{
  "active": false,
  "activeVersion": null,
  "connections": {
    "Code - Batch 50": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request -  insert supabase",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Deduplicar equipos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Preparar body",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Equipos Array": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Extraer equipos faltantes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Deduplicar equipos",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Map Equipo UUIDs": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Parse Openfootball": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Preparar body": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request1",
            "type": "main"
          }
        ]
      ]
    },
    "Code Temporadas Históricas": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update a row1",
            "type": "main"
          }
        ]
      ]
    },
    "Get many rows - teams": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Equipos Array",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Parse Openfootball",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Batch 50",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Code - Extraer equipos faltantes",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Map Equipo UUIDs",
            "type": "main"
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get many rows - teams",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Code Temporadas Históricas",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "dmEADxCjUcVIXkjx",
  "isArchived": false,
  "name": "Histórico LaLiga",
  "nodes": [
    {
      "id": "3a4a62ec-3b68-4a96-a097-a17ce31ac83a",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        0,
        48
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "f996289b-af19-4bb8-9586-e5d0ea72bdaa",
      "name": "Code Temporadas Históricas",
      "parameters": {
        "jsCode": "const seasons = [\n  \"2024-25\",\n  \"2023-24\",\n  \"2022-23\",\n  \"2021-22\"\n];\n\nreturn seasons.map(season => ({\n  json: { season }\n}));"
      },
      "position": [
        416,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "37db34ce-c7f6-406b-be41-2f6322de9222",
      "name": "HTTP Request",
      "parameters": {
        "options": {
          "response": {
            "response": {}
          }
        },
        "url": "={{ \"https://raw.githubusercontent.com/openfootball/espana/master/\" + $json.season + \"/1-liga.txt\" }}"
      },
      "position": [
        624,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "executeOnce": false,
      "id": "8fc2c445-9911-4cd9-bb9c-925d1a71f3a1",
      "name": "Code - Parse Openfootball",
      "parameters": {
        "jsCode": "function slugify(text) {\n  return String(text || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\");\n}\n\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nfunction parseSeason(text, itemJson) {\n  let seasonRaw =\n    itemJson.season ||\n    itemJson.input?.season ||\n    itemJson.params?.season ||\n    null;\n\n  if (!seasonRaw) {\n    const seasonMatch = String(text).match(/\\b(20\\d{2})\\/(\\d{2})\\b/);\n    if (seasonMatch) {\n      seasonRaw = `${seasonMatch[1]}-${seasonMatch[2]}`;\n    }\n  }\n\n  const season = seasonRaw ? seasonRaw.replace(\"-\", \"/\") : null;\n  return { seasonRaw, season };\n}\n\nfunction monthToNumber(mon) {\n  const months = {\n    Jan: 1, Feb: 2, Mar: 3, Apr: 4, May: 5, Jun: 6,\n    Jul: 7, Aug: 8, Sep: 9, Oct: 10, Nov: 11, Dec: 12,\n  };\n  return months[mon] || null;\n}\n\nfunction buildMatchDate(season, monStr, dayStr, explicitYear = null) {\n  const month = monthToNumber(monStr);\n  const day = Number(dayStr);\n  if (!month || !day) return null;\n\n  let year = null;\n  if (explicitYear) {\n    year = Number(explicitYear);\n  } else {\n    if (!season) return null;\n    const seasonMatch = season.match(/^(\\d{4})\\/(\\d{2})$/);\n    if (!seasonMatch) return null;\n    const startYear = Number(seasonMatch[1]);\n    const endYear = Number(`20${seasonMatch[2]}`);\n    year = month >= 7 ? startYear : endYear;\n  }\n\n  return `${year}-${pad2(month)}-${pad2(day)}`;\n}\n\nfunction normalizeKickoffTime(kickoffText) {\n  if (!kickoffText) return null;\n  return kickoffText.replace(\".\", \":\") + \":00\";\n}\n\n// Extrae fecha de una línea. Formatos soportados:\n// [Thu Aug/15 2024]  [Fri Aug/16]  Thu Aug/15 2024  Fri Aug/16\n// Mon Aug/19  Sat Aug/17  etc.\nfunction extractDateFromLine(line, season) {\n  if (!line) return null;\n\n  let s = String(line).trim();\n  \n  // Quitar corchetes tipo [Thu Aug/15 2024] o [Fri Aug/16]\n  s = s.replace(/^\\[/, \"\").replace(/\\]$/, \"\").trim();\n  // Quitar prefijo \"# Date\" o \"#\"\n  s = s.replace(/^#\\s*Date\\s*/i, \"\").replace(/^#\\s*/, \"\").trim();\n  // Quitar sufijo tipo \" - something\"\n  if (s.includes(\" - \")) s = s.split(\" - \")[0].trim();\n  // Quitar sufijo entre paréntesis\n  s = s.replace(/\\s+\\([^)]*\\)\\s*$/, \"\").trim();\n\n  const WEEKDAYS = \"Mon|Tue|Wed|Thu|Fri|Sat|Sun\";\n  const MON = \"[A-Z][a-z]{2}\";\n  const DAY = \"\\\\d{1,2}\";\n  const YEAR = \"20\\\\d{2}\";\n\n  // Con día semana + año: \"Thu Aug/15 2024\"\n  let m = s.match(new RegExp(`^(?:${WEEKDAYS})\\\\s+(${MON})\\\\/(${DAY})\\\\s+(${YEAR})$`));\n  if (m) return buildMatchDate(season, m[1], m[2], m[3]);\n\n  // Con día semana, sin año: \"Fri Aug/16\"\n  m = s.match(new RegExp(`^(?:${WEEKDAYS})\\\\s+(${MON})\\\\/(${DAY})$`));\n  if (m) return buildMatchDate(season, m[1], m[2], null);\n\n  // Sin día semana + año: \"Aug/15 2024\"\n  m = s.match(new RegExp(`^(${MON})\\\\/(${DAY})\\\\s+(${YEAR})$`));\n  if (m) return buildMatchDate(season, m[1], m[2], m[3]);\n\n  // Solo mes/dia: \"Aug/15\"\n  m = s.match(new RegExp(`^(${MON})\\\\/(${DAY})$`));\n  if (m) return buildMatchDate(season, m[1], m[2], null);\n\n  return null;\n}\n\nfunction isDateLine(line) {\n  if (!line) return false;\n  const s = String(line).trim();\n  // Línea que es SOLO una fecha (con o sin corchetes, con o sin weekday)\n  if (/^(?:#\\s*)?Date$/i.test(s)) return true;\n  return extractDateFromLine(s, \"2000/01\") !== null;\n}\n\nfunction isJunkLine(line) {\n  if (!line) return true;\n  const s = String(line).trim();\n  return (\n    s.startsWith(\"=\") ||\n    /^spain primera division/i.test(s) ||\n    /^primera divisi[oó]n/i.test(s) ||\n    /^matches\\s+\\d+/i.test(s) ||\n    /^teams\\s+\\d+/i.test(s) ||\n    /^#\\s*Date\\s+\\w+/i.test(s) ||   // \"# Date Thu Aug/15...\"  — es fecha, no junk\n    /^#\\s*Teams/i.test(s) ||\n    /^#\\s*Matches/i.test(s)\n  );\n}\n\nconst output = [];\n\nfor (const item of items) {\n  const raw = item.json.data || item.json.body || \"\";\n  let text = String(raw);\n\n  // Normalizar saltos de línea\n  text = text\n    .replace(/\\\\r\\\\n/g, \"\\n\")\n    .replace(/\\\\n/g, \"\\n\")\n    .replace(/\\\\r/g, \"\\n\")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\");\n\n  // Inyectar separadores para asegurar que matchdays y fechas queden en líneas propias\n  text = text\n    .replace(/((?:»\\s*)?Matchday\\s+\\d+)/gi, \"\\n$1\\n\")\n    .replace(/(#\\s*Date)/gi, \"\\n$1\\n\")\n    // Fechas con corchetes tipo [Thu Aug/15 2024] o [Fri Aug/16]\n    .replace(/(\\[(?:Mon|Tue|Wed|Thu|Fri|Sat|Sun)\\s+[A-Z][a-z]{2}\\/\\d{1,2}(?:\\s+20\\d{2})?\\])/g, \"\\n$1\\n\")\n    // Fechas sin corchetes al inicio de línea (precedidas de newline o inicio)\n    .replace(/((?:^|\\n)\\s*(?:Mon|Tue|Wed|Thu|Fri|Sat|Sun)\\s+[A-Z][a-z]{2}\\/\\d{1,2}(?:\\s+20\\d{2})?(?:\\s*$|\\s+(?!\\d{2}\\.\\d{2}|\\d+-\\d+)))/gm, \"\\n$1\\n\");\n\n  const { seasonRaw, season } = parseSeason(text, item.json);\n\n  const lines = text\n    .split(/\\n+/)\n    .map(l => l.trim())\n    .filter(Boolean);\n\n  let currentBlockDate = null;\n  let currentMatchday = null;\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n    if (!line) continue;\n\n    // ---- Detectar Matchday ----\n    const mdMatch = line.match(/(?:»\\s*)?Matchday\\s+(\\d+)/i);\n    if (mdMatch) {\n      currentMatchday = Number(mdMatch[1]);\n      continue;\n    }\n\n    // ---- Detectar línea de fecha pura ----\n    const detectedDate = extractDateFromLine(line, season);\n    if (detectedDate) {\n      currentBlockDate = detectedDate;\n      continue; // Esta línea ES una fecha, no un partido\n    }\n\n    // ---- Saltar basura ----\n    if (isJunkLine(line)) continue;\n\n    // ---- Intentar extraer partido ----\n    // Primero limpiar prefijos de fecha inline que puedan estar pegados\n    // (ej: \"Thu Aug/15 2024\\n  19.00 Athletic Club v Getafe CF 1-1\")\n    // En este punto ya deberían estar separados por el split, pero por si acaso:\n    let matchLine = line\n      .replace(/^(?:Mon|Tue|Wed|Thu|Fri|Sat|Sun)\\s+[A-Z][a-z]{2}\\/\\d{1,2}(?:\\s+20\\d{2})?\\s+/i, \"\")\n      .replace(/^[A-Z][a-z]{2}\\/\\d{1,2}(?:\\s+20\\d{2})?\\s+/i, \"\")\n      .trim();\n\n    if (!matchLine) continue;\n\n    let kickoffText = null;\n    let homeTeam = null;\n    let awayTeam = null;\n    let homeScore = null;\n    let awayScore = null;\n    let htHomeScore = null;\n    let htAwayScore = null;\n    let status = \"scheduled\";\n    let m = null;\n\n    // Formato 1: \"19.00  Athletic Club  v  Getafe CF  1-1 (1-0)\"\n    m = matchLine.match(\n      /^(?:(\\d{1,2}\\.\\d{2})\\s+)?(.+?)\\s+v\\s+(.+?)\\s+(\\d+)-(\\d+)(?:\\s+\\((\\d+)-(\\d+)\\))?$/i\n    );\n    if (m) {\n      kickoffText = m[1] || null;\n      homeTeam = m[2].trim();\n      awayTeam = m[3].trim();\n      homeScore = Number(m[4]);\n      awayScore = Number(m[5]);\n      htHomeScore = m[6] != null ? Number(m[6]) : null;\n      htAwayScore = m[7] != null ? Number(m[7]) : null;\n      status = \"finished\";\n    }\n\n    // Formato 2: \"19.00  Athletic Club  v  Getafe CF\" (sin resultado)\n    if (!homeTeam) {\n      m = matchLine.match(/^(?:(\\d{1,2}\\.\\d{2})\\s+)?(.+?)\\s+v\\s+(.+)$/i);\n      if (m) {\n        kickoffText = m[1] || null;\n        homeTeam = m[2].trim();\n        awayTeam = m[3].trim();\n        status = \"scheduled\";\n      }\n    }\n\n    // Formato 3 (openfootball legacy): \"Athletic Club  1-1 (1-0)  Getafe CF\"\n    if (!homeTeam) {\n      m = matchLine.match(\n        /^(?:(\\d{1,2}\\.\\d{2})\\s+)?(.+?)\\s+(\\d+)-(\\d+)(?:\\s+\\((\\d+)-(\\d+)\\))?\\s+(.+)$/i\n      );\n      if (m) {\n        kickoffText = m[1] || null;\n        homeTeam = m[2].trim();\n        homeScore = Number(m[3]);\n        awayScore = Number(m[4]);\n        htHomeScore = m[5] != null ? Number(m[5]) : null;\n        htAwayScore = m[6] != null ? Number(m[6]) : null;\n        awayTeam = m[7].trim();\n        status = \"finished\";\n      }\n    }\n\n    if (!homeTeam || !awayTeam) continue;\n\n    const kickoffTime = normalizeKickoffTime(kickoffText);\n    const kickoffAtLocal =\n      currentBlockDate && kickoffTime\n        ? `${currentBlockDate}T${kickoffTime}`\n        : null;\n\n    output.push({\n      json: {\n        season,\n        matchday: currentMatchday,\n        match_date: currentBlockDate,\n        kickoff_text: kickoffText,\n        kickoff_time: kickoffTime,\n        kickoff_at_local: kickoffAtLocal,\n        utc_date: null,\n\n        home_team_name: homeTeam,\n        away_team_name: awayTeam,\n        home_team_slug_guess: slugify(homeTeam),\n        away_team_slug_guess: slugify(awayTeam),\n\n        home_score: homeScore,\n        away_score: awayScore,\n        home_ht_score: htHomeScore,\n        away_ht_score: htAwayScore,\n\n        status,\n        source: \"openfootball\",\n        source_id: [\n          \"openfootball\",\n          seasonRaw || \"noseason\",\n          currentMatchday || \"nomd\",\n          slugify(homeTeam),\n          slugify(awayTeam),\n          currentBlockDate || \"nodate\",\n          kickoffText || \"notime\"\n        ].join(\"-\")\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "position": [
        832,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": false,
      "id": "35978c44-ca38-4139-b7c1-501d81cdd287",
      "name": "Code - Map Equipo UUIDs",
      "parameters": {
        "jsCode": "function slugify(text) {\n  return String(text || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\");\n}\n\nconst aliasMap = {\n  \"atletico-madrid\": \"club-atletico-de-madrid\",\n  \"club-atletico-de-madrid\": \"club-atletico-de-madrid\",\n\n  \"athletic-bilbao\": \"athletic-club\",\n  \"athletic\": \"athletic-club\",\n\n  \"espanyol\": \"rcd-espanyol-de-barcelona\",\n  \"espanyol-de-barcelona\": \"rcd-espanyol-de-barcelona\",\n  \"rcd-espanyol\": \"rcd-espanyol-de-barcelona\",\n\n  \"alaves\": \"deportivo-alaves\",\n  \"deportivo-alaves\": \"deportivo-alaves\",\n\n  \"real-sociedad\": \"real-sociedad-de-futbol\",\n  \"real-sociedad-de-san-sebastian\": \"real-sociedad-de-futbol\",\n\n  \"betis\": \"real-betis-balompie\",\n  \"real-betis\": \"real-betis-balompie\",\n  \"real-betis-balompie\": \"real-betis-balompie\",\n\n  \"mallorca\": \"rcd-mallorca\",\n  \"real-mallorca\": \"rcd-mallorca\",\n\n  \"celta\": \"rc-celta-de-vigo\",\n  \"celta-vigo\": \"rc-celta-de-vigo\",\n  \"real-club-celta-de-vigo\": \"rc-celta-de-vigo\",\n\n  \"leganes\": \"cd-leganes\",\n  \"deportivo-leganes\": \"cd-leganes\",\n\n  \"deportivo-la-coruna\": \"rc-deportivo-de-la-coruna\",\n  \"deportivo\": \"rc-deportivo-de-la-coruna\",\n  \"rc-deportivo\": \"rc-deportivo-de-la-coruna\",\n  \"la-coruna\": \"rc-deportivo-de-la-coruna\",\n\n  \"barcelona\": \"fc-barcelona\",\n  \"fc-barcelona\": \"fc-barcelona\",\n\n  \"sevilla\": \"sevilla-fc\",\n  \"sevilla-fc\": \"sevilla-fc\",\n\n  \"valencia\": \"valencia-cf\",\n  \"valencia-cf\": \"valencia-cf\",\n\n  \"villarreal\": \"villarreal-cf\",\n  \"villarreal-cf\": \"villarreal-cf\",\n\n  \"getafe\": \"getafe-cf\",\n  \"getafe-cf\": \"getafe-cf\",\n\n  \"osasuna\": \"ca-osasuna\",\n  \"ca-osasuna\": \"ca-osasuna\",\n\n  \"girona\": \"girona-fc\",\n  \"girona-fc\": \"girona-fc\",\n\n  \"rayo\": \"rayo-vallecano-de-madrid\",\n  \"rayo-vallecano\": \"rayo-vallecano-de-madrid\",\n  \"rayo-vallecano-de-madrid\": \"rayo-vallecano-de-madrid\",\n\n  \"real-madrid\": \"real-madrid-cf\",\n  \"real-madrid-cf\": \"real-madrid-cf\",\n\n  \"las-palmas\": \"ud-las-palmas\",\n  \"ud-las-palmas\": \"ud-las-palmas\",\n\n  \"real-valladolid\": \"real-valladolid-cf\",\n  \"real-valladolid-cf\": \"real-valladolid-cf\",\n\n  \"oviedo\": \"real-oviedo\",\n  \"real-oviedo\": \"real-oviedo\",\n\n  \"elche\": \"elche-cf\",\n  \"elche-cf\": \"elche-cf\",\n\n  \"levante\": \"levante-ud\",\n  \"levante-ud\": \"levante-ud\"\n};\n\nconst merged = items.map(i => i.json);\n\nconst teamsContainer = merged.find(i => Array.isArray(i.teams));\nconst teams = teamsContainer?.teams || [];\nconst matches = merged.filter(i => !Array.isArray(i.teams));\n\nconst teamsBySlug = new Map();\nconst teamsByNameSlug = new Map();\n\nfor (const team of teams) {\n  const slug = slugify(team.slug || \"\");\n  const nameSlug = slugify(team.name || \"\");\n\n  if (slug) teamsBySlug.set(slug, team);\n  if (nameSlug) teamsByNameSlug.set(nameSlug, team);\n}\n\nfunction resolveTeam(rawSlugGuess, rawName) {\n  let guess = slugify(rawSlugGuess || rawName || \"\");\n\n  guess = aliasMap[guess] || guess;\n\n  return (\n    teamsBySlug.get(guess) ||\n    teamsByNameSlug.get(guess) ||\n    teamsBySlug.get(aliasMap[slugify(rawName || \"\")] || \"\") ||\n    teamsByNameSlug.get(slugify(rawName || \"\")) ||\n    null\n  );\n}\n\nreturn matches.map(match => {\n  const homeTeam = resolveTeam(match.home_team_slug_guess, match.home_team_name);\n  const awayTeam = resolveTeam(match.away_team_slug_guess, match.away_team_name);\n\n  return {\n    json: {\n      ...match,\n      competition_id: \"a6d5fa20-1a02-4aa8-bd08-707a87c488d6\",\n      home_team_id: homeTeam ? homeTeam.id : null,\n      away_team_id: awayTeam ? awayTeam.id : null\n    }\n  };\n});"
      },
      "position": [
        1248,
        96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "60db267f-245b-48f4-99d8-1e5b730cdea5",
      "name": "Code - Equipos Array",
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      teams: items.map(i => i.json)\n    }\n  }\n];"
      },
      "position": [
        400,
        176
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "1033852a-58fb-419a-9c65-f98b6c213d71",
      "name": "Merge",
      "parameters": {},
      "position": [
        1056,
        96
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "03176283-f70d-4b57-957b-e5010eba0acd",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "577beee6-ef4d-4232-94a4-c44cb4c537ca",
              "leftValue": "={{ $json.home_team_id }}",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            },
            {
              "id": "6f0874db-298d-4e70-85e4-3ff560774006",
              "leftValue": "={{ $json.away_team_id }}",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        1456,
        96
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "ef4b2f55-c22e-40b2-af66-239ef2918ef7",
      "name": "Code - Batch 50",
      "parameters": {
        "jsCode": "const chunkSize = 50;\nconst rows = items.map(i => i.json);\n\nconst cleaned = rows.map(r => ({\n  competition_id: r.competition_id,\n  season: r.season,\n  matchday: r.matchday ?? null,\n  home_team_id: r.home_team_id,\n  away_team_id: r.away_team_id,\n  stadium_id: null,\n  kickoff_at: r.kickoff_at_local ?? null,\n  home_score: r.home_score ?? null,\n  away_score: r.away_score ?? null,\n  status: r.status,\n  source: \"openfootball\",\n  source_id: r.source_id\n}));\n\nconst batches = [];\nfor (let i = 0; i < cleaned.length; i += chunkSize) {\n  batches.push({\n    json: {\n      batch: cleaned.slice(i, i + chunkSize)\n    }\n  });\n}\n\nreturn batches;"
      },
      "position": [
        1664,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5d3fb141-7b90-4a72-aacf-57a71b76737a",
      "name": "HTTP Request -  insert supabase",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "JWT_MASKED"
            },
            {
              "name": "Authorization",
              "value": "Bearer JWT_MASKED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "jsonBody": "={{$json.batch}}",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://scmytuehzrdyjsxzmujv.supabase.co/rest/v1/matches?on_conflict=source_id"
      },
      "position": [
        1776,
        -256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "4f256a84-7578-429f-aa81-74a2b9278f72",
      "name": "Get many rows - teams",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "teams"
      },
      "position": [
        192,
        176
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "8a2fa7e7-1a2d-4fb3-b291-baa053b4a68b",
      "name": "Code - Extraer equipos faltantes",
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of items) {\n  const j = item.json;\n\n  if (!j.home_team_id && j.home_team_name) {\n    out.push({\n      json: {\n        name: j.home_team_name,\n        slug: j.home_team_slug_guess || null,\n        external_id: null,\n        source: \"openfootball\",\n        source_id: j.home_team_slug_guess || null\n      }\n    });\n  }\n\n  if (!j.away_team_id && j.away_team_name) {\n    out.push({\n      json: {\n        name: j.away_team_name,\n        slug: j.away_team_slug_guess || null,\n        external_id: null,\n        source: \"openfootball\",\n        source_id: j.away_team_slug_guess || null\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "position": [
        1664,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6c759406-e7c5-489f-972a-d374c698b547",
      "name": "Code - Deduplicar equipos",
      "parameters": {
        "jsCode": "const seen = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const key = (item.json.slug || item.json.name || \"\").toLowerCase().trim();\n  if (!key) continue;\n\n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push({\n      json: item.json\n    });\n  }\n}\n\nreturn unique;"
      },
      "position": [
        2080,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "efaa0e58-b8a4-4901-a2ed-9604814e5d0e",
      "name": "HTTP Request1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "JWT_MASKED"
            },
            {
              "name": "Authorization",
              "value": "Bearer JWT_MASKED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "jsonBody": "={{ $json.payload }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://scmytuehzrdyjsxzmujv.supabase.co/rest/v1/teams?on_conflict=slug"
      },
      "position": [
        2480,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "8efe8529-251a-40e1-81eb-830d2f1e8a77",
      "name": "Code - Preparar body",
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      payload: items.map(i => ({\n        name: i.json.name,\n        slug: i.json.slug,\n        country_id: \"37f46503-683b-4aa0-be0b-dea6d5db4b50\",\n        source: \"openfootball\",\n        source_id: i.json.source_id ?? null,\n        external_id: null\n      }))\n    }\n  }\n];"
      },
      "position": [
        2288,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "disabled": true,
      "id": "4e56e64c-4d11-460b-9097-8c53ea9f7d63",
      "name": "Update a row1",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "kickoff_at",
              "fieldValue": "={{ $json.kickoff_at }}"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "source",
              "keyValue": "openfootball"
            },
            {
              "condition": "eq",
              "keyName": "season",
              "keyValue": "={{ $json.season }}"
            },
            {
              "condition": "eq",
              "keyName": "matchday",
              "keyValue": "={{ $json.matchday }}"
            },
            {
              "condition": "eq",
              "keyName": "home_team_id",
              "keyValue": "={{ $json.home_team_id }}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "matches"
      },
      "position": [
        2080,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "d3e853c4-55fb-4095-9b50-796bde6dc0dc",
      "name": "Code in JavaScript",
      "parameters": {
        "jsCode": "return items.flatMap(item =>\n  (item.json.batch || []).map(row => ({\n    json: row\n  }))\n);"
      },
      "position": [
        1872,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": []
}