workflows/La Liga - Importar Histórico de Partidos.json
{
  "active": false,
  "activeVersion": null,
  "connections": {
    "Check Competition Season": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Create CompSeason",
            "type": "main"
          }
        ]
      ]
    },
    "Create Competition Season": {
      "main": [
        []
      ]
    },
    "Generate Matchdays": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "IF Create CompSeason": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Competition Season",
            "type": "main"
          }
        ],
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare FInal",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Equipos Restantes",
            "type": "main"
          }
        ]
      ]
    },
    "Load Aliases": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Load CompSeason DB": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Load Competition": {
      "main": [
        [
          {
            "index": 0,
            "node": "Load Competition DB",
            "type": "main"
          }
        ]
      ]
    },
    "Load Competition DB": {
      "main": [
        [
          {
            "index": 0,
            "node": "Load Competition Season",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Load Competition Season": {
      "main": [
        [
          {
            "index": 0,
            "node": "Load CompSeason DB",
            "type": "main"
          }
        ]
      ]
    },
    "Load Teams": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Resolve Team IDs",
            "type": "main"
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Transfermarkt Matchday",
            "type": "main"
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Competition Season",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Transfermarkt Matchday": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare FInal": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a SQL query",
            "type": "main"
          }
        ]
      ]
    },
    "Resolve Team IDs": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Set Contexto": {
      "main": [
        [
          {
            "index": 0,
            "node": "Load Competition",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Load Teams",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Load Aliases",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Generate Matchdays",
            "type": "main"
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Contexto",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "6MJhTGOSG7ai07iP",
  "isArchived": false,
  "name": "La Liga - Importar Histórico de Partidos",
  "nodes": [
    {
      "id": "b1bb3b71-7f62-47e5-bf04-3d721728eed2",
      "name": "Trigger",
      "parameters": {},
      "position": [
        -720,
        496
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "8776b80f-1b29-4f83-8ad8-f49c553a405d",
      "name": "Set Contexto",
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════\n// CONFIGURACIÓN — único lugar que tocas para otra temporada\n// ════════════════════════════════════════════════════════════════\nconst config = {\n  // Formato con barra — igual que en tu DB\n  season_label: '2019/20',\n\n  // Slug de la competition en tu DB\n  competition_slug: 'laliga-ea-sports',\n\n  // Wikipedia: título de la temporada (sin https://en.wikipedia.org/wiki/)\n  // Patrón: YYYY–YY_La_Liga  (guión largo Unicode en el año)\n  wiki_season_title: '2019%E2%80%9320_La_Liga',\n\n  // Transfermarkt\n  transfermarkt_competition_code: 'ES1', // LaLiga\n  total_matchdays: 38,\n};\n\n// ════════════════════════════════════════════════════════════════\n// DERIVADOS AUTOMÁTICOS — no tocar\n// ════════════════════════════════════════════════════════════════\nconst seasonCompact = config.season_label.replace('/', ''); // '202021'\nconst seasonSlug = `laliga-${config.season_label.replace('/', '-')}`; // 'laliga-2020-21'\nconst wikiUrl = `https://en.wikipedia.org/wiki/${config.wiki_season_title}`;\n\n// Para Transfermarkt, 2020/21 => saison_id=2020\nconst seasonStartYear = parseInt(config.season_label.split('/')[0], 10);\n\nconst transfermarkt_base_url =\n  `https://www.transfermarkt.es/laliga/spieltag/wettbewerb/${config.transfermarkt_competition_code}`;\n\nreturn [{\n  json: {\n    ...config,\n\n    // Wikipedia\n    season_compact: seasonCompact,\n    season_slug: seasonSlug,\n    wiki_url: wikiUrl,\n\n    // Transfermarkt\n    transfermarkt_saison_id: seasonStartYear,\n    transfermarkt_base_url,\n  }\n}];"
      },
      "position": [
        -528,
        496
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6af3c762-ee79-41f6-bf5c-6f9c6d7047d6",
      "name": "Load Competition",
      "parameters": {
        "jsCode": "\n// Lee todas las competitions y filtra en JS\n// Así evitamos el problema de referencias cross-branch en Supabase nodes\nconst ctx = $('Set Contexto').first().json;\n\n// El nodo Supabase 'Load Competition DB' cargará todas las competitions\n// Este nodo solo prepara y pasa el contexto\nreturn [{ json: { ...ctx } }];\n"
      },
      "position": [
        -320,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "68a6ebb7-da64-4446-a791-6c5d92ae1af2",
      "name": "Load Competition Season",
      "parameters": {
        "jsCode": "// Leer del input directo en lugar de referenciar Set Contexto por nombre\nconst ctx = $('Set Contexto').first().json;\nconst allComps = $('Load Competition DB').all().map(i => i.json);\n\nconst competition = allComps.find(c => c.slug === ctx.competition_slug);\n\nif (!competition) {\n  throw new Error(`Competition no encontrada: \"${ctx.competition_slug}\"`);\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    competition_id:   competition.id,\n    competition_name: competition.name,\n  }\n}];"
      },
      "position": [
        32,
        432
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f4452fe2-3625-412b-8115-a1c34c3db218",
      "name": "Check Competition Season",
      "parameters": {
        "jsCode": "\n// Ahora tenemos competition_id en $json y todas las seasons en Load CompSeason DB\nconst ctx         = $('Load Competition Season').first().json;\nconst allSeasons  = $('Load CompSeason DB').all().map(i => i.json);\n\n// Buscar la season correcta: mismo competition_id y season_label\nconst existing = allSeasons.find(s =>\n  s.competition_id === ctx.competition_id &&\n  s.season_label   === ctx.season_label\n);\n\nif (existing) {\n  // Ya existe\n  return [{\n    json: {\n      ...ctx,\n      competition_season_id: existing.id,\n      _cs_created: false,\n    }\n  }];\n}\n\n// No existe — señal para crear\nreturn [{\n  json: {\n    ...ctx,\n    competition_season_id: null,\n    _cs_created: true,\n    _cs_insert: {\n      competition_id: ctx.competition_id,\n      season_label:   ctx.season_label,\n      is_current:     false,\n      source:         'wikipedia',\n    }\n  }\n}];\n"
      },
      "position": [
        464,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5a11e11e-cac8-4448-b8fc-293be9519fac",
      "name": "IF Create CompSeason",
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._cs_created }}",
              "value2": true
            }
          ]
        }
      },
      "position": [
        640,
        384
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "ae166e3d-b77a-4b62-b124-d0452ce9e5ff",
      "name": "Create Competition Season",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "competition_id",
              "fieldValue": "={{ $json._cs_insert.competition_id }}"
            },
            {
              "fieldId": "season_label",
              "fieldValue": "={{ $json._cs_insert.season_label }}"
            },
            {
              "fieldId": "is_current",
              "fieldValue": "={{ $json._cs_insert.is_current }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json._cs_insert.source }}"
            }
          ]
        },
        "tableId": "competition_seasons"
      },
      "position": [
        640,
        208
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "11aa0a2d-7b7b-49bc-bfc8-3d83f4748094",
      "name": "Load Teams",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "teams"
      },
      "position": [
        224,
        688
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "57e9594c-57ba-4b5d-96b3-c7d7851a2717",
      "name": "Load Aliases",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "team_aliases"
      },
      "position": [
        224,
        864
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "b5b5e1df-b116-46c5-8272-3229360ab778",
      "name": "Load Competition DB",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "competitions"
      },
      "position": [
        -144,
        384
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "xgmADd6dlV14GpeX",
          "name": "Supabase account 2"
        }
      },
      "id": "8d031eac-17e4-4a75-ae90-3257b6dc5380",
      "name": "Load CompSeason DB",
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "tableId": "competition_seasons"
      },
      "position": [
        224,
        384
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "f0ffc80a-19ea-4091-ad0e-da3c34052b22",
      "name": "Merge",
      "parameters": {
        "numberInputs": 4
      },
      "position": [
        1136,
        304
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "ac5b4893-049e-49e7-a3bf-27c566071934",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": " Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36 Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Referer",
              "value": "https://www.google.com/"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "url": "={{ $json.transfermarkt_url }}"
      },
      "position": [
        -112,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "fbad76fe-f876-40ef-a6ff-c3f2e6a22646",
      "name": "Generate Matchdays",
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst total = ctx.total_matchdays || 38;\n\nconst items = [];\n\nfor (let round = 1; round <= total; round++) {\n  items.push({\n    json: {\n      ...ctx,\n      round,\n      transfermarkt_url: `${ctx.transfermarkt_base_url}/spieltag/${round}/saison_id/${ctx.transfermarkt_saison_id}`,\n    }\n  });\n}\n\nreturn items;"
      },
      "position": [
        -336,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": false,
      "id": "104b4d4f-cd3c-4a86-adbb-de035609580a",
      "name": "Parse Transfermarkt Matchday",
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst output = [];\n\nfunction stripHtml(s) {\n  return (s || '')\n    .replace(/<br\\s*\\/?>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&#160;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction parseDate(raw) {\n  if (!raw) return null;\n  const m = raw.match(/(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})/);\n  if (!m) return null;\n  const dd = m[1].padStart(2, '0');\n  const mm = m[2].padStart(2, '0');\n  const yyyy = m[3];\n  return `${yyyy}-${mm}-${dd}`;\n}\n\nfunction parseTime(raw) {\n  if (!raw) return null;\n  const m = raw.match(/\\b(\\d{1,2}):(\\d{2})H?\\b/);\n  if (!m) return null;\n  return `${m[1].padStart(2, '0')}:${m[2]}`;\n}\n\nfunction compactSlug(s) {\n  return (s || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction cleanTeamTitles(titles) {\n  const bad = new Set([\n    'informe',\n    'al hilo de la jornada',\n    'al predictor de resultados',\n    'transfermarkt',\n  ]);\n\n  return titles.filter(t => {\n    const v = (t || '').toLowerCase().trim();\n    return v && !bad.has(v);\n  });\n}\n\nfor (const wrapped of inputItems) {\n  const item = wrapped.json;\n  const html = item.data || '';\n\n  const title = html.match(/<title>(.*?)<\\/title>/i)?.[1] || '';\n  const round =\n    parseInt(title.match(/Jornada\\s*-\\s*(\\d+)\\./i)?.[1], 10) ||\n    parseInt(title.match(/(\\d+)\\.\\s*Jornada/i)?.[1], 10) ||\n    item.round ||\n    null;\n\n  const season_label = item.season_label || null;\n  const season_slug = item.season_slug || null;\n  const competition_id = item.competition_id || null;\n  const competition_season_id = item.competition_season_id || null;\n  const transfermarkt_url = item.transfermarkt_url || null;\n\n  const trs = html.match(/<tr[\\s\\S]*?<\\/tr>/gi) || [];\n  const seen = new Set();\n  let foundForThisPage = 0;\n\n  for (let i = 0; i < trs.length - 1; i++) {\n    const tr1 = trs[i];\n    const tr2 = trs[i + 1];\n\n    const text1 = stripHtml(tr1);\n    const text2 = stripHtml(tr2);\n\n    const scoreMatch = text1.match(/(\\d+):(\\d+)/);\n    if (!scoreMatch) continue;\n\n    const dateMatch = text2.match(/\\b\\d{1,2}\\/\\d{1,2}\\/\\d{4}\\b/);\n    const timeMatch = text2.match(/\\b\\d{1,2}:\\d{2}H?\\b/);\n    if (!dateMatch || !timeMatch) continue;\n\n    const titlesRaw = [...tr1.matchAll(/title=\"([^\"]+)\"/gi)]\n      .map(m => stripHtml(m[1]))\n      .filter(Boolean);\n\n    const titles = cleanTeamTitles(titlesRaw);\n    if (titles.length < 2) continue;\n\n    const home_team_raw = titles[0];\n    const away_team_raw = titles[titles.length - 1];\n\n    if (!home_team_raw || !away_team_raw) continue;\n    if (home_team_raw === away_team_raw) continue;\n\n    const match_date = parseDate(dateMatch[0]);\n    const kickoff_time = parseTime(timeMatch[0]);\n    if (!match_date || !kickoff_time) continue;\n\n    const home_score = parseInt(scoreMatch[1], 10);\n    const away_score = parseInt(scoreMatch[2], 10);\n\n    const key = `${round}_${match_date}_${compactSlug(home_team_raw)}_${compactSlug(away_team_raw)}`;\n    if (seen.has(key)) continue;\n    seen.add(key);\n\n    foundForThisPage++;\n\n    output.push({\n      json: {\n        competition_id,\n        competition_season_id,\n        season: season_label,\n        season_slug,\n        round,\n        match_date,\n        kickoff_time,\n        home_team_raw,\n        away_team_raw,\n        home_score,\n        away_score,\n        transfermarkt_url,\n        source: 'transfermarkt',\n        _match_key: `${match_date}_${compactSlug(home_team_raw)}_${compactSlug(away_team_raw)}`\n      }\n    });\n  }\n\n  if (!foundForThisPage) {\n    output.push({\n      json: {\n        error: 'no_transfermarkt_matches_found',\n        round,\n        title,\n        transfermarkt_url\n      }\n    });\n  }\n}\n\nreturn output; "
      },
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "26157dcb-6617-4aec-9d37-0f4e3d15604a",
      "name": "Merge1",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "d19cb91c-913e-4c0a-a94f-2d792d432459",
      "name": "Merge2",
      "parameters": {
        "numberInputs": 3
      },
      "position": [
        352,
        192
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "573d1594-b40a-4885-a695-67be39f0f8a8",
      "name": "Resolve Team IDs",
      "parameters": {
        "jsCode": "function normalizeTeamName(s = '') {\n  return String(s || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/\\b(sd|rc|cf|fc|club|de|del|la|real)\\b/g, ' ')\n    .replace(/[^a-z0-9]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction slugify(s = '') {\n  return normalizeTeamName(s).replace(/\\s+/g, '-');\n}\n\n// Estos nombres tienen que coincidir EXACTAMENTE con tus nodos\nconst matches = $items(\"Parse Transfermarkt Matchday\").map(i => i.json);\nconst ctx = $items(\"Check Competition Season\")[0]?.json;\nconst teams = $items(\"Load Teams\").map(i => i.json);\nconst aliases = $items(\"Load Aliases\").map(i => i.json);\n\nif (!ctx) {\n  return [{\n    json: {\n      error: 'missing_competition_context'\n    }\n  }];\n}\n\n// Mapa slug -> team_id\nconst slugToTeamId = {};\n\n// Teams directos\nfor (const t of teams) {\n  if (t.slug) {\n    slugToTeamId[String(t.slug).toLowerCase()] = t.id;\n  }\n}\n\n// Aliases\nfor (const a of aliases) {\n  if (a.alias_slug) {\n    slugToTeamId[String(a.alias_slug).toLowerCase()] = a.team_id;\n  }\n}\n\nconst result = matches.map(m => {\n  const homeSlug = slugify(m.home_team_raw || '');\n  const awaySlug = slugify(m.away_team_raw || '');\n\n  const homeTeamId = slugToTeamId[homeSlug] || null;\n  const awayTeamId = slugToTeamId[awaySlug] || null;\n\n  const validationErrors = [];\n  if (!homeTeamId) validationErrors.push('missing_home_team_id');\n  if (!awayTeamId) validationErrors.push('missing_away_team_id');\n\n  return {\n    json: {\n      // contexto competición\n      competition_id: ctx.competition_id,\n      competition_name: ctx.competition_name || null,\n      competition_season_id: ctx.competition_season_id,\n      season: ctx.season_label || null,\n      season_label: ctx.season_label || null,\n      season_slug: ctx.season_slug || null,\n\n      // partido\n      round: m.round ?? null,\n      match_date: m.match_date || null,\n      kickoff_time: m.kickoff_time || null,\n      home_team_raw: m.home_team_raw || null,\n      away_team_raw: m.away_team_raw || null,\n      home_score: m.home_score ?? null,\n      away_score: m.away_score ?? null,\n      transfermarkt_url: m.transfermarkt_url || null,\n      source: m.source || 'transfermarkt',\n      _match_key: m._match_key || null,\n      join_key: m.join_key || null,\n\n      // ids de equipos\n      home_team_id: homeTeamId,\n      away_team_id: awayTeamId,\n      home_team_slug: homeSlug,\n      away_team_slug: awaySlug,\n\n      // validación\n      validation_errors: validationErrors,\n      is_valid: validationErrors.length === 0,\n    }\n  };\n});\n\nreturn result;"
      },
      "position": [
        1312,
        336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "00282708-ad8f-43a3-9987-923a803774c3",
      "name": "Prepare FInal",
      "parameters": {
        "jsCode": "function buildKickoffAt(matchDate, kickoffTime) {\n  if (!matchDate || !kickoffTime) return null;\n  return `${matchDate}T${kickoffTime}:00`;\n}\n\nconst items = $input.all().map(i => i.json);\n\nreturn items.map(j => {\n  const validationErrors = Array.isArray(j.validation_errors)\n    ? [...j.validation_errors]\n    : [];\n\n  if (!j.competition_id) validationErrors.push('missing_competition_id');\n  if (!j.competition_season_id) validationErrors.push('missing_competition_season_id');\n  if (!j.home_team_id) validationErrors.push('missing_home_team_id');\n  if (!j.away_team_id) validationErrors.push('missing_away_team_id');\n  if (!j.match_date) validationErrors.push('missing_match_date');\n\n  const kickoffAt = buildKickoffAt(j.match_date, j.kickoff_time);\n\n  return {\n    json: {\n      competition_id: j.competition_id ?? null,\n      competition_season_id: j.competition_season_id ?? null,\n      season: j.season || j.season_label || null,\n      home_team_id: j.home_team_id ?? null,\n      away_team_id: j.away_team_id ?? null,\n\n      stadium_id: null,\n      kickoff_at: kickoffAt,\n      home_score: j.home_score ?? null,\n      away_score: j.away_score ?? null,\n      status: 'finished',\n      source: j.source || 'transfermarkt',\n      source_id: j._match_key || j.join_key || null,\n\n      stage: 'league',\n      leg: null,\n      is_neutral: false,\n      attendance: null,\n\n      kickoff_time: j.kickoff_time || null,\n      match_date: j.match_date || null,\n      round: j.round ?? null,\n\n      stadium_raw: null,\n      city_raw: null,\n      season_slug: j.season_slug || null,\n\n      went_extra_time: false,\n      went_penalties: false,\n      home_penalty_score: null,\n      away_penalty_score: null,\n      win_method: null,\n\n      // útiles para revisión/debug\n      competition_name: j.competition_name || null,\n      home_team_raw: j.home_team_raw || null,\n      away_team_raw: j.away_team_raw || null,\n      home_team_slug: j.home_team_slug || null,\n      away_team_slug: j.away_team_slug || null,\n      transfermarkt_url: j.transfermarkt_url || null,\n\n      validation_errors: validationErrors,\n      is_valid: validationErrors.length === 0,\n    }\n  };\n});"
      },
      "position": [
        1712,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "91b657b6-55a8-4af2-bbbf-40b086e63c4e",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "f1717b73-c2e9-4efc-b06d-5aa168eba613",
              "leftValue": "={{ $json.is_valid }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        1520,
        336
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "aaff736d-f41a-42bc-a9a8-c6615e082d7a",
      "name": "Equipos Restantes",
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst missing = new Map();\n\nfor (const j of items) {\n\n  // HOME\n  if (!j.home_team_id && j.home_team_raw) {\n    const key = j.home_team_raw.toLowerCase();\n\n    if (!missing.has(key)) {\n      missing.set(key, {\n        team_raw: j.home_team_raw,\n        team_slug: j.home_team_slug || null,\n        side: 'home'\n      });\n    }\n  }\n\n  // AWAY\n  if (!j.away_team_id && j.away_team_raw) {\n    const key = j.away_team_raw.toLowerCase();\n\n    if (!missing.has(key)) {\n      missing.set(key, {\n        team_raw: j.away_team_raw,\n        team_slug: j.away_team_slug || null,\n        side: 'away'\n      });\n    }\n  }\n}\n\nreturn Array.from(missing.values()).map(x => ({ json: x }));"
      },
      "position": [
        1728,
        432
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "postgres": {
          "id": "C8u6ZZCdRokKnIu9",
          "name": "Postgres account"
        }
      },
      "id": "750ce17b-8006-4622-ac8e-8722e1662048",
      "name": "Execute a SQL query",
      "parameters": {
        "operation": "executeQuery",
        "options": {
          "queryReplacement": "=[\n  {{$json.competition_id}},\n  {{$json.competition_season_id}},\n  {{$json.season}},\n  {{$json.home_team_id}},\n  {{$json.away_team_id}},\n  {{$json.kickoff_at}},\n  {{$json.home_score}},\n  {{$json.away_score}},\n  {{$json.status}},\n  {{$json.source}},\n  {{$json.source_id}},\n  {{$json.stage}},\n  {{$json.kickoff_time}},\n  {{$json.match_date}},\n  {{$json.round}},\n  {{$json.season_slug}}\n]"
        },
        "query": "insert into public.matches (\n  competition_id,\n  competition_season_id,\n  season,\n  home_team_id,\n  away_team_id,\n  kickoff_at,\n  home_score,\n  away_score,\n  status,\n  source,\n  source_id,\n  stage,\n  kickoff_time,\n  match_date,\n  round,\n  season_slug\n)\nvalues (\n  $1, $2, $3, $4, $5,\n  $6, $7, $8, $9, $10,\n  $11, $12, $13, $14, $15, $16\n)\non conflict (source_id) do nothing;"
      },
      "position": [
        1920,
        224
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": []
}