workflows/My workflow 3.json
{
  "active": false,
  "activeVersion": null,
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get a file",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get many workflows",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Replace Me",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit a file",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create a file",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "bPq50hcQuyCCpwfu",
  "isArchived": false,
  "name": "My workflow 3",
  "nodes": [
    {
      "id": "af8d6925-d6fa-49d6-bb7f-383e62d68e9f",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "94d55b2c-adb4-47ad-b8bd-e74e87a3aa4a"
      },
      "position": [
        -1664,
        -80
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "94d55b2c-adb4-47ad-b8bd-e74e87a3aa4a"
    },
    {
      "id": "5816c3ef-df75-4fc5-90ea-d7fabdb00f75",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0566e6a1-804c-4679-a934-3ede3141425f",
              "name": "body.nombreWorkflow",
              "type": "string",
              "value": "={{ $json.body.nombreWorkflow }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1456,
        -80
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "aa416eb7-4bb2-4d99-a05b-47f799c863a6",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        -1040,
        -80
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "d7b8792c-cbad-4583-8dd6-3f4d558c4a3a",
      "name": "Replace Me",
      "parameters": {},
      "placeholder": true,
      "position": [
        -624,
        16
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "id": "c4542a18-f4c1-42ea-bcfb-ae5f8fd53a31",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d13a5d3c-bf7d-452f-a40d-014af06d5963",
              "leftValue": "={{ $('Edit Fields').item.json.body.nombreWorkflow }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "={{ $json.name }}"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        -832,
        -16
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "n8nApi": {
          "id": "xR3FX992Oh3fjh71",
          "name": "n8n account"
        }
      },
      "id": "c2a2db1a-33d2-4167-9a6b-152ff9c3401e",
      "name": "Get many workflows",
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "position": [
        -1248,
        -80
      ],
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1
    },
    {
      "id": "a95ed4df-6029-4bfd-82d8-4852cd137c17",
      "name": "Edit Fields1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39a3b6aa-c3bc-4a23-b832-3e81a4744ed1",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "9d80dc5d-39ae-4401-bb39-56905f070ba3",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "f2d73dc1-140c-4d95-af9a-5147a36a4251",
              "name": "filePath",
              "type": "string",
              "value": "={{\"workflows/\" + $json.name + \".json\"}}"
            },
            {
              "id": "4b6f1834-8da9-4991-ae64-001ae620f0fa",
              "name": "workflow",
              "type": "string",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -624,
        -160
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "yzUBO2dIc5zfsCWS",
          "name": "GitHub account"
        }
      },
      "id": "6c1235bb-eeac-4656-b2ba-9028de3defeb",
      "name": "Get a file",
      "onError": "continueRegularOutput",
      "parameters": {
        "additionalParameters": {},
        "asBinaryProperty": false,
        "filePath": "={{ $json.filePath }}",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "adrischez00"
        },
        "repository": {
          "__rl": true,
          "cachedResultName": "UDIA-N8N-Workflows",
          "cachedResultUrl": "https://github.com/adrischez00/UDIA-N8N-Workflows",
          "mode": "list",
          "value": "UDIA-N8N-Workflows"
        },
        "resource": "file"
      },
      "position": [
        -208,
        -160
      ],
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "webhookId": "de0aaba4-3742-4106-bb5a-a7df0f87c746"
    },
    {
      "id": "002b6d00-99ad-44ee-ab59-2fce27051b12",
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "39520bb3-b35c-47b9-8f0c-3affca49fbc2",
              "leftValue": "={{ $json.sha }}",
              "operator": {
                "operation": "exists",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": "Not Found"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        0,
        -160
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "githubApi": {
          "id": "yzUBO2dIc5zfsCWS",
          "name": "GitHub account"
        }
      },
      "id": "58d9ecd8-75ed-43b3-b993-1fe00d39d898",
      "name": "Edit a file",
      "parameters": {
        "commitMessage": "=[N8N Backup] {{$json.name}}.json (manual update)",
        "fileContent": "={{ $json.content }}",
        "filePath": "={{ $json.path }}",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "adrischez00"
        },
        "repository": {
          "__rl": true,
          "cachedResultName": "UDIA-N8N-Workflows",
          "cachedResultUrl": "https://github.com/adrischez00/UDIA-N8N-Workflows",
          "mode": "list",
          "value": "UDIA-N8N-Workflows"
        },
        "resource": "file"
      },
      "position": [
        208,
        -240
      ],
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "webhookId": "60b22a40-f7cd-4bd5-8719-b6b2da11449e"
    },
    {
      "credentials": {
        "githubApi": {
          "id": "yzUBO2dIc5zfsCWS",
          "name": "GitHub account"
        }
      },
      "id": "3a7466a7-ea9f-45ac-85c4-6ad0a4efe069",
      "name": "Create a file",
      "parameters": {
        "commitMessage": "=[N8N Backup] {{$node[\"Code in JavaScript\"].json[\"name\"]}} (manual create)",
        "fileContent": "={{$node[\"Code in JavaScript\"].json[\"n8n_data_stringy\"]}}",
        "filePath": "={{$node[\"Code in JavaScript\"].json[\"filePath\"]}}",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "adrischez00"
        },
        "repository": {
          "__rl": true,
          "cachedResultName": "UDIA-N8N-Workflows",
          "cachedResultUrl": "https://github.com/adrischez00/UDIA-N8N-Workflows",
          "mode": "list",
          "value": "UDIA-N8N-Workflows"
        },
        "resource": "file"
      },
      "position": [
        208,
        -64
      ],
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "webhookId": "9eac61f7-c3c6-4c64-a872-1777349b16cf"
    },
    {
      "id": "96bb9290-d0f2-48d1-8e47-b765cedd2965",
      "name": "Code in JavaScript",
      "parameters": {
        "jsCode": "function deepClone(obj) {\n  return JSON.parse(JSON.stringify(obj));\n}\n\nfunction removePaths(obj, paths) {\n  for (const path of paths) {\n    const parts = path.split('.');\n    let current = obj;\n\n    for (let i = 0; i < parts.length - 1; i++) {\n      if (!current || typeof current !== 'object') {\n        current = null;\n        break;\n      }\n      current = current[parts[i]];\n    }\n\n    if (current && typeof current === 'object') {\n      delete current[parts[parts.length - 1]];\n    }\n  }\n}\n\nfunction sortObjectKeys(obj) {\n  if (Array.isArray(obj)) return obj.map(sortObjectKeys);\n\n  if (obj && typeof obj === 'object') {\n    const sorted = {};\n    Object.keys(obj).sort().forEach((key) => {\n      sorted[key] = sortObjectKeys(obj[key]);\n    });\n    return sorted;\n  }\n\n  return obj;\n}\n\nfunction normalizeWorkflow(obj) {\n  const copy = deepClone(obj);\n\n  removePaths(copy, [\n    'updatedAt',\n    'createdAt',\n    'versionId',\n    'activeVersionId',\n    'triggerCount',\n    'shared',\n    'meta',\n    'staticData',\n  ]);\n\n  if (copy.activeVersion && typeof copy.activeVersion === 'object') {\n    removePaths(copy, [\n      'activeVersion.updatedAt',\n      'activeVersion.createdAt',\n      'activeVersion.versionId',\n      'activeVersion.workflowId',\n      'activeVersion.name',\n      'activeVersion.description',\n      'activeVersion.authors',\n      'activeVersion.autosaved',\n    ]);\n  }\n\n  return sortObjectKeys(copy);\n}\n\nfunction sanitizeForGitHub(obj) {\n  let text = JSON.stringify(obj, null, 2);\n\n  text = text.replace(/apify_api_[A-Za-z0-9]+/gi, 'APIFY_TOKEN_MASKED');\n  text = text.replace(/(\"APIFY_TOKEN_MASKED\"\\s*:\\s*)\"[^\"]*\"/gi, '$1\"APIFY_TOKEN_MASKED\"');\n\n  text = text.replace(/sb_secret_[A-Za-z0-9_\\-]+/g, 'SUPABASE_SECRET_MASKED');\n  text = text.replace(/(\"apikey\"\\s*:\\s*)\"[^\"]*\"/gi, '$1\"SUPABASE_SECRET_MASKED\"');\n  text = text.replace(/(\"Authorization\"\\s*:\\s*)\"Bearer [^\"]*\"/gi, '$1\"Bearer SUPABASE_SECRET_MASKED\"');\n\n  text = text.replace(\n    /(\"(accessToken|token|secret|clientSecret|service_role|serviceRoleKey|anonKey|apiKey|x-api-key|x_api_key)\"\\s*:\\s*)\"[^\"]*\"/gi,\n    '$1\"__REDACTED__\"'\n  );\n\n  text = text.replace(/\\beyJ[A-Za-z0-9_\\-]+\\.[A-Za-z0-9_\\-]+\\.[A-Za-z0-9_\\-]+\\b/g, 'JWT_MASKED');\n\n  return text;\n}\n\n// MUY IMPORTANTE:\n// coge el workflow original completo desde el nodo que lo encontró\nconst workflow = $node[\"Edit Fields1\"].json.workflow || $json.workflow || $json;\n\nconst normalized = normalizeWorkflow(workflow);\nconst n8n_data_stringy = sanitizeForGitHub(normalized);\n\nreturn [\n  {\n    json: {\n      name: workflow.name,\n      id: workflow.id,\n      filePath: \"workflows/\" + workflow.name + \".json\",\n      workflow,\n      n8n_data_stringy\n    }\n  }\n];"
      },
      "position": [
        -416,
        -160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": []
}