workflows/My workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "API Google": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append row in sheet",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-10T23:22:55.378Z",
  "id": "Od48ZbrXk8azwA2x",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "id": "972e4ef5-ac23-467e-8bf2-f5edce240f5a",
      "name": "When chat message received",
      "parameters": {
        "options": {}
      },
      "position": [
        -64,
        0
      ],
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "webhookId": "5a478142-90c1-4faf-b4cd-9942cf208b19"
    },
    {
      "id": "f344cdbb-ec83-4d41-80fb-9b613722a6a0",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "Eres un asistente que me ayuda a buscar en google con la tool: API GOOGLE.\nSiempre contestarás en español, en tono amigable "
        },
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}"
      },
      "position": [
        416,
        0
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "m4KEEHLlaMK23GgV",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "f014d55a-c22e-41c3-87e0-7d6ce8b55f99",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "options": {}
      },
      "position": [
        416,
        144
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "c53cb705-a0db-4cab-8fc0-098354649b3d",
      "name": "Simple Memory",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "position": [
        512,
        144
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XHtKlMeWz7J9QV4n",
          "name": "Google Sheets account"
        }
      },
      "id": "ff5919f3-1ea3-4bc5-a022-e89d38b5aca0",
      "name": "Append row in sheet",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Búsqueda"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Busqueda",
              "id": "Busqueda",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Busqueda": "={{ $json.chatInput }}"
          }
        },
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1MwI4bAnSw9WfBPOBtMlzcg6a6JENeploMQ6s1xZrN64/edit?gid=0#gid=0"
        },
        "operation": "append",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MwI4bAnSw9WfBPOBtMlzcg6a6JENeploMQ6s1xZrN64/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "id": "52782f80-549e-4aba-ac9d-eb7e2d71a835",
      "name": "API Google",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=$fromAI('Busqueda')"
            },
            {
              "name": "safesearch",
              "value": "off"
            },
            {
              "name": "timelimit",
              "value": "\"\""
            },
            {
              "name": "region",
              "value": "es=es"
            },
            {
              "name": "max_results",
              "value": "5"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Host",
              "value": "google-api31.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-rapidapi-key",
              "value": "1bcb475057mshc8e5f02244c4215p1ced42jsn9b549e246bb4"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "toolDescription": "Esta tool busca en google los términos que indica el usuario",
        "url": "https://google-api31.p.rapidapi.com/websearch"
      },
      "position": [
        944,
        144
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3
    },
    {
      "id": "568af544-155e-4d1e-9a32-56f228a3cb54",
      "name": "HTTP Request",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "$fromAI('Busqueda')"
            },
            {
              "name": "safesearch",
              "value": "off"
            },
            {
              "name": "timelimit"
            },
            {
              "name": "region",
              "value": "es-es"
            },
            {
              "name": "max_results",
              "value": "20"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "google-api31.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "1bcb475057mshc8e5f02244c4215p1ced42jsn9b549e246bb4"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://google-api31.p.rapidapi.com/websearch"
      },
      "position": [
        720,
        208
      ],
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-10T23:22:55.389Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-11-10T23:22:55.389Z",
      "workflowId": "Od48ZbrXk8azwA2x"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-14T18:09:29.000Z",
  "versionId": "c1c963a1-aa10-4d01-b5e2-352e7ccdf63c"
}