workflows/Reservar_Mesa.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond to Webhook",
              "type": "main"
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Realizar_Reserva": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "index": 0,
              "node": "Edit Fields",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Switch",
              "type": "main"
            }
          ]
        ]
      },
      "encontrar_mesa": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-07T00:37:51.230Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "7d6f9ac4-06d2-4d34-b8d7-d5dd65b5b26a",
        "name": "Switch",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                      "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                      "operator": {
                        "operation": "exists",
                        "singleValue": true,
                        "type": "string"
                      },
                      "rightValue": ""
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Reservar_mesa",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          -432,
          -16
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3
      },
      {
        "id": "3d4293fa-3289-467c-8dd8-73b41813fa0d",
        "name": "Edit Fields",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ec03870a-5897-452d-9d55-a0fe08736901",
                "name": "Hora",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora }}"
              },
              {
                "id": "8687fe98-fb82-4959-8dd3-3c9abb849383",
                "name": "Fecha",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Fecha }}"
              },
              {
                "id": "df5945ea-9078-450f-87e3-57535959d38f",
                "name": "Tipo_mesa",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Tipo_de_mesa }}"
              },
              {
                "id": "99a75194-1b82-409e-b8be-5fa0e95a3a64",
                "name": "Numero_personas",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Numero_personas }}"
              },
              {
                "id": "62baa878-6ea4-4938-a77e-790569a319d4",
                "name": "Nombre",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
              },
              {
                "id": "23687bf3-c99f-4b55-93c5-e0aec61aa239",
                "name": "Telefono",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Telefono }}"
              },
              {
                "id": "498406f7-5c86-4892-8895-c106b9c87f54",
                "name": "Notas",
                "type": "string",
                "value": "={{ $json.body.message.toolCalls[0].function.arguments.Notas }}"
              }
            ]
          },
          "options": {}
        },
        "position": [
          -192,
          -16
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "c3e4348e-b49b-44fd-8731-aa3dc338c214",
        "name": "AI Agent",
        "parameters": {
          "options": {
            "systemMessage": "=Tu tarea es comprobar si hay alguna mesa disponible para las características que ha pedido el cliente\n\nLa fórmula que tienes que usar para comprobar la disponibilidad tiene que ser la siguiente forma \nAND(\n    \n    Tipo_de_mesa = 'terraza'\n    Disponibilidad = 'Disponible'\n    Hora = '{{ $json.Hora }}'\n)\n\nEl Tipo_mesa si recibes algo como dentro o salón o interior, tienes que en el campo Tipo_de_mesa poner 'Interior'\n\nUsa la herramienta \"Verificar_Horas_Disponibles\" cuando el cliente te diga una hora a la que quiere reservar y esa hora no esté disponible para darle otros horarios. También la tienes que usar para comprobar tipo de mesa y fechas\n\nSi no encuentras una mesa con las características que quiere el cliente que esté Disponible sugiere otras opciones que se asemejen\n    \n"
          },
          "promptType": "define",
          "text": "=Hora: {{ $json.Hora }}\nFecha: {{ $json.Fecha }}\nTipo_mesa: {{ $json.Tipo_mesa }}\nNumero_personas: {{ $json.Numero_personas }}\nNombre: {{ $json.Nombre }}\nTelefono: {{ $json.Telefono }}\nNotas: {{ $json.Notas }}"
        },
        "position": [
          -16,
          -16
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "41ebd378-b6e6-4fda-9e0b-a7a1955c455e",
        "name": "OpenAI Chat Model",
        "parameters": {
          "builtInTools": {},
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "position": [
          -80,
          144
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3
      },
      {
        "id": "1f91ef9e-93aa-4346-9171-6561d7f8c55d",
        "name": "Respond to Webhook",
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "respondWith": "json",
          "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCallList[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}\n\n\n"
        },
        "position": [
          352,
          -16
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4
      },
      {
        "credentials": {
          "airtableTokenApi": {
            "id": "xo9Z42x9DIHItt7m",
            "name": "Airtable Personal Access Token account"
          }
        },
        "id": "0ba2bb6a-2e52-45cd-9b52-02f2684a57ad",
        "name": "Realizar_Reserva",
        "parameters": {
          "base": {
            "__rl": true,
            "cachedResultName": "reservas_restaurante_profesional.csv",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
            "mode": "list",
            "value": "appwsWKteRjGM6oKu"
          },
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "defaultMatch": true,
                "display": true,
                "displayName": "id",
                "id": "id",
                "readOnly": true,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Hora",
                "id": "Hora",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Fecha",
                "id": "Fecha",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "dateTime"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Notas",
                "id": "Notas",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Nombre",
                "id": "Nombre",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Telefono",
                "id": "Telefono",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Tipo_de_mesa",
                "id": "Tipo_de_mesa",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Numero_personas",
                "id": "Numero_personas",
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "number"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Disponibilidad",
                "id": "Disponibilidad",
                "options": [
                  {
                    "name": "Reservada",
                    "value": "Reservada"
                  },
                  {
                    "name": "Disponible",
                    "value": "Disponible"
                  }
                ],
                "readOnly": false,
                "removed": false,
                "required": false,
                "type": "options"
              }
            ],
            "value": {
              "Disponibilidad": "Reservada",
              "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
              "Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', ``, 'string') }}",
              "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
              "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}",
              "Numero_personas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_personas', ``, 'number') }}",
              "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
              "Tipo_de_mesa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_mesa', ``, 'string') }}",
              "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"
            }
          },
          "operation": "update",
          "options": {
            "typecast": true
          },
          "table": {
            "__rl": true,
            "cachedResultName": "Table 1",
            "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblhZnESIvW2eBHX5",
            "mode": "list",
            "value": "tblhZnESIvW2eBHX5"
          }
        },
        "position": [
          272,
          176
        ],
        "type": "n8n-nodes-base.airtableTool",
        "typeVersion": 2.1
      },
      {
        "id": "d399a8bd-89fa-40f5-9642-353de1d2d55c",
        "name": "encontrar_mesa",
        "parameters": {
          "description": "Llama a esta herramienta para encontrar un registro con la fecha y hora y el tipo de mesa que quiere reservar el cliente",
          "workflowId": {
            "__rl": true,
            "cachedResultName": "Verificar_horas_disponibles",
            "cachedResultUrl": "/workflow/CRkBUPu1fR6gOTuX",
            "mode": "list",
            "value": "CRkBUPu1fR6gOTuX"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          }
        },
        "position": [
          128,
          192
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "id": "3b06bdf4-b892-4197-9727-2caa819ccd5d",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "1333adda-ea04-42b8-823a-e124a6659aff",
          "responseMode": "responseNode"
        },
        "position": [
          -592,
          -16
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "1333adda-ea04-42b8-823a-e124a6659aff"
      }
    ],
    "updatedAt": "2025-12-07T00:37:51.230Z",
    "versionId": "c6e01913-0fc9-428d-adeb-f3c60928960c",
    "workflowId": "pcVF1k0DDPA3lMKf"
  },
  "activeVersionId": "c6e01913-0fc9-428d-adeb-f3c60928960c",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Realizar_Reserva": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    },
    "encontrar_mesa": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-21T17:28:08.680Z",
  "id": "pcVF1k0DDPA3lMKf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reservar_Mesa",
  "nodes": [
    {
      "id": "7d6f9ac4-06d2-4d34-b8d7-d5dd65b5b26a",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "27b9fea2-816a-4465-8ed9-82c93c76dafa",
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "operator": {
                      "operation": "exists",
                      "singleValue": true,
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Reservar_mesa",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -432,
        -16
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "id": "3d4293fa-3289-467c-8dd8-73b41813fa0d",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec03870a-5897-452d-9d55-a0fe08736901",
              "name": "Hora",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Hora }}"
            },
            {
              "id": "8687fe98-fb82-4959-8dd3-3c9abb849383",
              "name": "Fecha",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Fecha }}"
            },
            {
              "id": "df5945ea-9078-450f-87e3-57535959d38f",
              "name": "Tipo_mesa",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Tipo_de_mesa }}"
            },
            {
              "id": "99a75194-1b82-409e-b8be-5fa0e95a3a64",
              "name": "Numero_personas",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Numero_personas }}"
            },
            {
              "id": "62baa878-6ea4-4938-a77e-790569a319d4",
              "name": "Nombre",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Nombre }}"
            },
            {
              "id": "23687bf3-c99f-4b55-93c5-e0aec61aa239",
              "name": "Telefono",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Telefono }}"
            },
            {
              "id": "498406f7-5c86-4892-8895-c106b9c87f54",
              "name": "Notas",
              "type": "string",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.Notas }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -192,
        -16
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "c3e4348e-b49b-44fd-8731-aa3dc338c214",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "=Tu tarea es comprobar si hay alguna mesa disponible para las características que ha pedido el cliente\n\nLa fórmula que tienes que usar para comprobar la disponibilidad tiene que ser la siguiente forma \nAND(\n    \n    Tipo_de_mesa = 'terraza'\n    Disponibilidad = 'Disponible'\n    Hora = '{{ $json.Hora }}'\n)\n\nEl Tipo_mesa si recibes algo como dentro o salón o interior, tienes que en el campo Tipo_de_mesa poner 'Interior'\n\nUsa la herramienta \"Verificar_Horas_Disponibles\" cuando el cliente te diga una hora a la que quiere reservar y esa hora no esté disponible para darle otros horarios. También la tienes que usar para comprobar tipo de mesa y fechas\n\nSi no encuentras una mesa con las características que quiere el cliente que esté Disponible sugiere otras opciones que se asemejen\n    \n"
        },
        "promptType": "define",
        "text": "=Hora: {{ $json.Hora }}\nFecha: {{ $json.Fecha }}\nTipo_mesa: {{ $json.Tipo_mesa }}\nNumero_personas: {{ $json.Numero_personas }}\nNombre: {{ $json.Nombre }}\nTelefono: {{ $json.Telefono }}\nNotas: {{ $json.Notas }}"
      },
      "position": [
        -16,
        -16
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "41ebd378-b6e6-4fda-9e0b-a7a1955c455e",
      "name": "OpenAI Chat Model",
      "parameters": {
        "builtInTools": {},
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "position": [
        -80,
        144
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3
    },
    {
      "id": "1f91ef9e-93aa-4346-9171-6561d7f8c55d",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCallList[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}\n\n\n"
      },
      "position": [
        352,
        -16
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "xo9Z42x9DIHItt7m",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "0ba2bb6a-2e52-45cd-9b52-02f2684a57ad",
      "name": "Realizar_Reserva",
      "parameters": {
        "base": {
          "__rl": true,
          "cachedResultName": "reservas_restaurante_profesional.csv",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu",
          "mode": "list",
          "value": "appwsWKteRjGM6oKu"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "defaultMatch": true,
              "display": true,
              "displayName": "id",
              "id": "id",
              "readOnly": true,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Hora",
              "id": "Hora",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Fecha",
              "id": "Fecha",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Notas",
              "id": "Notas",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Nombre",
              "id": "Nombre",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Telefono",
              "id": "Telefono",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tipo_de_mesa",
              "id": "Tipo_de_mesa",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Numero_personas",
              "id": "Numero_personas",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Disponibilidad",
              "id": "Disponibilidad",
              "options": [
                {
                  "name": "Reservada",
                  "value": "Reservada"
                },
                {
                  "name": "Disponible",
                  "value": "Disponible"
                }
              ],
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "options"
            }
          ],
          "value": {
            "Disponibilidad": "Reservada",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', ``, 'string') }}",
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}",
            "Numero_personas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_personas', ``, 'number') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
            "Tipo_de_mesa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_mesa', ``, 'string') }}",
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"
          }
        },
        "operation": "update",
        "options": {
          "typecast": true
        },
        "table": {
          "__rl": true,
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appwsWKteRjGM6oKu/tblhZnESIvW2eBHX5",
          "mode": "list",
          "value": "tblhZnESIvW2eBHX5"
        }
      },
      "position": [
        272,
        176
      ],
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1
    },
    {
      "id": "d399a8bd-89fa-40f5-9642-353de1d2d55c",
      "name": "encontrar_mesa",
      "parameters": {
        "description": "Llama a esta herramienta para encontrar un registro con la fecha y hora y el tipo de mesa que quiere reservar el cliente",
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Verificar_horas_disponibles",
          "cachedResultUrl": "/workflow/CRkBUPu1fR6gOTuX",
          "mode": "list",
          "value": "CRkBUPu1fR6gOTuX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "position": [
        128,
        192
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "id": "3b06bdf4-b892-4197-9727-2caa819ccd5d",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "1333adda-ea04-42b8-823a-e124a6659aff",
        "responseMode": "responseNode"
      },
      "position": [
        -592,
        -16
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "1333adda-ea04-42b8-823a-e124a6659aff"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-21T17:28:08.690Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-11-21T17:28:08.690Z",
      "workflowId": "pcVF1k0DDPA3lMKf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T21:46:29.000Z",
  "versionId": "c6e01913-0fc9-428d-adeb-f3c60928960c"
}