workflows/Subida Archivos Pinecone.json
{
  "active": true,
  "activeVersion": {
    "authors": "Adrián Sánchez",
    "autosaved": false,
    "connections": {
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "index": 0,
              "node": "Pinecone Vector Store",
              "type": "ai_document"
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "index": 0,
              "node": "Extract from File",
              "type": "main"
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "index": 0,
              "node": "Pinecone Vector Store",
              "type": "ai_embedding"
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "index": 0,
              "node": "Pinecone Vector Store",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Edit Fields",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-12-08T22:20:21.987Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "4297d018-0a64-4c3d-8f8b-e3443bae02da",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {
            "binaryPropertyName": "data"
          },
          "path": "pdf_upload",
          "responseMode": "lastNode"
        },
        "position": [
          1088,
          352
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "bc3e247d-4b87-49a4-b856-b10eae0a898f"
      },
      {
        "credentials": {
          "pineconeApi": {
            "id": "wAYQNEIXmZYsvPUN",
            "name": "PineconeApi account"
          }
        },
        "id": "ea5f31cf-9020-40fd-9c5f-8b575552a9d0",
        "name": "Pinecone Vector Store",
        "parameters": {
          "mode": "insert",
          "options": {
            "pineconeNamespace": "=rag_leyes"
          },
          "pineconeIndex": {
            "__rl": true,
            "cachedResultName": "rag-leyes",
            "mode": "list",
            "value": "rag-leyes"
          }
        },
        "position": [
          1776,
          352
        ],
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "UUb7LT0t44WTS54p",
            "name": "OpenAi account"
          }
        },
        "id": "6d1a2f73-3c34-4266-9edd-0d7cbd63d12a",
        "name": "Embeddings OpenAI",
        "parameters": {
          "options": {}
        },
        "position": [
          1776,
          528
        ],
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "e3121b95-2519-4653-956d-b561b47da893",
        "name": "Default Data Loader",
        "parameters": {
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "pdf_name",
                  "value": "={{ $('Edit Fields').item.json.pdf_name }}"
                },
                {
                  "name": "pdf_key",
                  "value": "={{ $('Edit Fields').item.json.pdf_key }}"
                }
              ]
            }
          }
        },
        "position": [
          1968,
          512
        ],
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1
      },
      {
        "id": "960ed4fe-8084-4896-a57e-3c7e2f235e44",
        "name": "Extract from File",
        "parameters": {
          "binaryPropertyName": "data0",
          "operation": "pdf",
          "options": {}
        },
        "position": [
          1568,
          352
        ],
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1
      },
      {
        "id": "64184a9d-c7ab-42c4-946e-282496abb0f4",
        "name": "Edit Fields",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d7b8092-4a8a-4981-9b9e-d278887d6cf6",
                "name": "pdf_name",
                "type": "string",
                "value": "={{ $binary.data0?.fileName || 'documento_sin_nombre.pdf'}}"
              },
              {
                "id": "a40b1423-8375-4702-a59d-fb91fb758055",
                "name": "pdf_key",
                "type": "string",
                "value": "={{($binary.data0?.fileName || 'doc')     .toLowerCase()     .replace(/\\.[^/.]+$/, '')       // quitar .pdf     .replace(/[^a-z0-9]+/g, '_')    // solo letras/números y _     .replace(/^_+|_+$/g, '')        // quitar _ al principio/fin }}"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "position": [
          1296,
          352
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      }
    ],
    "updatedAt": "2025-12-08T22:20:21.987Z",
    "versionId": "9fa51910-b716-41f4-803c-d997ed720dfd",
    "workflowId": "RtEsICbrxV9AB9WA"
  },
  "activeVersionId": "9fa51910-b716-41f4-803c-d997ed720dfd",
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract from File",
            "type": "main"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-07T04:32:57.532Z",
  "id": "RtEsICbrxV9AB9WA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Subida Archivos Pinecone",
  "nodes": [
    {
      "id": "4297d018-0a64-4c3d-8f8b-e3443bae02da",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {
          "binaryPropertyName": "data"
        },
        "path": "pdf_upload",
        "responseMode": "lastNode"
      },
      "position": [
        1088,
        352
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "bc3e247d-4b87-49a4-b856-b10eae0a898f"
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "wAYQNEIXmZYsvPUN",
          "name": "PineconeApi account"
        }
      },
      "id": "ea5f31cf-9020-40fd-9c5f-8b575552a9d0",
      "name": "Pinecone Vector Store",
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "=rag_leyes"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "rag-leyes",
          "mode": "list",
          "value": "rag-leyes"
        }
      },
      "position": [
        1776,
        352
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "UUb7LT0t44WTS54p",
          "name": "OpenAi account"
        }
      },
      "id": "6d1a2f73-3c34-4266-9edd-0d7cbd63d12a",
      "name": "Embeddings OpenAI",
      "parameters": {
        "options": {}
      },
      "position": [
        1776,
        528
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "e3121b95-2519-4653-956d-b561b47da893",
      "name": "Default Data Loader",
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "pdf_name",
                "value": "={{ $('Edit Fields').item.json.pdf_name }}"
              },
              {
                "name": "pdf_key",
                "value": "={{ $('Edit Fields').item.json.pdf_key }}"
              }
            ]
          }
        }
      },
      "position": [
        1968,
        512
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1
    },
    {
      "id": "960ed4fe-8084-4896-a57e-3c7e2f235e44",
      "name": "Extract from File",
      "parameters": {
        "binaryPropertyName": "data0",
        "operation": "pdf",
        "options": {}
      },
      "position": [
        1568,
        352
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1
    },
    {
      "id": "64184a9d-c7ab-42c4-946e-282496abb0f4",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d7b8092-4a8a-4981-9b9e-d278887d6cf6",
              "name": "pdf_name",
              "type": "string",
              "value": "={{ $binary.data0?.fileName || 'documento_sin_nombre.pdf'}}"
            },
            {
              "id": "a40b1423-8375-4702-a59d-fb91fb758055",
              "name": "pdf_key",
              "type": "string",
              "value": "={{($binary.data0?.fileName || 'doc')     .toLowerCase()     .replace(/\\.[^/.]+$/, '')       // quitar .pdf     .replace(/[^a-z0-9]+/g, '_')    // solo letras/números y _     .replace(/^_+|_+$/g, '')        // quitar _ al principio/fin }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "position": [
        1296,
        352
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-07T04:32:57.535Z",
      "projectId": "4uSls6g8LWC7Ie72",
      "role": "workflow:owner",
      "updatedAt": "2025-12-07T04:32:57.535Z",
      "workflowId": "RtEsICbrxV9AB9WA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-08T22:20:21.000Z",
  "versionId": "9fa51910-b716-41f4-803c-d997ed720dfd"
}